n8n-automation/workflows/image-hosting/WF-IMG-SYNC-photo-upload.json
{
  "name": "WF-IMG-SYNC: 사진 자동 업로드",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "img-01",
      "name": "5분 스케줄",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        200,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// 폴더 설정 출력 (setup 후 REPLACE_ME를 실제 ID로 교체)\nconst FOLDERS = [\n  { folderName: '상품촬영',   gdId: '1L-La1gvSvA70G2bHGYzhyEwLRDD0fkrP', minioPath: 'products' },\n  { folderName: '연출컷', gdId: '14hiqMyRhClC0kUi0JbD5HsBVcMO0y642', minioPath: 'content/styling' },\n  { folderName: '썸네일소스', gdId: '1tul7XOF20JutfKXmxgPsJw5Iw07y-D07', minioPath: 'content/thumbnails' },\n  { folderName: '클래스현장', gdId: '1Jsg-VKVoFlqgY5vDSUvionvmEK2uESIF', minioPath: 'class' },\n  { folderName: '포장완성',   gdId: '1QZ-zel33BoXRnEMSO0C0uVHtnZ4zr9st', minioPath: 'internal/shipping' },\n  { folderName: 'CS불량', gdId: '10tYWtzAq1Y9nG_ZKewAhNcsPgYj1SV5J', minioPath: 'internal/cs' },\n  { folderName: '행사전시',   gdId: '1HxgzXMy-QwbVZ92X-m0_jcorGyAdFUXX', minioPath: 'content/events' },\n  { folderName: '임시', gdId: '1AOESdS7EvagZ5_t7LqSR9isEYXTeOE1Y', minioPath: 'inbox' }\n];\nreturn FOLDERS.filter(f => f.gdId !== 'REPLACE_ME').map(f => ({ json: f }));",
        "mode": "runOnceForAllItems"
      },
      "id": "img-02",
      "name": "폴더 목록",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        400
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://www.googleapis.com/drive/v3/files?q='{{ $json.gdId }}'+in+parents+and+trashed%3Dfalse+and+mimeType!%3D'application/vnd.google-apps.folder'&fields=files(id,name,mimeType,size)&pageSize=50",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {}
      },
      "id": "img-03",
      "name": "파일 목록 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        400
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2e6e75e1-2d4f-40ac-b992-c12aef75e69e",
          "name": "Google Drive OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// HTTP 응답(파일 목록)과 원래 폴더 메타데이터를 합쳐서 개별 파일 아이템 생성\nconst httpItems = $input.all();\nconst allFiles = [];\n\nfor (let i = 0; i < httpItems.length; i++) {\n  const files = httpItems[i].json.files || [];\n  // 폴더 목록 노드의 같은 인덱스 아이템에서 메타데이터 가져오기\n  let folderMeta;\n  try {\n    folderMeta = $('폴더 목록').all()[i].json;\n  } catch(e) {\n    continue;\n  }\n\n  for (const file of files) {\n    allFiles.push({\n      json: {\n        fileId: file.id,\n        fileName: file.name.replace(/[^a-zA-Z0-9가-힣._-]/g, '_'),\n        originalName: file.name,\n        mimeType: file.mimeType,\n        fileSize: file.size || '0',\n        folderName: folderMeta.folderName,\n        gdId: folderMeta.gdId,\n        minioPath: folderMeta.minioPath,\n        hasFiles: true\n      }\n    });\n  }\n}\n\nif (allFiles.length === 0) {\n  return [{ json: { hasFiles: false, count: 0 } }];\n}\nreturn allFiles;",
        "mode": "runOnceForAllItems"
      },
      "id": "img-04",
      "name": "파일 추출",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "combinator": "and",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.hasFiles }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "img-05",
      "name": "파일 있음?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1080,
        400
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $json.fileId }}?alt=media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 60000
        }
      },
      "id": "img-06",
      "name": "GDrive 다운로드",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        300
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2e6e75e1-2d4f-40ac-b992-c12aef75e69e",
          "name": "Google Drive OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 다운로드된 바이너리를 /tmp/에 저장 + 원래 메타데이터 복원\nconst fs = require('fs');\n\n// 원래 메타데이터 복원 (파일 추출 노드에서)\nlet meta;\ntry {\n  meta = $('파일 추출').item.json;\n} catch(e) {\n  meta = $input.item.json;\n}\n\n// 바이너리 데이터 가져오기 (방법 1: helpers, 방법 2: 직접 접근)\nlet binaryData;\nconst binaryKey = Object.keys($input.item.binary || {})[0];\nif (binaryKey) {\n  try {\n    binaryData = await this.helpers.getBinaryDataBuffer($input.item.index || 0, binaryKey);\n  } catch(e1) {\n    try {\n      binaryData = Buffer.from($input.item.binary[binaryKey].data, 'base64');\n    } catch(e2) {\n      return { json: { error: 'binary access failed: ' + e1.message + ' / ' + e2.message } };\n    }\n  }\n} else {\n  return { json: { error: 'no binary data found' } };\n}\n\nconst tmpPath = '/tmp/n8n-img-' + meta.fileId;\nfs.writeFileSync(tmpPath, binaryData);\n\nreturn {\n  json: {\n    tmpPath,\n    fileId: meta.fileId,\n    fileName: meta.fileName,\n    folderName: meta.folderName,\n    minioPath: meta.minioPath,\n    mimeType: meta.mimeType,\n    fileSize: meta.fileSize\n  }\n};",
        "mode": "runOnceForEachItem"
      },
      "id": "img-07",
      "name": "파일 저장",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// mc CLI로 MinIO에 업로드 (웹서빙 + 백업)\nconst { execSync } = require('child_process');\nconst mc = '/home/node/.n8n/mc';\nconst item = $input.item.json;\nconst today = new Date().toISOString().slice(0, 10);\n\ntry {\n  // 웹서빙 버킷 업로드\n  execSync(mc + ' cp ' + item.tmpPath + ' minio/images/' + item.minioPath + '/' + item.fileName, { timeout: 30000 });\n  \n  // 백업 버킷 업로드\n  execSync(mc + ' cp ' + item.tmpPath + ' \"minio/images/backup/' + today + '/' + item.folderName + '/' + item.fileName + '\"', { timeout: 30000 });\n  \n  // 임시 파일 삭제\n  require('fs').unlinkSync(item.tmpPath);\n  \n  return {\n    json: {\n      fileId: item.fileId,\n      fileName: item.fileName,\n      folderName: item.folderName,\n      minioPath: item.minioPath,\n      publicUrl: 'https://img.pressco21.com/images/' + item.minioPath + '/' + item.fileName,\n      status: 'success'\n    }\n  };\n} catch (err) {\n  return { json: { error: err.message, fileName: item.fileName, status: 'failed' } };\n}",
        "mode": "runOnceForEachItem"
      },
      "id": "img-08",
      "name": "MinIO 업로드",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1740,
        300
      ]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $json.fileId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {}
      },
      "id": "img-09",
      "name": "GDrive 삭제",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        300
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2e6e75e1-2d4f-40ac-b992-c12aef75e69e",
          "name": "Google Drive OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst summary = {};\nlet totalCount = 0;\n\nfor (const item of items) {\n  const folder = item.json.folderName || '기타';\n  summary[folder] = (summary[folder] || 0) + 1;\n  totalCount++;\n}\n\nconst lines = [];\nfor (const [folder, count] of Object.entries(summary)) {\n  lines.push(folder + ': ' + count + '장');\n}\n\nconst now = new Date();\nconst kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\nconst timeStr = kst.toISOString().slice(0, 16).replace('T', ' ');\n\nconst msg = '📸 사진 자동 업로드 완료\\n\\n' + lines.join('\\n') + '\\n\\n🔗 https://img.pressco21.com\\n⏰ ' + timeStr;\n\nreturn [{ json: { message: msg, totalCount } }];",
        "mode": "runOnceForAllItems"
      },
      "id": "img-10",
      "name": "결과 집계",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2180,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "7713811206",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "id": "img-11",
      "name": "텔레그램 알림",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2400,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot API"
        }
      }
    }
  ],
  "connections": {
    "5분 스케줄": {
      "main": [
        [
          {
            "node": "폴더 목록",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "폴더 목록": {
      "main": [
        [
          {
            "node": "파일 목록 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "파일 목록 조회": {
      "main": [
        [
          {
            "node": "파일 추출",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "파일 추출": {
      "main": [
        [
          {
            "node": "파일 있음?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "파일 있음?": {
      "main": [
        [
          {
            "node": "GDrive 다운로드",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "GDrive 다운로드": {
      "main": [
        [
          {
            "node": "파일 저장",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "파일 저장": {
      "main": [
        [
          {
            "node": "MinIO 업로드",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MinIO 업로드": {
      "main": [
        [
          {
            "node": "GDrive 삭제",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GDrive 삭제": {
      "main": [
        [
          {
            "node": "결과 집계",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "결과 집계": {
      "main": [
        [
          {
            "node": "텔레그램 알림",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}