n8n-automation/workflows/accounting/WF-CRM-02_Gmail_입금알림_수집.json
{
  "name": "WF-CRM-02 Gmail 입금알림 수집",
  "nodes": [
    {
      "parameters": {
        "mailbox": "INBOX",
        "postProcessAction": "nothing",
        "format": "resolved",
        "downloadAttachments": true,
        "dataPropertyAttachmentsPrefixName": "attachment_",
        "options": {
          "customEmailConfig": "[]",
          "trackLastMessageId": true,
          "forceReconnect": 30
        }
      },
      "id": "email-trigger-imap",
      "name": "Email Trigger (IMAP)",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [
        240,
        280
      ],
      "credentials": {
        "imap": {
          "id": "qbXbw1umtmbPrgfJ",
          "name": "PRESSCO21 Gmail IMAP Test"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const SECURE_MAIL_PASSWORD = '610227';\n\nfunction stripHtml(value) {\n  return String(value ?? '')\n    .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n    .replace(/<br\\s*\\/?>/gi, '\\n')\n    .replace(/<\\/(tr|p|div|li|td|th|h\\d)>/gi, '\\n')\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&amp;/g, '&')\n    .replace(/\\r/g, '')\n    .replace(/\\n\\s+/g, '\\n')\n    .replace(/[ \\t]+/g, ' ')\n    .replace(/\\n+/g, '\\n')\n    .trim();\n}\n\nfunction parseAmount(value) {\n  const parsed = Number(String(value ?? '').replace(/[^\\d-]/g, ''));\n  return Number.isFinite(parsed) ? Math.max(0, Math.trunc(parsed)) : 0;\n}\n\nfunction normalizeDateOnly(value) {\n  const text = String(value ?? '').trim();\n  const match = text.match(/(\\d{4})[./-](\\d{1,2})[./-](\\d{1,2})/);\n  if (!match) return '';\n  return match[1] + '-' + match[2].padStart(2, '0') + '-' + match[3].padStart(2, '0');\n}\n\nfunction formatOccurredAt(dateOnly, fallbackDate) {\n  if (!dateOnly) {\n    const fallback = new Date(fallbackDate || Date.now());\n    return fallback.toISOString();\n  }\n  const fallback = fallbackDate ? new Date(fallbackDate) : new Date();\n  const hour = String(Number.isFinite(fallback.getHours()) ? fallback.getHours() : 0).padStart(2, '0');\n  const minute = String(Number.isFinite(fallback.getMinutes()) ? fallback.getMinutes() : 0).padStart(2, '0');\n  const second = String(Number.isFinite(fallback.getSeconds()) ? fallback.getSeconds() : 0).padStart(2, '0');\n  return dateOnly + 'T' + hour + ':' + minute + ':' + second + '+09:00';\n}\n\nfunction parsePlainSender(text) {\n  const patterns = [\n    /입금자명[:\\s]*([^\\n|/]+)/i,\n    /보낸분[:\\s]*([^\\n|/]+)/i,\n    /의뢰인[:\\s]*([^\\n|/]+)/i,\n    /보내는분[:\\s]*([^\\n|/]+)/i,\n    /예금주[:\\s]*([^\\n|/]+)/i,\n    /받는분[:\\s]*([^\\n|/]+)/i,\n    /기록사항[:\\s]*([^\\n|/]+)/i,\n  ];\n  for (const pattern of patterns) {\n    const match = text.match(pattern);\n    if (match) return String(match[1]).trim();\n  }\n  return '';\n}\n\nfunction parsePlainOccurredAt(text, fallbackDate) {\n  const patterns = [\n    /(\\d{4})[./-](\\d{1,2})[./-](\\d{1,2})\\s+(\\d{1,2}):(\\d{2})(?::(\\d{2}))?/,\n    /(\\d{4})년\\s*(\\d{1,2})월\\s*(\\d{1,2})일\\s*(\\d{1,2}):(\\d{2})(?::(\\d{2}))?/,\n  ];\n  for (const pattern of patterns) {\n    const match = text.match(pattern);\n    if (!match) continue;\n    const year = match[1];\n    const month = match[2].padStart(2, '0');\n    const day = match[3].padStart(2, '0');\n    const hour = match[4].padStart(2, '0');\n    const minute = match[5].padStart(2, '0');\n    const second = String(match[6] ?? '00').padStart(2, '0');\n    return year + '-' + month + '-' + day + 'T' + hour + ':' + minute + ':' + second + '+09:00';\n  }\n  const date = new Date(fallbackDate || Date.now());\n  return date.toISOString();\n}\n\nfunction isVestMailSecureHtml(value) {\n  const text = String(value ?? '');\n  return text.includes('VestMail') || text.includes('YettieSoft') || text.includes('window.doAction=N') || text.includes('doAction()') || text.includes('fnLoadEncMail');\n}\n\nfunction decryptVestMailSecureHtml(secureHtml, password) {\n  const scripts = [...String(secureHtml).matchAll(/<script[^>]*>([\\s\\S]*?)<\\/script>/gi)].map((match) => match[1]);\n  if (scripts.length === 0) return '';\n\n  class Element {\n    constructor(id = '') {\n      this.id = id;\n      this.style = {};\n      this.children = [];\n      this.innerHTML = '';\n      this.value = '';\n      this.parentNode = { removeChild: () => {} };\n      this.contentWindow = {\n        document: {\n          open() {},\n          write(value) { this._written = value; },\n          close() {},\n          body: { scrollHeight: 0, scrollWidth: 0 },\n        },\n      };\n    }\n    appendChild(child) {\n      this.children.push(child);\n      return child;\n    }\n    removeChild(child) {\n      this.children = this.children.filter((entry) => entry !== child);\n    }\n  }\n\n  const elements = new Map();\n  function getElement(id) {\n    if (!elements.has(id)) elements.set(id, new Element(id));\n    return elements.get(id);\n  }\n\n  ['password', 'inputform', '__p', 'org', 'pop_content', 'ly_header', 'ly_body2', 'noscript', 'progressdlg'].forEach(getElement);\n  const body = new Element('body');\n  const document = {\n    body,\n    documentElement: { lang: 'ko' },\n    getElementById(id) { return getElement(id); },\n    createElement(tag) { return new Element(tag); },\n    write(value) { this._written = (this._written || '') + value; },\n    close() {},\n  };\n\n  const timers = [];\n  const context = {\n    console,\n    document,\n    navigator: {\n      platform: 'Win32',\n      userAgent: 'Mozilla/5.0 Chrome/122.0.0.0',\n      language: 'ko-KR',\n      browserLanguage: 'ko-KR',\n      userLanguage: 'ko-KR',\n    },\n    location: { href: '' },\n    URL: {\n      createObjectURL(blob) {\n        context.__blob = blob;\n        return 'blob:vestmail';\n      },\n    },\n    Blob: globalThis.Blob ?? class BlobMock {\n      constructor(parts = [], options = {}) {\n        this.parts = parts;\n        this.type = options.type ?? '';\n      }\n    },\n    Uint8Array: globalThis.Uint8Array,\n    atob: (value) => Buffer.from(value, 'base64').toString('binary'),\n    btoa: (value) => Buffer.from(value, 'binary').toString('base64'),\n    alert: (message) => {\n      context.__alerts = (context.__alerts || []).concat([String(message ?? '')]);\n    },\n    setTimeout: (fn) => {\n      if (typeof fn === 'function') timers.push(fn);\n      return timers.length;\n    },\n    clearTimeout: () => {},\n    decodeURI,\n    unescape,\n    escape,\n    PDFView: undefined,\n    vestmail_onstart: () => {},\n    vestmail_onend: () => {},\n    event: { keyCode: 13 },\n    org: getElement('org'),\n    pop_content: getElement('pop_content'),\n  };\n\n  context.window = context;\n  context.self = context;\n\n  const boot = new Function('context', 'with (context) { ' + scripts.join('\\n') + '; return window.doAction; }');\n  const doAction = boot(context);\n  if (typeof doAction !== 'function') return '';\n\n  getElement('password').value = String(password ?? '');\n  doAction();\n\n  let steps = 0;\n  while (timers.length && steps < 200) {\n    const task = timers.shift();\n    task();\n    steps += 1;\n  }\n\n  return String(document._written ?? '');\n}\n\nfunction normalizeDirection(kind) {\n  const text = String(kind ?? '').trim();\n  if (text.includes('입금')) return 'deposit';\n  if (text.includes('출금')) return 'withdrawal';\n  return '';\n}\n\nfunction isTransactionRowHeader(value) {\n  return /^\\d+\\s+\\d{4}[/-]\\d{2}[/-]\\d{2}$/.test(String(value ?? '').trim());\n}\n\nfunction isTransactionTableLabel(value) {\n  return [\n    '조회건수',\n    '거래일',\n    '구분',\n    '거래금액',\n    '거래후 잔액',\n    '거래점',\n    '거래은행',\n    '기록사항',\n  ].includes(String(value ?? '').trim());\n}\n\nfunction collectTransactionTail(lines, startIndex) {\n  const tail = [];\n  for (let offset = 0; offset < 3; offset += 1) {\n    const candidate = String(lines[startIndex + offset] ?? '').trim();\n    if (!candidate) continue;\n    if (isTransactionRowHeader(candidate) || isTransactionTableLabel(candidate)) break;\n    tail.push(candidate);\n  }\n  return tail;\n}\n\nfunction buildTransactionNote(recordText, branch, bank, balanceText) {\n  const parts = [];\n  if (recordText) parts.push(recordText);\n  if (branch) parts.push('거래점 ' + branch);\n  if (bank) parts.push('거래은행 ' + bank);\n  if (balanceText) parts.push('잔액 ' + balanceText);\n  return parts.join(' / ');\n}\n\nfunction extractTransactionsFromTableText(text, fallbackDate, subject, messageId, from) {\n  const lines = String(text ?? '').split('\\n').map((line) => line.trim()).filter(Boolean);\n  const transactions = [];\n\n  for (let index = 0; index < lines.length; index += 1) {\n    const rowHeader = lines[index];\n    const headerMatch = rowHeader.match(/^(\\d+)\\s+(\\d{4}[/-]\\d{2}[/-]\\d{2})$/);\n    if (!headerMatch) continue;\n\n    const kindLabel = lines[index + 1] ?? '';\n    const direction = normalizeDirection(kindLabel);\n    const amountText = lines[index + 2] ?? '';\n    const balanceText = lines[index + 3] ?? '';\n    const tail = collectTransactionTail(lines, index + 4);\n    const branch = tail[0] ?? '';\n    const bank = tail.length >= 3 ? tail[1] : '';\n    const recordText = tail.length >= 3\n      ? tail.slice(2).join(' / ')\n      : (tail.length >= 2 ? tail.slice(1).join(' / ') : (tail[0] ?? ''));\n    const party = recordText || tail[tail.length - 1] || '';\n    if (!direction || !party) continue;\n\n    const amount = parseAmount(amountText);\n    if (amount <= 0) continue;\n\n    const occurredDate = normalizeDateOnly(headerMatch[2]);\n    transactions.push({\n      direction,\n      party,\n      sender: direction === 'deposit' ? party : '',\n      amount,\n      occurredAt: formatOccurredAt(occurredDate, fallbackDate),\n      balance: parseAmount(balanceText),\n      bank,\n      branch,\n      note: buildTransactionNote(recordText, branch, bank, balanceText) || subject,\n      externalId: (messageId || 'secure-mail') + '-' + headerMatch[1],\n      rawFrom: from,\n      rawSubject: subject,\n      secureMailType: 'tabular_mail',\n      kindLabel,\n    });\n  }\n\n  return transactions;\n}\n\nfunction extractTransactionsFromSecureMailContent(decryptedHtml, fallbackDate, subject, messageId, from) {\n  return extractTransactionsFromTableText(stripHtml(decryptedHtml), fallbackDate, subject, messageId, from).map((entry) => ({\n    ...entry,\n    secureMailType: 'vestmail_attachment',\n  }));\n}\n\nfunction extractPlainTransactions(text, fallbackDate, subject, messageId, from) {\n  const tabularTransactions = extractTransactionsFromTableText(text, fallbackDate, subject, messageId, from).map((entry) => ({\n    ...entry,\n    secureMailType: 'plain_table_mail',\n  }));\n  if (tabularTransactions.length > 0) return tabularTransactions;\n\n  const sender = parsePlainSender(text);\n  const direction = /출금/i.test(text) ? 'withdrawal' : (/입금/i.test(text) ? 'deposit' : '');\n  const amountPatterns = [\n    /입금(?:금액)?[:\\s]*([0-9,]+)\\s*원?/i,\n    /출금(?:금액)?[:\\s]*([0-9,]+)\\s*원?/i,\n    /거래금액[:\\s]*([0-9,]+)\\s*원?/i,\n    /금액[:\\s]*([0-9,]+)\\s*원?/i,\n    /([0-9,]+)\\s*원\\s*(?:입금|출금)/i,\n  ];\n  let amount = 0;\n  for (const pattern of amountPatterns) {\n    const match = text.match(pattern);\n    if (match) {\n      amount = parseAmount(match[1]);\n      break;\n    }\n  }\n  const balancePatterns = [\n    /(?:입금후|출금후|거래후)?잔액[:\\s]*([0-9,]+)\\s*원?/i,\n    /balance[:\\s]*([0-9,]+)/i,\n  ];\n  let balance = 0;\n  for (const pattern of balancePatterns) {\n    const match = text.match(pattern);\n    if (match) {\n      balance = parseAmount(match[1]);\n      break;\n    }\n  }\n  if (!sender || amount <= 0 || !direction) return [];\n  return [{\n    direction,\n    party: sender,\n    sender: direction === 'deposit' ? sender : '',\n    amount,\n    occurredAt: parsePlainOccurredAt(text, fallbackDate),\n    balance,\n    bank: '',\n    branch: '',\n    note: subject,\n    externalId: messageId || ('email-' + Date.now() + '-' + amount),\n    rawFrom: from,\n    rawSubject: subject,\n    secureMailType: 'plain_mail',\n    kindLabel: direction === 'deposit' ? '입금' : '출금',\n  }];\n}\n\nconst item = $input.first();\nconst emailJson = item.json ?? {};\nconst binary = item.binary ?? {};\nconst subject = String(emailJson.subject ?? '');\nconst from = String(emailJson.from?.text ?? emailJson.from ?? '');\nconst messageId = String(emailJson.messageId ?? emailJson['message-id'] ?? emailJson.attributes?.uid ?? '');\nconst fallbackDate = emailJson.date;\nconst htmlBody = String(emailJson.html ?? emailJson.textHtml ?? '');\nconst attachmentNames = Object.entries(binary).map(([binaryKey, binaryValue]) => String(binaryValue.fileName ?? binaryKey ?? '')).filter(Boolean);\nconst wrapperHtmlDetected = htmlBody.includes('농협 통합 메시징 서비스') || htmlBody.includes('보안 메일');\nconst isNhMail = /webmaster@ums\\.nonghyup\\.com/i.test(from)\n  || /농협에서 제공하는 입출금 거래내역/i.test(subject)\n  || wrapperHtmlDetected\n  || attachmentNames.some((name) => /message\\.html/i.test(name));\n\nlet secureHtml = '';\nconst directHtmlCandidates = [\n  String(emailJson.textHtml ?? ''),\n  String(emailJson.html ?? ''),\n  String(emailJson.text ?? ''),\n];\n\nfor (const candidate of directHtmlCandidates) {\n  if (candidate && isVestMailSecureHtml(candidate)) {\n    secureHtml = candidate;\n    break;\n  }\n}\n\nif (!secureHtml) {\n  const binaryItemIndex = typeof $itemIndex === 'number' ? $itemIndex : 0;\n  for (const [binaryKey, binaryValue] of Object.entries(binary)) {\n    const fileName = String(binaryValue.fileName ?? binaryKey ?? '');\n    const mimeType = String(binaryValue.mimeType ?? '');\n    let attachmentText = '';\n    const rawData = typeof binaryValue.data === 'string' ? binaryValue.data : '';\n    if (rawData === 'filesystem-v2') {\n      const binaryHelpers = typeof helpers === 'object' && helpers ? helpers : (typeof this === 'object' && this && typeof this.helpers === 'object' ? this.helpers : null);\n      try {\n        if (binaryHelpers && typeof binaryHelpers.getBinaryDataBuffer === 'function') {\n          const buffer = await binaryHelpers.getBinaryDataBuffer(binaryItemIndex, binaryKey);\n          attachmentText = Buffer.from(buffer).toString('utf8');\n        }\n      } catch {}\n      if (!attachmentText) {\n        try {\n          const fileId = String(binaryValue.id ?? '');\n          let filePath = '';\n          if (binaryHelpers && typeof binaryHelpers.getBinaryPath === 'function') {\n            filePath = String(await binaryHelpers.getBinaryPath(binaryItemIndex, binaryKey) ?? '');\n          }\n          if (!filePath && fileId.startsWith('filesystem-v2:')) {\n            filePath = '/home/node/.n8n/storage/' + fileId.slice('filesystem-v2:'.length);\n          }\n          const localRequire = typeof require === 'function' ? require : null;\n          if (filePath && localRequire) {\n            const fs = localRequire('fs');\n            attachmentText = fs.readFileSync(filePath, 'utf8');\n          }\n        } catch {}\n      }\n    } else if (rawData) {\n      attachmentText = Buffer.from(rawData, 'base64').toString('utf8');\n    }\n    if (!attachmentText) continue;\n    if ((fileName.toLowerCase().endsWith('.html') || mimeType.includes('text/html')) && isVestMailSecureHtml(attachmentText)) {\n      secureHtml = attachmentText;\n      break;\n    }\n  }\n}\n\nlet decryptedHtml = '';\nlet transactions = [];\nif (secureHtml) {\n  decryptedHtml = decryptVestMailSecureHtml(secureHtml, SECURE_MAIL_PASSWORD);\n  if (decryptedHtml) {\n    transactions = extractTransactionsFromSecureMailContent(decryptedHtml, fallbackDate, subject, messageId, from);\n  }\n}\n\nif (transactions.length === 0) {\n  const textPlain = String(emailJson.textPlain ?? emailJson.text ?? '');\n  const textHtml = String(emailJson.textHtml ?? emailJson.html ?? '');\n  const mergedText = [subject, stripHtml(textPlain), stripHtml(textHtml)].filter(Boolean).join('\\n');\n  transactions = extractPlainTransactions(mergedText, fallbackDate, subject, messageId, from);\n}\n\nlet parseFailureReason = '';\nif (isNhMail && transactions.length === 0) {\n  if (!secureHtml && attachmentNames.length > 0) {\n    parseFailureReason = 'secure_attachment_not_loaded';\n  } else if (secureHtml && !decryptedHtml) {\n    parseFailureReason = 'secure_mail_decrypt_failed';\n  } else if (secureHtml && decryptedHtml) {\n    parseFailureReason = 'secure_mail_no_transactions';\n  } else {\n    parseFailureReason = 'plain_mail_no_transactions';\n  }\n}\n\nconsole.log('[WF-CRM-02 parser]', JSON.stringify({\n  subject,\n  messageId,\n  from,\n  binaryKeys: Object.keys(binary),\n  attachmentNames,\n  directSecureHtml: Boolean(secureHtml && directHtmlCandidates.some((candidate) => candidate && candidate === secureHtml)),\n  secureHtmlDetected: Boolean(secureHtml),\n  decryptedHtmlDetected: Boolean(decryptedHtml),\n  transactionsCount: transactions.length,\n  depositsCount: transactions.filter((entry) => entry.direction === 'deposit').length,\n  isNhMail,\n  parseFailureReason,\n}));\n\nconst deposits = transactions.filter((entry) => entry.direction === 'deposit').map((entry) => ({\n  sender: entry.sender || entry.party || '',\n  amount: entry.amount,\n  occurredAt: entry.occurredAt,\n  balance: Number(entry.balance || 0) || 0,\n  note: entry.note,\n  externalId: entry.externalId,\n  rawFrom: entry.rawFrom,\n  rawSubject: entry.rawSubject,\n  secureMailType: entry.secureMailType,\n}));\n\nreturn [{\n  json: {\n    source: secureHtml ? 'email_secure_mail' : 'email_imap',\n    transactions,\n    deposits,\n    messageId,\n    subject,\n    from,\n    binaryKeys: Object.keys(binary),\n    attachmentNames,\n    directSecureHtml: Boolean(secureHtml && directHtmlCandidates.some((candidate) => candidate && candidate === secureHtml)),\n    secureHtmlDetected: Boolean(secureHtml),\n    decryptedHtmlDetected: Boolean(decryptedHtml),\n    wrapperHtmlDetected,\n    isNhMail,\n    parseFailure: Boolean(isNhMail && transactions.length === 0),\n    parseFailureReason,\n  },\n}];"
      },
      "id": "code-parse-email",
      "name": "Code: Parse Deposit Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ ($json.deposits || []).length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-has-deposits",
      "name": "IF Has Deposits",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        720,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.pressco21.com/webhook/crm-auto-deposit-intake",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "http-call-intake-engine",
      "name": "HTTP Call Intake Engine",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        200
      ],
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const parsed = $('Code: Record Intake Ledger').first().json || {};\nconst intake = $('HTTP Call Intake Engine').first().json || {};\nconst accountLabel = String($env.PRESSCO_BANK_ALERT_ACCOUNT_LABEL || $env.PRESSCO_BANK_ACCOUNT_LABEL || '농협 093-01-264177').trim();\nconst deposits = Array.isArray(parsed.deposits) ? parsed.deposits : [];\nconst exactActions = Array.isArray(intake.exactActions) ? intake.exactActions : [];\nconst duplicateEntries = Array.isArray(intake.duplicateEntries) ? intake.duplicateEntries : [];\nconst reviewEntries = Array.isArray(intake.reviewEntries) ? intake.reviewEntries : [];\nconst unmatchedEntries = Array.isArray(intake.unmatchedEntries) ? intake.unmatchedEntries : [];\nconst summary = intake.summary && typeof intake.summary === 'object' ? intake.summary : null;\nconst intakeErrorMessage = [\n  intake.error,\n  intake.errorMessage,\n  intake.message,\n  intake.reason,\n  intake.description,\n].find((value) => String(value ?? '').trim()) || '';\nconst intakeFailed = deposits.length > 0 && (!summary || Boolean(String(intakeErrorMessage).trim()));\nconst staticData = $getWorkflowStaticData('global');\nconst sentMap = staticData.presscoCrmTelegramSent || {};\nconst failureLog = Array.isArray(staticData.presscoCrmFailureLog) ? staticData.presscoCrmFailureLog : [];\n\nfunction formatAmount(value) { return (Number(value) || 0).toLocaleString() + '원'; }\nfunction formatDate(value) { return String(value || '').replace('T', ' ').slice(0, 16) || '-'; }\nfunction summarizeCandidates(entry) {\n  const candidates = Array.isArray(entry?.candidates)\n    ? entry.candidates.slice(0, 2).map((candidate) => candidate.customerName || candidate.invoiceNo || candidate.kind).filter(Boolean)\n    : [];\n  return candidates.length > 0 ? '후보 ' + candidates.join(', ') : '';\n}\nfunction appendFailureLog(kind, payload) {\n  failureLog.push({\n    kind,\n    loggedAt: new Date().toISOString(),\n    ...payload,\n  });\n  if (failureLog.length > 200) {\n    failureLog.splice(0, failureLog.length - 200);\n  }\n  staticData.presscoCrmFailureLog = failureLog;\n}\nfunction buildEventKey(entry) {\n  const externalId = String(entry?.externalId || '').trim();\n  if (externalId) return externalId;\n  const party = String(entry?.sender || entry?.party || '').trim();\n  return [\n    String(parsed._messageKey || parsed.messageId || 'unknown').trim(),\n    String(entry?.direction || 'deposit').trim(),\n    party,\n    String(Number(entry?.amount || 0) || 0),\n    String(entry?.occurredAt || '').trim(),\n  ].join('::');\n}\nif (deposits.length === 0) {\n  return [];\n}\n\nconst leadEntry = deposits[0] || {};\nconst leadSender = String(leadEntry.sender || '미상').trim() || '미상';\nconst depositKey = deposits.map((entry) => entry.externalId || [entry.sender || '', entry.amount || 0, entry.occurredAt || ''].join(':')).join('|');\nconst summaryKey = intakeFailed\n  ? ['crm-intake-error', parsed.messageId || leadEntry.externalId || 'unknown', leadEntry.amount || 0].join('::')\n  : ['crm', parsed.source || intake.source || 'unknown', depositKey].join('::');\nif (sentMap[summaryKey]) {\n  return [];\n}\nif (!intakeFailed && duplicateEntries.length > 0 && exactActions.length === 0 && reviewEntries.length === 0 && unmatchedEntries.length === 0) {\n  return [];\n}\n\nconst lines = [\n  intakeFailed ? '[입금 장애 경보]' : '[입금 알림]',\n  '',\n  '계좌: ' + accountLabel,\n  '입금자: ' + leadSender,\n  '입금별칭추천: ' + leadSender,\n  '입금액: ' + formatAmount(leadEntry.amount),\n  '거래일시: ' + formatDate(leadEntry.occurredAt),\n];\nif (Number(leadEntry.balance) > 0) {\n  lines.push('통장잔액: ' + formatAmount(leadEntry.balance));\n}\nif (String(leadEntry.note || '').trim()) {\n  lines.push('기록: ' + String(leadEntry.note).trim());\n}\nif (deposits.length > 1) {\n  lines.push('추가입금: ' + String(deposits.length - 1) + '건');\n}\n\nlet crmResult = 'accepted';\nif (intakeFailed) {\n  const errorText = String(intakeErrorMessage || '').trim() || '자동반영 엔진 응답이 비정상입니다.';\n  lines.push('CRM처리: intake 실패');\n  lines.push('메시지ID: ' + String(parsed.messageId || leadEntry.externalId || '-'));\n  lines.push('안내: 수동 확인 및 재처리가 필요합니다.');\n  lines.push('오류: ' + errorText.slice(0, 240));\n  appendFailureLog('intake_failure', {\n    messageId: parsed.messageId || '',\n    subject: parsed.subject || '',\n    from: parsed.from || '',\n    sender: leadSender,\n    amount: Number(leadEntry.amount || 0) || 0,\n    occurredAt: leadEntry.occurredAt || '',\n    error: errorText,\n  });\n  crmResult = 'intake_failure';\n}\n\nif (!intakeFailed && exactActions.length > 0) {\n  const entry = exactActions[0];\n  const target = entry.kind === 'invoice'\n    ? (entry.invoiceNo ? '명세표 ' + entry.invoiceNo : 'CRM 명세표')\n    : '기존 장부';\n  lines.push('CRM처리: 자동반영 완료');\n  lines.push('안내: ' + (entry.customerName || entry.sender || '미상') + ' / ' + target + ' 반영');\n  crmResult = 'exact';\n}\n\nif (!intakeFailed && exactActions.length === 0 && reviewEntries.length > 0) {\n  const entry = reviewEntries[0];\n  const candidateText = summarizeCandidates(entry);\n  lines.push('CRM처리: 검토 필요');\n  lines.push('안내: ' + (candidateText || String(entry.reason || '수동 확인이 필요합니다.').trim()));\n  crmResult = 'review';\n}\n\nif (!intakeFailed && exactActions.length === 0 && reviewEntries.length === 0 && unmatchedEntries.length > 0) {\n  const entry = unmatchedEntries[0];\n  lines.push('CRM처리: 미매칭');\n  lines.push('안내: ' + (String(entry.reason || '').trim() || '정확히 일치하는 고객 미수 금액을 찾지 못했습니다.'));\n  crmResult = 'unmatched';\n}\n\nif (!intakeFailed && exactActions.length === 0 && reviewEntries.length === 0 && unmatchedEntries.length === 0) {\n  lines.push('CRM처리: 접수 완료');\n  lines.push('안내: 자동화 엔진 응답을 확인하지 못해 운영 로그 점검이 필요합니다.');\n}\n\nreturn [{\n  json: {\n    _telegramMessage: lines.join('\\n'),\n    _summaryKey: summaryKey,\n    _messageKey: String(parsed._messageKey || parsed.messageId || 'unknown').trim(),\n    _eventKeys: deposits.map((entry) => buildEventKey(entry)),\n    _crmResult: crmResult,\n    _intakeFailed: intakeFailed,\n    _intakeError: String(intakeErrorMessage || '').trim(),\n  },\n}];"
      },
      "id": "wf-crm02-build-telegram-summary",
      "name": "Build Telegram Deposit Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        240
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $env.PRESSCO_BANK_CHAT_ID || $env.TELEGRAM_GROUP_ID || $env.TELEGRAM_CHAT_ID || '-5275298126' }}",
        "text": "={{ $json._telegramMessage }}",
        "additionalFields": {}
      },
      "id": "wf-crm02-telegram-deposit-summary",
      "name": "Telegram Deposit Summary",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1300,
        240
      ],
      "credentials": {
        "telegramApi": {
          "id": "RQvOiScJ4KjbJcsS",
          "name": "PRESSCO_BANK_BOT"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const parsed = $('Code: Record Intake Ledger').first().json || {};\nconst transactions = Array.isArray(parsed.transactions) ? parsed.transactions : [];\nconst bankOnlyTransactions = transactions.filter((entry) => String(entry.direction || '').trim() !== 'deposit');\nconst accountLabel = String($env.PRESSCO_BANK_ALERT_ACCOUNT_LABEL || $env.PRESSCO_BANK_ACCOUNT_LABEL || '농협 093-01-264177').trim();\nconst summaryKey = ['bank-events', parsed.source || 'unknown', bankOnlyTransactions.map((entry) => entry.externalId || [entry.direction || '', entry.party || entry.sender || '', entry.amount || 0, entry.occurredAt || ''].join(':')).join('|')].join('::');\nconst staticData = $getWorkflowStaticData('global');\nconst sentMap = staticData.presscoBankTelegramSent || {};\nfunction formatAmount(value) { return (Number(value) || 0).toLocaleString() + '원'; }\nfunction formatDate(value) { return String(value || '').replace('T', ' ').slice(0, 16) || '-'; }\nfunction directionLabel(value) { return value === 'withdrawal' ? '출금' : (value === 'deposit' ? '입금' : '거래'); }\nfunction buildEventKey(entry) {\n  const externalId = String(entry?.externalId || '').trim();\n  if (externalId) return externalId;\n  const party = String(entry?.sender || entry?.party || '').trim();\n  return [\n    String(parsed._messageKey || parsed.messageId || 'unknown').trim(),\n    String(entry?.direction || '').trim(),\n    party,\n    String(Number(entry?.amount || 0) || 0),\n    String(entry?.occurredAt || '').trim(),\n  ].join('::');\n}\nif (bankOnlyTransactions.length === 0 || sentMap[summaryKey]) {\n  return [];\n}\nconst lines = [\n  '[은행 거래 알림]',\n  '',\n  '계좌: ' + accountLabel,\n];\nbankOnlyTransactions.slice(0, 5).forEach((entry) => {\n  const label = directionLabel(entry.direction);\n  const party = String(entry.party || entry.sender || '미상').trim() || '미상';\n  const detail = String(entry.note || '').trim();\n  const suffixParts = [];\n  if (entry.balance) suffixParts.push('잔액 ' + formatAmount(entry.balance));\n  if (detail) suffixParts.push(detail);\n  const suffix = suffixParts.length > 0 ? ' / ' + suffixParts.join(' / ') : '';\n  lines.push('- [' + label + '] ' + party + ' / ' + formatAmount(entry.amount) + ' / ' + formatDate(entry.occurredAt) + suffix);\n});\nif (bankOnlyTransactions.length > 5) {\n  lines.push('', '... 외 ' + String(bankOnlyTransactions.length - 5) + '건');\n}\nreturn [{\n  json: {\n    _telegramMessage: lines.join('\\n'),\n    _summaryKey: summaryKey,\n    _messageKey: String(parsed._messageKey || parsed.messageId || 'unknown').trim(),\n    _eventKeys: bankOnlyTransactions.map((entry) => buildEventKey(entry)),\n  },\n}];"
      },
      "id": "wf-crm02-build-bank-event-summary",
      "name": "Build Bank Event Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        80
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $env.PRESSCO_BANK_CHAT_ID || $env.TELEGRAM_GROUP_ID || $env.TELEGRAM_CHAT_ID || '-5275298126' }}",
        "text": "={{ $json._telegramMessage }}",
        "additionalFields": {}
      },
      "id": "wf-crm02-telegram-bank-event-summary",
      "name": "Telegram Bank Event Summary",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        980,
        80
      ],
      "credentials": {
        "telegramApi": {
          "id": "RQvOiScJ4KjbJcsS",
          "name": "PRESSCO_BANK_BOT"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const parsed = $('Code: Record Intake Ledger').first().json || {};\nconst accountLabel = String($env.PRESSCO_BANK_ALERT_ACCOUNT_LABEL || $env.PRESSCO_BANK_ACCOUNT_LABEL || '농협 093-01-264177').trim();\nif (!parsed.isNhMail || !parsed.parseFailure) {\n  return [];\n}\nconst staticData = $getWorkflowStaticData('global');\nconst sentMap = staticData.presscoCrmParseFailureSent || {};\nconst failureLog = Array.isArray(staticData.presscoCrmFailureLog) ? staticData.presscoCrmFailureLog : [];\nconst summaryKey = ['parse-failure', parsed.messageId || parsed.subject || 'unknown', parsed.parseFailureReason || 'unknown'].join('::');\nif (sentMap[summaryKey]) {\n  return [];\n}\nfunction reasonLabel(value) {\n  switch (String(value || '')) {\n    case 'secure_attachment_not_loaded':\n      return '보안메일 첨부를 읽지 못했습니다.';\n    case 'secure_mail_decrypt_failed':\n      return '보안메일 해독에 실패했습니다.';\n    case 'secure_mail_no_transactions':\n      return '보안메일은 열렸지만 거래 행을 찾지 못했습니다.';\n    case 'plain_mail_no_transactions':\n      return '본문 파싱에서 거래를 찾지 못했습니다.';\n    default:\n      return '파싱 실패 원인을 확인하지 못했습니다.';\n  }\n}\nconst lines = [\n  '[입금 파싱 실패 경보]',\n  '',\n  '계좌: ' + accountLabel,\n  '발신: ' + String(parsed.from || '-'),\n  '제목: ' + String(parsed.subject || '-'),\n  '메시지ID: ' + String(parsed.messageId || '-'),\n  '사유: ' + reasonLabel(parsed.parseFailureReason),\n  '첨부: ' + ((Array.isArray(parsed.attachmentNames) && parsed.attachmentNames.length > 0) ? parsed.attachmentNames.join(', ') : '-'),\n  '안내: 원본 메일 수동 확인 및 재처리가 필요합니다.',\n];\nfailureLog.push({\n  kind: 'parse_failure',\n  loggedAt: new Date().toISOString(),\n  messageId: parsed.messageId || '',\n  subject: parsed.subject || '',\n  from: parsed.from || '',\n  reason: parsed.parseFailureReason || '',\n  attachmentNames: Array.isArray(parsed.attachmentNames) ? parsed.attachmentNames : [],\n  binaryKeys: Array.isArray(parsed.binaryKeys) ? parsed.binaryKeys : [],\n});\nif (failureLog.length > 200) {\n  failureLog.splice(0, failureLog.length - 200);\n}\nstaticData.presscoCrmFailureLog = failureLog;\nreturn [{\n  json: {\n    _telegramMessage: lines.join('\\n'),\n    _summaryKey: summaryKey,\n    _messageKey: String(parsed._messageKey || parsed.messageId || 'unknown').trim(),\n  },\n}];"
      },
      "id": "wf-crm02-build-parse-failure-summary",
      "name": "Build Parse Failure Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        440
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $env.PRESSCO_BANK_CHAT_ID || $env.TELEGRAM_GROUP_ID || $env.TELEGRAM_CHAT_ID || '-5275298126' }}",
        "text": "={{ $json._telegramMessage }}",
        "additionalFields": {}
      },
      "id": "wf-crm02-telegram-parse-failure-summary",
      "name": "Telegram Parse Failure Summary",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        980,
        440
      ],
      "credentials": {
        "telegramApi": {
          "id": "RQvOiScJ4KjbJcsS",
          "name": "PRESSCO_BANK_BOT"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const parsed = $input.first().json || {};\nconst staticData = $getWorkflowStaticData('global');\nconst mailLedger = Array.isArray(staticData.presscoBankMailLedger) ? staticData.presscoBankMailLedger : [];\nconst txnLedger = Array.isArray(staticData.presscoBankTransactionLedger) ? staticData.presscoBankTransactionLedger : [];\nconst now = new Date().toISOString();\nconst transactions = Array.isArray(parsed.transactions) ? parsed.transactions : [];\nconst deposits = Array.isArray(parsed.deposits) ? parsed.deposits : [];\nconst withdrawals = transactions.filter((entry) => String(entry.direction || '').trim() !== 'deposit');\n\nfunction limitArray(items, maxSize) {\n  if (items.length > maxSize) {\n    items.splice(maxSize, items.length - maxSize);\n  }\n}\n\nfunction buildMessageKey() {\n  const messageId = String(parsed.messageId || '').trim();\n  if (messageId) return messageId;\n  return [\n    String(parsed.from || '').trim(),\n    String(parsed.subject || '').trim(),\n    String(parsed.source || 'unknown').trim(),\n    String(parsed.receivedAt || now).trim(),\n  ].join('::');\n}\n\nfunction buildEventKey(entry) {\n  const externalId = String(entry?.externalId || '').trim();\n  if (externalId) return externalId;\n  const party = String(entry?.sender || entry?.party || '').trim();\n  return [\n    messageKey,\n    String(entry?.direction || '').trim(),\n    party,\n    String(Number(entry?.amount || 0) || 0),\n    String(entry?.occurredAt || '').trim(),\n  ].join('::');\n}\n\nconst messageKey = buildMessageKey();\nconst mailEntry = {\n  messageKey,\n  messageId: String(parsed.messageId || '').trim(),\n  source: String(parsed.source || 'unknown').trim() || 'unknown',\n  from: String(parsed.from || '').trim(),\n  subject: String(parsed.subject || '').trim(),\n  receivedAt: String(parsed.receivedAt || now).trim() || now,\n  processedAt: now,\n  isNhMail: parsed.isNhMail === true,\n  parseFailure: parsed.parseFailure === true,\n  parseFailureReason: String(parsed.parseFailureReason || '').trim(),\n  transactionsCount: transactions.length,\n  depositsCount: deposits.length,\n  withdrawalCount: withdrawals.length,\n  attachmentNames: Array.isArray(parsed.attachmentNames) ? parsed.attachmentNames : [],\n  binaryKeys: Array.isArray(parsed.binaryKeys) ? parsed.binaryKeys : [],\n  secureHtmlDetected: parsed.secureHtmlDetected === true,\n  decryptedHtmlDetected: parsed.decryptedHtmlDetected === true,\n  parseAlertStatus: parsed.isNhMail === true && parsed.parseFailure === true ? 'pending' : 'not_required',\n  parseAlertSummaryKey: null,\n  parseAlertSentAt: null,\n  parseAlertFailedAt: null,\n  parseAlertFailureReason: null,\n  lastUpdatedAt: now,\n};\n\nconst mailIndex = mailLedger.findIndex((entry) => entry.messageKey === messageKey);\nif (mailIndex >= 0) {\n  const prev = mailLedger[mailIndex] || {};\n  mailLedger[mailIndex] = {\n    ...prev,\n    ...mailEntry,\n    createdAt: prev.createdAt || now,\n    parseAlertStatus: prev.parseAlertStatus && prev.parseAlertStatus !== 'not_required'\n      ? prev.parseAlertStatus\n      : mailEntry.parseAlertStatus,\n    parseAlertSummaryKey: prev.parseAlertSummaryKey || mailEntry.parseAlertSummaryKey,\n    parseAlertSentAt: prev.parseAlertSentAt || null,\n    parseAlertFailedAt: prev.parseAlertFailedAt || null,\n    parseAlertFailureReason: prev.parseAlertFailureReason || null,\n  };\n} else {\n  mailLedger.unshift({ ...mailEntry, createdAt: now });\n}\nlimitArray(mailLedger, 1000);\nstaticData.presscoBankMailLedger = mailLedger;\n\nfor (const entry of transactions) {\n  const eventKey = buildEventKey(entry);\n  const alertKind = String(entry?.direction || '').trim() === 'deposit' ? 'crm_deposit' : 'bank_event';\n  const nextItem = {\n    eventKey,\n    messageKey,\n    externalId: String(entry?.externalId || '').trim(),\n    source: String(parsed.source || 'unknown').trim() || 'unknown',\n    direction: String(entry?.direction || '').trim(),\n    sender: String(entry?.sender || '').trim(),\n    party: String(entry?.party || entry?.sender || '').trim(),\n    amount: Number(entry?.amount || 0) || 0,\n    occurredAt: String(entry?.occurredAt || '').trim(),\n    balance: Number(entry?.balance || 0) || 0,\n    parsedAt: now,\n    alertKind,\n    alertStatus: 'pending',\n    alertSummaryKey: null,\n    alertSentAt: null,\n    alertFailedAt: null,\n    alertFailureReason: null,\n    crmResult: alertKind === 'crm_deposit' ? 'pending' : 'not_applicable',\n    intakeFailed: false,\n    lastUpdatedAt: now,\n  };\n  const index = txnLedger.findIndex((ledgerEntry) => ledgerEntry.eventKey === eventKey);\n  if (index >= 0) {\n    const prev = txnLedger[index] || {};\n    txnLedger[index] = {\n      ...prev,\n      ...nextItem,\n      createdAt: prev.createdAt || now,\n      alertStatus: prev.alertStatus === 'sent' || prev.alertStatus === 'failed'\n        ? prev.alertStatus\n        : nextItem.alertStatus,\n      alertSummaryKey: prev.alertSummaryKey || nextItem.alertSummaryKey,\n      alertSentAt: prev.alertSentAt || null,\n      alertFailedAt: prev.alertFailedAt || null,\n      alertFailureReason: prev.alertFailureReason || null,\n      crmResult: prev.crmResult && prev.crmResult !== 'pending' ? prev.crmResult : nextItem.crmResult,\n      intakeFailed: prev.intakeFailed === true ? true : nextItem.intakeFailed,\n    };\n  } else {\n    txnLedger.unshift({ ...nextItem, createdAt: now });\n  }\n}\nlimitArray(txnLedger, 2000);\nstaticData.presscoBankTransactionLedger = txnLedger;\n\nreturn [{\n  json: {\n    ...parsed,\n    _messageKey: messageKey,\n  },\n}];"
      },
      "id": "wf-crm02-record-intake-ledger",
      "name": "Code: Record Intake Ledger",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = $('Build Telegram Deposit Summary').first().json || {};\nconst telegram = $input.first().json || {};\nconst staticData = $getWorkflowStaticData('global');\nconst sentMap = staticData.presscoCrmTelegramSent || {};\nconst failureLog = Array.isArray(staticData.presscoCrmFailureLog) ? staticData.presscoCrmFailureLog : [];\nconst txnLedger = Array.isArray(staticData.presscoBankTransactionLedger) ? staticData.presscoBankTransactionLedger : [];\nconst now = new Date().toISOString();\n\nfunction extractError(source) {\n  const direct = [\n    source?.error,\n    source?.errorMessage,\n    source?.description,\n    source?.message,\n    source?.reason,\n    source?.data?.description,\n    source?.response?.body?.description,\n  ].find((value) => String(value ?? '').trim());\n  return String(direct || '').trim();\n}\n\nconst telegramMessageId = telegram?.message_id || telegram?.result?.message_id || telegram?.body?.result?.message_id || null;\nconst errorText = extractError(telegram);\nconst hasPayload = telegram && typeof telegram === 'object' && Object.keys(telegram).length > 0;\nconst deliveryOk = Boolean(telegramMessageId) || telegram?.ok === true || telegram?.result?.ok === true || (hasPayload && !errorText);\n\nif (payload._summaryKey) {\n  if (deliveryOk) {\n    sentMap[payload._summaryKey] = now;\n    const sentKeys = Object.keys(sentMap);\n    if (sentKeys.length > 300) {\n      sentKeys.sort((left, right) => String(sentMap[left]).localeCompare(String(sentMap[right]))).slice(0, sentKeys.length - 300).forEach((key) => delete sentMap[key]);\n    }\n    staticData.presscoCrmTelegramSent = sentMap;\n  } else {\n    failureLog.push({\n      kind: 'telegram_failure',\n      channel: 'crm_deposit',\n      loggedAt: now,\n      summaryKey: payload._summaryKey,\n      messageKey: payload._messageKey || '',\n      crmResult: payload._crmResult || '',\n      error: errorText || 'unknown_telegram_error',\n    });\n    if (failureLog.length > 200) {\n      failureLog.splice(0, failureLog.length - 200);\n    }\n    staticData.presscoCrmFailureLog = failureLog;\n  }\n}\n\nconst eventKeySet = new Set(Array.isArray(payload._eventKeys) ? payload._eventKeys : []);\nfor (let index = 0; index < txnLedger.length; index += 1) {\n  if (!eventKeySet.has(txnLedger[index].eventKey)) continue;\n  txnLedger[index] = {\n    ...txnLedger[index],\n    alertStatus: deliveryOk ? 'sent' : 'failed',\n    alertSummaryKey: payload._summaryKey || txnLedger[index].alertSummaryKey || null,\n    alertSentAt: deliveryOk ? now : (txnLedger[index].alertSentAt || null),\n    alertFailedAt: deliveryOk ? (txnLedger[index].alertFailedAt || null) : now,\n    alertFailureReason: deliveryOk ? null : (errorText || 'unknown_telegram_error'),\n    crmResult: payload._crmResult || txnLedger[index].crmResult || 'pending',\n    intakeFailed: payload._intakeFailed === true,\n    lastUpdatedAt: now,\n  };\n}\nstaticData.presscoBankTransactionLedger = txnLedger;\n\nreturn [{\n  json: {\n    deliveryOk,\n    summaryKey: payload._summaryKey || '',\n    error: deliveryOk ? '' : (errorText || 'unknown_telegram_error'),\n  },\n}];"
      },
      "id": "wf-crm02-record-deposit-delivery",
      "name": "Code: Record Deposit Summary Delivery",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = $('Build Bank Event Summary').first().json || {};\nconst telegram = $input.first().json || {};\nconst staticData = $getWorkflowStaticData('global');\nconst sentMap = staticData.presscoBankTelegramSent || {};\nconst failureLog = Array.isArray(staticData.presscoCrmFailureLog) ? staticData.presscoCrmFailureLog : [];\nconst txnLedger = Array.isArray(staticData.presscoBankTransactionLedger) ? staticData.presscoBankTransactionLedger : [];\nconst now = new Date().toISOString();\n\nfunction extractError(source) {\n  const direct = [\n    source?.error,\n    source?.errorMessage,\n    source?.description,\n    source?.message,\n    source?.reason,\n    source?.data?.description,\n    source?.response?.body?.description,\n  ].find((value) => String(value ?? '').trim());\n  return String(direct || '').trim();\n}\n\nconst telegramMessageId = telegram?.message_id || telegram?.result?.message_id || telegram?.body?.result?.message_id || null;\nconst errorText = extractError(telegram);\nconst hasPayload = telegram && typeof telegram === 'object' && Object.keys(telegram).length > 0;\nconst deliveryOk = Boolean(telegramMessageId) || telegram?.ok === true || telegram?.result?.ok === true || (hasPayload && !errorText);\n\nif (payload._summaryKey) {\n  if (deliveryOk) {\n    sentMap[payload._summaryKey] = now;\n    const sentKeys = Object.keys(sentMap);\n    if (sentKeys.length > 300) {\n      sentKeys.sort((left, right) => String(sentMap[left]).localeCompare(String(sentMap[right]))).slice(0, sentKeys.length - 300).forEach((key) => delete sentMap[key]);\n    }\n    staticData.presscoBankTelegramSent = sentMap;\n  } else {\n    failureLog.push({\n      kind: 'telegram_failure',\n      channel: 'bank_event',\n      loggedAt: now,\n      summaryKey: payload._summaryKey,\n      messageKey: payload._messageKey || '',\n      error: errorText || 'unknown_telegram_error',\n    });\n    if (failureLog.length > 200) {\n      failureLog.splice(0, failureLog.length - 200);\n    }\n    staticData.presscoCrmFailureLog = failureLog;\n  }\n}\n\nconst eventKeySet = new Set(Array.isArray(payload._eventKeys) ? payload._eventKeys : []);\nfor (let index = 0; index < txnLedger.length; index += 1) {\n  if (!eventKeySet.has(txnLedger[index].eventKey)) continue;\n  txnLedger[index] = {\n    ...txnLedger[index],\n    alertStatus: deliveryOk ? 'sent' : 'failed',\n    alertSummaryKey: payload._summaryKey || txnLedger[index].alertSummaryKey || null,\n    alertSentAt: deliveryOk ? now : (txnLedger[index].alertSentAt || null),\n    alertFailedAt: deliveryOk ? (txnLedger[index].alertFailedAt || null) : now,\n    alertFailureReason: deliveryOk ? null : (errorText || 'unknown_telegram_error'),\n    lastUpdatedAt: now,\n  };\n}\nstaticData.presscoBankTransactionLedger = txnLedger;\n\nreturn [{\n  json: {\n    deliveryOk,\n    summaryKey: payload._summaryKey || '',\n    error: deliveryOk ? '' : (errorText || 'unknown_telegram_error'),\n  },\n}];"
      },
      "id": "wf-crm02-record-bank-delivery",
      "name": "Code: Record Bank Event Delivery",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = $('Build Parse Failure Summary').first().json || {};\nconst telegram = $input.first().json || {};\nconst staticData = $getWorkflowStaticData('global');\nconst sentMap = staticData.presscoCrmParseFailureSent || {};\nconst failureLog = Array.isArray(staticData.presscoCrmFailureLog) ? staticData.presscoCrmFailureLog : [];\nconst mailLedger = Array.isArray(staticData.presscoBankMailLedger) ? staticData.presscoBankMailLedger : [];\nconst now = new Date().toISOString();\n\nfunction extractError(source) {\n  const direct = [\n    source?.error,\n    source?.errorMessage,\n    source?.description,\n    source?.message,\n    source?.reason,\n    source?.data?.description,\n    source?.response?.body?.description,\n  ].find((value) => String(value ?? '').trim());\n  return String(direct || '').trim();\n}\n\nconst telegramMessageId = telegram?.message_id || telegram?.result?.message_id || telegram?.body?.result?.message_id || null;\nconst errorText = extractError(telegram);\nconst hasPayload = telegram && typeof telegram === 'object' && Object.keys(telegram).length > 0;\nconst deliveryOk = Boolean(telegramMessageId) || telegram?.ok === true || telegram?.result?.ok === true || (hasPayload && !errorText);\n\nif (payload._summaryKey) {\n  if (deliveryOk) {\n    sentMap[payload._summaryKey] = now;\n    const sentKeys = Object.keys(sentMap);\n    if (sentKeys.length > 300) {\n      sentKeys.sort((left, right) => String(sentMap[left]).localeCompare(String(sentMap[right]))).slice(0, sentKeys.length - 300).forEach((key) => delete sentMap[key]);\n    }\n    staticData.presscoCrmParseFailureSent = sentMap;\n  } else {\n    failureLog.push({\n      kind: 'telegram_failure',\n      channel: 'parse_failure',\n      loggedAt: now,\n      summaryKey: payload._summaryKey,\n      messageKey: payload._messageKey || '',\n      error: errorText || 'unknown_telegram_error',\n    });\n    if (failureLog.length > 200) {\n      failureLog.splice(0, failureLog.length - 200);\n    }\n    staticData.presscoCrmFailureLog = failureLog;\n  }\n}\n\nfor (let index = 0; index < mailLedger.length; index += 1) {\n  if (mailLedger[index].messageKey !== payload._messageKey) continue;\n  mailLedger[index] = {\n    ...mailLedger[index],\n    parseAlertStatus: deliveryOk ? 'sent' : 'failed',\n    parseAlertSummaryKey: payload._summaryKey || mailLedger[index].parseAlertSummaryKey || null,\n    parseAlertSentAt: deliveryOk ? now : (mailLedger[index].parseAlertSentAt || null),\n    parseAlertFailedAt: deliveryOk ? (mailLedger[index].parseAlertFailedAt || null) : now,\n    parseAlertFailureReason: deliveryOk ? null : (errorText || 'unknown_telegram_error'),\n    lastUpdatedAt: now,\n  };\n}\nstaticData.presscoBankMailLedger = mailLedger;\n\nreturn [{\n  json: {\n    deliveryOk,\n    summaryKey: payload._summaryKey || '',\n    error: deliveryOk ? '' : (errorText || 'unknown_telegram_error'),\n  },\n}];"
      },
      "id": "wf-crm02-record-parse-delivery",
      "name": "Code: Record Parse Failure Delivery",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        440
      ]
    },
    {
      "parameters": {
        "jsCode": "const parsed = $input.first().json || {};\nconst staticData = $getWorkflowStaticData('global');\nconst mailLedger = Array.isArray(staticData.presscoBankMailLedger) ? staticData.presscoBankMailLedger : [];\nconst txnLedger = Array.isArray(staticData.presscoBankTransactionLedger) ? staticData.presscoBankTransactionLedger : [];\nconst messageKey = String(parsed._messageKey || parsed.messageId || 'unknown').trim();\nconst mail = mailLedger.find((entry) => entry.messageKey === messageKey) || null;\nconst transactions = txnLedger.filter((entry) => entry.messageKey === messageKey);\nreturn [{ json: { source: 'intake', syncedAt: new Date().toISOString(), messageKey, mail, transactions, failureLog: [] } }];"
      },
      "id": "wf-crm02-build-recon-sync-intake",
      "name": "Code: Build Recon Sync From Intake",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        620
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = $('Build Telegram Deposit Summary').first().json || {};\nconst staticData = $getWorkflowStaticData('global');\nconst txnLedger = Array.isArray(staticData.presscoBankTransactionLedger) ? staticData.presscoBankTransactionLedger : [];\nconst failureLog = Array.isArray(staticData.presscoCrmFailureLog) ? staticData.presscoCrmFailureLog : [];\nconst eventKeySet = new Set(Array.isArray(payload._eventKeys) ? payload._eventKeys : []);\nconst transactions = txnLedger.filter((entry) => eventKeySet.has(entry.eventKey));\nconst summaryKey = String(payload._summaryKey || '').trim();\nconst relevantFailures = failureLog.filter((entry) => String(entry.summaryKey || '').trim() === summaryKey).slice(-5);\nreturn [{ json: { source: 'deposit_delivery', syncedAt: new Date().toISOString(), messageKey: String(payload._messageKey || '').trim(), mail: null, transactions, failureLog: relevantFailures } }];"
      },
      "id": "wf-crm02-build-recon-sync-deposit",
      "name": "Code: Build Recon Sync From Deposit Delivery",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1640,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = $('Build Bank Event Summary').first().json || {};\nconst staticData = $getWorkflowStaticData('global');\nconst txnLedger = Array.isArray(staticData.presscoBankTransactionLedger) ? staticData.presscoBankTransactionLedger : [];\nconst failureLog = Array.isArray(staticData.presscoCrmFailureLog) ? staticData.presscoCrmFailureLog : [];\nconst eventKeySet = new Set(Array.isArray(payload._eventKeys) ? payload._eventKeys : []);\nconst transactions = txnLedger.filter((entry) => eventKeySet.has(entry.eventKey));\nconst summaryKey = String(payload._summaryKey || '').trim();\nconst relevantFailures = failureLog.filter((entry) => String(entry.summaryKey || '').trim() === summaryKey).slice(-5);\nreturn [{ json: { source: 'bank_delivery', syncedAt: new Date().toISOString(), messageKey: String(payload._messageKey || '').trim(), mail: null, transactions, failureLog: relevantFailures } }];"
      },
      "id": "wf-crm02-build-recon-sync-bank",
      "name": "Code: Build Recon Sync From Bank Delivery",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = $('Build Parse Failure Summary').first().json || {};\nconst staticData = $getWorkflowStaticData('global');\nconst mailLedger = Array.isArray(staticData.presscoBankMailLedger) ? staticData.presscoBankMailLedger : [];\nconst failureLog = Array.isArray(staticData.presscoCrmFailureLog) ? staticData.presscoCrmFailureLog : [];\nconst messageKey = String(payload._messageKey || '').trim();\nconst mail = mailLedger.find((entry) => entry.messageKey === messageKey) || null;\nconst summaryKey = String(payload._summaryKey || '').trim();\nconst relevantFailures = failureLog.filter((entry) => String(entry.summaryKey || '').trim() === summaryKey || (messageKey && String(entry.messageKey || '').trim() === messageKey)).slice(-5);\nreturn [{ json: { source: 'parse_delivery', syncedAt: new Date().toISOString(), messageKey, mail, transactions: [], failureLog: relevantFailures } }];"
      },
      "id": "wf-crm02-build-recon-sync-parse",
      "name": "Code: Build Recon Sync From Parse Delivery",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.pressco21.com/webhook/crm-bank-recon-ingest",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "wf-crm02-http-sync-recon-mirror",
      "name": "HTTP Sync Recon Mirror",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1860,
        320
      ],
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "Code: Parse Deposit Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Parse Deposit Email": {
      "main": [
        [
          {
            "node": "IF Has Deposits",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Bank Event Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Record Intake Ledger": {
      "main": [
        [
          {
            "node": "IF Has Deposits",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Bank Event Summary",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Parse Failure Summary",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code: Build Recon Sync From Intake",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Has Deposits": {
      "main": [
        [
          {
            "node": "HTTP Call Intake Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Call Intake Engine": {
      "main": [
        [
          {
            "node": "Build Telegram Deposit Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Telegram Deposit Summary": {
      "main": [
        [
          {
            "node": "Telegram Deposit Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Deposit Summary": {
      "main": [
        [
          {
            "node": "Code: Record Deposit Summary Delivery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Bank Event Summary": {
      "main": [
        [
          {
            "node": "Telegram Bank Event Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Bank Event Summary": {
      "main": [
        [
          {
            "node": "Code: Record Bank Event Delivery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Parse Failure Summary": {
      "main": [
        [
          {
            "node": "Telegram Parse Failure Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Parse Failure Summary": {
      "main": [
        [
          {
            "node": "Code: Record Parse Failure Delivery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build Recon Sync From Intake": {
      "main": [
        [
          {
            "node": "HTTP Sync Recon Mirror",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Record Deposit Summary Delivery": {
      "main": [
        [
          {
            "node": "Code: Build Recon Sync From Deposit Delivery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build Recon Sync From Deposit Delivery": {
      "main": [
        [
          {
            "node": "HTTP Sync Recon Mirror",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Record Bank Event Delivery": {
      "main": [
        [
          {
            "node": "Code: Build Recon Sync From Bank Delivery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build Recon Sync From Bank Delivery": {
      "main": [
        [
          {
            "node": "HTTP Sync Recon Mirror",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Record Parse Failure Delivery": {
      "main": [
        [
          {
            "node": "Code: Build Recon Sync From Parse Delivery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build Recon Sync From Parse Delivery": {
      "main": [
        [
          {
            "node": "HTTP Sync Recon Mirror",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "executionOrder": "v1"
  }
}
