n8n-automation/workflows/accounting/WF-CRM-02_Gmail_입금알림_수집.json
{
  "name": "WF-CRM-02 Gmail 입금알림 수집",
  "nodes": [
    {
      "parameters": {
        "mailbox": "INBOX",
        "postProcessAction": "nothing",
        "format": "resolved",
        "downloadAttachments": true,
        "dataPropertyAttachmentsPrefixName": "attachment_",
        "options": {
          "customEmailConfig": "[]",
          "trackLastMessageId": true,
          "forceReconnect": 30
        }
      },
      "id": "email-trigger-imap",
      "name": "Email Trigger (IMAP)",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [
        240,
        280
      ],
      "credentials": {
        "imap": {
          "id": "qbXbw1umtmbPrgfJ",
          "name": "PRESSCO21 Gmail IMAP Test"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const SECURE_MAIL_PASSWORD = '610227';\n\nfunction stripHtml(value) {\n  return String(value ?? '')\n    .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n    .replace(/<br\\s*\\/?>/gi, '\\n')\n    .replace(/<\\/(tr|p|div|li|td|th|h\\d)>/gi, '\\n')\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&amp;/g, '&')\n    .replace(/\\r/g, '')\n    .replace(/\\n\\s+/g, '\\n')\n    .replace(/[ \\t]+/g, ' ')\n    .replace(/\\n+/g, '\\n')\n    .trim();\n}\n\nfunction parseAmount(value) {\n  const parsed = Number(String(value ?? '').replace(/[^\\d-]/g, ''));\n  return Number.isFinite(parsed) ? Math.max(0, Math.trunc(parsed)) : 0;\n}\n\nfunction normalizeDateOnly(value) {\n  const text = String(value ?? '').trim();\n  const match = text.match(/(\\d{4})[./-](\\d{1,2})[./-](\\d{1,2})/);\n  if (!match) return '';\n  return match[1] + '-' + match[2].padStart(2, '0') + '-' + match[3].padStart(2, '0');\n}\n\nfunction formatOccurredAt(dateOnly, fallbackDate) {\n  if (!dateOnly) {\n    const fallback = new Date(fallbackDate || Date.now());\n    return fallback.toISOString();\n  }\n  const fallback = fallbackDate ? new Date(fallbackDate) : new Date();\n  const hour = String(Number.isFinite(fallback.getHours()) ? fallback.getHours() : 0).padStart(2, '0');\n  const minute = String(Number.isFinite(fallback.getMinutes()) ? fallback.getMinutes() : 0).padStart(2, '0');\n  const second = String(Number.isFinite(fallback.getSeconds()) ? fallback.getSeconds() : 0).padStart(2, '0');\n  return dateOnly + 'T' + hour + ':' + minute + ':' + second + '+09:00';\n}\n\nfunction parsePlainSender(text) {\n  const patterns = [\n    /입금자명[:\\s]*([^\\n|/]+)/i,\n    /보낸분[:\\s]*([^\\n|/]+)/i,\n    /의뢰인[:\\s]*([^\\n|/]+)/i,\n    /보내는분[:\\s]*([^\\n|/]+)/i,\n    /예금주[:\\s]*([^\\n|/]+)/i,\n    /받는분[:\\s]*([^\\n|/]+)/i,\n  ];\n  for (const pattern of patterns) {\n    const match = text.match(pattern);\n    if (match) return String(match[1]).trim();\n  }\n  return '';\n}\n\nfunction parsePlainOccurredAt(text, fallbackDate) {\n  const patterns = [\n    /(\\d{4})[./-](\\d{1,2})[./-](\\d{1,2})\\s+(\\d{1,2}):(\\d{2})(?::(\\d{2}))?/,\n    /(\\d{4})년\\s*(\\d{1,2})월\\s*(\\d{1,2})일\\s*(\\d{1,2}):(\\d{2})(?::(\\d{2}))?/,\n  ];\n  for (const pattern of patterns) {\n    const match = text.match(pattern);\n    if (!match) continue;\n    const year = match[1];\n    const month = match[2].padStart(2, '0');\n    const day = match[3].padStart(2, '0');\n    const hour = match[4].padStart(2, '0');\n    const minute = match[5].padStart(2, '0');\n    const second = String(match[6] ?? '00').padStart(2, '0');\n    return year + '-' + month + '-' + day + 'T' + hour + ':' + minute + ':' + second + '+09:00';\n  }\n  const date = new Date(fallbackDate || Date.now());\n  return date.toISOString();\n}\n\nfunction isVestMailSecureHtml(value) {\n  const text = String(value ?? '');\n  return text.includes('VestMail') || text.includes('YettieSoft') || text.includes('window.doAction=N') || text.includes('doAction()') || text.includes('fnLoadEncMail');\n}\n\nfunction decryptVestMailSecureHtml(secureHtml, password) {\n  const scripts = [...String(secureHtml).matchAll(/<script[^>]*>([\\s\\S]*?)<\\/script>/gi)].map((match) => match[1]);\n  if (scripts.length === 0) return '';\n\n  class Element {\n    constructor(id = '') {\n      this.id = id;\n      this.style = {};\n      this.children = [];\n      this.innerHTML = '';\n      this.value = '';\n      this.parentNode = { removeChild: () => {} };\n      this.contentWindow = {\n        document: {\n          open() {},\n          write(value) { this._written = value; },\n          close() {},\n          body: { scrollHeight: 0, scrollWidth: 0 },\n        },\n      };\n    }\n    appendChild(child) {\n      this.children.push(child);\n      return child;\n    }\n    removeChild(child) {\n      this.children = this.children.filter((entry) => entry !== child);\n    }\n  }\n\n  const elements = new Map();\n  function getElement(id) {\n    if (!elements.has(id)) elements.set(id, new Element(id));\n    return elements.get(id);\n  }\n\n  ['password', 'inputform', '__p', 'org', 'pop_content', 'ly_header', 'ly_body2', 'noscript', 'progressdlg'].forEach(getElement);\n  const body = new Element('body');\n  const document = {\n    body,\n    documentElement: { lang: 'ko' },\n    getElementById(id) { return getElement(id); },\n    createElement(tag) { return new Element(tag); },\n    write(value) { this._written = (this._written || '') + value; },\n    close() {},\n  };\n\n  const timers = [];\n  const context = {\n    console,\n    document,\n    navigator: {\n      platform: 'Win32',\n      userAgent: 'Mozilla/5.0 Chrome/122.0.0.0',\n      language: 'ko-KR',\n      browserLanguage: 'ko-KR',\n      userLanguage: 'ko-KR',\n    },\n    location: { href: '' },\n    URL: {\n      createObjectURL(blob) {\n        context.__blob = blob;\n        return 'blob:vestmail';\n      },\n    },\n    Blob: globalThis.Blob ?? class BlobMock {\n      constructor(parts = [], options = {}) {\n        this.parts = parts;\n        this.type = options.type ?? '';\n      }\n    },\n    Uint8Array: globalThis.Uint8Array,\n    atob: (value) => Buffer.from(value, 'base64').toString('binary'),\n    btoa: (value) => Buffer.from(value, 'binary').toString('base64'),\n    alert: (message) => {\n      context.__alerts = (context.__alerts || []).concat([String(message ?? '')]);\n    },\n    setTimeout: (fn) => {\n      if (typeof fn === 'function') timers.push(fn);\n      return timers.length;\n    },\n    clearTimeout: () => {},\n    decodeURI,\n    unescape,\n    escape,\n    PDFView: undefined,\n    vestmail_onstart: () => {},\n    vestmail_onend: () => {},\n    event: { keyCode: 13 },\n    org: getElement('org'),\n    pop_content: getElement('pop_content'),\n  };\n\n  context.window = context;\n  context.self = context;\n\n  const boot = new Function('context', 'with (context) { ' + scripts.join('\\n') + '; return window.doAction; }');\n  const doAction = boot(context);\n  if (typeof doAction !== 'function') return '';\n\n  getElement('password').value = String(password ?? '');\n  doAction();\n\n  let steps = 0;\n  while (timers.length && steps < 200) {\n    const task = timers.shift();\n    task();\n    steps += 1;\n  }\n\n  return String(document._written ?? '');\n}\n\nfunction normalizeDirection(kind) {\n  const text = String(kind ?? '').trim();\n  if (text.includes('입금')) return 'deposit';\n  if (text.includes('출금')) return 'withdrawal';\n  return '';\n}\n\nfunction extractTransactionsFromSecureMailContent(decryptedHtml, fallbackDate, subject, messageId, from) {\n  const text = stripHtml(decryptedHtml);\n  const lines = text.split('\\n').map((line) => line.trim()).filter(Boolean);\n  const transactions = [];\n  for (let index = 0; index < lines.length; index += 1) {\n    const rowHeader = lines[index];\n    const headerMatch = rowHeader.match(/^(\\d+)\\s+(\\d{4}[/-]\\d{2}[/-]\\d{2})$/);\n    if (!headerMatch) continue;\n    const kindLabel = lines[index + 1] ?? '';\n    const direction = normalizeDirection(kindLabel);\n    const amountText = lines[index + 2] ?? '';\n    const balanceText = lines[index + 3] ?? '';\n    const branch = lines[index + 4] ?? '';\n    const bank = lines[index + 5] ?? '';\n    const party = lines[index + 6] ?? '';\n    if (!direction || !party) continue;\n    const amount = parseAmount(amountText);\n    if (amount <= 0) continue;\n    const occurredDate = normalizeDateOnly(headerMatch[2]);\n    transactions.push({\n      direction,\n      party,\n      sender: direction === 'deposit' ? party : '',\n      amount,\n      occurredAt: formatOccurredAt(occurredDate, fallbackDate),\n      balance: parseAmount(balanceText),\n      bank,\n      branch,\n      note: [subject, bank, branch, balanceText].filter(Boolean).join(' / '),\n      externalId: (messageId || 'secure-mail') + '-' + headerMatch[1],\n      rawFrom: from,\n      rawSubject: subject,\n      secureMailType: 'vestmail_attachment',\n      kindLabel,\n    });\n  }\n  return transactions;\n}\n\nfunction extractPlainTransactions(text, fallbackDate, subject, messageId, from) {\n  const sender = parsePlainSender(text);\n  const direction = /출금/i.test(text) ? 'withdrawal' : (/입금/i.test(text) ? 'deposit' : '');\n  const amountPatterns = [\n    /입금(?:금액)?[:\\s]*([0-9,]+)\\s*원?/i,\n    /출금(?:금액)?[:\\s]*([0-9,]+)\\s*원?/i,\n    /거래금액[:\\s]*([0-9,]+)\\s*원?/i,\n    /금액[:\\s]*([0-9,]+)\\s*원?/i,\n    /([0-9,]+)\\s*원\\s*(?:입금|출금)/i,\n  ];\n  let amount = 0;\n  for (const pattern of amountPatterns) {\n    const match = text.match(pattern);\n    if (match) {\n      amount = parseAmount(match[1]);\n      break;\n    }\n  }\n  const balancePatterns = [\n    /(?:입금후|출금후|거래후)?잔액[:\\s]*([0-9,]+)\\s*원?/i,\n    /balance[:\\s]*([0-9,]+)/i,\n  ];\n  let balance = 0;\n  for (const pattern of balancePatterns) {\n    const match = text.match(pattern);\n    if (match) {\n      balance = parseAmount(match[1]);\n      break;\n    }\n  }\n  if (!sender || amount <= 0 || !direction) return [];\n  return [{\n    direction,\n    party: sender,\n    sender: direction === 'deposit' ? sender : '',\n    amount,\n    occurredAt: parsePlainOccurredAt(text, fallbackDate),\n    balance,\n    bank: '',\n    branch: '',\n    note: subject,\n    externalId: messageId || ('email-' + Date.now() + '-' + amount),\n    rawFrom: from,\n    rawSubject: subject,\n    secureMailType: 'plain_mail',\n    kindLabel: direction === 'deposit' ? '입금' : '출금',\n  }];\n}\n\nconst item = $input.first();\nconst emailJson = item.json ?? {};\nconst binary = item.binary ?? {};\nconst subject = String(emailJson.subject ?? '');\nconst from = String(emailJson.from?.text ?? emailJson.from ?? '');\nconst messageId = String(emailJson.messageId ?? emailJson['message-id'] ?? emailJson.attributes?.uid ?? '');\nconst fallbackDate = emailJson.date;\n\nlet secureHtml = '';\nconst directHtmlCandidates = [\n  String(emailJson.textHtml ?? ''),\n  String(emailJson.html ?? ''),\n  String(emailJson.text ?? ''),\n];\n\nfor (const candidate of directHtmlCandidates) {\n  if (candidate && isVestMailSecureHtml(candidate)) {\n    secureHtml = candidate;\n    break;\n  }\n}\n\nif (!secureHtml) {\n  const binaryItemIndex = typeof $itemIndex === 'number' ? $itemIndex : 0;\n  for (const [binaryKey, binaryValue] of Object.entries(binary)) {\n    const fileName = String(binaryValue.fileName ?? binaryKey ?? '');\n    const mimeType = String(binaryValue.mimeType ?? '');\n    let attachmentText = '';\n    const rawData = typeof binaryValue.data === 'string' ? binaryValue.data : '';\n    if (rawData === 'filesystem-v2') {\n      const binaryHelpers = typeof helpers === 'object' && helpers ? helpers : (typeof this === 'object' && this && typeof this.helpers === 'object' ? this.helpers : null);\n      try {\n        if (binaryHelpers && typeof binaryHelpers.getBinaryDataBuffer === 'function') {\n          const buffer = await binaryHelpers.getBinaryDataBuffer(binaryItemIndex, binaryKey);\n          attachmentText = Buffer.from(buffer).toString('utf8');\n        }\n      } catch {}\n      if (!attachmentText) {\n        try {\n          const fileId = String(binaryValue.id ?? '');\n          let filePath = '';\n          if (binaryHelpers && typeof binaryHelpers.getBinaryPath === 'function') {\n            filePath = String(await binaryHelpers.getBinaryPath(binaryItemIndex, binaryKey) ?? '');\n          }\n          if (!filePath && fileId.startsWith('filesystem-v2:')) {\n            filePath = '/home/node/.n8n/storage/' + fileId.slice('filesystem-v2:'.length);\n          }\n          const localRequire = typeof require === 'function' ? require : null;\n          if (filePath && localRequire) {\n            const fs = localRequire('fs');\n            attachmentText = fs.readFileSync(filePath, 'utf8');\n          }\n        } catch {}\n      }\n    } else if (rawData) {\n      attachmentText = Buffer.from(rawData, 'base64').toString('utf8');\n    }\n    if (!attachmentText) continue;\n    if ((fileName.toLowerCase().endsWith('.html') || mimeType.includes('text/html')) && isVestMailSecureHtml(attachmentText)) {\n      secureHtml = attachmentText;\n      break;\n    }\n  }\n}\n\nlet transactions = [];\nif (secureHtml) {\n  const decryptedHtml = decryptVestMailSecureHtml(secureHtml, SECURE_MAIL_PASSWORD);\n  if (decryptedHtml) {\n    transactions = extractTransactionsFromSecureMailContent(decryptedHtml, fallbackDate, subject, messageId, from);\n  }\n}\n\nif (transactions.length === 0) {\n  const textPlain = String(emailJson.textPlain ?? emailJson.text ?? '');\n  const textHtml = String(emailJson.textHtml ?? emailJson.html ?? '');\n  const mergedText = [subject, stripHtml(textPlain), stripHtml(textHtml)].filter(Boolean).join('\\n');\n  transactions = extractPlainTransactions(mergedText, fallbackDate, subject, messageId, from);\n}\n\nconsole.log('[WF-CRM-02 parser]', JSON.stringify({\n  subject,\n  messageId,\n  binaryKeys: Object.keys(binary),\n  directSecureHtml: Boolean(secureHtml && directHtmlCandidates.some((candidate) => candidate && candidate === secureHtml)),\n  secureHtmlDetected: Boolean(secureHtml),\n  transactionsCount: transactions.length,\n  depositsCount: transactions.filter((entry) => entry.direction === 'deposit').length,\n}));\n\nif (transactions.length === 0) {\n  return [];\n}\n\nconst deposits = transactions.filter((entry) => entry.direction === 'deposit').map((entry) => ({\n  sender: entry.sender || entry.party || '',\n  amount: entry.amount,\n  occurredAt: entry.occurredAt,\n  balance: Number(entry.balance || 0) || 0,\n  note: entry.note,\n  externalId: entry.externalId,\n  rawFrom: entry.rawFrom,\n  rawSubject: entry.rawSubject,\n  secureMailType: entry.secureMailType,\n}));\n\nreturn [{\n  json: {\n    source: secureHtml ? 'email_secure_mail' : 'email_imap',\n    transactions,\n    deposits,\n  },\n}];"
      },
      "id": "code-parse-email",
      "name": "Code: Parse Deposit Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ ($json.deposits || []).length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-has-deposits",
      "name": "IF Has Deposits",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        720,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.pressco21.com/webhook/crm-auto-deposit-intake",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "http-call-intake-engine",
      "name": "HTTP Call Intake Engine",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const parsed = $('Code: Parse Deposit Email').first().json || {};\nconst intake = $('HTTP Call Intake Engine').first().json || {};\nconst accountLabel = String($env.PRESSCO_BANK_ALERT_ACCOUNT_LABEL || $env.PRESSCO_BANK_ACCOUNT_LABEL || '농협 093-01-264177').trim();\nconst deposits = Array.isArray(parsed.deposits) ? parsed.deposits : [];\nconst exactActions = Array.isArray(intake.exactActions) ? intake.exactActions : [];\nconst duplicateEntries = Array.isArray(intake.duplicateEntries) ? intake.duplicateEntries : [];\nconst reviewEntries = Array.isArray(intake.reviewEntries) ? intake.reviewEntries : [];\nconst unmatchedEntries = Array.isArray(intake.unmatchedEntries) ? intake.unmatchedEntries : [];\nconst summary = intake.summary || {};\nconst summaryKey = ['crm', parsed.source || intake.source || 'unknown', deposits.map((entry) => entry.externalId || [entry.sender || '', entry.amount || 0, entry.occurredAt || ''].join(':')).join('|'), summary.exact || 0, summary.review || 0, summary.unmatched || 0, summary.duplicate || 0].join('::');\nconst staticData = $getWorkflowStaticData('global');\nconst sentMap = staticData.presscoCrmTelegramSent || {};\n\nfunction formatAmount(value) { return (Number(value) || 0).toLocaleString() + '원'; }\nfunction formatDate(value) { return String(value || '').replace('T', ' ').slice(0, 16) || '-'; }\nfunction summarizeCandidates(entry) {\n  const candidates = Array.isArray(entry?.candidates)\n    ? entry.candidates.slice(0, 2).map((candidate) => candidate.customerName || candidate.invoiceNo || candidate.kind).filter(Boolean)\n    : [];\n  return candidates.length > 0 ? '후보 ' + candidates.join(', ') : '';\n}\nif (deposits.length === 0 || sentMap[summaryKey]) {\n  return [];\n}\nif (duplicateEntries.length > 0 && exactActions.length === 0 && reviewEntries.length === 0 && unmatchedEntries.length === 0) {\n  return [];\n}\n\nconst leadEntry = deposits[0] || {};\nconst leadSender = String(leadEntry.sender || '미상').trim() || '미상';\nconst lines = [\n  '[입금 알림]',\n  '',\n  '계좌: ' + accountLabel,\n  '입금자: ' + leadSender,\n  '입금별칭추천: ' + leadSender,\n  '입금액: ' + formatAmount(leadEntry.amount),\n  '거래일시: ' + formatDate(leadEntry.occurredAt),\n];\nif (Number(leadEntry.balance) > 0) {\n  lines.push('통장잔액: ' + formatAmount(leadEntry.balance));\n}\nif (deposits.length > 1) {\n  lines.push('추가입금: ' + String(deposits.length - 1) + '건');\n}\n\nif (exactActions.length > 0) {\n  const entry = exactActions[0];\n    const target = entry.kind === 'invoice'\n      ? (entry.invoiceNo ? '명세표 ' + entry.invoiceNo : 'CRM 명세표')\n      : '기존 장부';\n  lines.push('CRM처리: 자동반영 완료');\n  lines.push('안내: ' + (entry.customerName || entry.sender || '미상') + ' / ' + target + ' 반영');\n}\n\nif (exactActions.length === 0 && reviewEntries.length > 0) {\n  const entry = reviewEntries[0];\n  const candidateText = summarizeCandidates(entry);\n  lines.push('CRM처리: 검토 필요');\n  lines.push('안내: ' + (candidateText || String(entry.reason || '수동 확인이 필요합니다.').trim()));\n}\n\nif (exactActions.length === 0 && reviewEntries.length === 0 && unmatchedEntries.length > 0) {\n  const entry = unmatchedEntries[0];\n  lines.push('CRM처리: 미매칭');\n  lines.push('안내: ' + (String(entry.reason || '').trim() || '정확히 일치하는 고객 미수 금액을 찾지 못했습니다.'));\n}\n\nif (exactActions.length === 0 && reviewEntries.length === 0 && unmatchedEntries.length === 0) {\n  lines.push('CRM처리: 접수 완료');\n  lines.push('안내: 자동화 엔진 응답을 확인하지 못해 운영 로그 점검이 필요합니다.');\n}\nsentMap[summaryKey] = new Date().toISOString();\nconst sentKeys = Object.keys(sentMap);\nif (sentKeys.length > 300) {\n  sentKeys.sort((left, right) => String(sentMap[left]).localeCompare(String(sentMap[right]))).slice(0, sentKeys.length - 300).forEach((key) => delete sentMap[key]);\n}\nstaticData.presscoCrmTelegramSent = sentMap;\n\nreturn [{\n  json: {\n    _telegramMessage: lines.join('\\n'),\n    _summaryKey: summaryKey,\n  },\n}];"
      },
      "id": "wf-crm02-build-telegram-summary",
      "name": "Build Telegram Deposit Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        240
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $env.PRESSCO_BANK_CHAT_ID || $env.TELEGRAM_GROUP_ID || $env.TELEGRAM_CHAT_ID || '-5275298126' }}",
        "text": "={{ $json._telegramMessage }}",
        "additionalFields": {}
      },
      "id": "wf-crm02-telegram-deposit-summary",
      "name": "Telegram Deposit Summary",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1300,
        240
      ],
      "credentials": {
        "telegramApi": {
          "id": "RQvOiScJ4KjbJcsS",
          "name": "PRESSCO_BANK_BOT"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const parsed = $('Code: Parse Deposit Email').first().json || {};\nconst transactions = Array.isArray(parsed.transactions) ? parsed.transactions : [];\nconst bankOnlyTransactions = transactions.filter((entry) => String(entry.direction || '').trim() !== 'deposit');\nconst accountLabel = String($env.PRESSCO_BANK_ALERT_ACCOUNT_LABEL || $env.PRESSCO_BANK_ACCOUNT_LABEL || '농협 093-01-264177').trim();\nconst summaryKey = ['bank-events', parsed.source || 'unknown', bankOnlyTransactions.map((entry) => entry.externalId || [entry.direction || '', entry.party || entry.sender || '', entry.amount || 0, entry.occurredAt || ''].join(':')).join('|')].join('::');\nconst staticData = $getWorkflowStaticData('global');\nconst sentMap = staticData.presscoBankTelegramSent || {};\nfunction formatAmount(value) { return (Number(value) || 0).toLocaleString() + '원'; }\nfunction formatDate(value) { return String(value || '').replace('T', ' ').slice(0, 16) || '-'; }\nfunction directionLabel(value) { return value === 'withdrawal' ? '출금' : (value === 'deposit' ? '입금' : '거래'); }\nif (bankOnlyTransactions.length === 0 || sentMap[summaryKey]) {\n  return [];\n}\nconst lines = [\n  '[은행 거래 알림]',\n  '',\n  '계좌: ' + accountLabel,\n];\nbankOnlyTransactions.slice(0, 5).forEach((entry) => {\n  const label = directionLabel(entry.direction);\n  const party = String(entry.party || entry.sender || '미상').trim() || '미상';\n  const suffix = entry.balance ? ' / 잔액 ' + formatAmount(entry.balance) : '';\n  lines.push('- [' + label + '] ' + party + ' / ' + formatAmount(entry.amount) + ' / ' + formatDate(entry.occurredAt) + suffix);\n});\nif (bankOnlyTransactions.length > 5) {\n  lines.push('', '... 외 ' + String(bankOnlyTransactions.length - 5) + '건');\n}\nsentMap[summaryKey] = new Date().toISOString();\nconst sentKeys = Object.keys(sentMap);\nif (sentKeys.length > 300) {\n  sentKeys.sort((left, right) => String(sentMap[left]).localeCompare(String(sentMap[right]))).slice(0, sentKeys.length - 300).forEach((key) => delete sentMap[key]);\n}\nstaticData.presscoBankTelegramSent = sentMap;\nreturn [{ json: { _telegramMessage: lines.join('\\n'), _summaryKey: summaryKey } }];"
      },
      "id": "wf-crm02-build-bank-event-summary",
      "name": "Build Bank Event Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        80
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $env.PRESSCO_BANK_CHAT_ID || $env.TELEGRAM_GROUP_ID || $env.TELEGRAM_CHAT_ID || '-5275298126' }}",
        "text": "={{ $json._telegramMessage }}",
        "additionalFields": {}
      },
      "id": "wf-crm02-telegram-bank-event-summary",
      "name": "Telegram Bank Event Summary",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        980,
        80
      ],
      "credentials": {
        "telegramApi": {
          "id": "RQvOiScJ4KjbJcsS",
          "name": "PRESSCO_BANK_BOT"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "Code: Parse Deposit Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Parse Deposit Email": {
      "main": [
        [
          {
            "node": "IF Has Deposits",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Bank Event Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Has Deposits": {
      "main": [
        [
          {
            "node": "HTTP Call Intake Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Call Intake Engine": {
      "main": [
        [
          {
            "node": "Build Telegram Deposit Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Telegram Deposit Summary": {
      "main": [
        [
          {
            "node": "Telegram Deposit Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Bank Event Summary": {
      "main": [
        [
          {
            "node": "Telegram Bank Event Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "executionOrder": "v1"
  }
}
