n8n-automation/workflows/accounting/WF-CRM-03_입금알림_정합성_감사.json
{
  "name": "WF-CRM-03 입금알림 정합성 감사",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/15 * * * *"
            }
          ]
        }
      },
      "id": "wf-crm03-schedule",
      "name": "매 15분",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ ($env.N8N_BASE_URL || 'https://n8n.pressco21.com') + '/api/v1/workflows/7ql6pPWlBoJhoZqH' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{ $env.N8N_API_KEY }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "wf-crm03-http-wf02",
      "name": "WF-CRM-02 상태 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        -120
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ ($env.N8N_BASE_URL || 'https://n8n.pressco21.com') + '/api/v1/workflows/TmB5jGa1bDMg5pBE' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{ $env.N8N_API_KEY }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "wf-crm03-http-wf01",
      "name": "WF-CRM-01 상태 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "const wf02 = $('WF-CRM-02 상태 조회').first().json || {};\nconst wf01 = $('WF-CRM-01 상태 조회').first().json || {};\nconst static02 = wf02.staticData?.global || {};\nconst static01 = wf01.staticData?.global || {};\nconst mailLedger = Array.isArray(static02.presscoBankMailLedger) ? static02.presscoBankMailLedger : [];\nconst txnLedger = Array.isArray(static02.presscoBankTransactionLedger) ? static02.presscoBankTransactionLedger : [];\nconst failureLog = Array.isArray(static02.presscoCrmFailureLog) ? static02.presscoCrmFailureLog : [];\nconst reviewQueue = Array.isArray(static01.reviewQueue) ? static01.reviewQueue : [];\nconst staticData = $getWorkflowStaticData('global');\nconst sentMap = staticData.presscoBankReconAlertSent && typeof staticData.presscoBankReconAlertSent === 'object'\n  ? staticData.presscoBankReconAlertSent\n  : {};\nif (!staticData.reconBaselineStartedAt) {\n  staticData.reconBaselineStartedAt = new Date().toISOString();\n}\nconst now = Date.now();\nconst pendingThresholdMs = 20 * 60 * 1000;\nconst recentWindowMs = 72 * 60 * 60 * 1000;\nconst dedupeWindowMs = 6 * 60 * 60 * 1000;\nconst issues = [];\n\nfunction toMillis(value) {\n  const date = new Date(value || 0);\n  const time = date.getTime();\n  return Number.isFinite(time) ? time : 0;\n}\n\nfunction formatDateTime(value) {\n  if (!value) return '-';\n  const date = new Date(value);\n  if (!Number.isFinite(date.getTime())) return String(value);\n  return date.toLocaleString('ko-KR', { timeZone: 'Asia/Seoul', hour12: false });\n}\n\nfunction toKstDate(value) {\n  const date = new Date(value || 0);\n  if (!Number.isFinite(date.getTime())) return 'unknown';\n  return new Intl.DateTimeFormat('sv-SE', {\n    timeZone: 'Asia/Seoul',\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n  }).format(date);\n}\n\nfunction pushIssue(key, severity, title, detail) {\n  issues.push({ key, severity, title, detail });\n}\n\nconst baselineAgeMs = now - toMillis(staticData.reconBaselineStartedAt);\nif (baselineAgeMs > recentWindowMs && mailLedger.length === 0) {\n  pushIssue('mail-ledger-empty', 'critical', '메일 ledger 비어 있음', 'WF-CRM-02 staticData에 presscoBankMailLedger가 없습니다.');\n}\n\nif (baselineAgeMs > recentWindowMs && txnLedger.length === 0) {\n  pushIssue('txn-ledger-empty', 'critical', '거래 ledger 비어 있음', 'WF-CRM-02 staticData에 presscoBankTransactionLedger가 없습니다.');\n}\n\nconst recentMail = mailLedger.filter((entry) => now - toMillis(entry.processedAt || entry.receivedAt) <= recentWindowMs);\nconst recentTx = txnLedger.filter((entry) => now - toMillis(entry.parsedAt || entry.lastUpdatedAt || entry.createdAt) <= recentWindowMs);\n\nfor (const entry of recentMail) {\n  const ageMs = now - toMillis(entry.processedAt || entry.receivedAt);\n  if (entry.parseFailure === true) {\n    if (entry.parseAlertStatus === 'failed') {\n      pushIssue(\n        'parse-alert-failed::' + entry.messageKey,\n        'critical',\n        '파싱 실패 경보 Telegram 발송 실패',\n        `${entry.subject || '-'} / ${formatDateTime(entry.processedAt || entry.receivedAt)} / ${entry.parseAlertFailureReason || 'unknown_telegram_error'}`,\n      );\n    } else if (entry.parseAlertStatus !== 'sent' && ageMs > pendingThresholdMs) {\n      pushIssue(\n        'parse-alert-pending::' + entry.messageKey,\n        'critical',\n        '파싱 실패 경보 미발송',\n        `${entry.subject || '-'} / ${formatDateTime(entry.processedAt || entry.receivedAt)} / 사유 ${entry.parseFailureReason || '-'}`,\n      );\n    }\n  }\n}\n\nfor (const entry of recentTx) {\n  const ageMs = now - toMillis(entry.parsedAt || entry.lastUpdatedAt || entry.createdAt);\n  if (entry.alertStatus === 'failed') {\n    pushIssue(\n      'tx-alert-failed::' + entry.eventKey,\n      'critical',\n      '거래 알림 Telegram 발송 실패',\n      `${entry.direction || 'unknown'} / ${entry.party || entry.sender || '-'} / ${(Number(entry.amount) || 0).toLocaleString()}원 / ${formatDateTime(entry.occurredAt || entry.parsedAt)} / ${entry.alertFailureReason || 'unknown_telegram_error'}`,\n    );\n    continue;\n  }\n  if (entry.alertStatus !== 'sent' && ageMs > pendingThresholdMs) {\n    const label = entry.alertKind === 'crm_deposit' ? '입금 CRM 알림' : '은행 거래 알림';\n    pushIssue(\n      'tx-alert-pending::' + entry.eventKey,\n      'critical',\n      label + ' 미확정',\n      `${entry.direction || 'unknown'} / ${entry.party || entry.sender || '-'} / ${(Number(entry.amount) || 0).toLocaleString()}원 / ${formatDateTime(entry.occurredAt || entry.parsedAt)} / 상태 ${entry.alertStatus || 'pending'}`,\n    );\n  }\n}\n\nconst dayMap = new Map();\nfunction getDay(dateKey) {\n  if (!dayMap.has(dateKey)) {\n    dayMap.set(dateKey, {\n      nhMail: 0,\n      parseFailures: 0,\n      deposits: 0,\n      withdrawals: 0,\n      sent: 0,\n      failed: 0,\n      pending: 0,\n    });\n  }\n  return dayMap.get(dateKey);\n}\nfor (const entry of recentMail) {\n  const day = toKstDate(entry.processedAt || entry.receivedAt);\n  const bucket = getDay(day);\n  if (entry.isNhMail) bucket.nhMail += 1;\n  if (entry.parseFailure) bucket.parseFailures += 1;\n}\nfor (const entry of recentTx) {\n  const day = toKstDate(entry.occurredAt || entry.parsedAt || entry.createdAt);\n  const bucket = getDay(day);\n  if (entry.direction === 'deposit') bucket.deposits += 1;\n  else bucket.withdrawals += 1;\n  if (entry.alertStatus === 'sent') bucket.sent += 1;\n  else if (entry.alertStatus === 'failed') bucket.failed += 1;\n  else bucket.pending += 1;\n}\nfor (const [day, bucket] of Array.from(dayMap.entries()).sort()) {\n  if (bucket.parseFailures > 0 || bucket.failed > 0 || bucket.pending > 0) {\n    pushIssue(\n      'daily-mismatch::' + day,\n      'high',\n      `일일 정합성 주의 ${day}`,\n      `NH메일 ${bucket.nhMail} / 파싱실패 ${bucket.parseFailures} / 입금 ${bucket.deposits} / 출금 ${bucket.withdrawals} / sent ${bucket.sent} / failed ${bucket.failed} / pending ${bucket.pending}`,\n    );\n  }\n}\n\nconst recentFailureLog = failureLog.filter((entry) => now - toMillis(entry.loggedAt) <= recentWindowMs);\nconst telegramFailureCount = recentFailureLog.filter((entry) => entry.kind === 'telegram_failure').length;\nif (telegramFailureCount > 0) {\n  pushIssue(\n    'telegram-failure-count::' + telegramFailureCount,\n    'high',\n    '최근 Telegram 실패 로그 존재',\n    `최근 72시간 Telegram 실패 ${telegramFailureCount}건 / reviewQueue pending ${reviewQueue.filter((entry) => entry.status === 'review' || entry.status === 'unmatched').length}건`,\n  );\n}\n\nconst deliverableIssues = issues.filter((issue) => {\n  const sentAt = toMillis(sentMap[issue.key]);\n  return !sentAt || now - sentAt >= dedupeWindowMs;\n});\nif (deliverableIssues.length === 0) {\n  return [];\n}\nfor (const issue of deliverableIssues) {\n  sentMap[issue.key] = new Date(now).toISOString();\n}\nconst sentKeys = Object.keys(sentMap);\nif (sentKeys.length > 500) {\n  sentKeys.sort((left, right) => String(sentMap[left]).localeCompare(String(sentMap[right]))).slice(0, sentKeys.length - 500).forEach((key) => delete sentMap[key]);\n}\nstaticData.presscoBankReconAlertSent = sentMap;\n\nconst severityIcon = (value) => value === 'critical' ? '❌' : '⚠️';\nconst lines = [\n  '[입금 정합성 감사 경보]',\n  '',\n  `감지 시각: ${new Date(now).toLocaleString('ko-KR', { timeZone: 'Asia/Seoul', hour12: false })}`,\n  `최근 NH 메일: ${recentMail.length}건 / 최근 거래 ledger: ${recentTx.length}건 / reviewQueue pending: ${reviewQueue.filter((entry) => entry.status === 'review' || entry.status === 'unmatched').length}건`,\n  '',\n];\ndeliverableIssues.slice(0, 12).forEach((issue) => {\n  lines.push(`${severityIcon(issue.severity)} ${issue.title}`);\n  lines.push(issue.detail);\n  lines.push('');\n});\nif (deliverableIssues.length > 12) {\n  lines.push(`... 외 ${deliverableIssues.length - 12}건`);\n}\nreturn [{ json: { message: lines.join('\\n') } }];"
      },
      "id": "wf-crm03-build-report",
      "name": "Code: Build Reconciliation Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        0
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $env.PRESSCO_BANK_CHAT_ID || $env.TELEGRAM_GROUP_ID || $env.TELEGRAM_CHAT_ID || '-5275298126' }}",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "id": "wf-crm03-telegram",
      "name": "Telegram Reconciliation Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        760,
        0
      ],
      "credentials": {
        "telegramApi": {
          "id": "RQvOiScJ4KjbJcsS",
          "name": "PRESSCO_BANK_BOT"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 2,
        "options": {}
      },
      "id": "wf-crm03-merge-states",
      "name": "Merge Workflow States",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        420,
        0
      ]
    }
  ],
  "connections": {
    "매 15분": {
      "main": [
        [
          {
            "node": "WF-CRM-02 상태 조회",
            "type": "main",
            "index": 0
          },
          {
            "node": "WF-CRM-01 상태 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WF-CRM-02 상태 조회": {
      "main": [
        [
          {
            "node": "Merge Workflow States",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WF-CRM-01 상태 조회": {
      "main": [
        [
          {
            "node": "Merge Workflow States",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Workflow States": {
      "main": [
        [
          {
            "node": "Code: Build Reconciliation Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build Reconciliation Report": {
      "main": [
        [
          {
            "node": "Telegram Reconciliation Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
