n8n-automation/workflows/ad-automation/F15-meta-ads-daily-report.json
{
  "name": "[F15] Meta Ads 일일 성과 리포트",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 * * *"
            }
          ]
        }
      },
      "id": "f15-trigger",
      "name": "매일 09:00 KST",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.facebook.com/v25.0/{{ $env.META_AD_ACCOUNT_ID }}/insights",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "access_token", "value": "={{ $env.META_ACCESS_TOKEN }}" },
            { "name": "fields", "value": "impressions,clicks,spend,ctr,cpc,cpm,reach,actions,cost_per_action_type" },
            { "name": "date_preset", "value": "yesterday" },
            { "name": "level", "value": "account" }
          ]
        },
        "options": { "timeout": 15000, "response": { "response": { "responseFormat": "json" } } }
      },
      "id": "f15-account-insights",
      "name": "어제 계정 성과 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [260, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.facebook.com/v25.0/{{ $env.META_AD_ACCOUNT_ID }}/campaigns",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "access_token", "value": "={{ $env.META_ACCESS_TOKEN }}" },
            { "name": "fields", "value": "name,objective,status,daily_budget,budget_remaining,insights.date_preset(yesterday){impressions,clicks,spend,ctr,actions}" },
            { "name": "effective_status", "value": "[\"ACTIVE\"]" }
          ]
        },
        "options": { "timeout": 15000, "response": { "response": { "responseFormat": "json" } } }
      },
      "id": "f15-campaign-insights",
      "name": "캠페인별 성과 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [260, 520],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const acctResp = $('어제 계정 성과 조회').first().json;\nconst campResp = $('캠페인별 성과 조회').first().json;\n\nconst acctData = acctResp?.data?.[0] || null;\nconst campaigns = campResp?.data || [];\n\nif (!acctData && campaigns.length === 0) {\n  return [{ json: {\n    hasData: false,\n    message: '어제 Meta 광고 집행 데이터가 없습니다.'\n  }}];\n}\n\nconst spend = parseFloat(acctData?.spend || '0');\nconst impressions = parseInt(acctData?.impressions || '0');\nconst clicks = parseInt(acctData?.clicks || '0');\nconst ctr = parseFloat(acctData?.ctr || '0');\nconst cpc = parseFloat(acctData?.cpc || '0');\nconst reach = parseInt(acctData?.reach || '0');\n\nconst actions = acctData?.actions || [];\nconst purchases = actions.find(a => a.action_type === 'purchase');\nconst addToCart = actions.find(a => a.action_type === 'add_to_cart');\nconst linkClicks = actions.find(a => a.action_type === 'link_click');\n\nconst costPerAction = acctData?.cost_per_action_type || [];\nconst costPerPurchase = costPerAction.find(a => a.action_type === 'purchase');\n\nlet campLines = '';\nfor (const c of campaigns) {\n  const ci = c.insights?.data?.[0];\n  if (!ci) continue;\n  const cSpend = parseFloat(ci.spend || '0');\n  const cClicks = parseInt(ci.clicks || '0');\n  const cImpr = parseInt(ci.impressions || '0');\n  campLines += '  ' + c.name + ': ' + cSpend.toLocaleString() + '원';\n  campLines += ' | ' + cImpr.toLocaleString() + '노출';\n  campLines += ' | ' + cClicks + '클릭';\n  campLines += '\\n';\n}\n\nconst yesterday = new Date();\nyesterday.setDate(yesterday.getDate() - 1);\nconst dateStr = yesterday.toISOString().slice(0, 10);\n\nlet msg = '📊 *Meta Ads 일일 리포트*\\n';\nmsg += dateStr + '\\n\\n';\nmsg += '💰 *계정 전체*\\n';\nmsg += '  비용: ' + spend.toLocaleString() + '원\\n';\nmsg += '  노출: ' + impressions.toLocaleString() + '\\n';\nmsg += '  도달: ' + reach.toLocaleString() + '\\n';\nmsg += '  클릭: ' + clicks.toLocaleString() + '\\n';\nmsg += '  CTR: ' + ctr.toFixed(2) + '%\\n';\nmsg += '  CPC: ' + cpc.toLocaleString() + '원\\n';\n\nif (purchases) {\n  msg += '  구매: ' + purchases.value + '건\\n';\n  if (costPerPurchase) {\n    msg += '  구매당 비용: ' + parseFloat(costPerPurchase.value).toLocaleString() + '원\\n';\n    const roas = purchases.value > 0 ? ((purchases.value * 30000) / spend * 100).toFixed(0) : '0';\n    msg += '  추정 ROAS: ' + roas + '%\\n';\n  }\n}\n\nif (campLines) {\n  msg += '\\n📋 *캠페인별*\\n' + campLines;\n}\n\nif (spend === 0) {\n  msg += '\\n⚠️ 어제 집행액 0원 — 캠페인이 일시정지 상태일 수 있습니다.';\n}\n\nreturn [{ json: { hasData: true, message: msg, spend, impressions, clicks } }];"
      },
      "id": "f15-build-report",
      "name": "리포트 생성",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, 400]
    },
    {
      "parameters": {
        "chatId": "-5154731145",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "f15-send-tg",
      "name": "텔레그램 그룹 발송",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [820, 400],
      "credentials": {
        "telegramApi": {
          "id": "RdFu3nsFuuO5NCff",
          "name": "Telegram Makeshop Bot"
        }
      }
    }
  ],
  "connections": {
    "매일 09:00 KST": {
      "main": [
        [
          { "node": "어제 계정 성과 조회", "type": "main", "index": 0 },
          { "node": "캠페인별 성과 조회", "type": "main", "index": 0 }
        ]
      ]
    },
    "어제 계정 성과 조회": {
      "main": [
        [{ "node": "리포트 생성", "type": "main", "index": 0 }]
      ]
    },
    "캠페인별 성과 조회": {
      "main": [
        [{ "node": "리포트 생성", "type": "main", "index": 0 }]
      ]
    },
    "리포트 생성": {
      "main": [
        [{ "node": "텔레그램 그룹 발송", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Seoul"
  },
  "tags": [{ "name": "ad-automation" }]
}
