메인페이지/유튜브 자동화/n8n-워크플로우/WF-YT-AI-MATCH-ai-keyword-match.json
{
  "name": "WF-YT-AI-MATCH AI Keyword Match",
  "nodes": [
    {
      "id": "wytai-01",
      "name": "Schedule Daily 04",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 4 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "wytai-02",
      "name": "Get Active Videos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://nocodb.pressco21.com/api/v1/db/data/noco/{{ $env.NOCODB_YOUTUBE_BASE_ID }}/myujhqim7kcd5c9",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "where",
              "value": "(status,eq,active)"
            },
            {
              "name": "fields",
              "value": "video_id,Id,title,description,tags,matched_category"
            },
            {
              "name": "limit",
              "value": "200"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "JmXQGe9254wG4qVZ",
          "name": "NocoDB API Token"
        }
      }
    },
    {
      "id": "wytai-03",
      "name": "Get All VPs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://nocodb.pressco21.com/api/v1/db/data/noco/{{ $env.NOCODB_YOUTUBE_BASE_ID }}/m6wv7he8qwjs43g",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "Id,video_id,branduid,source,is_active"
            },
            {
              "name": "limit",
              "value": "10000"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "JmXQGe9254wG4qVZ",
          "name": "NocoDB API Token"
        }
      }
    },
    {
      "id": "wytai-04",
      "name": "Get All Products",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://nocodb.pressco21.com/api/v1/db/data/noco/{{ $env.NOCODB_YOUTUBE_BASE_ID }}/mq4aef7kh1tg1zz",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "where",
              "value": "(status,eq,active)"
            },
            {
              "name": "fields",
              "value": "branduid,product_name,price,image_url,product_url,category_name,keywords"
            },
            {
              "name": "limit",
              "value": "10000"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "JmXQGe9254wG4qVZ",
          "name": "NocoDB API Token"
        }
      }
    },
    {
      "id": "wytai-05",
      "name": "Filter For AI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        300
      ],
      "parameters": {
        "jsCode": "// AI 처리가 필요한 영상 필터링\n// - description/comment 직접 매칭 있는 영상 제외\n// - 이미 active ai VP가 있는 영상 제외 (재처리 방지)\nvar videosResp = $('Get Active Videos').first().json;\nvar vpsResp = $('Get All VPs').first().json;\n\nvar videos = (videosResp && videosResp.list) ? videosResp.list : [];\nvar allVPs = (vpsResp && vpsResp.list) ? vpsResp.list : [];\n\n// 이미 처리된 video_id 수집 (description/comment/ai 모두 제외)\nvar skipVideoIds = {};\nfor (var i = 0; i < allVPs.length; i++) {\n  var vp = allVPs[i];\n  if (vp.source === 'description' || vp.source === 'comment') {\n    skipVideoIds[vp.video_id] = true;  // 직접 링크 있음\n  }\n  if (vp.source === 'ai' && vp.is_active) {\n    skipVideoIds[vp.video_id] = true;  // 이미 AI 처리됨\n  }\n}\n\n// AI 처리 대상: 아직 미처리된 영상만\nvar toProcess = [];\nfor (var j = 0; j < videos.length; j++) {\n  var v = videos[j];\n  if (!skipVideoIds[v.video_id]) {\n    toProcess.push(v);\n  }\n}\n\nreturn [{ json: { videos: toProcess, count: toProcess.length } }];"
      }
    },
    {
      "id": "wytai-06",
      "name": "Any To Process",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1320,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      }
    },
    {
      "id": "wytai-20",
      "name": "Process AI Match",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        200
      ],
      "parameters": {
        "jsCode": "// === WF-YT-AI-MATCH v6: new URL() 제거 (n8n 샌드박스 호환) ===\n\nvar GEMINI_KEY = ($env && $env.GEMINI_API_KEY) ? $env.GEMINI_API_KEY : 'AIzaSyC-97PMBNhsqNHWo4Pxye6dY7yOly83xKI';\nvar NOCODB_TOKEN = 'SIxKK9NtvgsQeLnMQcxbi5pNJGF7tJhnrv6LLGFl';\nvar YT_BASE = ($env && $env.NOCODB_YOUTUBE_BASE_ID) ? $env.NOCODB_YOUTUBE_BASE_ID : 'pa0dvaitqtslfrx';\nvar VP_URL = 'https://nocodb.pressco21.com/api/v1/db/data/noco/' + YT_BASE + '/m6wv7he8qwjs43g';\nvar BULK_PATCH_URL = 'https://nocodb.pressco21.com/api/v1/db/data/bulk/noco/' + YT_BASE + '/m6wv7he8qwjs43g';\n\nvar BATCH_LIMIT = 20;\nvar CALL_DELAY_MS = 400;\n\n// https POST (new URL 불사용 - n8n 샌드박스 호환)\nfunction httpPost(urlStr, headers, bodyObj) {\n  return new Promise(function(resolve, reject) {\n    var https = require('https');\n    var bodyStr = JSON.stringify(bodyObj);\n    var req = https.request(urlStr, { method: 'POST', headers: headers }, function(res) {\n      var d = '';\n      res.on('data', function(c) { d += c; });\n      res.on('end', function() {\n        try { resolve(JSON.parse(d)); } catch(e) { resolve({}); }\n      });\n    });\n    req.on('error', function(e) { reject(e); });\n    req.write(bodyStr);\n    req.end();\n  });\n}\n\n// https PATCH (new URL 불사용)\nfunction httpPatch(urlStr, headers, bodyObj) {\n  return new Promise(function(resolve, reject) {\n    var https = require('https');\n    var bodyStr = JSON.stringify(bodyObj);\n    var req = https.request(urlStr, { method: 'PATCH', headers: headers }, function(res) {\n      var d = '';\n      res.on('data', function(c) { d += c; });\n      res.on('end', function() { resolve(d); });\n    });\n    req.on('error', function(e) { reject(e); });\n    req.write(bodyStr);\n    req.end();\n  });\n}\n\n// 데이터 로드\nvar filterData = $('Filter For AI').first().json;\nvar allTargets = filterData.videos || [];\nvar aiTargets = allTargets.slice(0, BATCH_LIMIT);\n\nvar productsResp = $('Get All Products').first().json;\nvar allProducts = productsResp.list || [];\n\nvar vpsResp = $('Get All VPs').first().json;\nvar existingVPs = vpsResp.list || [];\n\n// 기존 description/comment VP 세트\nvar existingDirectSet = {};\nfor (var i = 0; i < existingVPs.length; i++) {\n  var xvp = existingVPs[i];\n  if (xvp.source === 'description' || xvp.source === 'comment') {\n    existingDirectSet[xvp.video_id + '::' + String(xvp.branduid)] = true;\n  }\n}\n\nfunction normalize(s) {\n  return (s || '').toLowerCase()\n    .replace(/스텐/g, '스탠').replace(/텐드/g, '탠드')\n    .replace(/레짐/g, '레진').replace(/켄들/g, '캔들')\n    .replace(/에폭씨/g, '에폭시').replace(/레즌/g, '레진')\n    .replace(/하바륨/g, '하바리움');\n}\n\nasync function callGemini(prompt, maxTokens) {\n  var url = 'https://generativelanguage.googleapis.com/v1beta/models/gemini-flash-latest:generateContent?key=' + GEMINI_KEY;\n  try {\n    var resp = await httpPost(url, { 'Content-Type': 'application/json' }, {\n      contents: [{ role: 'user', parts: [{ text: prompt }] }],\n      generationConfig: { temperature: 0.1, maxOutputTokens: maxTokens || 400, thinkingConfig: {thinkingBudget: 0} }\n    });\n    var candidates = (resp && resp.candidates) ? resp.candidates : [];\n    if (candidates.length === 0) return {};\n    var parts = ((candidates[0].content || {}).parts || []);\n    var text = '';\n    for (var pi = 0; pi < parts.length; pi++) {\n      if (parts[pi].text) text += parts[pi].text;\n    }\n    var m = text.match(/\\{[\\s\\S]*\\}/);\n    if (m) { try { return JSON.parse(m[0]); } catch(e2) { return {}; } }\n    return {};\n  } catch(e) {\n    return { _error: String(e).substring(0, 100) };\n  }\n}\n\nfunction scoreProducts(keywords, aiCat, topN) {\n  var scored = [];\n  for (var j = 0; j < allProducts.length; j++) {\n    var prod = allProducts[j];\n    var pname = normalize(prod.product_name || '');\n    var pkws = [];\n    try { pkws = JSON.parse(prod.keywords || '[]'); } catch(e) {}\n    var score = 0;\n    for (var k = 0; k < keywords.length; k++) {\n      var kw = normalize(keywords[k]);\n      if (kw.length < 2) continue;\n      if (pname.indexOf(kw) >= 0 || pkws.some(function(pk) { return normalize(pk) === kw; })) {\n        score += 5;\n      } else {\n        var wparts = kw.split(/\\s+/);\n        for (var wp = 0; wp < wparts.length; wp++) {\n          if (wparts[wp].length >= 2 && pname.indexOf(wparts[wp]) >= 0) { score += 2; }\n        }\n      }\n    }\n    if (aiCat && normalize(prod.category_name || '').indexOf(normalize(aiCat)) >= 0) score += 1;\n    if (score > 0) scored.push({ score: score, prod: prod });\n  }\n  scored.sort(function(a, b) { return b.score - a.score; });\n  return scored.slice(0, topN || 20).map(function(item) {\n    return {\n      branduid: String(item.prod.branduid || ''),\n      product_name: item.prod.product_name || '',\n      product_price: item.prod.price || 0,\n      product_image: item.prod.image_url || '',\n      product_url: item.prod.product_url || ('/shop/shopdetail.html?branduid=' + item.prod.branduid),\n      score: item.score\n    };\n  });\n}\n\nvar processed = 0, inserted = 0, skipped = 0;\nvar errors = [];\n\nfor (var vi = 0; vi < aiTargets.length; vi++) {\n  var v = aiTargets[vi];\n  var videoId = v.video_id;\n  try {\n    var title = v.title || '';\n    var tags = [];\n    try { tags = JSON.parse(v.tags || '[]'); } catch(e) {}\n    var cat = v.matched_category || '';\n\n    var s1Prompt = '당신은 한국 공예 재료 쇼핑몰 상품 매칭 전문가입니다.\\n다음 YouTube 영상에서 사용된 핵심 재료명을 최대 5개 추출해주세요.\\n\\n영상 제목: ' + title + '\\n';\n    if (cat) s1Prompt += '카테고리: ' + cat + '\\n';\n    if (tags.length > 0) s1Prompt += '태그: ' + tags.slice(0, 5).join(', ') + '\\n';\n    s1Prompt += '\\nJSON으로만 응답:\\n{\"keywords\": [\"키워드1\"], \"category\": \"압화|레진|캔들|석고|비즈|기타\"}';\n\n    var stage1 = await callGemini(s1Prompt, 300);\n    var keywords = stage1.keywords || [];\n    var aiCat = stage1.category || '';\n\n    if (stage1._error || keywords.length === 0) {\n      errors.push(videoId + ':s1:' + (stage1._error || 'no_kw'));\n      skipped++; continue;\n    }\n\n    var candidates = scoreProducts(keywords, aiCat, 20);\n    if (candidates.length === 0) { skipped++; continue; }\n\n    var top10 = candidates.slice(0, 10);\n    var candList = top10.map(function(c, idx) {\n      return (idx + 1) + '. branduid=' + c.branduid + ' | ' + c.product_name;\n    }).join('\\n');\n\n    var s2Prompt = '한국 공예 YouTube 영상에서 사용할 재료를 고르는 전문가입니다.\\n\\n영상 제목: ' + title + '\\n키워드: ' + keywords.join(', ') + '\\n\\n아래 상품에서 실제 사용 재료/도구/용기 최대 4개 선택 (완성품 제외, 원재료만):\\n' + candList + '\\n\\nJSON으로만 응답:\\n{\"selected_branduids\": [\"branduid1\"]}';\n\n    var stage2 = await callGemini(s2Prompt, 200);\n    var selBranduids = stage2.selected_branduids || [];\n    var finalCands = candidates.filter(function(c) {\n      return selBranduids.indexOf(String(c.branduid)) >= 0;\n    });\n    if (finalCands.length === 0) finalCands = candidates.slice(0, 4);\n\n    // 기존 keyword/ai VP 비활성화\n    var oldVPs = existingVPs.filter(function(vp) {\n      return vp.video_id === videoId && (vp.source === 'keyword' || vp.source === 'ai');\n    });\n    if (oldVPs.length > 0) {\n      try {\n        await httpPatch(BULK_PATCH_URL,\n          { 'xc-token': NOCODB_TOKEN, 'Content-Type': 'application/json' },\n          oldVPs.map(function(vp) { return { Id: vp.Id, is_active: false }; })\n        );\n      } catch(e) {}\n    }\n\n    // 새 VP 삽입\n    for (var ci = 0; ci < finalCands.length; ci++) {\n      var c = finalCands[ci];\n      var key = videoId + '::' + String(c.branduid);\n      if (existingDirectSet[key]) continue;\n      try {\n        await httpPost(VP_URL,\n          { 'xc-token': NOCODB_TOKEN, 'Content-Type': 'application/json' },\n          {\n            video_id: videoId, branduid: String(c.branduid),\n            product_name: c.product_name, product_price: c.product_price,\n            product_image: c.product_image, product_url: c.product_url,\n            source: 'ai', confidence: 'medium', match_score: c.score,\n            display_order: ci + 1, is_active: true,\n            matched_at: new Date().toISOString()\n          }\n        );\n        inserted++;\n      } catch(e) {\n        errors.push(videoId + ':insert:' + String(e).substring(0, 40));\n      }\n    }\n\n    processed++;\n    if (vi < aiTargets.length - 1) {\n      await new Promise(function(r) { setTimeout(r, CALL_DELAY_MS); });\n    }\n  } catch(e) {\n    errors.push(videoId + ':' + String(e).substring(0, 50));\n  }\n}\n\nreturn [{ json: {\n  processed: processed, inserted: inserted, skipped: skipped,\n  total: allTargets.length, batched: aiTargets.length,\n  errorCount: errors.length, errors: errors.slice(0, 5)\n} }];"
      }
    },
    {
      "id": "wytai-14",
      "name": "Send AI Summary",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1760,
        200
      ],
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID || '7713811206' }}",
        "text": "=*[WF-YT-AI] AI 2단계 매칭 완료* ({{ new Date().toISOString().substring(0,10) }})\n대상 영상: {{ $('Filter For AI').first().json.count }}개\n처리: {{ $json.processed }}개 | 삽입: {{ $json.inserted }}개 | 스킵: {{ $json.skipped }}개\n오류: {{ $json.errorCount }}건{{ $json.errorCount > 0 ? '\\n' + ($json.errors || []).join('\\n') : '' }}"
      },
      "credentials": {
        "telegramApi": {
          "id": "eS5YwFGpbJht6uCB",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Schedule Daily 04": {
      "main": [
        [
          {
            "node": "Get Active Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Videos": {
      "main": [
        [
          {
            "node": "Get All VPs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All VPs": {
      "main": [
        [
          {
            "node": "Get All Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Products": {
      "main": [
        [
          {
            "node": "Filter For AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter For AI": {
      "main": [
        [
          {
            "node": "Any To Process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any To Process": {
      "main": [
        [
          {
            "node": "Process AI Match",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Process AI Match": {
      "main": [
        [
          {
            "node": "Send AI Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}