메인페이지/유튜브 자동화/n8n-워크플로우/WF-YT-CATALOG-product-sync.json
{
  "name": "WF-YT-CATALOG Product Sync",
  "nodes": [
    {
      "id": "wytc-01",
      "name": "Schedule 03:30",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 300],
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "30 3 * * *" }]
        }
      }
    },
    {
      "id": "wytc-02",
      "name": "Fetch Page 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "parameters": {
        "method": "GET",
        "url": "https://foreverlove.co.kr/list/open_api.html",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Shopkey", "value": "={{ $env.MAKESHOP_SHOPKEY }}" },
            { "name": "Licensekey", "value": "={{ $env.MAKESHOP_LICENSEKEY }}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "mode", "value": "search" },
            { "name": "type", "value": "product" },
            { "name": "pageSize", "value": "1000" },
            { "name": "page", "value": "1" }
          ]
        },
        "options": { "response": { "response": { "responseFormat": "text" } } }
      }
    },
    {
      "id": "wytc-03",
      "name": "Fetch Page 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 300],
      "parameters": {
        "method": "GET",
        "url": "https://foreverlove.co.kr/list/open_api.html",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Shopkey", "value": "={{ $env.MAKESHOP_SHOPKEY }}" },
            { "name": "Licensekey", "value": "={{ $env.MAKESHOP_LICENSEKEY }}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "mode", "value": "search" },
            { "name": "type", "value": "product" },
            { "name": "pageSize", "value": "1000" },
            { "name": "page", "value": "2" }
          ]
        },
        "options": { "response": { "response": { "responseFormat": "text" } } }
      }
    },
    {
      "id": "wytc-04",
      "name": "Fetch Page 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 300],
      "parameters": {
        "method": "GET",
        "url": "https://foreverlove.co.kr/list/open_api.html",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Shopkey", "value": "={{ $env.MAKESHOP_SHOPKEY }}" },
            { "name": "Licensekey", "value": "={{ $env.MAKESHOP_LICENSEKEY }}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "mode", "value": "search" },
            { "name": "type", "value": "product" },
            { "name": "pageSize", "value": "1000" },
            { "name": "page", "value": "3" }
          ]
        },
        "options": { "response": { "response": { "responseFormat": "text" } } }
      }
    },
    {
      "id": "wytc-05",
      "name": "Fetch Page 4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1180, 300],
      "parameters": {
        "method": "GET",
        "url": "https://foreverlove.co.kr/list/open_api.html",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Shopkey", "value": "={{ $env.MAKESHOP_SHOPKEY }}" },
            { "name": "Licensekey", "value": "={{ $env.MAKESHOP_LICENSEKEY }}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "mode", "value": "search" },
            { "name": "type", "value": "product" },
            { "name": "pageSize", "value": "1000" },
            { "name": "page", "value": "4" }
          ]
        },
        "options": { "response": { "response": { "responseFormat": "text" } } }
      }
    },
    {
      "id": "wytc-06",
      "name": "Fetch Page 5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1420, 300],
      "parameters": {
        "method": "GET",
        "url": "https://foreverlove.co.kr/list/open_api.html",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Shopkey", "value": "={{ $env.MAKESHOP_SHOPKEY }}" },
            { "name": "Licensekey", "value": "={{ $env.MAKESHOP_LICENSEKEY }}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "mode", "value": "search" },
            { "name": "type", "value": "product" },
            { "name": "pageSize", "value": "1000" },
            { "name": "page", "value": "5" }
          ]
        },
        "options": { "response": { "response": { "responseFormat": "text" } } }
      }
    },
    {
      "id": "wytc-07",
      "name": "Fetch Page 6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1660, 300],
      "parameters": {
        "method": "GET",
        "url": "https://foreverlove.co.kr/list/open_api.html",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Shopkey", "value": "={{ $env.MAKESHOP_SHOPKEY }}" },
            { "name": "Licensekey", "value": "={{ $env.MAKESHOP_LICENSEKEY }}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "mode", "value": "search" },
            { "name": "type", "value": "product" },
            { "name": "pageSize", "value": "1000" },
            { "name": "page", "value": "6" }
          ]
        },
        "options": { "response": { "response": { "responseFormat": "text" } } }
      }
    },
    {
      "id": "wytc-08",
      "name": "Parse All Products",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1900, 300],
      "parameters": {
        "jsCode": "// 메이크샵 전체 상품 카탈로그 파싱 (6페이지 순차 집계)\n// 올바른 엔드포인트: /list/open_api.html?type=product&page=N\n// 올바른 응답 키: list[] (datas 아님), uid (branduid 아님)\n// category_name: cate1 코드 → 메이크샵 실제 카테고리명으로 변환 (2026-03-01 업데이트)\nvar CATE1_MAP = {\n  '014': '완성품쇼핑',\n  '018': '처음이라면',\n  '019': '강사공간',\n  '020': 'MYPOOL 상품',\n  '021': '보류/삭제 상품',\n  '022': '파트너클래스',\n  '056': '압화',\n  '057': '하바리움',\n  '081': '드라이&프리저브드 플라워',\n  '097': '개인결제창',\n  '118': '레칸플라워갤러리 II',\n  '121': '완성품쇼핑',\n  '125': '레진공예',\n  '126': '식물표본',\n  '143': '레칸플라워',\n  '151': '강사공간',\n  '167': 'FP(friendly plastic)'\n};\n// 상품명 기반 키워드 추출 (검색 보조용)\nvar CATEGORY_KEYWORDS = {\n  '압화': ['압화','프레스드플라워','프레스드','건조꽃','드라이플라워','하바리움','부케','꽃다발','꽃','프리저브드'],\n  '레진': ['레진','UV레진','에폭시','실리콘몰드','몰드','레지너스','꽃레진'],\n  '캔들': ['캔들','왁스','소이왁스','향초','심지'],\n  '석고': ['석고','방향제','아로마'],\n  '비즈': ['비즈','구슬','클레이']\n};\nfunction extractKeywords(name) {\n  if (!name) return [];\n  var kws = [];\n  for (var cat in CATEGORY_KEYWORDS) {\n    var ws = CATEGORY_KEYWORDS[cat];\n    for (var i = 0; i < ws.length; i++) {\n      if (name.indexOf(ws[i]) >= 0 && kws.indexOf(ws[i]) < 0) kws.push(ws[i]);\n    }\n  }\n  return kws;\n}\nfunction parsePage(item) {\n  try {\n    var raw = item.json;\n    var body = typeof raw === 'string' ? raw : (raw.data || raw.body || JSON.stringify(raw));\n    if (typeof body === 'object') body = JSON.stringify(body);\n    var d = JSON.parse(body);\n    if (!d || d.return_code !== '0000') return [];\n    return Array.isArray(d.list) ? d.list : [];\n  } catch(e) { return []; }\n}\nvar allRaw = [];\ntry { allRaw = allRaw.concat(parsePage($('Fetch Page 1').first())); } catch(e) {}\ntry { allRaw = allRaw.concat(parsePage($('Fetch Page 2').first())); } catch(e) {}\ntry { allRaw = allRaw.concat(parsePage($('Fetch Page 3').first())); } catch(e) {}\ntry { allRaw = allRaw.concat(parsePage($('Fetch Page 4').first())); } catch(e) {}\ntry { allRaw = allRaw.concat(parsePage($('Fetch Page 5').first())); } catch(e) {}\ntry { allRaw = allRaw.concat(parsePage($('Fetch Page 6').first())); } catch(e) {}\n// YouTube 상품 매칭에 불필요한 카테고리 제외 (재동기화 시 재삽입 방지)\nvar EXCLUDE_CATE1 = { '000': true, '019': true, '020': true, '021': true, '022': true, '097': true, '151': true };\nvar records = [];\nvar now = new Date().toISOString();\nfor (var j = 0; j < allRaw.length; j++) {\n  var p = allRaw[j];\n  if (p.sell_accept !== 'Y' || p.display !== 'Y') continue;\n  if (EXCLUDE_CATE1[String(p.cate1 || '')]) continue; // 강사공간/MYPOOL/보류/파트너클래스/개인결제 제외\n  var uid = String(p.uid || '');\n  var name = p.product_name || '';\n  if (!uid || !name) continue;\n  var price = parseInt(p.sellprice) || 0;\n  var image = '';\n  var imgSrc = p.minimage || p.tinyimage || p.maximage || '';\n  if (imgSrc && typeof imgSrc === 'string' && imgSrc.trim()) {\n    image = imgSrc.split('?')[0].trim();\n    if (image && !image.startsWith('http')) image = 'https://foreverlove.co.kr' + image;\n  }\n  records.push({\n    branduid: uid,\n    product_name: name,\n    price: price,\n    image_url: image,\n    product_url: 'https://foreverlove.co.kr/shop/shopdetail.html?branduid=' + uid,\n    category_name: CATE1_MAP[String(p.cate1 || '')] || '',\n    keywords: JSON.stringify(extractKeywords(name)),\n    status: 'active',\n    synced_at: now\n  });\n}\nif (records.length === 0) {\n  throw new Error('활성 상품이 없습니다. API 응답 확인 필요 (endpoint: /list/open_api.html)');\n}\nreturn [{ json: { products: records, total: records.length } }];"
      }
    },
    {
      "id": "wytc-09",
      "name": "Get Existing Products",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2140, 300],
      "parameters": {
        "method": "GET",
        "url": "=https://nocodb.pressco21.com/api/v1/db/data/noco/{{ $env.NOCODB_YOUTUBE_BASE_ID }}/mq4aef7kh1tg1zz",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "fields", "value": "branduid,Id,price" },
            { "name": "limit", "value": "10000" }
          ]
        },
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": { "id": "JmXQGe9254wG4qVZ", "name": "NocoDB API Token" }
      }
    },
    {
      "id": "wytc-10",
      "name": "Upsert Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2380, 300],
      "parameters": {
        "jsCode": "var parsed = $('Parse All Products').first().json;\nvar existingResp = $input.first().json;\nvar newProducts = parsed.products || [];\nvar existing = (existingResp && existingResp.list) ? existingResp.list : [];\nvar existingMap = {};\nfor (var i = 0; i < existing.length; i++) {\n  existingMap[String(existing[i].branduid)] = { id: existing[i].Id, price: existing[i].price };\n}\nvar toInsert = [];\nvar toUpdate = [];\nfor (var j = 0; j < newProducts.length; j++) {\n  var p = newProducts[j];\n  var ex = existingMap[String(p.branduid)];\n  if (ex) {\n    if (String(ex.price) !== String(p.price)) {\n      toUpdate.push({ Id: ex.id, price: p.price, synced_at: p.synced_at });\n    }\n  } else {\n    toInsert.push(p);\n  }\n}\nreturn [{ json: { toInsert: toInsert, toUpdate: toUpdate, insertCount: toInsert.length, updateCount: toUpdate.length, totalProcessed: newProducts.length } }];"
      }
    },
    {
      "id": "wytc-11",
      "name": "Bulk Insert New",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2620, 300],
      "parameters": {
        "method": "POST",
        "url": "=https://nocodb.pressco21.com/api/v1/db/data/bulk/noco/{{ $env.NOCODB_YOUTUBE_BASE_ID }}/mq4aef7kh1tg1zz",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.toInsert.length > 0 ? $json.toInsert : [] }}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": { "id": "JmXQGe9254wG4qVZ", "name": "NocoDB API Token" }
      }
    },
    {
      "id": "wytc-12",
      "name": "Build Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2860, 300],
      "parameters": {
        "jsCode": "var d = $('Upsert Decision').first().json;\nvar now = new Date().toLocaleString('ko-KR', { timeZone: 'Asia/Seoul' });\nvar msg = '\uD83D\uDCE6 메이크샵 상품 카탈로그 동기화 완료\\n처리: ' + (d.totalProcessed||0) + '개\\n신규: ' + (d.insertCount||0) + '개\\n가격갱신: ' + (d.updateCount||0) + '개\\n시간: ' + now;\nreturn [{ json: { message: msg, insertCount: d.insertCount, updateCount: d.updateCount, totalProcessed: d.totalProcessed } }];"
      }
    },
    {
      "id": "wytc-13",
      "name": "Telegram Notify",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [3100, 300],
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": { "id": "eS5YwFGpbJht6uCB", "name": "PRESSCO21 Telegram Bot" }
      }
    }
  ],
  "connections": {
    "Schedule 03:30": {
      "main": [[{ "node": "Fetch Page 1", "type": "main", "index": 0 }]]
    },
    "Fetch Page 1": {
      "main": [[{ "node": "Fetch Page 2", "type": "main", "index": 0 }]]
    },
    "Fetch Page 2": {
      "main": [[{ "node": "Fetch Page 3", "type": "main", "index": 0 }]]
    },
    "Fetch Page 3": {
      "main": [[{ "node": "Fetch Page 4", "type": "main", "index": 0 }]]
    },
    "Fetch Page 4": {
      "main": [[{ "node": "Fetch Page 5", "type": "main", "index": 0 }]]
    },
    "Fetch Page 5": {
      "main": [[{ "node": "Fetch Page 6", "type": "main", "index": 0 }]]
    },
    "Fetch Page 6": {
      "main": [[{ "node": "Parse All Products", "type": "main", "index": 0 }]]
    },
    "Parse All Products": {
      "main": [[{ "node": "Get Existing Products", "type": "main", "index": 0 }]]
    },
    "Get Existing Products": {
      "main": [[{ "node": "Upsert Decision", "type": "main", "index": 0 }]]
    },
    "Upsert Decision": {
      "main": [[{ "node": "Bulk Insert New", "type": "main", "index": 0 }]]
    },
    "Bulk Insert New": {
      "main": [[{ "node": "Build Summary", "type": "main", "index": 0 }]]
    },
    "Build Summary": {
      "main": [[{ "node": "Telegram Notify", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" }
}
