n8n-automation/workflows/homepage/F050_AI_chatbot.json
{
  "name": "F050: AI 챗봇 백엔드",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f050-chat",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://www.foreverlove.co.kr,https://foreverlove.co.kr"
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook POST",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "f050-chat"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://nocodb.pressco21.com/api/v2/tables/m44vkmso6lzoef9/records?where=(active,eq,true)&limit=1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "http-nocodb-prompt",
      "name": "NocoDB 프롬프트 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Vyw7FAboYUzOK48Q",
          "name": "NocoDB API Token"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://nocodb.pressco21.com/api/v2/tables/AI_CHATBOT_FAQ_TABLE_ID/records?where=(active,eq,true)&sort=priority&limit=100",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "http-nocodb-faq",
      "name": "NocoDB FAQ 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        300
      ],
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "Vyw7FAboYUzOK48Q",
          "name": "NocoDB API Token"
        }
      },
      "notes": "NocoDB FAQ 테이블 생성 후 AI_CHATBOT_FAQ_TABLE_ID를 실제 ID로 교체. continueOnFail=true로 인라인 폴백 유지."
    },
    {
      "parameters": {
        "jsCode": "// NocoDB 설정 데이터\nconst nocoResp = $('NocoDB 프롬프트 조회').first().json;\nconst promptData = (nocoResp.list && nocoResp.list.length > 0) ? nocoResp.list[0] : {};\n\n// NocoDB FAQ 데이터 (오류 또는 비어있으면 인라인 폴백 사용)\nconst faqNodeResult = $input.first().json;\nconst faqList = (!faqNodeResult.error && faqNodeResult.list && faqNodeResult.list.length > 0)\n  ? faqNodeResult.list : [];\n\n// 웹훅 원본 데이터\nconst webhookJson = $('Webhook POST').first().json;\nconst body = webhookJson.body || webhookJson;\nconst sessionId = (body.sessionId || '').trim();\nconst message = (body.message || '').trim();\nconst userName = (body.userName || '').trim();\nconst isLoggedIn = body.isLoggedIn === true || body.isLoggedIn === 'true';\n\nif (!message) throw new Error('메시지가 비어 있습니다.');\n\n// 시스템 프롬프트 (FAQ는 분리 처리하여 LLM 호출 시에만 포함)\nconst systemPrompt = (promptData.system_prompt || '당신은 프레스코21 쇼핑몰 AI 상담사입니다.')\n  + '\\n\\n## 에스컬레이션 기준\\n' + (promptData.escalation_rules || '');\n\n// ========== 의도 분류 ==========\n\n// 1. 인사 감지 (20자 미만 + 인사 키워드)\nconst greetingKws = ['안녕', '하이', 'hi', 'hello', '헬로', '처음 왔어', '처음이에'];\nconst isGreeting = message.length < 20 && greetingKws.some(kw => message.toLowerCase().includes(kw));\n\n// 2. 에스컬레이션 선행 감지 (LLM 없이 즉시 판단)\n// '환불' 자체는 제거 → '부분 환불', '환불 방법' 등 정보성 질문은 FAQ로 분기\nconst escKws = [\n  '환불해', '환불 요청', '환불 처리', '환불해주세요',\n  '불량', '파손', '오배송', '클레임', '상담원', '담당자',\n  '사람과 통화', '전화 연결', '직접 상담', '가격 협의', '납기', '결제 오류'\n];\nconst hasEscalation = escKws.some(kw => message.includes(kw));\nconst hasOrderNum = /주문.{0,5}\\d{5,}/.test(message);\n\n// 3. FAQ 키워드 매칭 (인라인 폴백 30개)\nconst inlineFAQ = [\n  // 배송\n  { id: 'D01', keywords: ['배송','택배','출고','도착','배달','며칠','소요'],\n    answer: '평일 오후 2시 이전 결제 시 당일 출고, 택배 1~2일 소요됩니다 🌿' },\n  { id: 'D02', keywords: ['제주','도서산간','추가 배송비'],\n    answer: '제주/도서산간 지역은 추가 배송비가 발생할 수 있어요. 주문 시 자동 계산됩니다 ✨' },\n  { id: 'D03', keywords: ['무료배송','배송비 기준','얼마부터'],\n    answer: '5만원 이상 구매 시 무료배송이에요 🌸' },\n  // 교환/반품\n  { id: 'R01', keywords: ['교환','반품','반환','바꾸고','돌려','교환 방법'],\n    answer: '수령 후 7일 이내 미개봉 상태면 가능해요. 왕복 택배비는 고객님 부담, 불량은 무료입니다 ✨' },\n  { id: 'R02', keywords: ['주문 제작','커스텀','맞춤 제작'],\n    answer: '주문 제작 상품은 교환/반품이 불가해요 🌿' },\n  // 강사회원\n  { id: 'I01', keywords: ['강사','도매','등업','강사 신청','강사회원'],\n    answer: '사업자등록증(원예) 또는 원예 자격증 준비 후 신청해 주세요 🌸 승인 1~2영업일. https://nocodb.pressco21.com/apply' },\n  { id: 'I02', keywords: ['강사 승인','승인 언제','처리 중','신청 확인'],\n    answer: '승인은 1~2영업일 내 처리돼요 ✨ 평일 기준, 주말/공휴일 제외입니다.' },\n  { id: 'I03', keywords: ['강사 혜택','도매가','할인 혜택'],\n    answer: '강사회원은 전 상품 도매가 구매 및 전용 할인이 적용돼요 🌿' },\n  // 결제\n  { id: 'P01', keywords: ['결제','카드','무통장','페이','결제 방법'],\n    answer: '신용카드, 무통장입금, 카카오페이, 네이버페이로 결제 가능해요 ✨' },\n  { id: 'P02', keywords: ['무통장 기한','입금 기한','72시간','자동 취소'],\n    answer: '무통장입금은 주문 후 72시간 이내 입금해 주세요. 미입금 시 자동 취소됩니다 🌿' },\n  { id: 'P03', keywords: ['주문 수정','주문 취소','취소 방법','수정 가능','취소 가능'],\n    answer: '주문 수정/취소는 출고 전에만 가능해요 🌿 평일 10~18시에 채널톡이나 전화로 빠르게 연락해 주세요!' },\n  { id: 'P04', keywords: ['세금계산서','사업자','계산서 발급','현금영수증'],\n    answer: '사업자 구매 후 이메일로 사업자번호와 수신 이메일을 보내주시면 세금계산서 발급해드려요 ✨' },\n  { id: 'P05', keywords: ['해외 배송','해외','국제 배송','외국'],\n    answer: '현재는 국내 배송만 운영 중이에요 🌿 해외 배송은 추후 안내드릴게요.' },\n  { id: 'P06', keywords: ['부분 환불','일부 환불','환불 방법','환불 가능','환불 조건'],\n    answer: '부분 환불은 상담 후 개별적으로 처리돼요 🌸 채널톡이나 전화로 문의해 주시면 안내드릴게요.' },\n  // 영업시간\n  { id: 'H01', keywords: ['영업시간','몇 시','운영 시간','전화 가능'],\n    answer: '평일 10시~18시 운영, 점심 12~13시예요. 토/일/공휴일은 휴무입니다 🌸' },\n  // 상품\n  { id: 'S01', keywords: ['압화','누름꽃','눌러서 말린'],\n    answer: '압화는 꽃을 눌러 말린 재료로 레진공예·캔들·액자 등에 활용돼요 🌸' },\n  { id: 'S02', keywords: ['레진','키트','초보자','세트','입문'],\n    answer: '초보자용 레진공예 키트가 준비되어 있어요 🌿 자사몰에서 \"레진 키트\"로 검색해 보세요!' },\n  { id: 'S03', keywords: ['압화 보관','보관 방법','직사광선','방습','보관법'],\n    answer: '압화는 직사광선을 피해 서늘하고 건조한 곳에 보관해 주세요 🌿 방습제와 함께 밀폐 용기에 넣으면 오래 보존돼요!' },\n  { id: 'S04', keywords: ['드라이플라워','압화 차이','차이점','드라이 vs 압화'],\n    answer: '드라이플라워는 입체적으로 건조한 꽃, 압화는 납작하게 눌러 말린 꽃이에요 🌸 레진·액자엔 압화, 꽃다발·인테리어엔 드라이플라워가 잘 어울려요.' },\n  { id: 'S05', keywords: ['하바리움','오일','미네랄오일','실리콘오일','하바리움 오일'],\n    answer: '하바리움용 오일은 미네랄오일(투명도 높음)과 실리콘오일(변색 적음) 두 종류예요 ✨ 용도에 맞게 선택해 보세요!' },\n  { id: 'S06', keywords: ['대량','단체','대량 주문','단체 구매','대량 할인'],\n    answer: '강사회원은 도매가로 대량 구매가 가능해요 🌿 별도 납품 문의는 채널톡이나 전화(평일 10~18시)로 연락해 주세요.' },\n  { id: 'S07', keywords: ['사이즈','규격','크기','치수','용량','스펙'],\n    answer: '상품별 사이즈와 규격은 각 상품 페이지 상세 설명에서 확인하실 수 있어요 ✨' },\n  { id: 'S08', keywords: ['재고','품절','재입고','입고','언제 들어'],\n    answer: '실시간 재고는 자사몰 상품 페이지에서 확인 가능해요 🌿 품절 시 \"재입고 알림\" 신청을 해두시면 알려드려요!' },\n  { id: 'S09', keywords: ['레진 키트','키트 구성','레진 세트 구성','키트 내용물'],\n    answer: '레진공예 키트는 투명레진+경화제+몰드+압화+기본 도구 세트로 구성되어 있어요 🌸 바로 시작할 수 있어요!' },\n  // 기타\n  { id: 'E01', keywords: ['클래스','수업','강의','온라인 클래스','배울 수 있어'],\n    answer: '온라인 클래스와 협력 강사 클래스를 운영 중이에요 🌸 자세한 일정은 자사몰 공지사항이나 인스타그램에서 확인해 보세요!' },\n  { id: 'E02', keywords: ['납품','위탁','B2B','도매 납품','위탁 판매'],\n    answer: '납품/위탁 판매 문의는 채널톡이나 전화(평일 10~18시)로 연락해 주시면 담당자가 안내해 드려요 🌿' },\n  { id: 'E03', keywords: ['선물 포장','포장','선물 박스','선물용'],\n    answer: '유료 선물 포장 서비스가 있어요 ✨ 주문 시 옵션에서 선물 포장을 선택해 주세요!' },\n  { id: 'E04', keywords: ['카카오','카카오채널','채팅 상담','실시간 문의'],\n    answer: '채널톡 실시간 상담(우측 하단 버튼)으로 연결하시거나 카카오 채널로도 문의 가능해요 🌸 평일 10~18시 운영합니다.' },\n  { id: 'E05', keywords: ['인스타','인스타그램','SNS','팔로우','소셜미디어'],\n    answer: '인스타그램 @foreverlove_co_kr 을 팔로우해 주세요 🌸 최신 상품과 공예 팁을 가장 먼저 받아보실 수 있어요!' },\n  { id: 'E06', keywords: ['클래스 예약','강사 클래스','수강 신청','파트너클래스','꽃공예 클래스'],\n    answer: '협력 강사의 꽃공예 클래스는 파트너클래스 플랫폼에서 예약 가능해요 🌸 다양한 클래스가 준비되어 있어요!' }\n];\n\nconst sourceList = faqList.length > 0 ? faqList : inlineFAQ;\nlet faqMatch = null, faqScore = 0;\n\nfor (const faq of sourceList) {\n  if (faq.active === false) continue;\n  // NocoDB FAQ 테이블: keywords 필드는 쉼표 구분 문자열\n  // 인라인 폴백: keywords 필드는 배열\n  const keywords = faqList.length > 0\n    ? (faq.keywords || '').split(',').map(k => k.trim()).filter(Boolean)\n    : (faq.keywords || []);\n  let score = 0;\n  for (const kw of keywords) {\n    if (kw && message.includes(kw)) score++;\n  }\n  // 짧은 메시지(15자 미만)는 1개 매칭으로 충분\n  const threshold = message.length < 15 ? 1 : 2;\n  if (score >= threshold && score > faqScore) {\n    faqScore = score;\n    faqMatch = faq;\n  }\n}\n\n// ========== 최종 의도 결정 ==========\nlet intent, faqAnswer = null, faqId = null;\n\nif (isGreeting) {\n  intent = 'greeting';\n} else if (hasEscalation || hasOrderNum) {\n  intent = 'escalation';\n} else if (faqMatch) {\n  intent = 'faq_matched';\n  faqAnswer = faqMatch.answer || faqMatch.Answer;\n  faqId = String(faqMatch.id || faqMatch.Id || '');\n} else {\n  intent = 'general';\n}\n\nreturn [{ json: { sessionId, message, userName, isLoggedIn, intent, faqAnswer, faqId, systemPrompt } }];"
      },
      "id": "code-faq-match",
      "name": "Code: FAQ 매칭+의도 분류",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        300
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.intent }}",
        "rules": {
          "rules": [
            {
              "value2": "faq_matched",
              "operation": "equal",
              "output": 0
            },
            {
              "value2": "greeting",
              "operation": "equal",
              "output": 1
            },
            {
              "value2": "escalation",
              "operation": "equal",
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "switch-intent",
      "name": "Switch: 의도 분기",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1200,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nocodb.pressco21.com/api/v2/tables/mlivh63v7ekssew/records",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ sessionId: $json.sessionId, customerMessage: $json.message, aiReply: $json.faqAnswer, escalated: false, intent: 'faq_matched', faqId: $json.faqId, llmUsed: false, userName: $json.userName, isLoggedIn: $json.isLoggedIn, timestamp: new Date().toISOString(), resolved: false }) }}",
        "options": {}
      },
      "id": "nocodb-log-faq",
      "name": "NocoDB 로그: FAQ",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        80
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Vyw7FAboYUzOK48Q",
          "name": "NocoDB API Token"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ reply: $('Code: FAQ 매칭+의도 분류').first().json.faqAnswer, escalated: false, logId: $json.Id }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://www.foreverlove.co.kr"
              }
            ]
          }
        }
      },
      "id": "respond-faq",
      "name": "Respond: FAQ 즉시응답",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1680,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nocodb.pressco21.com/api/v2/tables/mlivh63v7ekssew/records",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ sessionId: $json.sessionId, customerMessage: $json.message, aiReply: '안녕하세요! 프레스코21 AI 상담사입니다 🌸 무엇을 도와드릴까요?', escalated: false, intent: 'greeting', faqId: '', llmUsed: false, userName: $json.userName, isLoggedIn: $json.isLoggedIn, timestamp: new Date().toISOString(), resolved: false }) }}",
        "options": {}
      },
      "id": "nocodb-log-greeting",
      "name": "NocoDB 로그: 인사",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        240
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Vyw7FAboYUzOK48Q",
          "name": "NocoDB API Token"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ reply: \"안녕하세요! 프레스코21 AI 상담사입니다 🌸 배송, 교환/반품, 강사회원 등 궁금한 점을 물어보세요.\", escalated: false, logId: $json.Id }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://www.foreverlove.co.kr"
              }
            ]
          }
        }
      },
      "id": "respond-greeting",
      "name": "Respond: 인사",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1680,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nocodb.pressco21.com/api/v2/tables/mlivh63v7ekssew/records",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ sessionId: $json.sessionId, customerMessage: $json.message, aiReply: '담당자에게 연결해드릴게요. 채널톡 실시간 상담을 이용해주세요.', escalated: true, intent: 'escalation', faqId: '', llmUsed: false, userName: $json.userName, isLoggedIn: $json.isLoggedIn, timestamp: new Date().toISOString(), resolved: false }) }}",
        "options": {}
      },
      "id": "nocodb-log-escalation",
      "name": "NocoDB 로그: 에스컬레이션",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Vyw7FAboYUzOK48Q",
          "name": "NocoDB API Token"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ reply: \"담당자에게 연결해드릴게요. 채널톡 실시간 상담을 이용해주세요.\", escalated: true, logId: $json.Id }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://www.foreverlove.co.kr"
              }
            ]
          }
        }
      },
      "id": "respond-escalation",
      "name": "Respond: 에스컬레이션",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1680,
        400
      ]
    },
    {
      "parameters": {
        "chatId": "7713811206",
        "text": "=🚨 *AI 챗봇 에스컬레이션 (직접 분류)*\n\n👤 *고객*: {{ $('Code: FAQ 매칭+의도 분류').first().json.userName || '비로그인' }}\n💬 *메시지*:\n{{ $('Code: FAQ 매칭+의도 분류').first().json.message }}\n\n📌 채널톡에서 직접 상담이 필요합니다.\nhttps://dashboard.channel.io",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-escalation",
      "name": "텔레그램: 에스컬레이션 알림",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1920,
        400
      ],
      "credentials": {
        "telegramApi": {
          "id": "RdFu3nsFuuO5NCff",
          "name": "Pressco메이크샵봇"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Code: FAQ 매칭+의도 분류').first().json.message }}",
        "hasOutputParser": false,
        "options": {
          "systemMessage": "={{ $('Code: FAQ 매칭+의도 분류').first().json.systemPrompt }}"
        }
      },
      "id": "ai-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1440,
        580
      ]
    },
    {
      "parameters": {
        "modelName": "gemini-2.5-flash",
        "options": {
          "temperature": 0.2,
          "maxOutputTokens": 800
        }
      },
      "id": "gemini-model",
      "name": "Gemini 2.5 Flash",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1280,
        780
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "YOec0pTXalcgCh8e",
          "name": "Gemini API (F050)"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Code: FAQ 매칭+의도 분류').first().json.sessionId }}",
        "contextWindowLength": 10
      },
      "id": "window-memory",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1460,
        780
      ]
    },
    {
      "parameters": {
        "name": "search_products",
        "description": "메이크샵에서 상품을 검색합니다. 고객이 특정 상품명, 재료명, 카테고리로 상품 추천이나 재고를 문의할 때 사용하세요. 예: 레진 키트, 압화 재료, 하바리움 오일 등.",
        "workflowId": "n87t3QMKvjgMKgpK",
        "responsePropertyName": "response"
      },
      "id": "tool-search-products",
      "name": "Tool: 상품 검색",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [
        1640,
        780
      ],
      "notes": "⚠️ F050c 서브 워크플로우 배포 후 workflowId를 실제 ID로 교체하세요. 에코 테스트 성공 후 활성화."
    },
    {
      "parameters": {
        "jsCode": "// AI 응답에서 [ESCALATE] 태그 감지\nconst aiOutput = $input.first().json.output || '';\nconst codeData = $('Code: FAQ 매칭+의도 분류').first().json;\nconst customerMessage = codeData.message || '';\n\n// 에스컬레이션 감지 (3-layer)\nconst hasEscalateTag = aiOutput.includes('[ESCALATE]');\nconst hasOrderNumber = /주문.{0,5}\\d{5,}/.test(customerMessage);\nconst escalationKeywords = [\n  '환불해', '환불 요청', '환불 처리', '환불해주세요',\n  '불량', '파손', '오배송', '클레임', '견적', '할인 요청',\n  '사람과 통화', '상담원', '담당자 연결', '전화 연결', '직접 상담',\n  '가격 협의', '납기', '대량 주문', '결제 오류'\n];\nconst hasKeyword = escalationKeywords.some(function(kw) { return customerMessage.includes(kw); });\nconst escalated = hasEscalateTag || hasOrderNumber || hasKeyword;\n\n// 응답 정리 (마크다운 제거)\nvar reply = aiOutput\n  .replace(/\\[ESCALATE\\]/g, '')\n  .replace(/\\*\\*/g, '')\n  .replace(/\\*/g, '')\n  .replace(/^#{1,6}\\s/gm, '')\n  .replace(/^[-*]\\s/gm, '')\n  .replace(/^\\d+\\.\\s/gm, '')\n  .replace(/\\[([^\\]]+)\\]\\([^)]+\\)/g, '$1')\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .trim();\n\n// 길이 제한 300자 (Tool 결과 포함 대비 넉넉하게)\nif (reply.length > 300) {\n  var cutPoint = reply.lastIndexOf('.', 300);\n  if (cutPoint < 100) cutPoint = reply.lastIndexOf(' ', 300);\n  if (cutPoint < 100) cutPoint = 300;\n  reply = reply.substring(0, cutPoint + 1).trim();\n}\n\nreturn [{\n  json: {\n    reply: reply,\n    escalated: escalated,\n    sessionId: codeData.sessionId,\n    customerMessage: customerMessage,\n    userName: codeData.userName,\n    isLoggedIn: codeData.isLoggedIn,\n    rawAiOutput: aiOutput\n  }\n}];"
      },
      "id": "code-format-response",
      "name": "Code: 응답 포맷",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        580
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nocodb.pressco21.com/api/v2/tables/mlivh63v7ekssew/records",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ sessionId: $json.sessionId, customerMessage: $json.customerMessage, aiReply: $json.reply, escalated: $json.escalated, intent: 'general', faqId: '', llmUsed: true, userName: $json.userName, isLoggedIn: $json.isLoggedIn, timestamp: new Date().toISOString(), resolved: false }) }}",
        "options": {}
      },
      "id": "http-nocodb-log",
      "name": "NocoDB 로그: General",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        580
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Vyw7FAboYUzOK48Q",
          "name": "NocoDB API Token"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ reply: $('Code: 응답 포맷').first().json.reply, escalated: $('Code: 응답 포맷').first().json.escalated, logId: $json.Id }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://www.foreverlove.co.kr"
              }
            ]
          }
        }
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2160,
        580
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "escalation-check",
              "leftValue": "={{ $('Code: 응답 포맷').first().json.escalated }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-escalate",
      "name": "IF 에스컬레이션",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        2400,
        580
      ]
    },
    {
      "parameters": {
        "chatId": "7713811206",
        "text": "=🚨 *AI 챗봇 에스컬레이션 (AI 판단)*\n\n👤 *고객*: {{ $('Code: 응답 포맷').first().json.userName || '비로그인' }}\n💬 *고객 메시지*:\n{{ $('Code: 응답 포맷').first().json.customerMessage }}\n\n🤖 *AI 응답*:\n{{ $('Code: 응답 포맷').first().json.reply }}\n\n📌 채널톡에서 직접 상담이 필요합니다.\nhttps://dashboard.channel.io",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-alert",
      "name": "텔레그램 알림",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2640,
        580
      ],
      "credentials": {
        "telegramApi": {
          "id": "RdFu3nsFuuO5NCff",
          "name": "Pressco메이크샵봇"
        }
      }
    }
  ],
  "connections": {
    "Webhook POST": {
      "main": [
        [
          {
            "node": "NocoDB 프롬프트 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB 프롬프트 조회": {
      "main": [
        [
          {
            "node": "NocoDB FAQ 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB FAQ 조회": {
      "main": [
        [
          {
            "node": "Code: FAQ 매칭+의도 분류",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: FAQ 매칭+의도 분류": {
      "main": [
        [
          {
            "node": "Switch: 의도 분기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: 의도 분기": {
      "main": [
        [
          {
            "node": "NocoDB 로그: FAQ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NocoDB 로그: 인사",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NocoDB 로그: 에스컬레이션",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB 로그: FAQ": {
      "main": [
        [
          {
            "node": "Respond: FAQ 즉시응답",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB 로그: 인사": {
      "main": [
        [
          {
            "node": "Respond: 인사",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB 로그: 에스컬레이션": {
      "main": [
        [
          {
            "node": "Respond: 에스컬레이션",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond: 에스컬레이션": {
      "main": [
        [
          {
            "node": "텔레그램: 에스컬레이션 알림",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code: 응답 포맷",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 2.5 Flash": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Tool: 상품 검색": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code: 응답 포맷": {
      "main": [
        [
          {
            "node": "NocoDB 로그: General",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB 로그: General": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "IF 에스컬레이션",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF 에스컬레이션": {
      "main": [
        [
          {
            "node": "텔레그램 알림",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null
}
