n8n-automation/workflows/homepage/F050b_피드백_수집.json
{
  "name": "F050b: AI 챗봇 피드백 수집",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f050-feedback",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://www.foreverlove.co.kr,https://foreverlove.co.kr"
        }
      },
      "id": "webhook-feedback",
      "name": "Webhook: 피드백",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "f050-feedback"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst logId = parseInt(body.logId, 10);\nconst feedback = (body.feedback || '').trim();\n\n// 유효성 검사\nif (!logId || isNaN(logId)) {\n  throw new Error('logId가 유효하지 않습니다: ' + body.logId);\n}\nif (!['helpful', 'unhelpful'].includes(feedback)) {\n  throw new Error('feedback 값이 유효하지 않습니다: ' + feedback);\n}\n\nreturn [{ json: { logId, feedback } }];"
      },
      "id": "code-validate",
      "name": "Code: 입력 검증",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://nocodb.pressco21.com/api/v2/tables/mlivh63v7ekssew/records",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify([{ Id: $json.logId, feedback: $json.feedback }]) }}",
        "options": {}
      },
      "id": "http-nocodb-patch",
      "name": "NocoDB 피드백 저장",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Vyw7FAboYUzOK48Q",
          "name": "NocoDB API Token"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json" },
              { "name": "Access-Control-Allow-Origin", "value": "https://www.foreverlove.co.kr" }
            ]
          }
        }
      },
      "id": "respond-ok",
      "name": "Respond: OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [960, 300]
    }
  ],
  "connections": {
    "Webhook: 피드백": {
      "main": [
        [
          { "node": "Code: 입력 검증", "type": "main", "index": 0 }
        ]
      ]
    },
    "Code: 입력 검증": {
      "main": [
        [
          { "node": "NocoDB 피드백 저장", "type": "main", "index": 0 }
        ]
      ]
    },
    "NocoDB 피드백 저장": {
      "main": [
        [
          { "node": "Respond: OK", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-01T00:00:00.000Z",
  "versionId": "1"
}
