n8n-automation/workflows/homepage/FA-001_강사회원_등급_자동변경.json
{
  "id": "jaTfiQuY35DjgrxN",
  "name": "FA-001: 강사회원 등급 자동 변경 v4.0",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.foreverlove.co.kr/list/open_api.html",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {"name": "mode", "value": "search"},
            {"name": "type", "value": "group"}
          ]
        },
        "options": {"response": {"response": {"responseFormat": "json"}}},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Shopkey", "value": "1fe4eece82d00e245aff322522fb3aec"},
            {"name": "Licensekey", "value": "YWQ0ZTQwNWVhOGIzN2E3ZWVkZDdiMTIwOGZhNmQ3MDI="}
          ]
        }
      },
      "id": "fa001-n00a",
      "name": "강사회원 그룹코드 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [200, 500]
    },
    {
      "parameters": {
        "jsCode": "// 메이크샵 그룹 목록에서 강사회원 그룹코드 추출\nconst resp = $json;\nconst groups = (resp && resp.list) ? resp.list : [];\nlet groupCode = 'MX01'; // 기본 폴백값\n\nconst found = groups.find(function(g) {\n  return g.group_name === '강사회원';\n});\nif (found && found.group_id) {\n  groupCode = found.group_id;\n}\n\nreturn { json: { instructorGroupCode: groupCode } };"
      },
      "id": "fa001-n00b",
      "name": "그룹코드 파싱",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, 700]
    },
    {
      "parameters": {
        "rule": {"interval": [{"field": "minutes", "minutesInterval": 5}]}
      },
      "id": "fa001-n01",
      "name": "5분 스케줄",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://nocodb.pressco21.com/api/v1/db/data/noco/poey1yrm1r6sthf/mcafm2yyeaupdnt",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {"name": "where", "value": "(진행 상태,eq,승인대기)~and(n8n_처리완료,eq,0)"},
            {"name": "limit", "value": "20"}
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "xc-token", "value": "7bbe69de41d39e31391d67adda453835aefe5e70ea809d9b3d45981706435d37f39acdd839efeedc"}
          ]
        },
        "options": {"response": {"response": {"responseFormat": "json"}}}
      },
      "id": "fa001-n02",
      "name": "NocoDB 미처리 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "jsCode": "// NocoDB 응답 list를 개별 레코드 아이템으로 분리\nconst response = $input.first().json;\nconst records = (response.list || []);\nreturn records.map(function(r) { return { json: r }; });",
        "mode": "runOnceForAllItems"
      },
      "id": "fa001-noco-split",
      "name": "레코드 분리",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [{"value1": "={{ $json.Id }}", "operation": "isNotEmpty"}]
        }
      },
      "id": "fa001-n03",
      "name": "처리할 건 있는가",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [860, 300]
    },
    {
      "parameters": {},
      "id": "fa001-n04",
      "name": "처리 없음",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1080, 480]
    },
    {
      "parameters": {
        "jsCode": "// ===== NocoDB 레코드에서 식별 정보 추출 =====\n// NocoDB 레코드: Id(정수), 성함, 연락처, 자사몰 ID, 이메일 주소, 소속 협회 등\nconst recordId = $json.Id; // NocoDB 정수 ID (대문자 I)\n\nconst jasamolId = ($json['자사몰 ID'] || '').trim().toLowerCase();\nconst rawMobile = ($json['연락처'] || '').trim();\nconst name = ($json['성함'] || '').trim();\nconst email = ($json['이메일 주소'] || '').trim();\nconst association = ($json['소속 협회'] || '').trim();\n\n// 연락처 정규화: 010-1234-5678 또는 01012345678 → 01012345678\nconst mobile = rawMobile.replace(/[^0-9]/g, '').replace(/^82/, '0');\n\nreturn {\n  json: {\n    jasamolId,\n    mobile,\n    name,\n    email,\n    association,\n    recordId,\n    hasId: jasamolId.length > 0,\n    hasMobile: mobile.length >= 10\n  }\n};",
        "mode": "runOnceForEachItem"
      },
      "id": "fa001-n05",
      "name": "식별 정보 추출",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{"value1": "={{ $json.hasId }}", "value2": true, "operation": "equal"}]
        }
      },
      "id": "fa001-n06",
      "name": "자사몰 ID 있는가",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1300, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.foreverlove.co.kr/list/open_api.html",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {"name": "mode", "value": "search"},
            {"name": "type", "value": "user"},
            {"name": "userid", "value": "={{ $('식별 정보 추출').item.json.jasamolId }}"}
          ]
        },
        "options": {"response": {"response": {"responseFormat": "json"}}},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Shopkey", "value": "1fe4eece82d00e245aff322522fb3aec"},
            {"name": "Licensekey", "value": "YWQ0ZTQwNWVhOGIzN2E3ZWVkZDdiMTIwOGZhNmQ3MDI="}
          ]
        }
      },
      "id": "fa001-n07",
      "name": "메이크샵 회원 조회 (ID)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1520, 100]
    },
    {
      "parameters": {
        "jsCode": "// ===== 메이크샵 회원 조회 응답 파싱 (ID 기준) =====\nconst resp = $json;\nconst originalData = $('식별 정보 추출').item.json;\n\nlet userFound = false;\nlet makeshopUserId = '';\n\n// 실제 메이크샵 API 응답: {return_code: '0000', list: [{id, hname, grade, ...}]}\nif (resp.return_code === '0000' && Array.isArray(resp.list) && resp.list.length > 0) {\n  userFound = true;\n  makeshopUserId = resp.list[0].id || originalData.jasamolId;\n}\n\nreturn {\n  json: {\n    ...originalData,\n    userFound,\n    makeshopUserId: makeshopUserId || originalData.jasamolId,\n    failReason: userFound ? '' : '자사몰 ID로 회원을 찾지 못함: ' + originalData.jasamolId\n  }\n};",
        "mode": "runOnceForEachItem"
      },
      "id": "fa001-n08",
      "name": "조회 응답 파싱 (ID)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1740, 100]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{"value1": "={{ $json.userFound }}", "value2": true, "operation": "equal"}]
        }
      },
      "id": "fa001-n09",
      "name": "회원 존재하는가",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1960, 100]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.foreverlove.co.kr/list/open_api.html",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {"name": "mode", "value": "search"},
            {"name": "type", "value": "user"},
            {"name": "mobile", "value": "={{ $('식별 정보 추출').item.json.mobile }}"}
          ]
        },
        "options": {"response": {"response": {"responseFormat": "json"}}},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Shopkey", "value": "1fe4eece82d00e245aff322522fb3aec"},
            {"name": "Licensekey", "value": "YWQ0ZTQwNWVhOGIzN2E3ZWVkZDdiMTIwOGZhNmQ3MDI="}
          ]
        }
      },
      "id": "fa001-n10",
      "name": "메이크샵 회원 조회 (연락처)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2180, 300]
    },
    {
      "parameters": {
        "jsCode": "// ===== 연락처 조회 파싱 + 스마트 매칭 (v4.0) =====\nconst resp = $json;\nconst orig = $('식별 정보 추출').item.json;\n\nlet userFound = false;\nlet makeshopUserId = '';\nlet respName = '';\nlet autoApprove = false;\nlet nameWarning = '';\nlet candidateInfo = '';\nlet resultCount = 0;\n\nif (resp.return_code === '0000' && Array.isArray(resp.list) && resp.list.length > 0) {\n  userFound = true;\n  resultCount = resp.list.length;\n\n  if (resultCount === 1) {\n    // A1: 1명이면 이름 무시 자동 승인\n    makeshopUserId = resp.list[0].id || '';\n    respName = (resp.list[0].hname || '').trim();\n    autoApprove = true;\n    const inputN = orig.name.replace(/\\s/g, '');\n    const apiN = respName.replace(/\\s/g, '');\n    if (inputN !== apiN) {\n      nameWarning = '\\u26a0\\ufe0f 이름 불일치 (신청: ' + orig.name + ' / 메이크샵: ' + respName + ')';\n    }\n  } else {\n    // A4: 여러 명 → 유사 이름 매칭\n    const inputN = orig.name.replace(/\\s/g, '').toLowerCase();\n    for (const m of resp.list) {\n      const apiN = (m.hname || '').replace(/\\s/g, '').toLowerCase();\n      if (apiN === inputN || apiN.includes(inputN) || inputN.includes(apiN)) {\n        makeshopUserId = m.id || '';\n        respName = (m.hname || '').trim();\n        autoApprove = true;\n        break;\n      }\n    }\n    if (!autoApprove) {\n      candidateInfo = resp.list.map(function(m) {\n        return '  \\u2022 ID: ' + m.id + ' / ' + (m.hname || '-');\n      }).join('\\n');\n    }\n  }\n}\n\nconst failReason = !userFound\n  ? '연락처로 회원을 찾지 못함: ' + orig.mobile\n  : !autoApprove\n    ? '연락처 ' + resultCount + '명 중 이름 매칭 실패 (신청: ' + orig.name + ')'\n    : '';\n\nreturn {\n  json: {\n    ...orig,\n    userFound,\n    autoApprove,\n    makeshopUserId,\n    apiName: respName,\n    nameWarning,\n    candidateInfo,\n    resultCount,\n    failReason\n  }\n};",
        "mode": "runOnceForEachItem"
      },
      "id": "fa001-n11",
      "name": "연락처 조회 파싱 (스마트 매칭)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2400, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{"value1": "={{ $json.autoApprove }}", "value2": true, "operation": "equal"}]
        }
      },
      "id": "fa001-n12",
      "name": "연락처 매칭 성공?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2620, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.foreverlove.co.kr/list/open_api_process.html?mode=save&type=user_group_change&process=update",
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ 'datas[0][userid]=' + $json.makeshopUserId + '&datas[0][group_id]=' + $('그룹코드 파싱').first().json.instructorGroupCode }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Shopkey", "value": "1fe4eece82d00e245aff322522fb3aec"},
            {"name": "Licensekey", "value": "YWQ0ZTQwNWVhOGIzN2E3ZWVkZDdiMTIwOGZhNmQ3MDI="},
            {"name": "Content-Type", "value": "application/x-www-form-urlencoded"}
          ]
        },
        "options": {"response": {"response": {"responseFormat": "json"}}}
      },
      "id": "fa001-n13",
      "name": "메이크샵 그룹 변경",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2840, 100]
    },
    {
      "parameters": {
        "jsCode": "// ===== 그룹 변경 API 응답 파싱 =====\n// 실제 메이크샵 응답: {return_code: '0000', datas: [{result: 'true'/'false', userid, group_id, group_name, message}]}\n// 주의: result는 boolean이 아닌 string 'true'/'false'\nconst resp = $json;\n\nlet success = false;\nlet failMessage = '';\n\nif (resp.return_code === '0000' && Array.isArray(resp.datas) && resp.datas.length > 0) {\n  const item = resp.datas[0];\n  // result는 string 'true' 또는 boolean true 둘 다 처리\n  if (item.result === true || item.result === 'true') {\n    success = true;\n  } else {\n    const msgs = item.message || [];\n    failMessage = Array.isArray(msgs) ? msgs.join(', ') : String(msgs);\n  }\n}\n\n// 이전 노드 데이터 유지 (두 경로 모두 try-catch로 안전하게)\nlet prevData = {};\ntry { prevData = { ...prevData, ...$('조회 응답 파싱 (ID)').item.json }; } catch(e) {}\ntry { prevData = { ...prevData, ...$('연락처 조회 파싱 (스마트 매칭)').item.json }; } catch(e) {}\ntry { prevData = { ...prevData, ...$('이메일 조회 파싱').item.json }; } catch(e) {}\n\nreturn {\n  json: {\n    ...prevData,\n    groupChangeSuccess: success,\n    groupChangeFailMessage: failMessage,\n    groupChangeResponse: JSON.stringify(resp)\n  }\n};",
        "mode": "runOnceForEachItem"
      },
      "id": "fa001-n14",
      "name": "그룹 변경 응답 파싱",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3060, 100]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{"value1": "={{ $json.groupChangeSuccess }}", "value2": true, "operation": "equal"}]
        }
      },
      "id": "fa001-n15",
      "name": "그룹 변경 성공했는가",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [3280, 100]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://nocodb.pressco21.com/api/v1/db/data/noco/poey1yrm1r6sthf/mcafm2yyeaupdnt/' + $json.recordId }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"n8n_처리완료\": true, \"n8n_처리일시\": new Date(new Date().getTime() + 9*60*60*1000).toISOString(), \"진행 상태\": \"승인완료\"}) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "xc-token", "value": "7bbe69de41d39e31391d67adda453835aefe5e70ea809d9b3d45981706435d37f39acdd839efeedc"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "options": {}
      },
      "id": "fa001-n16",
      "name": "NocoDB 처리완료 기록",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3500, 100]
    },
    {
      "parameters": {
        "chatId": "-5154731145",
        "text": "={{ '\\u2705 강사회원 등업 완료\\n\\n\\ud83d\\udc64 이름: ' + $('그룹 변경 응답 파싱').item.json.name + '\\n\\ud83c\\udd94 자사몰 ID: ' + $('그룹 변경 응답 파싱').item.json.makeshopUserId + '\\n\\ud83c\\udfdb\\ufe0f 소속 협회: ' + ($('그룹 변경 응답 파싱').item.json.association || '-') + '\\n\\ud83d\\udcf1 연락처: ' + ($('그룹 변경 응답 파싱').item.json.mobile || '-') + '\\n\\ud83d\\udce7 이메일: ' + ($('그룹 변경 응답 파싱').item.json.email || '-') + ($('그룹 변경 응답 파싱').item.json.nameWarning ? '\\n' + $('그룹 변경 응답 파싱').item.json.nameWarning : '') }}",
        "additionalFields": {}
      },
      "id": "fa001-n17",
      "name": "텔레그램 성공 알림",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [3720, 100],
      "credentials": {"telegramApi": {"id": "RdFu3nsFuuO5NCff", "name": "Pressco메이크샵봇"}}
    },
    {
      "parameters": {
        "conditions": {
          "string": [{"value1": "={{ $('그룹 변경 응답 파싱').item.json.email }}", "operation": "isNotEmpty"}]
        }
      },
      "id": "fa001-n20-check",
      "name": "이메일 있는가",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [3940, 100]
    },
    {
      "parameters": {
        "jsCode": "// 같은 신청 건의 승인 메일 성공 이력이 있으면 자동 재발송 차단\nvar data = $('그룹 변경 응답 파싱').item.json || {};\nvar staticData = $getWorkflowStaticData('global');\nvar ledger = staticData.mailSuccessLedger;\n\nif (!ledger || typeof ledger !== 'object' || Array.isArray(ledger)) {\n  ledger = {};\n}\n\nvar guardKey = 'FA-001:' + String(data.recordId || '');\nvar lastSuccess = ledger[guardKey] || null;\n\nreturn {\n  json: {\n    ...data,\n    mailGuardKey: guardKey,\n    duplicateBlocked: !!lastSuccess,\n    lastSuccessAt: lastSuccess ? String(lastSuccess.sentAt || '') : '',\n    lastSuccessEmail: lastSuccess ? String(lastSuccess.email || '') : '',\n    lastSuccessName: lastSuccess ? String(lastSuccess.name || '') : ''\n  }\n};",
        "mode": "runOnceForEachItem"
      },
      "id": "6d45c8ab-80b2-4f76-8d9b-d2d8f961fa1f",
      "name": "승인 메일 중복 발송 가드",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4160, 100]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{"value1": "={{ $json.duplicateBlocked }}", "value2": true, "operation": "equal"}]
        }
      },
      "id": "d275ef43-9dd3-49c4-a6c0-6c77078e0b6d",
      "name": "이미 승인 메일 성공발송 이력 있는가",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [4380, 100]
    },
    {
      "parameters": {
        "fromEmail": "pressco5755@naver.com",
        "toEmail": "={{ $('그룹 변경 응답 파싱').item.json.email }}",
        "subject": "[PRESSCO21] 강사회원 등업이 완료되었습니다",
        "emailType": "html",
        "html": "=<!DOCTYPE html><html><head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\"></head><body style=\"margin:0;padding:0;background:#f5f3ef;font-family:'Apple SD Gothic Neo','Malgun Gothic',sans-serif;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:600px;margin:0 auto;background:#ffffff;\"><tr><td style=\"padding:28px 32px;background:#425b51;text-align:center;\"><img src=\"https://img.pressco21.com/images/assets/company-logo.png\" alt=\"PRESSCO21\" width=\"180\" style=\"display:block;margin:0 auto;filter:brightness(0) invert(1);\"></td></tr><tr><td style=\"padding:36px 32px 20px;\"><h1 style=\"font-size:20px;color:#2c2c2c;margin:0 0 20px;font-weight:600;\">강사회원 등업을 축하드립니다!</h1><p style=\"font-size:15px;color:#555;line-height:1.7;margin:0 0 16px;\">안녕하세요, <strong>{{ $('그룹 변경 응답 파싱').item.json.name }}</strong> 선생님.</p><p style=\"font-size:15px;color:#555;line-height:1.7;margin:0 0 24px;\">프레스코21입니다. 신청해 주신 강사회원 등업이 승인 완료되었습니다.<br>지금부터 강사회원 전용 할인 혜택을 이용하실 수 있습니다.</p></td></tr><tr><td style=\"padding:0 32px 24px;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#fdfbf7;border-radius:8px;border-left:4px solid #d4a373;\"><tr><td style=\"padding:20px 24px;\"><p style=\"font-size:13px;color:#999;margin:0 0 12px;text-transform:uppercase;letter-spacing:1px;\">승인 정보</p><table cellpadding=\"0\" cellspacing=\"0\" style=\"font-size:14px;color:#333;\"><tr><td style=\"padding:4px 16px 4px 0;color:#888;\">성함</td><td style=\"padding:4px 0;\">{{ $('그룹 변경 응답 파싱').item.json.name }}</td></tr><tr><td style=\"padding:4px 16px 4px 0;color:#888;\">자사몰 ID</td><td style=\"padding:4px 0;\">{{ $('그룹 변경 응답 파싱').item.json.makeshopUserId }}</td></tr><tr><td style=\"padding:4px 16px 4px 0;color:#888;\">소속 협회</td><td style=\"padding:4px 0;\">{{ $('그룹 변경 응답 파싱').item.json.association || '-' }}</td></tr></table></td></tr></table></td></tr><tr><td style=\"padding:0 32px 36px;text-align:center;\"><a href=\"https://www.foreverlove.co.kr\" style=\"display:inline-block;padding:14px 36px;background:#425b51;color:#ffffff;text-decoration:none;border-radius:6px;font-size:15px;font-weight:500;\">강사회원 전용 쇼핑하러 가기</a></td></tr><tr><td style=\"padding:24px 32px;background:#f5f3ef;text-align:center;\"><p style=\"font-size:12px;color:#999;margin:0 0 4px;line-height:1.5;\">PRESSCO21 | 서울 송파구 백제고분로7길 28, 2층</p><p style=\"font-size:12px;color:#999;margin:0 0 4px;\">070-7576-0778 | pressco5755@naver.com</p><p style=\"font-size:11px;color:#bbb;margin:8px 0 0;\">꽃으로노는모든방법</p></td></tr></table></body></html>",
        "options": {}
      },
      "id": "fa001-n20-email",
      "name": "승인 축하 이메일 발송",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [4160, 0],
      "credentials": {"smtp": {"id": "31jTm9BU7iyj0pVx", "name": "PRESSCO21-SMTP-Naver"}},
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// ===== 수동 처리 요청 메시지 조립 (v4.0) =====\n// C1 버그 수정: 마지막 단계 failReason 우선\nlet data = {};\nlet lastFail = '';\n\ntry { data = $('식별 정보 추출').item.json; } catch(e) {}\ntry {\n  const d = $('이메일 조회 파싱').item.json;\n  data = { ...data, ...d };\n  if (d.failReason) lastFail = d.failReason;\n} catch(e) {}\ntry {\n  const d = $('연락처 조회 파싱 (스마트 매칭)').item.json;\n  data = { ...data, ...d };\n  if (d.failReason && !lastFail) lastFail = d.failReason;\n} catch(e) {}\ntry {\n  const d = $('그룹 변경 응답 파싱').item.json;\n  data = { ...data, ...d };\n  if (d.groupChangeFailMessage) lastFail = '그룹 변경 API 실패: ' + d.groupChangeFailMessage;\n} catch(e) {}\ntry {\n  const d = $('조회 응답 파싱 (ID)').item.json;\n  if (!lastFail && d.failReason) lastFail = d.failReason;\n} catch(e) {}\n\nconst reason = lastFail || data.failReason || '원인 불명';\nconst name = data.name || '(이름 없음)';\nconst jasamolId = data.jasamolId || '(미입력)';\nconst mobile = data.mobile || '(미입력)';\nconst email = data.email || '(미입력)';\nconst association = data.association || '(미입력)';\nconst recordId = data.recordId || '';\nconst candidateInfo = data.candidateInfo || '';\nconst candidateId = data.makeshopUserId || '';\n\nlet msg = '\\u26a0\\ufe0f 강사 등업 수동 처리 필요\\n\\n이름: ' + name + '\\n자사몰ID: ' + jasamolId + '\\n연락처: ' + mobile + '\\n이메일: ' + email + '\\n협회: ' + association + '\\n\\n사유: ' + reason;\n\nif (candidateInfo) {\n  msg += '\\n\\n\\ud83d\\udccb 검색된 후보 회원:\\n' + candidateInfo;\n}\n\nmsg += '\\n\\n\\u2192 메이크샵 관리자에서 직접 등업 후\\nNocoDB n8n_처리완료 체크 바랍니다';\n\nconst kst = new Date(new Date().getTime() + 9*60*60*1000).toISOString();\nconst hasCandidate = candidateId.length > 0;\n\nreturn {\n  json: {\n    message: msg,\n    id: recordId,\n    n8n_처리완료: true,\n    n8n_처리일시: kst,\n    hasCandidate,\n    candidateId,\n    candidateName: name,\n    callbackData: hasCandidate ? 'fa001:' + recordId + ':' + candidateId : ''\n  }\n};",
        "mode": "runOnceForEachItem"
      },
      "id": "fa001-n18",
      "name": "수동 처리 메시지 조립",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2840, 480]
    },
    {
      "parameters": {
        "chatId": "-5154731145",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "HTML",
          "replyMarkup": "={{ $json.hasCandidate ? 'inlineKeyboard' : '' }}",
          "inlineKeyboard": {
            "rows": [
              {
                "row": [
                  {
                    "text": "={{ '\\u2705 ' + ($json.candidateId || '') + ' 등업 처리' }}",
                    "additionalFields": {
                      "callbackData": "={{ $json.callbackData }}"
                    }
                  }
                ]
              }
            ]
          }
        }
      },
      "id": "fa001-n19",
      "name": "텔레그램 수동 처리 요청",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [3060, 480],
      "onError": "continueRegularOutput",
      "credentials": {"telegramApi": {"id": "RdFu3nsFuuO5NCff", "name": "Pressco메이크샵봇"}}
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://nocodb.pressco21.com/api/v1/db/data/noco/poey1yrm1r6sthf/mcafm2yyeaupdnt/' + $json.id }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"n8n_처리완료\": $json.n8n_처리완료, \"n8n_처리일시\": $json.n8n_처리일시, \"진행 상태\": \"수동처리필요\"}) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "xc-token", "value": "7bbe69de41d39e31391d67adda453835aefe5e70ea809d9b3d45981706435d37f39acdd839efeedc"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "options": {}
      },
      "id": "node-noco-manual-complete",
      "name": "NocoDB 수동처리 기록",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3280, 480]
    },
    {
      "parameters": {
        "jsCode": "// 승인 메일 발송 결과 기록 및 성공 발송 ledger 반영\nvar item = $input.item.json || {};\nvar prevData = $('승인 메일 중복 발송 가드').item.json || $('그룹 변경 응답 파싱').item.json || {};\nvar errorMessage = '';\n\nif (typeof item.error === 'string' && item.error) {\n  errorMessage = item.error;\n} else if (Array.isArray(item.rejected) && item.rejected.length > 0) {\n  errorMessage = 'Rejected: ' + item.rejected.join(', ');\n}\n\nvar emailSuccess = errorMessage === '';\nvar staticData = $getWorkflowStaticData('global');\nvar ledger = staticData.mailSuccessLedger;\nif (!ledger || typeof ledger !== 'object' || Array.isArray(ledger)) {\n  ledger = {};\n}\nvar attemptLog = Array.isArray(staticData.mailAttemptLog) ? staticData.mailAttemptLog : [];\nvar sentAt = new Date(new Date().getTime() + 9 * 60 * 60 * 1000).toISOString();\nvar guardKey = String(prevData.mailGuardKey || ('FA-001:' + String(prevData.recordId || '')));\n\nattemptLog.unshift({\n  key: guardKey,\n  workflow: 'FA-001',\n  status: emailSuccess ? 'success' : 'failed',\n  sentAt: sentAt,\n  recordId: String(prevData.recordId || ''),\n  email: String(prevData.email || ''),\n  name: String(prevData.name || '')\n});\nstaticData.mailAttemptLog = attemptLog.slice(0, 200);\n\nif (emailSuccess) {\n  ledger[guardKey] = {\n    workflow: 'FA-001',\n    recordId: String(prevData.recordId || ''),\n    email: String(prevData.email || ''),\n    name: String(prevData.name || ''),\n    subject: '[PRESSCO21] 강사회원 등업이 완료되었습니다',\n    sentAt: sentAt\n  };\n  staticData.mailSuccessLedger = ledger;\n}\n\nreturn {\n  json: {\n    recordId: prevData.recordId,\n    name: prevData.name,\n    email: prevData.email,\n    makeshopUserId: prevData.makeshopUserId,\n    association: prevData.association,\n    emailSuccess: emailSuccess,\n    errorMessage: errorMessage\n  }\n};",
        "mode": "runOnceForEachItem"
      },
      "id": "0e2b7a10-5cf1-4bc2-90fa-7998043bd56a",
      "name": "승인 메일 결과 기록",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4600, 0]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{"value1": "={{ $json.emailSuccess }}", "value2": true, "operation": "equal"}]
        }
      },
      "id": "0fd63b2d-e55d-4d2f-8d6d-b6b1ba3ef6a5",
      "name": "승인 메일 성공했는가",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [4820, 0]
    },
    {
      "parameters": {
        "chatId": "7713811206",
        "text": "={{ '🚨 승인 이메일 자동 재발송 차단\\n\\n이름: ' + $('승인 메일 중복 발송 가드').item.json.name + '\\n이메일: ' + $('승인 메일 중복 발송 가드').item.json.email + '\\nNocoDB ID: ' + $('승인 메일 중복 발송 가드').item.json.recordId + '\\n최근 성공 발송: ' + ($('승인 메일 중복 발송 가드').item.json.lastSuccessAt || '기록 없음') + '\\n\\n→ 같은 신청 건의 승인 메일 성공 이력이 이미 있어 자동 재발송을 막았습니다.' }}",
        "additionalFields": {}
      },
      "id": "7e5de9e1-4f5d-4a17-8d0b-b80b69ce4d41",
      "name": "텔레그램 승인 메일 중복 경보",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [4600, 160],
      "credentials": {"telegramApi": {"id": "RdFu3nsFuuO5NCff", "name": "Pressco메이크샵봇"}}
    },
    {
      "parameters": {
        "chatId": "7713811206",
        "text": "={{ '⚠️ 승인 이메일 발송 실패\\n\\n이름: ' + $('승인 메일 결과 기록').item.json.name + '\\n이메일: ' + $('승인 메일 결과 기록').item.json.email + '\\nNocoDB ID: ' + $('승인 메일 결과 기록').item.json.recordId + '\\n에러: ' + (($('승인 메일 결과 기록').item.json.errorMessage || '원인 미상').substring(0, 140)) + '\\n\\n→ 승인 처리는 완료됐고, 축하 메일만 실패했습니다. 필요 시 수동 발송을 확인해주세요.' }}",
        "additionalFields": {}
      },
      "id": "f65dd55e-f4c8-4a4d-9e4a-6a43d56a5e75",
      "name": "텔레그램 승인 메일 실패 경보",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [5040, 80],
      "credentials": {"telegramApi": {"id": "RdFu3nsFuuO5NCff", "name": "Pressco메이크샵봇"}}
    },
    {
      "parameters": {
        "conditions": {
          "string": [{"value1": "={{ $('식별 정보 추출').item.json.email }}", "operation": "isNotEmpty"}]
        }
      },
      "id": "fa001-n22",
      "name": "이메일 검색 가능?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2840, 600]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.foreverlove.co.kr/list/open_api.html",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {"name": "mode", "value": "search"},
            {"name": "type", "value": "user"},
            {"name": "email", "value": "={{ $('식별 정보 추출').item.json.email }}"}
          ]
        },
        "options": {"response": {"response": {"responseFormat": "json"}}},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Shopkey", "value": "1fe4eece82d00e245aff322522fb3aec"},
            {"name": "Licensekey", "value": "YWQ0ZTQwNWVhOGIzN2E3ZWVkZDdiMTIwOGZhNmQ3MDI="}
          ]
        }
      },
      "id": "fa001-n23",
      "name": "메이크샵 회원 조회 (이메일)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3060, 600]
    },
    {
      "parameters": {
        "jsCode": "// ===== 이메일 조회 파싱 (v4.0) =====\nconst resp = $json;\nconst orig = $('식별 정보 추출').item.json;\n\nlet userFound = false;\nlet makeshopUserId = '';\nlet respName = '';\nlet autoApprove = false;\nlet candidateInfo = '';\n\nif (resp.return_code === '0000' && Array.isArray(resp.list) && resp.list.length > 0) {\n  userFound = true;\n  if (resp.list.length === 1) {\n    makeshopUserId = resp.list[0].id || '';\n    respName = (resp.list[0].hname || '').trim();\n    autoApprove = true;\n  } else {\n    const inputN = orig.name.replace(/\\s/g, '').toLowerCase();\n    for (const m of resp.list) {\n      const apiN = (m.hname || '').replace(/\\s/g, '').toLowerCase();\n      if (apiN === inputN || apiN.includes(inputN) || inputN.includes(apiN)) {\n        makeshopUserId = m.id || '';\n        respName = (m.hname || '').trim();\n        autoApprove = true;\n        break;\n      }\n    }\n    if (!autoApprove) {\n      candidateInfo = resp.list.map(function(m) {\n        return '  \\u2022 ID: ' + m.id + ' / ' + (m.hname || '-');\n      }).join('\\n');\n    }\n  }\n}\n\n// 이전 연락처 검색 후보 정보 병합\nlet prevCandidate = '';\ntry { prevCandidate = $('연락처 조회 파싱 (스마트 매칭)').item.json.candidateInfo || ''; } catch(e) {}\nif (prevCandidate && candidateInfo) candidateInfo = prevCandidate + '\\n' + candidateInfo;\nelse if (prevCandidate) candidateInfo = prevCandidate;\n\nconst failReason = !userFound\n  ? '이메일로도 회원을 찾지 못함: ' + orig.email\n  : !autoApprove\n    ? '이메일 검색 ' + resp.list.length + '명 중 이름 매칭 실패'\n    : '';\n\nreturn {\n  json: {\n    ...orig,\n    userFound,\n    autoApprove,\n    makeshopUserId,\n    apiName: respName,\n    candidateInfo,\n    failReason\n  }\n};",
        "mode": "runOnceForEachItem"
      },
      "id": "fa001-n24",
      "name": "이메일 조회 파싱",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3280, 600]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{"value1": "={{ $json.autoApprove }}", "value2": true, "operation": "equal"}]
        }
      },
      "id": "fa001-n25",
      "name": "이메일 매칭?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [3500, 600]
    }
  ],
  "connections": {
    "5분 스케줄": {"main": [[{"node": "강사회원 그룹코드 조회", "type": "main", "index": 0}]]},
    "강사회원 그룹코드 조회": {"main": [[{"node": "그룹코드 파싱", "type": "main", "index": 0}]]},
    "그룹코드 파싱": {"main": [[{"node": "NocoDB 미처리 조회", "type": "main", "index": 0}]]},
    "NocoDB 미처리 조회": {"main": [[{"node": "레코드 분리", "type": "main", "index": 0}]]},
    "레코드 분리": {"main": [[{"node": "처리할 건 있는가", "type": "main", "index": 0}]]},
    "처리할 건 있는가": {"main": [[{"node": "식별 정보 추출", "type": "main", "index": 0}], [{"node": "처리 없음", "type": "main", "index": 0}]]},
    "식별 정보 추출": {"main": [[{"node": "자사몰 ID 있는가", "type": "main", "index": 0}]]},
    "자사몰 ID 있는가": {"main": [[{"node": "메이크샵 회원 조회 (ID)", "type": "main", "index": 0}], [{"node": "메이크샵 회원 조회 (연락처)", "type": "main", "index": 0}]]},
    "메이크샵 회원 조회 (ID)": {"main": [[{"node": "조회 응답 파싱 (ID)", "type": "main", "index": 0}]]},
    "조회 응답 파싱 (ID)": {"main": [[{"node": "회원 존재하는가", "type": "main", "index": 0}]]},
    "회원 존재하는가": {"main": [[{"node": "메이크샵 그룹 변경", "type": "main", "index": 0}], [{"node": "메이크샵 회원 조회 (연락처)", "type": "main", "index": 0}]]},
    "메이크샵 회원 조회 (연락처)": {"main": [[{"node": "연락처 조회 파싱 (스마트 매칭)", "type": "main", "index": 0}]]},
    "연락처 조회 파싱 (스마트 매칭)": {"main": [[{"node": "연락처 매칭 성공?", "type": "main", "index": 0}]]},
    "연락처 매칭 성공?": {"main": [[{"node": "메이크샵 그룹 변경", "type": "main", "index": 0}], [{"node": "이메일 검색 가능?", "type": "main", "index": 0}]]},
    "이메일 검색 가능?": {"main": [[{"node": "메이크샵 회원 조회 (이메일)", "type": "main", "index": 0}], [{"node": "수동 처리 메시지 조립", "type": "main", "index": 0}]]},
    "메이크샵 회원 조회 (이메일)": {"main": [[{"node": "이메일 조회 파싱", "type": "main", "index": 0}]]},
    "이메일 조회 파싱": {"main": [[{"node": "이메일 매칭?", "type": "main", "index": 0}]]},
    "이메일 매칭?": {"main": [[{"node": "메이크샵 그룹 변경", "type": "main", "index": 0}], [{"node": "수동 처리 메시지 조립", "type": "main", "index": 0}]]},
    "메이크샵 그룹 변경": {"main": [[{"node": "그룹 변경 응답 파싱", "type": "main", "index": 0}]]},
    "그룹 변경 응답 파싱": {"main": [[{"node": "그룹 변경 성공했는가", "type": "main", "index": 0}]]},
    "그룹 변경 성공했는가": {"main": [[{"node": "NocoDB 처리완료 기록", "type": "main", "index": 0}], [{"node": "수동 처리 메시지 조립", "type": "main", "index": 0}]]},
    "NocoDB 처리완료 기록": {"main": [[{"node": "텔레그램 성공 알림", "type": "main", "index": 0}]]},
    "텔레그램 성공 알림": {"main": [[{"node": "이메일 있는가", "type": "main", "index": 0}]]},
    "이메일 있는가": {"main": [[{"node": "승인 메일 중복 발송 가드", "type": "main", "index": 0}], []]},
    "승인 메일 중복 발송 가드": {"main": [[{"node": "이미 승인 메일 성공발송 이력 있는가", "type": "main", "index": 0}]]},
    "이미 승인 메일 성공발송 이력 있는가": {"main": [[{"node": "텔레그램 승인 메일 중복 경보", "type": "main", "index": 0}], [{"node": "승인 축하 이메일 발송", "type": "main", "index": 0}]]},
    "승인 축하 이메일 발송": {"main": [[{"node": "승인 메일 결과 기록", "type": "main", "index": 0}]]},
    "승인 메일 결과 기록": {"main": [[{"node": "승인 메일 성공했는가", "type": "main", "index": 0}]]},
    "승인 메일 성공했는가": {"main": [[], [{"node": "텔레그램 승인 메일 실패 경보", "type": "main", "index": 0}]]},
    "수동 처리 메시지 조립": {"main": [[{"node": "텔레그램 수동 처리 요청", "type": "main", "index": 0}, {"node": "NocoDB 수동처리 기록", "type": "main", "index": 0}]]},
    "텔레그램 수동 처리 요청": {"main": [[]]}
  },
  "settings": {
    "executionOrder": "v1"
  }
}
