n8n-automation/workflows/hr/WF-HR-003_monthly-report.json
{
  "id": "HR003_MONTHLY_REPORT",
  "name": "HR-003: 월간 근태 리포트 자동생성 (매월 1일)",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 1 * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300],
      "id": "hr003-trigger",
      "name": "매월 1일 09:00 KST"
    },
    {
      "parameters": {
        "jsCode": "// 전월 연월 계산 (매월 1일 실행 → 전월 리포트)\nconst now = new Date();\nconst prevMonth = new Date(now.getFullYear(), now.getMonth() - 1, 1);\nconst year = prevMonth.getFullYear();\nconst month = String(prevMonth.getMonth() + 1).padStart(2, '0');\nconst yearMonth = year + '-' + month;\n\n// 한국어 월명\nconst monthNames = ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'];\nconst monthLabel = year + '년 ' + monthNames[prevMonth.getMonth()];\n\nreturn [{ json: { yearMonth, monthLabel, year, month: parseInt(month) } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300],
      "id": "hr003-calc-month",
      "name": "전월 계산"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://mini.pressco21.com/api/hr/attendance/monthly-summary?month=' + $json.yearMonth }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-flora-automation-key", "value": "={{ $env.FLORA_HR_API_KEY }}" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 300],
      "id": "hr003-api-summary",
      "name": "월간 요약 조회"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst calcMonth = $('전월 계산').first().json;\n\nif (!input.ok || !input.staffSummaries) {\n  return [{ json: { error: true, message: '월간 요약 데이터 없음' } }];\n}\n\nconst summaries = input.staffSummaries;\n\n// === 1. 텔레그램 요약 메시지 생성 ===\nlet msg = '\\ud83d\\udcca ' + calcMonth.monthLabel + ' \\uadfc\\ud0dc \\ub9ac\\ud3ec\\ud2b8\\n\\n';\n\nlet totalAttended = 0;\nlet totalWork = 0;\nlet staffCount = summaries.length;\n\nfor (const s of summaries) {\n  const statusIcon = s.attendedDays === s.totalWorkDays ? '\\u2705' : '\\u26a0\\ufe0f';\n  const avgHours = s.avgWorkMinutes > 0 ? (s.avgWorkMinutes / 60).toFixed(1) + 'h' : '-';\n  const workTypeLabel = s.workType === 'deemed_hours' ? ' (\\uac04\\uc8fc)' : '';\n  \n  msg += statusIcon + ' ' + s.staffName + workTypeLabel + '\\n';\n  msg += '   \\ucd9c\\uadfc ' + s.attendedDays + '/' + s.totalWorkDays + '\\uc77c';\n  if (s.workType !== 'deemed_hours' && s.avgWorkMinutes > 0) {\n    msg += ' | \\ud3c9\\uade0 ' + avgHours;\n  }\n  msg += '\\n';\n  if (s.remoteDays > 0) msg += '   \\uc7ac\\ud0dd ' + s.remoteDays + '\\uc77c';\n  if (s.fieldDays > 0) msg += ' | \\uc678\\uadfc ' + s.fieldDays + '\\uc77c';\n  if (s.remoteDays > 0 || s.fieldDays > 0) msg += '\\n';\n  msg += '\\n';\n  \n  totalAttended += s.attendedDays;\n  totalWork += s.totalWorkDays;\n}\n\nmsg += '\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\n';\nmsg += '\\uc804\\uccb4 \\ucd9c\\uadfc\\uc728: ' + (totalWork > 0 ? Math.round(totalAttended / totalWork * 100) : 0) + '%\\n';\nmsg += '\\uc694\\uc57d: ' + staffCount + '\\uba85 | ' + totalAttended + '/' + totalWork + '\\uc77c';\n\n// === 2. CSV 바이너리 생성 ===\nlet csv = '\\uc774\\ub984,\\uc77c\\uc790,\\ucd9c\\uadfc\\uc2dc\\uac01,\\ud1f4\\uadfc\\uc2dc\\uac01,\\uadfc\\ubb34\\ud615\\ud0dc,\\uadfc\\ubb34\\uc2dc\\uac04(\\ubd84),\\ube44\\uace0\\n';\n\nfor (const s of summaries) {\n  if (!s.dailyRecords) continue;\n  for (const day of s.dailyRecords) {\n    const note = s.workType === 'deemed_hours' ? '\\uac04\\uc8fc\\uadfc\\ub85c \\uc2dc\\uac04\\uacc4\\uc0b0\\uc81c\\uc678' : '';\n    const workModeKr = day.workMode === 'office' ? '\\uc0ac\\uc5c5\\uc7a5' : day.workMode === 'remote' ? '\\uc7ac\\ud0dd' : '\\uc678\\uadfc';\n    csv += s.staffName + ',' + day.date + ',' + (day.clockIn || '') + ',' + (day.clockOut || '') + ',' + workModeKr + ',' + (day.workMinutes || '') + ',' + note + '\\n';\n  }\n}\n\nconst csvBuffer = Buffer.from(csv, 'utf-8');\nconst fileName = 'HR_\\uadfc\\ud0dc\\ub9ac\\ud3ec\\ud2b8_' + calcMonth.yearMonth + '.csv';\n\nreturn [{\n  json: {\n    message: msg,\n    fileName: fileName,\n    yearMonth: calcMonth.yearMonth,\n    staffCount: staffCount,\n    totalAttended: totalAttended,\n    totalWork: totalWork\n  },\n  binary: {\n    data: {\n      data: csvBuffer.toString('base64'),\n      mimeType: 'text/csv',\n      fileName: fileName\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 300],
      "id": "hr003-generate-report",
      "name": "리포트 생성 (텍스트+CSV)"
    },
    {
      "parameters": {
        "chatId": "7713811206",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1080, 200],
      "id": "hr003-send-summary",
      "name": "리포트 요약 전송",
      "credentials": {
        "telegramApi": {
          "id": "RdFu3nsFuuO5NCff",
          "name": "Telegram Makeshop Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7713811206",
        "operation": "sendDocument",
        "binaryPropertyName": "data",
        "additionalFields": {
          "caption": "={{ $json.yearMonth + ' \\uadfc\\ud0dc \\ub9ac\\ud3ec\\ud2b8 CSV' }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1080, 400],
      "id": "hr003-send-csv",
      "name": "CSV 파일 전송",
      "credentials": {
        "telegramApi": {
          "id": "RdFu3nsFuuO5NCff",
          "name": "Telegram Makeshop Bot"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://img.pressco21.com/hr-reports/' + $json.yearMonth + '/monthly-report.csv' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "text/csv" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ $binary.data.data }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 300],
      "id": "hr003-minio-upload",
      "name": "MinIO 보관",
      "credentials": {
        "httpHeaderAuth": {
          "id": "MINIO_CRED_ID",
          "name": "MinIO S3"
        }
      }
    }
  ],
  "connections": {
    "매월 1일 09:00 KST": {
      "main": [
        [{ "node": "전월 계산", "type": "main", "index": 0 }]
      ]
    },
    "전월 계산": {
      "main": [
        [{ "node": "월간 요약 조회", "type": "main", "index": 0 }]
      ]
    },
    "월간 요약 조회": {
      "main": [
        [{ "node": "리포트 생성 (텍스트+CSV)", "type": "main", "index": 0 }]
      ]
    },
    "리포트 생성 (텍스트+CSV)": {
      "main": [
        [{ "node": "리포트 요약 전송", "type": "main", "index": 0 }]
      ]
    },
    "리포트 요약 전송": {
      "main": [
        [{ "node": "CSV 파일 전송", "type": "main", "index": 0 }]
      ]
    },
    "CSV 파일 전송": {
      "main": [
        [{ "node": "MinIO 보관", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Seoul"
  },
  "tags": [
    { "name": "HR" },
    { "name": "자동화" }
  ]
}
