n8n-automation/workflows/automation/customer-segmentation.json
{
  "name": "S3A-002: 고객 세그먼테이션 (RFM)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * 1"
            }
          ]
        }
      },
      "id": "b3a00002-0001-4000-8000-000000000001",
      "name": "매주 월요일 10시",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://foreverlove.co.kr/list/open_api.html",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "mode", "value": "search" },
            { "name": "type", "value": "order" },
            { "name": "ver", "value": "2" },
            { "name": "InquiryTimeFrom", "value": "={{ $now.minus({days:90}).toFormat('yyyy-MM-dd') }} 00:00:00" },
            { "name": "InquiryTimeTo", "value": "={{ $now.minus({days:1}).toFormat('yyyy-MM-dd') }} 23:59:59" },
            { "name": "limit", "value": "500" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Shopkey", "value": "={{ $env.MAKESHOP_SHOPKEY }}" },
            { "name": "Licensekey", "value": "={{ $env.MAKESHOP_LICENSEKEY }}" }
          ]
        },
        "options": {
          "response": { "response": { "responseFormat": "json" } }
        }
      },
      "id": "b3a00002-0001-4000-8000-000000000002",
      "name": "최근 90일 주문 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://foreverlove.co.kr/list/open_api.html",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "mode", "value": "search" },
            { "name": "type", "value": "user" },
            { "name": "searchType", "value": "login" },
            { "name": "limit", "value": "500" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Shopkey", "value": "={{ $env.MAKESHOP_SHOPKEY }}" },
            { "name": "Licensekey", "value": "={{ $env.MAKESHOP_LICENSEKEY }}" }
          ]
        },
        "options": {
          "response": { "response": { "responseFormat": "json" } }
        }
      },
      "id": "b3a00002-0001-4000-8000-000000000003",
      "name": "회원 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 0]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// S3A-002: 고객 세그먼테이션 — RFM 분석 엔진\n// 90일 주문 데이터 + 회원 정보로 RFM 점수 계산 후 세그먼트 분류\n\nconst orderResp = $('최근 90일 주문 조회').first().json;\nconst memberResp = $('회원 조회').first().json;\n\nconst orders = orderResp.order || orderResp.list || [];\nconst members = memberResp.list || memberResp.user || [];\n\nconst now = new Date();\nconst today = $now.toFormat('yyyy-MM-dd');\n\n// --- 회원 맵 구축 ---\nconst memberMap = {};\nfor (const m of members) {\n  const uid = m.id || m.userid;\n  if (uid) {\n    memberMap[uid] = {\n      user_name: m.hname || m.name || '',\n      group_name: m.group_name || '일반',\n      last_login: m.login_date || '',\n      total_order_count: parseInt(m.order_count || 0)\n    };\n  }\n}\n\n// --- 주문 데이터를 고객별로 집계 ---\nconst customerData = {};\n\nfor (const order of orders) {\n  const uid = order.userid;\n  if (!uid) continue;\n\n  if (!customerData[uid]) {\n    customerData[uid] = {\n      user_id: uid,\n      orders: [],\n      totalSpent: 0,\n      orderCount: 0,\n      lastOrderDate: null\n    };\n  }\n\n  const c = customerData[uid];\n  c.orderCount++;\n\n  // 주문 금액 계산\n  const baskets = order.basket || [];\n  let orderTotal = 0;\n  for (const item of baskets) {\n    const price = parseInt(item.sell_price || item.price || 0);\n    const qty = parseInt(item.quantity || item.ea || 1);\n    orderTotal += price * qty;\n  }\n  c.totalSpent += orderTotal;\n\n  // 최근 주문일\n  const orderDate = order.order_date ? new Date(order.order_date) : null;\n  if (orderDate && (!c.lastOrderDate || orderDate > c.lastOrderDate)) {\n    c.lastOrderDate = orderDate;\n  }\n}\n\n// --- RFM 점수 계산 ---\nconst customers = Object.values(customerData);\n\nif (customers.length === 0) {\n  return [{ json: { message: '⚠️ 분석 가능한 주문 데이터가 없습니다.', segments: [] } }];\n}\n\n// Recency: 마지막 주문일로부터 경과 일수\nfor (const c of customers) {\n  c.recencyDays = c.lastOrderDate\n    ? Math.floor((now - c.lastOrderDate) / (1000 * 60 * 60 * 24))\n    : 999;\n}\n\n// 5분위 기준 계산 함수\nfunction getQuintiles(arr) {\n  const sorted = [...arr].sort((a, b) => a - b);\n  const len = sorted.length;\n  return [\n    sorted[Math.floor(len * 0.2)],\n    sorted[Math.floor(len * 0.4)],\n    sorted[Math.floor(len * 0.6)],\n    sorted[Math.floor(len * 0.8)]\n  ];\n}\n\n// R 점수 (역방향: 적을수록 좋음)\nconst rValues = customers.map(c => c.recencyDays);\nconst rQ = getQuintiles(rValues);\nfunction scoreR(days) {\n  if (days <= rQ[0]) return 5;\n  if (days <= rQ[1]) return 4;\n  if (days <= rQ[2]) return 3;\n  if (days <= rQ[3]) return 2;\n  return 1;\n}\n\n// F 점수 (정방향: 많을수록 좋음)\nconst fValues = customers.map(c => c.orderCount);\nconst fQ = getQuintiles(fValues);\nfunction scoreF(freq) {\n  if (freq > fQ[3]) return 5;\n  if (freq > fQ[2]) return 4;\n  if (freq > fQ[1]) return 3;\n  if (freq > fQ[0]) return 2;\n  return 1;\n}\n\n// M 점수 (정방향: 많을수록 좋음)\nconst mValues = customers.map(c => c.totalSpent);\nconst mQ = getQuintiles(mValues);\nfunction scoreM(monetary) {\n  if (monetary > mQ[3]) return 5;\n  if (monetary > mQ[2]) return 4;\n  if (monetary > mQ[1]) return 3;\n  if (monetary > mQ[0]) return 2;\n  return 1;\n}\n\n// --- 세그먼트 분류 ---\nfunction getSegment(r, f, m) {\n  const avg = (r + f + m) / 3;\n  if (r >= 4 && f >= 4 && m >= 4) return 'VIP';\n  if (r >= 3 && f >= 3) return '충성고객';\n  if (r >= 4 && f <= 2) return '신규고객';\n  if (r >= 3 && avg >= 3) return '성장고객';\n  if (r <= 2 && f >= 3) return '이탈위험';\n  if (r <= 2 && f <= 2) return '휴면고객';\n  return '일반고객';\n}\n\n// --- 결과 생성 ---\nconst segments = [];\nconst segmentCounts = {};\n\nfor (const c of customers) {\n  const r = scoreR(c.recencyDays);\n  const f = scoreF(c.orderCount);\n  const m = scoreM(c.totalSpent);\n  const segment = getSegment(r, f, m);\n\n  const memberInfo = memberMap[c.user_id] || {};\n\n  segments.push({\n    user_id: c.user_id,\n    user_name: memberInfo.user_name || '',\n    group_name: memberInfo.group_name || '비회원',\n    rfm_r: r,\n    rfm_f: f,\n    rfm_m: m,\n    segment: segment,\n    last_login: memberInfo.last_login || '',\n    order_count: c.orderCount,\n    total_spent: c.totalSpent,\n    recency_days: c.recencyDays,\n    updated_at: today\n  });\n\n  segmentCounts[segment] = (segmentCounts[segment] || 0) + 1;\n}\n\n// --- 텔레그램 메시지 ---\nconst fmt = (n) => n.toLocaleString('ko-KR');\n\nlet msg = '👥 <b>PRESSCO21 고객 세그먼테이션 리포트</b>\\n';\nmsg += '━━━━━━━━━━━━━━━━━━\\n';\nmsg += '📅 분석 기준: 최근 90일 (' + today + ')\\n';\nmsg += '📊 분석 대상: ' + customers.length + '명\\n\\n';\n\nmsg += '🎯 <b>세그먼트 분포</b>\\n';\nconst segOrder = ['VIP', '충성고객', '성장고객', '신규고객', '일반고객', '이탈위험', '휴면고객'];\nfor (const seg of segOrder) {\n  const cnt = segmentCounts[seg] || 0;\n  if (cnt === 0) continue;\n  const pct = Math.round(cnt / customers.length * 100);\n  let emoji = '📌';\n  if (seg === 'VIP') emoji = '👑';\n  else if (seg === '충성고객') emoji = '💎';\n  else if (seg === '성장고객') emoji = '🌱';\n  else if (seg === '신규고객') emoji = '🆕';\n  else if (seg === '이탈위험') emoji = '⚠️';\n  else if (seg === '휴면고객') emoji = '😴';\n  msg += '  ' + emoji + ' ' + seg + ': ' + cnt + '명 (' + pct + '%)\\n';\n}\n\n// VIP 상세\nconst vips = segments.filter(s => s.segment === 'VIP').sort((a,b) => b.total_spent - a.total_spent).slice(0, 5);\nif (vips.length > 0) {\n  msg += '\\n👑 <b>VIP TOP 5</b>\\n';\n  vips.forEach((v, i) => {\n    const name = v.user_name || v.user_id;\n    msg += '  ' + (i+1) + '. ' + name + ' (' + v.group_name + ')\\n';\n    msg += '     ' + v.order_count + '건 / ' + fmt(v.total_spent) + '원\\n';\n  });\n}\n\n// 이탈위험 경보\nconst atRisk = segments.filter(s => s.segment === '이탈위험').sort((a,b) => b.total_spent - a.total_spent).slice(0, 5);\nif (atRisk.length > 0) {\n  msg += '\\n⚠️ <b>이탈위험 고객 TOP 5 (재활성화 필요)</b>\\n';\n  atRisk.forEach((v, i) => {\n    const name = v.user_name || v.user_id;\n    msg += '  ' + (i+1) + '. ' + name + ' — ' + v.recency_days + '일 전 마지막 주문\\n';\n    msg += '     누적 ' + fmt(v.total_spent) + '원 / ' + v.order_count + '건\\n';\n  });\n}\n\nmsg += '\\n🤖 자동 생성 by n8n S3A-002';\n\nreturn [{ json: { message: msg, segments: segments, summary: segmentCounts } }];"
      },
      "id": "b3a00002-0001-4000-8000-000000000004",
      "name": "RFM 분석 엔진",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://nocodb.pressco21.com/api/v2/tables/' + $env.NOCODB_TABLE_CUSTOMER_SEGMENTS + '/records' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "xc-auth", "value": "={{ $env.NOCODB_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.segments.slice(0, 100)) }}",
        "options": {
          "response": { "response": { "responseFormat": "json" } }
        }
      },
      "id": "b3a00002-0001-4000-8000-000000000005",
      "name": "NocoDB 세그먼트 저장",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 0]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID || '-5154731145' }}",
        "text": "={{ $('RFM 분석 엔진').first().json.message }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "b3a00002-0001-4000-8000-000000000006",
      "name": "텔레그램 세그먼트 요약",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1200, 0],
      "credentials": {
        "telegramApi": {
          "id": "RdFu3nsFuuO5NCff",
          "name": "Telegram Makeshop Bot"
        }
      }
    }
  ],
  "connections": {
    "매주 월요일 10시": {
      "main": [[{ "node": "최근 90일 주문 조회", "type": "main", "index": 0 }]]
    },
    "최근 90일 주문 조회": {
      "main": [[{ "node": "회원 조회", "type": "main", "index": 0 }]]
    },
    "회원 조회": {
      "main": [[{ "node": "RFM 분석 엔진", "type": "main", "index": 0 }]]
    },
    "RFM 분석 엔진": {
      "main": [[{ "node": "NocoDB 세그먼트 저장", "type": "main", "index": 0 }]]
    },
    "NocoDB 세그먼트 저장": {
      "main": [[{ "node": "텔레그램 세그먼트 요약", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
