n8n-automation/workflows/automation/daily-sales-all-channels.json
{
  "name": "[F23] 통합 일일 매출 리포트",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        200,
        200
      ],
      "id": "node-schedule",
      "name": "매일 08:00"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "flora-daily-sales-all",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        500
      ],
      "id": "node-webhook",
      "name": "수동 조회",
      "webhookId": "flora-daily-sales-all"
    },
    {
      "parameters": {
        "jsCode": "// 스케줄(08:00) → 전일 확정, 웹훅 → body.mode 참조\nlet body = {};\ntry { body = $('수동 조회').first().json.body || {}; } catch(e) {}\nconst chatId = String(body.chatId || body.chat_id || '7713811206');\nconst mode = (body.mode || 'yesterday').toLowerCase();\n\nconst now = new Date();\nconst kstOffset = 9 * 60 * 60 * 1000;\nconst kstNow = new Date(now.getTime() + kstOffset);\n\nlet targetDate, label;\nif (mode === 'today') {\n  targetDate = kstNow.toISOString().slice(0, 10);\n  const h = parseInt(kstNow.toISOString().slice(11, 13));\n  const min = kstNow.toISOString().slice(14, 16);\n  label = `${kstNow.getMonth()+1}/${kstNow.getDate()} ${h}:${min} 기준 (집계 중)`;\n} else {\n  const yesterday = new Date(kstNow);\n  yesterday.setDate(yesterday.getDate() - 1);\n  targetDate = yesterday.toISOString().slice(0, 10);\n  const m = yesterday.getMonth() + 1;\n  const d = yesterday.getDate();\n  const dow = ['일','월','화','수','목','금','토'][yesterday.getDay()];\n  label = `${m}/${d}(${dow}) 확정`;\n}\n\nconst fromDate = targetDate + ' 00:00:00';\nconst toDate = targetDate + ' 23:59:59';\nconst st11Date = targetDate.replace(/-/g, '');\n\n// Google Sheets 일별 매출 행 번호 (A1=헤더, 1/1=2행)\nconst p = targetDate.split('-').map(Number);\nconst target = new Date(Date.UTC(p[0], p[1]-1, p[2]));\nconst jan1 = new Date(Date.UTC(p[0], 0, 1));\nconst sheetsRow = Math.round((target - jan1) / 86400000) + 2;\n\n// 이번 달 누계용 (월 시작~전일)\nconst monthStart = targetDate.slice(0, 7) + '-01 00:00:00';\n\nreturn [{ json: { chatId, mode, targetDate, fromDate, toDate, st11Date, monthStart, label, sheetsRow } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        350
      ],
      "id": "node-date",
      "name": "날짜 계산"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://foreverlove.co.kr/list/open_api.html",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "mode",
              "value": "search"
            },
            {
              "name": "type",
              "value": "order"
            },
            {
              "name": "ver",
              "value": "2"
            },
            {
              "name": "InquiryTimeFrom",
              "value": "={{ $('날짜 계산').first().json.fromDate }}"
            },
            {
              "name": "InquiryTimeTo",
              "value": "={{ $('날짜 계산').first().json.toDate }}"
            },
            {
              "name": "limit",
              "value": "500"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Shopkey",
              "value": "={{ $env.MAKESHOP_SHOPKEY }}"
            },
            {
              "name": "Licensekey",
              "value": "={{ $env.MAKESHOP_LICENSEKEY }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        350
      ],
      "id": "node-makeshop",
      "name": "메이크샵 주문 조회",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// 네이버 커머스 API: bcrypt 서명 + httpRequest로 토큰 발급\nconst bcrypt = require('bcryptjs');\nconst clientId = $env.NAVER_COMMERCE_CLIENT_ID || '';\nconst clientSecret = $env.NAVER_COMMERCE_CLIENT_SECRET || '';\n\nif (!clientId || !clientSecret) {\n  return [{ json: { error: 'NAVER_COMMERCE 환경변수 미설정', accessToken: '' } }];\n}\n\ntry {\n  const timestamp = Date.now();\n  const password = clientId + '_' + timestamp;\n  const hashed = bcrypt.hashSync(password, clientSecret);\n  const signature = Buffer.from(hashed).toString('base64');\n  \n  const tokenData = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.commerce.naver.com/external/v1/oauth2/token',\n    headers: { 'Content-Type': 'application/x-www-form-urlencoded' },\n    body: 'client_id=' + encodeURIComponent(clientId) + '&timestamp=' + timestamp + '&client_secret_sign=' + encodeURIComponent(signature) + '&grant_type=client_credentials&type=SELF'\n  });\n  \n  if (!tokenData.access_token) {\n    return [{ json: { error: 'Token: ' + JSON.stringify(tokenData).slice(0, 200), accessToken: '' } }];\n  }\n  return [{ json: { accessToken: tokenData.access_token, error: '' } }];\n} catch (e) {\n  const respBody = e.response && e.response.data ? JSON.stringify(e.response.data).slice(0, 200) : '';\n  return [{ json: { error: 'Naver auth ' + e.message + (respBody ? ' | ' + respBody : ''), accessToken: '' } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        350
      ],
      "id": "node-naver-auth",
      "name": "네이버 인증",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// 네이버 커머스 주문 조회 (GET product-orders)\nconst token = $('네이버 인증').first().json.accessToken || '';\nconst dateInfo = $('날짜 계산').first().json;\n\nif (!token) {\n  return [{ json: { error: $('네이버 인증').first().json.error || 'No token', totalRevenue: 0, totalOrders: 0 } }];\n}\n\ntry {\n  const from = dateInfo.targetDate + 'T00:00:00.000%2B09:00';\n  const to = dateInfo.targetDate + 'T23:59:59.999%2B09:00';\n  \n  const data = await this.helpers.httpRequest({\n    method: 'GET',\n    url: 'https://api.commerce.naver.com/external/v1/pay-order/seller/product-orders?from=' + from + '&to=' + to,\n    headers: { 'Authorization': 'Bearer ' + token }\n  });\n  \n  const contents = (data.data && data.data.contents) || [];\n  const CANCEL = ['CANCELED', 'RETURNED', 'EXCHANGED', 'CANCEL_REQUEST', 'RETURN_REQUEST', 'CANCEL_DONE'];\n  let totalRevenue = 0, totalOrders = 0, cancelCount = 0;\n  \n  for (const item of contents) {\n    const po = item.content && item.content.productOrder;\n    if (!po) continue;\n    const status = po.productOrderStatus || '';\n    if (CANCEL.includes(status)) { cancelCount++; continue; }\n    totalRevenue += parseInt(po.totalPaymentAmount || 0);\n    totalOrders++;\n  }\n  \n  return [{ json: { totalRevenue, totalOrders, cancelCount, rawCount: contents.length, error: '' } }];\n} catch (e) {\n  return [{ json: { error: 'Naver orders: ' + e.message, totalRevenue: 0, totalOrders: 0 } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        350
      ],
      "id": "node-naver-orders",
      "name": "네이버 주문 조회",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// 11번가 Seller API: 주문 상태별 복수 endpoint 조회\n// /complete만 보면 이미 배송/판매완료로 넘어간 주문을 놓친다.\n// targetDate의 주문일(ordDt) 기준으로 complete/packaging/shipping/dlvcompleted/completed를 합산한다.\nconst apiKey = $env.ST11_API_KEY || '';\nconst dateInfo = $('날짜 계산').first().json;\n\nif (!apiKey) {\n  return [{ json: { error: 'ST11_API_KEY 미설정', totalRevenue: 0, totalOrders: 0, rawCount: 0, source: 'st11_multi_status' } }];\n}\n\nconst num = (v) => {\n  if (v === undefined || v === null || v === '') return 0;\n  const s = String(v).replace(/[^0-9.-]/g, '');\n  return parseInt(s) || 0;\n};\nconst get = (chunk, f) => {\n  const re = new RegExp('<(?:ns2:)?' + f + '>([\\\\s\\\\S]*?)</(?:ns2:)?' + f + '>', 'i');\n  const m = chunk.match(re);\n  return m ? String(m[1] || '').replace(/<!\\[CDATA\\[|\\]\\]>/g, '').trim() : '';\n};\nconst date10 = (v) => {\n  const s = String(v || '');\n  if (/^\\d{4}-\\d{2}-\\d{2}/.test(s)) return s.slice(0, 10);\n  if (/^\\d{4}\\d{2}\\d{2}/.test(s)) return s.slice(0, 4) + '-' + s.slice(4, 6) + '-' + s.slice(6, 8);\n  return '';\n};\nconst pickAmount = (chunk) => {\n  // ordAmt가 상품 매출 기준에 가장 잘 맞음. 없으면 결제/상품금액으로 보완.\n  return num(get(chunk, 'ordAmt')) || num(get(chunk, 'ordPayAmt')) || num(get(chunk, 'prdPayAmt')) || num(get(chunk, 'selPrc'));\n};\n\nconst d = dateInfo.st11Date; // yyyyMMdd\nconst startDateTime = d + '0000';\nconst endDateTime = d + '2359';\nconst endpoints = [\n  'complete',\n  'packaging',\n  'shipping',\n  'dlvcompleted',\n  'completed',\n  'reservatecomplete',\n];\n\nconst seen = new Set();\nconst rows = [];\nconst errors = [];\n\nfor (const ep of endpoints) {\n  try {\n    const xml = await this.helpers.httpRequest({\n      method: 'GET',\n      url: 'https://api.11st.co.kr/rest/ordservices/' + ep + '/' + startDateTime + '/' + endDateTime,\n      headers: { openapikey: apiKey },\n      returnFullResponse: false,\n      encoding: 'utf-8',\n      timeout: 20000,\n    });\n    const xmlStr = typeof xml === 'string' ? xml : JSON.stringify(xml);\n    if (xmlStr.includes('조회된 결과가 없습니다') || xmlStr.includes('해당 건이 없습니다')) continue;\n    const orderMatches = xmlStr.match(/<(?:ns2:)?order>[\\s\\S]*?<\\/(?:ns2:)?order>/g) || [];\n    for (const chunk of orderMatches) {\n      const ordDate = date10(get(chunk, 'ordDt'));\n      if (ordDate !== dateInfo.targetDate) continue;\n      const ordNo = get(chunk, 'ordNo');\n      const seq = get(chunk, 'ordPrdSeq');\n      const key = ordNo + '_' + seq;\n      if (seen.has(key)) continue;\n      const amount = pickAmount(chunk);\n      if (amount <= 0) continue;\n      seen.add(key);\n      rows.push({ endpoint: ep, ordNo, seq, amount, ordDate });\n    }\n  } catch (e) {\n    errors.push(ep + ': ' + e.message);\n  }\n}\n\nconst totalRevenue = rows.reduce((sum, r) => sum + r.amount, 0);\nreturn [{ json: { totalRevenue, totalOrders: seen.size, rawCount: rows.length, rows, error: errors.join(' | '), source: 'st11_multi_status' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        350
      ],
      "id": "node-11st",
      "name": "11번가 주문 조회",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// 쿠팡윙 OpenAPI 주문 조회\n// 운영 정책:\n// - 2026-04-17은 현재 시점부터 19:00(KST)까지 일시적으로 쿠팡 API 사용 금지\n// - 이후 매일 14:30~19:00(KST)는 사방넷 출고 연동 시간으로 쿠팡 API 사용 금지\n// - 금지 시간에는 API를 호출하지 않고, 뒤쪽 집계 노드가 기존 구글시트 G열 값을 유지한다.\nconst crypto = require('crypto');\nconst dateInfo = $('날짜 계산').first().json;\n\nconst kstNow = new Date(Date.now() + 9 * 60 * 60 * 1000);\nconst kstIso = kstNow.toISOString();\nconst kstDate = kstIso.slice(0, 10);\nconst kstHour = parseInt(kstIso.slice(11, 13));\nconst kstMinute = parseInt(kstIso.slice(14, 16));\nconst nowMinutes = kstHour * 60 + kstMinute;\nconst recurringBlackout = nowMinutes >= (14 * 60 + 30) && nowMinutes < (19 * 60);\nconst oneOffBlackout = kstDate === '2026-04-17' && nowMinutes < (19 * 60);\n\nif (oneOffBlackout || recurringBlackout) {\n  const reason = oneOffBlackout\n    ? '2026-04-17 19:00까지 쿠팡 API 일시 중지'\n    : '14:30~19:00 사방넷 출고 연동 시간';\n  return [{ json: {\n    skipped: true,\n    reason,\n    blackoutWindow: 'KST 14:30-19:00',\n    kstNow: kstDate + ' ' + String(kstHour).padStart(2, '0') + ':' + String(kstMinute).padStart(2, '0'),\n    totalRevenue: 0,\n    totalOrders: 0,\n    rawCount: 0,\n    error: '',\n    source: 'coupang_wing_openapi_skipped',\n  } }];\n}\n\nconst accessKey = $env.COUPANG_ACCESS_KEY || $env.COUPANG_API_ACCESS_KEY || '';\nconst secretKey = $env.COUPANG_SECRET_KEY || $env.COUPANG_API_SECRET_KEY || '';\nconst vendorId = $env.COUPANG_VENDOR_ID || $env.COUPANG_API_VENDOR_ID || '';\nconst baseUrl = $env.COUPANG_API_BASE_URL || 'https://api-gateway.coupang.com';\n\nif (!accessKey || !secretKey || !vendorId) {\n  return [{ json: {\n    skipped: true,\n    reason: 'COUPANG 환경변수 미설정 — 기존 구글시트 G열 값 유지',\n    totalRevenue: 0,\n    totalOrders: 0,\n    rawCount: 0,\n    error: 'COUPANG_ACCESS_KEY / COUPANG_SECRET_KEY / COUPANG_VENDOR_ID 미설정',\n    source: 'coupang_wing_openapi_skipped_missing_env',\n  } }];\n}\n\nconst signedDate = () => {\n  const iso = new Date().toISOString();\n  return iso.slice(2, 4) + iso.slice(5, 7) + iso.slice(8, 10) + 'T' + iso.slice(11, 13) + iso.slice(14, 16) + iso.slice(17, 19) + 'Z';\n};\n\nconst makeAuthHeader = (method, path, query) => {\n  const ts = signedDate();\n  const message = ts + method + path + query;\n  const signature = crypto.createHmac('sha256', secretKey).update(message).digest('hex');\n  return 'CEA algorithm=HmacSHA256, access-key=' + accessKey + ', signed-date=' + ts + ', signature=' + signature;\n};\n\nconst enc = (v) => encodeURIComponent(String(v));\nconst queryString = (obj) => Object.keys(obj).map(k => enc(k) + '=' + enc(obj[k])).join('&');\n\nconst money = (v) => {\n  if (v === undefined || v === null || v === '') return 0;\n  if (typeof v === 'number') return Math.round(v);\n  if (typeof v === 'string') return parseInt(v.replace(/[^0-9.-]/g, '')) || 0;\n  if (typeof v === 'object') {\n    const units = parseInt(v.units || v.amount || v.value || 0) || 0;\n    const nanos = parseInt(v.nanos || 0) || 0;\n    return units + Math.round(nanos / 1000000000);\n  }\n  return 0;\n};\n\nconst statuses = ['ACCEPT', 'INSTRUCT', 'DEPARTURE', 'DELIVERING', 'FINAL_DELIVERY', 'NONE_TRACKING'];\nconst path = '/v2/providers/openapi/apis/api/v5/vendors/' + encodeURIComponent(vendorId) + '/ordersheets';\nconst from = dateInfo.targetDate + 'T00:00+09:00';\nconst to = dateInfo.targetDate + 'T23:59+09:00';\n\nlet totalRevenue = 0;\nconst orderIds = new Set();\nconst lineKeys = new Set();\nconst apiErrors = [];\nlet rawCount = 0;\n\nfor (const status of statuses) {\n  try {\n    const query = queryString({\n      createdAtFrom: from,\n      createdAtTo: to,\n      searchType: 'timeFrame',\n      status: status,\n    });\n    const auth = makeAuthHeader('GET', path, query);\n    let resp = await this.helpers.httpRequest({\n      method: 'GET',\n      url: baseUrl + path + '?' + query,\n      headers: {\n        Authorization: auth,\n        'Content-Type': 'application/json;charset=UTF-8',\n      },\n      timeout: 30000,\n    });\n    if (typeof resp === 'string') {\n      try { resp = JSON.parse(resp); } catch(e) { resp = { raw: resp }; }\n    }\n\n    if (resp && resp.code && String(resp.code) !== '200' && String(resp.code).toUpperCase() !== 'SUCCESS') {\n      apiErrors.push(status + ': ' + (resp.message || resp.code));\n      continue;\n    }\n\n    const rows = Array.isArray(resp && resp.data) ? resp.data : [];\n    rawCount += rows.length;\n\n    for (const order of rows) {\n      const orderId = String(order.orderId || order.shipmentBoxId || '');\n      if (orderId) orderIds.add(orderId);\n      const items = Array.isArray(order.orderItems) ? order.orderItems : [];\n      for (const item of items) {\n        if (item.canceled === true) continue;\n        const shippingCount = parseInt(item.shippingCount || item.salesQuantity || 1) || 1;\n        const cancelCount = parseInt(item.cancelCount || 0) || 0;\n        const holdCount = parseInt(item.holdCountForCancel || 0) || 0;\n        const activeCount = Math.max(0, shippingCount - cancelCount - holdCount);\n        if (activeCount <= 0) continue;\n\n        const key = [orderId, order.shipmentBoxId || '', item.vendorItemId || '', item.sellerProductId || '', item.vendorItemName || item.productName || ''].join(':');\n        if (lineKeys.has(key)) continue;\n        lineKeys.add(key);\n\n        let lineAmount = money(item.orderPrice);\n        if (lineAmount <= 0) {\n          const unit = money(item.salesPrice || item.unitSalesPrice);\n          lineAmount = unit * activeCount;\n        } else if (activeCount !== shippingCount && shippingCount > 0) {\n          lineAmount = Math.round(lineAmount * activeCount / shippingCount);\n        }\n        totalRevenue += lineAmount;\n      }\n    }\n  } catch (e) {\n    apiErrors.push(status + ': ' + e.message);\n  }\n}\n\nreturn [{ json: {\n  skipped: false,\n  totalRevenue,\n  totalOrders: orderIds.size,\n  rawCount,\n  lineCount: lineKeys.size,\n  error: apiErrors.join(' | '),\n  source: 'coupang_wing_openapi',\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        350
      ],
      "id": "8741350d-b602-41ce-bf89-91b4575946aa",
      "name": "쿠팡윙 주문 조회",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// CRM 직접거래: NocoDB에서 최근 명세표 조회 후 날짜 필터\nconst dateInfo = $('날짜 계산').first().json;\nconst token = $env.NOCODB_TOKEN || '';\n\nif (!token) {\n  return [{ json: { list: [], error: 'NOCODB_TOKEN 미설정' } }];\n}\n\ntry {\n  const data = await this.helpers.httpRequest({\n    method: 'GET',\n    url: 'https://nocodb.pressco21.com/api/v1/db/data/noco/pu0mwk97kac8a5p/ml81i9mcuw0pjzk',\n    headers: { 'xc-token': token },\n    qs: { sort: '-invoice_date', fields: 'Id,invoice_date,total_amount,payment_status', limit: 500 }\n  });\n  \n  const allInvoices = data.list || [];\n  const filtered = allInvoices.filter(inv => String(inv.invoice_date || '').startsWith(dateInfo.targetDate));\n  \n  return [{ json: { list: filtered, error: '' } }];\n} catch (e) {\n  return [{ json: { list: [], error: 'CRM: ' + e.message } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        350
      ],
      "id": "node-crm",
      "name": "CRM 직접거래 조회",
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/1B6F3XJLjK5WWaoOLy6f8JafjYNWs0-NQvVBvWKwTzhM/values/%EC%9D%BC%EB%B3%84%20%EB%A7%A4%EC%B6%9C!C{{ $('날짜 계산').first().json.sheetsRow }}:J{{ $('날짜 계산').first().json.sheetsRow }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2080,
        350
      ],
      "id": "f10a02a5-ed04-42a3-b34c-e7cd2015f06e",
      "name": "기존 시트 행 조회",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2e6e75e1-2d4f-40ac-b992-c12aef75e69e",
          "name": "Pressco21-GoogleDrive"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const dateInfo = $('날짜 계산').first().json;\n\nconst num = (v) => {\n  if (v === undefined || v === null || v === '') return 0;\n  return parseInt(String(v).replace(/[^0-9.-]/g, '')) || 0;\n};\n\nlet existingRow = [];\ntry {\n  const sheetResp = $('기존 시트 행 조회').first().json || {};\n  existingRow = (sheetResp.values && sheetResp.values[0]) || [];\n} catch(e) {}\nconst existingMakeShop = num(existingRow[0]);\nconst existingNaver = num(existingRow[1]);\nconst existingSt11 = num(existingRow[2]);\nconst existingCrm = num(existingRow[3]);\nconst existingCoupang = num(existingRow[4]); // C:J 조회 기준 G열\n\n\nconst isPersonalPaymentOrder = (entry) => {\n  const products = entry && entry.product ? entry.product : {};\n  const list = Array.isArray(products) ? products : Object.values(products || {});\n  const pattern = /개인\\s*결제|개별\\s*결제|개인\\s*결재|개별\\s*결재|개인결제|개별결제|개인결재|개별결재/i;\n  for (const p of list) {\n    const cate1 = String((p && p.product_cate1) || '');\n    const brand = String((p && p.brandcode) || '');\n    // PRESSCO21 개인결제 전용 카테고리: 097 / brandcode 097001...\n    if (cate1 === '097' || brand.indexOf('097001') === 0) return true;\n    const text = String((p && p.product_name) || '') + ' ' + String((p && p.option_data) || '') + ' ' + String((p && p.custom_option_data) || '');\n    if (pattern.test(text)) return true;\n  }\n  return false;\n};\n\nconst isPickupCompletedOrder = (entry) => {\n  const products = entry && entry.product ? entry.product : {};\n  const list = Array.isArray(products) ? products : Object.values(products || {});\n  const pattern = /방문\\s*수령|방문시간|픽업|직접\\s*수령/i;\n  for (const p of list) {\n    const text = String((p && p.product_name) || '') + ' ' + String((p && p.option_data) || '') + ' ' + String((p && p.custom_option_data) || '');\n    if (pattern.test(text)) return true;\n  }\n  const order = entry && entry.order ? entry.order : entry;\n  const orderText = String((order && order.memo) || '') + ' ' + String((order && order.add_info) || '');\n  return pattern.test(orderText);\n};\n\n// ── 1. 메이크샵 파싱 ──\nlet msRevenue = 0, msOrders = 0, msCancels = 0;\nlet msPersonalExcluded = 0, msPickupIncluded = 0;\ntry {\n  let orderResp = $('메이크샵 주문 조회').first().json;\n  if (typeof orderResp.data === 'string') {\n    try { orderResp = JSON.parse(orderResp.data); } catch(e) {}\n  }\n  if (typeof orderResp === 'string') {\n    try { orderResp = JSON.parse(orderResp); } catch(e) { orderResp = {}; }\n  }\n  const rawList = Array.isArray(orderResp.list) ? orderResp.list : (orderResp.list ? Object.values(orderResp.list) : []);\n  for (const entry of rawList) {\n    const o = entry.order || entry;\n    const status = String(o.order_status || o.ord_state || '');\n    // Y=결제완료. S 중 방문수령/픽업 완료 건은 실제 출고 건으로 주문/픽업일 매출에 포함.\n    const isRevenueStatus = status === 'Y' || (status === 'S' && isPickupCompletedOrder(entry));\n    if (!isRevenueStatus) { msCancels++; continue; }\n    const amount = parseInt(o.pay_price || o.total_product_price || o.start_price || 0);\n    // CRM/전화주문 카드결제를 위해 만든 메이크샵 개인결제건은 CRM 매출로만 본다.\n    if (isPersonalPaymentOrder(entry)) { msPersonalExcluded += amount; continue; }\n    if (status === 'S') msPickupIncluded += amount;\n    msRevenue += amount;\n    msOrders++;\n  }\n} catch(e) {}\n\n// ── 2. 네이버 ──\nlet nvRevenue = 0, nvOrders = 0, nvError = '';\ntry {\n  const nv = $('네이버 주문 조회').first().json;\n  nvRevenue = nv.totalRevenue || 0;\n  nvOrders = nv.totalOrders || 0;\n  nvError = nv.error || '';\n  if (nvError) nvRevenue = existingNaver;\n} catch(e) { nvError = e.message; nvRevenue = existingNaver; }\n\n// ── 3. 11번가 ──\nlet stRevenue = 0, stOrders = 0, stError = '';\ntry {\n  const st = $('11번가 주문 조회').first().json;\n  stRevenue = st.totalRevenue || 0;\n  stOrders = st.totalOrders || 0;\n  stError = st.error || '';\n  if (stError) stRevenue = existingSt11;\n} catch(e) { stError = e.message; stRevenue = existingSt11; }\n\n// ── 4. 쿠팡윙 ──\nlet cpRevenue = 0, cpOrders = 0, cpError = '', cpSkipped = false, cpNote = '';\ntry {\n  const cp = $('쿠팡윙 주문 조회').first().json;\n  cpSkipped = !!cp.skipped;\n  if (cpSkipped) {\n    cpRevenue = existingCoupang;\n    cpOrders = 0;\n    cpNote = (cp.reason || '쿠팡 API 휴지시간') + ' — 기존 구글시트 G열 값 유지';\n  } else {\n    cpRevenue = cp.totalRevenue || 0;\n    cpOrders = cp.totalOrders || 0;\n    cpError = cp.error || '';\n    // API 오류/한도/인증 오류가 있으면 0으로 덮지 않고 기존 G열 값을 유지한다.\n    if (cpError) {\n      cpRevenue = existingCoupang;\n      cpOrders = 0;\n      cpNote = '쿠팡 API 오류 — 기존 구글시트 G열 값 유지: ' + cpError.slice(0, 80);\n    }\n  }\n} catch(e) {\n  cpError = e.message;\n  cpRevenue = existingCoupang;\n  cpOrders = 0;\n  cpNote = '쿠팡 API 예외 — 기존 구글시트 G열 값 유지: ' + cpError.slice(0, 80);\n}\n\n// ── 5. CRM 직접거래 ──\nlet crmRevenue = 0, crmOrders = 0;\ntry {\n  const crmResp = $('CRM 직접거래 조회').first().json;\n  if (crmResp.error) throw new Error(crmResp.error);\n  const invoices = crmResp.list || [];\n  for (const inv of invoices) {\n    if (inv.payment_status === 'cancelled') continue;\n    crmRevenue += parseInt(inv.total_amount || 0);\n    crmOrders++;\n  }\n} catch(e) { crmRevenue = existingCrm; }\n\n// ── 총계 ──\nconst totalRevenue = msRevenue + nvRevenue + stRevenue + cpRevenue + crmRevenue;\nconst totalOrders = msOrders + nvOrders + stOrders + cpOrders + crmOrders;\nconst fmt = (n) => n.toLocaleString('ko-KR');\nconst pct = (n) => totalRevenue > 0 ? Math.round(n / totalRevenue * 100) : 0;\n\n// ── 리포트 생성 ──\nlet msg = '<b>[전일 매출] ' + dateInfo.label + '</b>\\n';\nmsg += '━━━━━━━━━━━━━━━━━━━\\n';\nmsg += '\\uD83D\\uDCB0 총 매출: <b>' + fmt(totalRevenue) + '원</b> (' + totalOrders + '건)\\n\\n';\nmsg += '채널별:\\n';\nmsg += '\\uD83C\\uDFEA 메이크샵  ' + fmt(msRevenue) + '원 (' + msOrders + '건) ' + pct(msRevenue) + '%';\nif (msCancels > 0) msg += ' | 제외 ' + msCancels + '건';\nif (msPickupIncluded > 0) msg += ' | 방문수령 포함 ' + fmt(msPickupIncluded) + '원';\nmsg += '\\n';\n\nif (nvError) {\n  msg += '\\uD83D\\uDFE2 네이버     (API 오류)\\n';\n} else {\n  msg += '\\uD83D\\uDFE2 네이버     ' + fmt(nvRevenue) + '원 (' + nvOrders + '건) ' + pct(nvRevenue) + '%\\n';\n}\n\nif (stError) {\n  msg += '\\uD83D\\uDD34 11번가     (API 오류)\\n';\n} else {\n  msg += '\\uD83D\\uDD34 11번가     ' + fmt(stRevenue) + '원 (' + stOrders + '건) ' + pct(stRevenue) + '%\\n';\n}\n\nif (cpSkipped) {\n  msg += '\\uD83D\\uDCE6 쿠팡윙     ' + fmt(cpRevenue) + '원 (API 휴지시간, 기존값 유지) ' + pct(cpRevenue) + '%\\n';\n} else if (cpError) {\n  msg += '\\uD83D\\uDCE6 쿠팡윙     (API 오류)\\n';\n} else {\n  msg += '\\uD83D\\uDCE6 쿠팡윙     ' + fmt(cpRevenue) + '원 (' + cpOrders + '건) ' + pct(cpRevenue) + '%\\n';\n}\n\nmsg += '\\uD83D\\uDCDE 직접거래  ' + fmt(crmRevenue) + '원 (' + crmOrders + '건) ' + pct(crmRevenue) + '%\\n';\n\n// 에러/휴지시간 요약\nconst errors = [];\nif (nvError) errors.push('네이버: ' + nvError.slice(0, 50));\nif (stError) errors.push('11번가: ' + stError.slice(0, 50));\nif (cpError) errors.push('쿠팡윙: ' + cpError.slice(0, 50));\nif (errors.length > 0) {\n  msg += '\\n\\u26A0\\uFE0F API 오류:\\n' + errors.map(e => '  · ' + e).join('\\n') + '\\n';\n}\nif (cpNote) {\n  msg += '\\n\\u26A0\\uFE0F ' + cpNote + '\\n';\n}\n\nif (totalOrders === 0) {\n  msg = '<b>[전일 매출] ' + dateInfo.label + '</b>\\n━━━━━━━━━━━━━━━━━━━\\n주문이 없습니다.';\n  if (errors.length > 0) msg += '\\n\\n\\u26A0\\uFE0F API 오류 (데이터 불완전):\\n' + errors.map(e => '  · ' + e).join('\\n');\n  if (cpNote) msg += '\\n\\n\\u26A0\\uFE0F ' + cpNote;\n}\n\nreturn [{ json: {\n  message: msg,\n  chatId: dateInfo.chatId,\n  reportDate: dateInfo.targetDate,\n  makeshop: { revenue: msRevenue, orders: msOrders, cancels: msCancels, personalExcluded: msPersonalExcluded, pickupIncluded: msPickupIncluded },\n  naver: { revenue: nvRevenue, orders: nvOrders, error: nvError },\n  st11: { revenue: stRevenue, orders: stOrders, error: stError },\n  coupang: { revenue: cpRevenue, orders: cpOrders, error: cpError, skipped: cpSkipped, note: cpNote, source: cpSkipped ? 'sheet_existing_during_blackout' : 'coupang_wing_openapi' },\n  crm: { revenue: crmRevenue, orders: crmOrders },\n  total: { revenue: totalRevenue, orders: totalOrders },\n  sheetsRow: dateInfo.sheetsRow\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2280,
        350
      ],
      "id": "node-aggregate",
      "name": "통합 집계"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/1B6F3XJLjK5WWaoOLy6f8JafjYNWs0-NQvVBvWKwTzhM/values/%EC%9D%BC%EB%B3%84%20%EB%A7%A4%EC%B6%9C!C{{ $('통합 집계').first().json.sheetsRow }}:G{{ $('통합 집계').first().json.sheetsRow }}?valueInputOption=USER_ENTERED",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ values: [[ $('통합 집계').first().json.makeshop.revenue || 0, $('통합 집계').first().json.naver.revenue || 0, $('통합 집계').first().json.st11.revenue || 0, $('통합 집계').first().json.crm.revenue || 0, $('통합 집계').first().json.coupang.revenue || 0 ]] }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2440,
        350
      ],
      "id": "node-sheets",
      "name": "Sheets 기입",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2e6e75e1-2d4f-40ac-b992-c12aef75e69e",
          "name": "Pressco21-GoogleDrive"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "chatId": "-5251214343",
        "text": "={{ $('통합 집계').first().json.message }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2680,
        350
      ],
      "id": "node-telegram",
      "name": "텔레그램 전송",
      "credentials": {
        "telegramApi": {
          "id": "RdFu3nsFuuO5NCff",
          "name": "Pressco메이크샵봇"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nocodb.pressco21.com/api/v1/db/data/noco/pbmo0os7rnvfd48/mwxvxjiqtw177xu",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "={{ $env.NOCODB_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ report_date: $('통합 집계').first().json.reportDate, makeshop_revenue: $('통합 집계').first().json.makeshop.revenue, makeshop_orders: $('통합 집계').first().json.makeshop.orders, naver_revenue: $('통합 집계').first().json.naver.revenue, naver_orders: $('통합 집계').first().json.naver.orders, st11_revenue: $('통합 집계').first().json.st11.revenue, st11_orders: $('통합 집계').first().json.st11.orders, crm_revenue: $('통합 집계').first().json.crm.revenue, crm_orders: $('통합 집계').first().json.crm.orders, coupang_revenue: $('통합 집계').first().json.coupang.revenue, coupang_orders: $('통합 집계').first().json.coupang.orders, total_revenue: $('통합 집계').first().json.total.revenue, total_orders: $('통합 집계').first().json.total.orders, notes: ($('통합 집계').first().json.naver.error ? 'naver:' + $('통합 집계').first().json.naver.error.slice(0,50) + ' ' : '') + ($('통합 집계').first().json.st11.error ? '11st:' + $('통합 집계').first().json.st11.error.slice(0,50) + ' ' : '') + ($('통합 집계').first().json.coupang.error ? 'coupang:' + $('통합 집계').first().json.coupang.error.slice(0,50) + ' ' : '') + ($('통합 집계').first().json.coupang.note || '') }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2920,
        350
      ],
      "id": "node-save",
      "name": "NocoDB 저장",
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, date: $('통합 집계').first().json.reportDate, total_revenue: $('통합 집계').first().json.total.revenue, total_orders: $('통합 집계').first().json.total.orders, channels: { makeshop: $('통합 집계').first().json.makeshop.revenue, naver: $('통합 집계').first().json.naver.revenue, st11: $('통합 집계').first().json.st11.revenue, crm: $('통합 집계').first().json.crm.revenue, coupang: $('통합 집계').first().json.coupang.revenue } }) }}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3160,
        350
      ],
      "id": "node-respond",
      "name": "응답"
    }
  ],
  "connections": {
    "매일 08:00": {
      "main": [
        [
          {
            "node": "날짜 계산",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "수동 조회": {
      "main": [
        [
          {
            "node": "날짜 계산",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "날짜 계산": {
      "main": [
        [
          {
            "node": "메이크샵 주문 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "메이크샵 주문 조회": {
      "main": [
        [
          {
            "node": "네이버 인증",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "네이버 인증": {
      "main": [
        [
          {
            "node": "네이버 주문 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "네이버 주문 조회": {
      "main": [
        [
          {
            "node": "11번가 주문 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "11번가 주문 조회": {
      "main": [
        [
          {
            "node": "쿠팡윙 주문 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRM 직접거래 조회": {
      "main": [
        [
          {
            "node": "기존 시트 행 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "통합 집계": {
      "main": [
        [
          {
            "node": "Sheets 기입",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets 기입": {
      "main": [
        [
          {
            "node": "NocoDB 저장",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB 저장": {
      "main": [
        [
          {
            "node": "응답",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "쿠팡윙 주문 조회": {
      "main": [
        [
          {
            "node": "CRM 직접거래 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "기존 시트 행 조회": {
      "main": [
        [
          {
            "node": "통합 집계",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
