n8n-automation/workflows/automation/daily-sales-f26-weekly-adjustment.json
{
  "name": "[F26] 주간 정산 조정",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * 1"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        200,
        200
      ],
      "id": "node-schedule",
      "name": "매주 월 10:00"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "flora-weekly-adjustment",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        500
      ],
      "id": "node-webhook",
      "name": "수동 조회",
      "webhookId": "flora-weekly-adjustment"
    },
    {
      "parameters": {
        "jsCode": "// 스케줄(월 10:00) -> 최근 14일, 웹훅 -> body.days 참조\nlet body = {};\ntry { body = $('수동 조회').first().json.body || {}; } catch(e) {}\nconst chatId = String(body.chatId || body.chat_id || '7713811206');\nconst days = parseInt(body.days || '14');\n\nconst now = new Date();\nconst kstNow = new Date(now.getTime() + 9 * 60 * 60 * 1000);\n\nconst yesterday = new Date(kstNow);\nyesterday.setDate(yesterday.getDate() - 1);\n\nconst startDate = new Date(yesterday);\nstartDate.setDate(startDate.getDate() - days + 1);\n\nconst fmt = (d) => d.toISOString().slice(0, 10);\n\nconst dates = [];\nconst cur = new Date(startDate);\nwhile (cur <= yesterday) {\n  dates.push(fmt(cur));\n  cur.setDate(cur.getDate() + 1);\n}\n\n// 11번가 클레임 기간 (최근 7일, 주간 실행과 일치시켜 중복 방지)\nconst claimEnd = new Date(yesterday);\nconst claimStart = new Date(claimEnd);\nclaimStart.setDate(claimStart.getDate() - 6);\n\nreturn [{ json: {\n  chatId, days,\n  startStr: fmt(startDate),\n  endStr: fmt(yesterday),\n  dates,\n  claimStartStr: fmt(claimStart).replace(/-/g, '') + '0000',\n  claimEndStr: fmt(claimEnd).replace(/-/g, '') + '2359'\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        350
      ],
      "id": "node-date",
      "name": "날짜 계산"
    },
    {
      "parameters": {
        "jsCode": "// 메이크샵 14일 재조회: status=Y(결제완료)만 집계\n\nconst isPersonalPaymentOrder = (entry) => {\n  const products = entry && entry.product ? entry.product : {};\n  const list = Array.isArray(products) ? products : Object.values(products || {});\n  const pattern = /개인\\s*결제|개별\\s*결제|개인\\s*결재|개별\\s*결재|개인결제|개별결제|개인결재|개별결재/i;\n  for (const p of list) {\n    const cate1 = String((p && p.product_cate1) || '');\n    const brand = String((p && p.brandcode) || '');\n    // PRESSCO21 개인결제 전용 카테고리: 097 / brandcode 097001...\n    if (cate1 === '097' || brand.indexOf('097001') === 0) return true;\n    const text = String((p && p.product_name) || '') + ' ' + String((p && p.option_data) || '') + ' ' + String((p && p.custom_option_data) || '');\n    if (pattern.test(text)) return true;\n  }\n  return false;\n};\n\nconst dateInfo = $('날짜 계산').first().json;\nconst shopkey = $env.MAKESHOP_SHOPKEY || '';\nconst licensekey = $env.MAKESHOP_LICENSEKEY || '';\nconst result = {};\n\nif (!shopkey || !licensekey) {\n  return [{ json: { makeshop: result, error: 'MAKESHOP 환경변수 미설정' } }];\n}\n\nfor (const dt of dateInfo.dates) {\n  try {\n    let resp = await this.helpers.httpRequest({\n      method: 'GET',\n      url: 'http://foreverlove.co.kr/list/open_api.html',\n      qs: {\n        mode: 'search', type: 'order', ver: '2',\n        InquiryTimeFrom: dt + ' 00:00:00',\n        InquiryTimeTo: dt + ' 23:59:59',\n        limit: '500'\n      },\n      headers: { Shopkey: shopkey, Licensekey: licensekey },\n      timeout: 15000\n    });\n\n    if (typeof resp === 'string') { try { resp = JSON.parse(resp); } catch(e) { resp = {}; } }\n    if (resp && typeof resp.data === 'string') { try { resp = JSON.parse(resp.data); } catch(e) {} }\n    const rawList = resp && resp.list\n      ? (Array.isArray(resp.list) ? resp.list : Object.values(resp.list))\n      : [];\n\n    let revenue = 0, orders = 0, personalExcluded = 0;\n    for (const entry of rawList) {\n      const o = entry.order || entry;\n      if (String(o.order_status || o.ord_state || '') !== 'Y') continue;\n      const amount = parseInt(o.pay_price || o.total_product_price || 0);\n      if (isPersonalPaymentOrder(entry)) { personalExcluded += amount; continue; }\n      revenue += amount;\n      orders++;\n    }\n    result[dt] = { revenue, orders, personalExcluded };\n  } catch(e) {\n    result[dt] = { revenue: -1, orders: -1, error: e.message };\n  }\n}\n\nreturn [{ json: { makeshop: result } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        350
      ],
      "id": "node-ms",
      "name": "메이크샵 재조회",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// 네이버 커머스 API: bcrypt 서명 + 토큰 발급\nconst bcrypt = require('bcryptjs');\nconst clientId = $env.NAVER_COMMERCE_CLIENT_ID || '';\nconst clientSecret = $env.NAVER_COMMERCE_CLIENT_SECRET || '';\n\nif (!clientId || !clientSecret) {\n  return [{ json: { error: 'NAVER_COMMERCE 환경변수 미설정', accessToken: '' } }];\n}\n\ntry {\n  const timestamp = Date.now();\n  const password = clientId + '_' + timestamp;\n  const hashed = bcrypt.hashSync(password, clientSecret);\n  const signature = Buffer.from(hashed).toString('base64');\n\n  const tokenData = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.commerce.naver.com/external/v1/oauth2/token',\n    headers: { 'Content-Type': 'application/x-www-form-urlencoded' },\n    body: 'client_id=' + encodeURIComponent(clientId) + '&timestamp=' + timestamp + '&client_secret_sign=' + encodeURIComponent(signature) + '&grant_type=client_credentials&type=SELF'\n  });\n\n  if (!tokenData.access_token) {\n    return [{ json: { error: 'Token: ' + JSON.stringify(tokenData).slice(0, 200), accessToken: '' } }];\n  }\n  return [{ json: { accessToken: tokenData.access_token, error: '' } }];\n} catch (e) {\n  return [{ json: { error: 'Naver auth ' + e.message, accessToken: '' } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        350
      ],
      "id": "node-nv-auth",
      "name": "네이버 인증",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// 네이버 14일 재조회: 취소/반품 상태 제외\nconst dateInfo = $('날짜 계산').first().json;\nconst token = $('네이버 인증').first().json.accessToken || '';\nconst CANCEL = ['CANCELED','RETURNED','EXCHANGED','CANCEL_REQUEST','RETURN_REQUEST','CANCEL_DONE'];\nconst result = {};\n\nif (!token) {\n  return [{ json: { naver: result, error: $('네이버 인증').first().json.error || 'No token' } }];\n}\n\nfor (const dt of dateInfo.dates) {\n  const from = dt + 'T00:00:00.000%2B09:00';\n  const to = dt + 'T23:59:59.999%2B09:00';\n\n  try {\n    const data = await this.helpers.httpRequest({\n      method: 'GET',\n      url: 'https://api.commerce.naver.com/external/v1/pay-order/seller/product-orders?from=' + from + '&to=' + to,\n      headers: { Authorization: 'Bearer ' + token }\n    });\n\n    const contents = (data.data && data.data.contents) || [];\n    let revenue = 0, orders = 0;\n    for (const item of contents) {\n      const po = item.content && item.content.productOrder;\n      if (!po) continue;\n      if (CANCEL.includes(po.productOrderStatus || '')) continue;\n      revenue += parseInt(po.totalPaymentAmount || 0);\n      orders++;\n    }\n    result[dt] = { revenue, orders };\n  } catch(e) {\n    result[dt] = { revenue: -1, orders: -1, error: e.message };\n  }\n}\n\nreturn [{ json: { naver: result } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        350
      ],
      "id": "node-nv",
      "name": "네이버 재조회",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// 11번가 최근 기간 재조회: 주문 상태별 매출 + 클레임 차감 후보\n// 기존 /completed만 보면 아직 구매확정 전이거나 배송완료 상태인 주문을 놓친다.\nconst apiKey = $env.ST11_API_KEY || '';\nconst dateInfo = $('날짜 계산').first().json;\n\nif (!apiKey) {\n  return [{ json: { claimsByDate: {}, completedByDate: {}, summary: {}, errors: ['ST11_API_KEY 미설정'] } }];\n}\n\nconst dates = dateInfo.dates || [];\nconst dateSet = new Set(dates);\nconst errors = [];\nconst completedByDate = {};\nconst claimsByDate = {};\nconst summary = { order: { count: 0, amount: 0 }, cancel: { count: 0, amount: 0 }, return: { count: 0, amount: 0 }, exchange: { count: 0, amount: 0 } };\n\nconst num = (v) => {\n  if (v === undefined || v === null || v === '') return 0;\n  const s = String(v).replace(/[^0-9.-]/g, '');\n  return parseInt(s) || 0;\n};\nconst get = (chunk, f) => {\n  const re = new RegExp('<(?:ns2:)?' + f + '>([\\\\s\\\\S]*?)</(?:ns2:)?' + f + '>', 'i');\n  const m = chunk.match(re);\n  return m ? String(m[1] || '').replace(/<!\\[CDATA\\[|\\]\\]>/g, '').trim() : '';\n};\nconst date10 = (v) => {\n  const s = String(v || '');\n  if (/^\\d{4}-\\d{2}-\\d{2}/.test(s)) return s.slice(0, 10);\n  if (/^\\d{4}\\d{2}\\d{2}/.test(s)) return s.slice(0, 4) + '-' + s.slice(4, 6) + '-' + s.slice(6, 8);\n  return '';\n};\nconst pickAmount = (chunk) => num(get(chunk, 'ordAmt')) || num(get(chunk, 'ordPayAmt')) || num(get(chunk, 'prdPayAmt')) || num(get(chunk, 'selPrc'));\nconst addRevenue = (dt, amount) => {\n  if (!completedByDate[dt]) completedByDate[dt] = { revenue: 0, orders: 0 };\n  completedByDate[dt].revenue += amount;\n  completedByDate[dt].orders += 1;\n  summary.order.count += 1;\n  summary.order.amount += amount;\n};\n\n// windows: 7일 단위로 쪼개기\nconst windows = [];\nfor (let i = 0; i < dates.length; i += 7) {\n  const s = dates[i].replace(/-/g, '') + '0000';\n  const e = dates[Math.min(i + 6, dates.length - 1)].replace(/-/g, '') + '2359';\n  windows.push([s, e]);\n}\nconst endpoints = ['complete', 'packaging', 'shipping', 'dlvcompleted', 'completed', 'reservatecomplete'];\nconst seen = new Set();\n\nfor (const ep of endpoints) {\n  for (const [s, e] of windows) {\n    try {\n      const resp = await this.helpers.httpRequest({ method: 'GET', url: 'https://api.11st.co.kr/rest/ordservices/' + ep + '/' + s + '/' + e, headers: { openapikey: apiKey }, encoding: 'utf-8', timeout: 20000 });\n      const xmlStr = typeof resp === 'string' ? resp : JSON.stringify(resp);\n      if (xmlStr.includes('조회된 결과가 없습니다') || xmlStr.includes('해당 건이 없습니다')) continue;\n      const orderMatches = xmlStr.match(/<(?:ns2:)?order>[\\s\\S]*?<\\/(?:ns2:)?order>/g) || [];\n      for (const chunk of orderMatches) {\n        const dt = date10(get(chunk, 'ordDt'));\n        if (!dateSet.has(dt)) continue;\n        const ordNo = get(chunk, 'ordNo');\n        const seq = get(chunk, 'ordPrdSeq');\n        const key = ordNo + '_' + seq;\n        if (seen.has(key)) continue;\n        const amount = pickAmount(chunk);\n        if (amount <= 0) continue;\n        seen.add(key);\n        addRevenue(dt, amount);\n      }\n    } catch(e) { errors.push(ep + ': ' + e.message); }\n  }\n}\n\n// 클레임 완료/신청 3종: 주문일 기준으로 기존 매출에서 차감할 후보\nconst claimTypes = [\n  ['canceledorders', 'cancel'], ['cancelorders', 'cancel'],\n  ['returnedorders', 'return'], ['returnorders', 'return'],\n  ['exchangedorders', 'exchange'], ['exchangeorders', 'exchange'],\n];\nfor (const [type, label] of claimTypes) {\n  for (const [s, e] of windows) {\n    try {\n      const resp = await this.helpers.httpRequest({ method: 'GET', url: 'https://api.11st.co.kr/rest/claimservice/' + type + '/' + s + '/' + e, headers: { openapikey: apiKey }, encoding: 'utf-8', timeout: 20000 });\n      const xmlStr = typeof resp === 'string' ? resp : JSON.stringify(resp);\n      if (xmlStr.includes('조회된 결과가 없습니다') || xmlStr.includes('해당 건이 없습니다')) continue;\n      const orderMatches = xmlStr.match(/<(?:ns2:)?order>[\\s\\S]*?<\\/(?:ns2:)?order>/g) || [];\n      for (const chunk of orderMatches) {\n        const dt = date10(get(chunk, 'ordDt'));\n        if (!dateSet.has(dt)) continue;\n        const amount = pickAmount(chunk);\n        if (amount <= 0) continue;\n        if (!claimsByDate[dt]) claimsByDate[dt] = { amount: 0, count: 0 };\n        claimsByDate[dt].amount += amount;\n        claimsByDate[dt].count += 1;\n        summary[label].count += 1;\n        summary[label].amount += amount;\n      }\n    } catch(e) { errors.push(label + ':' + type + ': ' + e.message); }\n  }\n}\n\nreturn [{ json: { claimsByDate, completedByDate, summary, errors, source: 'st11_multi_status_backfill' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        350
      ],
      "id": "node-st11",
      "name": "11번가 클레임 조회",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// NocoDB 기존 데이터 조회 -> 비교 -> PATCH -> Sheets 데이터 + 리포트 생성\nconst dateInfo = $('날짜 계산').first().json;\nconst ms = $('메이크샵 재조회').first().json.makeshop || {};\nconst nv = $('네이버 재조회').first().json.naver || {};\nconst claimData = $('11번가 클레임 조회').first().json;\nconst claimsByDate = claimData.claimsByDate || {};\nconst claimSummary = claimData.summary || {};\nconst claimErrors = claimData.errors || [];\nconst token = $env.NOCODB_TOKEN || '';\n\n// 모든 관련 날짜 수집 (14일 + 클레임 주문일)\nconst allDates = new Set(dateInfo.dates);\nfor (const dt of Object.keys(claimsByDate)) allDates.add(dt);\nconst sortedDates = [...allDates].sort();\n\n// NocoDB 기존 데이터\nconst records = {};\nif (sortedDates.length > 0 && token) {\n  try {\n    const resp = await this.helpers.httpRequest({\n      method: 'GET',\n      url: 'https://nocodb.pressco21.com/api/v1/db/data/noco/pbmo0os7rnvfd48/mwxvxjiqtw177xu',\n      headers: { 'xc-token': token },\n      qs: {\n        where: '(report_date,gte,' + sortedDates[0] + ')~and(report_date,lte,' + sortedDates[sortedDates.length - 1] + ')',\n        limit: 100,\n        fields: 'Id,report_date,makeshop_revenue,makeshop_orders,naver_revenue,naver_orders,st11_revenue,st11_orders,coupang_revenue,coupang_orders,crm_revenue,crm_orders,rocket_revenue,total_revenue,total_orders'\n      }\n    });\n    for (const row of (resp.list || [])) records[row.report_date] = row;\n  } catch(e) {}\n}\n\n// 변경 감지\nconst adjustments = [];\nlet totalMsDiff = 0, totalNvDiff = 0, totalStDiff = 0;\nlet msChangeDays = 0, nvChangeDays = 0, stChangeDays = 0;\n\nfor (const dt of sortedDates) {\n  const ex = records[dt];\n  if (!ex) continue;\n\n  const patch = {};\n  let hasChange = false;\n  let msD = 0, nvD = 0, stD = 0;\n\n  // 메이크샵\n  if (ms[dt] && ms[dt].revenue >= 0) {\n    const oldV = parseInt(ex.makeshop_revenue) || 0;\n    const newV = ms[dt].revenue;\n    if (oldV !== newV) {\n      patch.makeshop_revenue = newV;\n      patch.makeshop_orders = ms[dt].orders;\n      msD = newV - oldV;\n      totalMsDiff += msD;\n      msChangeDays++;\n      hasChange = true;\n    }\n  }\n\n  // 네이버\n  if (nv[dt] && nv[dt].revenue >= 0) {\n    const oldV = parseInt(ex.naver_revenue) || 0;\n    const newV = nv[dt].revenue;\n    if (oldV !== newV) {\n      patch.naver_revenue = newV;\n      patch.naver_orders = nv[dt].orders;\n      nvD = newV - oldV;\n      totalNvDiff += nvD;\n      nvChangeDays++;\n      hasChange = true;\n    }\n  }\n\n  // 11번가: /completed 구매확정 백필 (우선) + 클레임 차감\n  const completedData = $('11번가 클레임 조회').first().json.completedByDate || {};\n  if (completedData[dt] && completedData[dt].revenue > 0) {\n    const oldV = parseInt(ex.st11_revenue) || 0;\n    const newV = completedData[dt].revenue;\n    if (newV > oldV) {\n      patch.st11_revenue = newV;\n      patch.st11_orders = completedData[dt].orders;\n      stD = newV - oldV;\n      totalStDiff += stD;\n      stChangeDays++;\n      hasChange = true;\n    }\n  } else if (claimsByDate[dt] && claimsByDate[dt].amount > 0) {\n    const oldV = parseInt(ex.st11_revenue) || 0;\n    const sub = claimsByDate[dt].amount;\n    const newV = Math.max(0, oldV - sub);\n    if (newV !== oldV) {\n      patch.st11_revenue = newV;\n      patch.st11_orders = Math.max(0, (parseInt(ex.st11_orders) || 0) - claimsByDate[dt].count);\n      stD = newV - oldV;\n      totalStDiff += stD;\n      stChangeDays++;\n      hasChange = true;\n    }\n  }\n\n  if (hasChange) {\n    const msR = patch.makeshop_revenue !== undefined ? patch.makeshop_revenue : (parseInt(ex.makeshop_revenue) || 0);\n    const nvR = patch.naver_revenue !== undefined ? patch.naver_revenue : (parseInt(ex.naver_revenue) || 0);\n    const stR = patch.st11_revenue !== undefined ? patch.st11_revenue : (parseInt(ex.st11_revenue) || 0);\n    const cpR = parseInt(ex.coupang_revenue) || 0;\n    const crmR = parseInt(ex.crm_revenue) || 0;\n    const rktR = parseInt(ex.rocket_revenue) || 0;\n    patch.total_revenue = msR + nvR + stR + cpR + crmR + rktR;\n\n    const msO = patch.makeshop_orders !== undefined ? patch.makeshop_orders : (parseInt(ex.makeshop_orders) || 0);\n    const nvO = patch.naver_orders !== undefined ? patch.naver_orders : (parseInt(ex.naver_orders) || 0);\n    const stO = patch.st11_orders !== undefined ? patch.st11_orders : (parseInt(ex.st11_orders) || 0);\n    const cpO = parseInt(ex.coupang_orders) || 0;\n    const crmO = parseInt(ex.crm_orders) || 0;\n    patch.total_orders = msO + nvO + stO + cpO + crmO;\n\n    adjustments.push({ date: dt, id: ex.Id, patch, diffs: { ms: msD, nv: nvD, st: stD } });\n  }\n}\n\n// NocoDB PATCH\nlet ok = 0, fail = 0;\nfor (const adj of adjustments) {\n  try {\n    await this.helpers.httpRequest({\n      method: 'PATCH',\n      url: 'https://nocodb.pressco21.com/api/v1/db/data/noco/pbmo0os7rnvfd48/mwxvxjiqtw177xu/' + adj.id,\n      headers: { 'xc-token': token, 'Content-Type': 'application/json' },\n      body: adj.patch\n    });\n    ok++;\n  } catch(e) { fail++; }\n}\n\n// Sheets 배치 데이터\nconst sheetsData = [];\nfor (const adj of adjustments) {\n  const p = adj.date.split('-').map(Number);\n  const target = new Date(Date.UTC(p[0], p[1]-1, p[2]));\n  const jan1 = new Date(Date.UTC(2026, 0, 1));\n  const row = Math.round((target - jan1) / 86400000) + 2;\n\n  const ex = records[adj.date];\n  const msV = adj.patch.makeshop_revenue !== undefined ? adj.patch.makeshop_revenue : (parseInt(ex.makeshop_revenue) || 0);\n  const nvV = adj.patch.naver_revenue !== undefined ? adj.patch.naver_revenue : (parseInt(ex.naver_revenue) || 0);\n  const stV = adj.patch.st11_revenue !== undefined ? adj.patch.st11_revenue : (parseInt(ex.st11_revenue) || 0);\n\n  sheetsData.push({ range: '\\uc77c\\ubcc4 \\ub9e4\\ucd9c!C' + row + ':E' + row, values: [[msV, nvV, stV]] });\n}\n\n// 리포트 생성\nconst fmt = (n) => n.toLocaleString('ko-KR');\nlet rpt = '<b>[\\uD83D\\uDCCB \\uc8FC\\uAC04 \\uC815\\uC0B0 \\uC870\\uC815]</b>\\n';\nrpt += dateInfo.startStr + ' ~ ' + dateInfo.endStr + '\\n';\nrpt += '\\u2501'.repeat(19) + '\\n\\n';\n\nif (adjustments.length === 0) {\n  rpt += '\\u2705 \\uBCC0\\uACBD \\uC5C6\\uC74C\\n';\n  rpt += dateInfo.days + '\\uC77C\\uAC04 \\uC804 \\uCC44\\uB110 \\uB370\\uC774\\uD130 \\uC77C\\uCE58.\\n';\n} else {\n  rpt += '\\uD83D\\uDCCB \\uC870\\uC815 ' + adjustments.length + '\\uAC74:\\n\\n';\n  if (msChangeDays > 0) rpt += '\\uD83C\\uDFEA \\uBA54\\uC774\\uD06C\\uC0F5: ' + msChangeDays + '\\uC77C ' + (totalMsDiff >= 0 ? '+' : '') + fmt(totalMsDiff) + '\\uC6D0\\n';\n  if (nvChangeDays > 0) rpt += '\\uD83D\\uDFE2 \\uB124\\uC774\\uBC84: ' + nvChangeDays + '\\uC77C ' + (totalNvDiff >= 0 ? '+' : '') + fmt(totalNvDiff) + '\\uC6D0\\n';\n  if (stChangeDays > 0) rpt += '\\uD83D\\uDD34 11\\uBC88\\uAC00: ' + stChangeDays + '\\uC77C ' + (totalStDiff >= 0 ? '+' : '') + fmt(totalStDiff) + '\\uC6D0\\n';\n\n  const totalDiff = totalMsDiff + totalNvDiff + totalStDiff;\n  rpt += '\\n\\uD83D\\uDCB0 \\uC21C \\uC870\\uC815: ' + (totalDiff >= 0 ? '+' : '') + fmt(totalDiff) + '\\uC6D0\\n';\n  rpt += 'NocoDB ' + ok + '\\uAC74 \\uBC18\\uC601';\n  if (fail > 0) rpt += ' (' + fail + '\\uAC74 \\uC2E4\\uD328)';\n  rpt += '\\n';\n}\n\n// 11번가 클레임+구매확정 요약\nconst cs = claimSummary;\nconst hasClaims = (cs.cancel && cs.cancel.count > 0) || (cs.return && cs.return.count > 0) || (cs.exchange && cs.exchange.count > 0);\nif (hasClaims) {\n  rpt += '\\n\\uD83D\\uDCCA 11\\uBC88\\uAC00 \\uD074\\uB808\\uC784 (7\\uC77C):\\n';\n  if (cs.cancel && cs.cancel.count > 0) rpt += '  \\u274C \\uCDE8\\uC18C ' + cs.cancel.count + '\\uAC74 ' + fmt(cs.cancel.amount) + '\\uC6D0\\n';\n  if (cs.return && cs.return.count > 0) rpt += '  \\u21A9\\uFE0F \\uBC18\\uD488 ' + cs.return.count + '\\uAC74 ' + fmt(cs.return.amount) + '\\uC6D0\\n';\n  if (cs.exchange && cs.exchange.count > 0) rpt += '  \\uD83D\\uDD04 \\uAD50\\uD658 ' + cs.exchange.count + '\\uAC74 ' + fmt(cs.exchange.amount) + '\\uC6D0\\n';\n}\nif (cs.completed && cs.completed.count > 0) {\n  rpt += '\\n\\u2705 11\\uBC88\\uAC00 \\uAD6C\\uB9E4\\uD655\\uC815 \\uBC31\\uD544:\\n';\n  rpt += '  ' + cs.completed.count + '\\uAC74 ' + fmt(cs.completed.amount) + '\\uC6D0 \\uBC18\\uC601\\n';\n}\n\nif (claimErrors.length > 0) {\n  rpt += '\\n\\u26A0\\uFE0F 11\\uBC88\\uAC00 API: ' + claimErrors.join(', ') + '\\n';\n}\n\nreturn [{ json: {\n  chatId: dateInfo.chatId,\n  report: rpt,\n  adjustmentCount: adjustments.length,\n  sheetsBody: JSON.stringify({ valueInputOption: 'USER_ENTERED', data: sheetsData }),\n  totalDiff: totalMsDiff + totalNvDiff + totalStDiff,\n  ok, fail\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        350
      ],
      "id": "node-compare",
      "name": "비교 + NocoDB 반영"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1B6F3XJLjK5WWaoOLy6f8JafjYNWs0-NQvVBvWKwTzhM/values:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('비교 + NocoDB 반영').first().json.sheetsBody }}",
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        350
      ],
      "id": "node-sheets",
      "name": "Sheets 배치 업데이트",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2e6e75e1-2d4f-40ac-b992-c12aef75e69e",
          "name": "Pressco21-GoogleDrive"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "chatId": "={{ $('비교 + NocoDB 반영').first().json.chatId }}",
        "text": "={{ $('비교 + NocoDB 반영').first().json.report }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2160,
        350
      ],
      "id": "node-telegram",
      "name": "텔레그램 전송",
      "credentials": {
        "telegramApi": {
          "id": "eS5YwFGpbJht6uCB",
          "name": "PRESSCO21-Telegram-Bot"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, adjustments: $('비교 + NocoDB 반영').first().json.adjustmentCount, totalDiff: $('비교 + NocoDB 반영').first().json.totalDiff, nocodb: { ok: $('비교 + NocoDB 반영').first().json.ok, fail: $('비교 + NocoDB 반영').first().json.fail } }) }}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2400,
        350
      ],
      "id": "node-respond",
      "name": "응답",
      "continueOnFail": true
    }
  ],
  "connections": {
    "매주 월 10:00": {
      "main": [
        [
          {
            "node": "날짜 계산",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "수동 조회": {
      "main": [
        [
          {
            "node": "날짜 계산",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "날짜 계산": {
      "main": [
        [
          {
            "node": "메이크샵 재조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "메이크샵 재조회": {
      "main": [
        [
          {
            "node": "네이버 인증",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "네이버 인증": {
      "main": [
        [
          {
            "node": "네이버 재조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "네이버 재조회": {
      "main": [
        [
          {
            "node": "11번가 클레임 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "11번가 클레임 조회": {
      "main": [
        [
          {
            "node": "비교 + NocoDB 반영",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "비교 + NocoDB 반영": {
      "main": [
        [
          {
            "node": "Sheets 배치 업데이트",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets 배치 업데이트": {
      "main": [
        [
          {
            "node": "텔레그램 전송",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "텔레그램 전송": {
      "main": [
        [
          {
            "node": "응답",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
