n8n-automation/workflows/automation/flora-specialist-router.json
{
  "name": "[F15] Flora Specialist 라우터",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "flora-specialist",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "id": "node-webhook",
      "name": "요청 수신",
      "webhookId": "flora-specialist"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst text = (body.text || body.message || '').trim();\nconst chatId = String(body.chatId || body.chat_id || '7713811206');\n\nif (!text) {\n  return [{ json: { error: true, specialist: 'none', label: '오류', systemPrompt: '', userMessage: '', chatId } }];\n}\n\nconst SPECIALISTS = [\n  { id: 'executive', icon: '\\u{1F9ED}', label: '총괄', keywords: ['우선순위','뭐부터','정리해줘','로드맵','회의','핸드오프'], prompt: '너는 PRESSCO21의 총괄 비서다. 대표의 우선순위를 정리하고 프로젝트 간 조율을 담당한다. 상황→우선순위→다음 행동 포맷으로 간결하게 답해라.' },\n  { id: 'strategy', icon: '\\u{1F3DB}', label: '파트너클래스', keywords: ['파트너클래스','협회','강사','클래스','수강생','PRD','브랜드'], prompt: '너는 PRESSCO21 파트너클래스 전략가다. 꽃 공예 교육 플랫폼 전략, 강사 운영, 클래스 기획을 담당한다.' },\n  { id: 'storefront', icon: '\\u{1F6CD}', label: '스토어', keywords: ['메이크샵','상세페이지','장바구니','결제','카테고리','전환율'], prompt: '너는 PRESSCO21 메이크샵 스토어프론트 전문가다. UI/UX, 전환율 최적화, 상세페이지 개선을 담당한다.' },\n  { id: 'crm', icon: '\\u{1F4D2}', label: 'CRM', keywords: ['CRM','명세표','거래명세서','견적서','수금','입금','고객'], prompt: '너는 PRESSCO21 CRM 운영자다. 고객 관리, 정산, 거래명세서, 입금 처리를 담당한다.' },\n  { id: 'automation', icon: '\\u2699\\uFE0F', label: '자동화', keywords: ['n8n','워크플로우','자동화','텔레그램','봇','API'], prompt: '너는 PRESSCO21 자동화 전문가다. n8n 워크플로우, 텔레그램 봇, API 연동을 담당한다.' },\n  { id: 'knowledge', icon: '\\u{1F4DA}', label: '지식', keywords: ['회사','재무','브랜드','정책','규정','매출','마진'], prompt: '너는 PRESSCO21 회사 지식 전문가다. 회사 전략, 재무, 브랜드 정책을 담당한다.' }\n];\n\nconst lower = text.toLowerCase();\nlet matched = SPECIALISTS[0];\nlet maxScore = 0;\nfor (const s of SPECIALISTS) {\n  let score = 0;\n  for (const kw of s.keywords) { if (lower.includes(kw.toLowerCase())) score++; }\n  if (score > maxScore) { maxScore = score; matched = s; }\n}\n\nreturn [{ json: { error: false, specialist: matched.id, icon: matched.icon, label: matched.label, systemPrompt: matched.prompt, userMessage: text, chatId } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300],
      "id": "node-classify",
      "name": "Specialist 분류"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "key", "value": "={{ $env.GEMINI_API_KEY }}" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contents: [{ parts: [{ text: $json.systemPrompt + '\\n\\n사용자 질문: ' + $json.userMessage + '\\n\\n3줄 이내로 간결하게 한국어로 답해라.' }] }] }) }}",
        "options": { "timeout": 30000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 300],
      "id": "node-gemini",
      "name": "Gemini 응답"
    },
    {
      "parameters": {
        "jsCode": "const classify = $('Specialist 분류').first().json;\nconst gemini = $input.first().json;\n\nlet answer = '';\ntry {\n  answer = gemini.candidates[0].content.parts[0].text || '';\n} catch(e) {\n  answer = 'AI 응답을 가져오지 못했습니다.';\n}\n\nconst safe = answer.replace(/[<>&]/g, c => ({'<':'&lt;','>':'&gt;','&':'&amp;'}[c]));\nconst msg = `${classify.icon} <b>[${classify.label}]</b>\\n\\n${safe}\\n\\n\\u{1F4CD} 서버 (Gemini) | 전문: ${classify.label}`;\n\nreturn [{ json: { message: msg, chatId: classify.chatId, specialist: classify.specialist } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 300],
      "id": "node-format",
      "name": "응답 포맷"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.message }}",
        "additionalFields": { "parse_mode": "HTML" }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1180, 300],
      "id": "node-telegram",
      "name": "텔레그램 응답",
      "credentials": {
        "telegramApi": { "id": "eS5YwFGpbJht6uCB", "name": "PRESSCO21-Telegram-Bot" }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, specialist: $('Specialist 분류').first().json.specialist, mode: 'gemini' }) }}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1420, 300],
      "id": "node-respond",
      "name": "응답"
    }
  ],
  "connections": {
    "요청 수신": { "main": [[{ "node": "Specialist 분류", "type": "main", "index": 0 }]] },
    "Specialist 분류": { "main": [[{ "node": "Gemini 응답", "type": "main", "index": 0 }]] },
    "Gemini 응답": { "main": [[{ "node": "응답 포맷", "type": "main", "index": 0 }]] },
    "응답 포맷": { "main": [[{ "node": "텔레그램 응답", "type": "main", "index": 0 }]] },
    "텔레그램 응답": { "main": [[{ "node": "응답", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
