n8n-automation/workflows/automation/flora-law-simple.json
{
  "name": "Flora Law Lookup v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "flora-law-lookup",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "flora-law-lookup-v2"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'http://www.law.go.kr/DRF/lawSearch.do?OC=pressco21&target=law&type=XML&display=5&query=' + encodeURIComponent($json.body.query || '') }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000002",
      "name": "Law Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [280, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'http://www.law.go.kr/DRF/lawSearch.do?OC=pressco21&target=prec&type=XML&display=3&query=' + encodeURIComponent($('Webhook').first().json.body.query || '') }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000003",
      "name": "Precedent Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [560, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const query = $('Webhook').first().json.body.query || '';\nconst lawXml = $('Law Search').first().json.data || '';\nconst precXml = $input.first().json.data || '';\n\nfunction extract(str, tag) {\n  const re = new RegExp('<' + tag + '><!\\\\[CDATA\\\\[([\\\\s\\\\S]*?)\\\\]\\\\]></' + tag + '>', 'g');\n  const re2 = new RegExp('<' + tag + '>([^<]*)</' + tag + '>', 'g');\n  const results = [];\n  let m;\n  while ((m = re.exec(str)) !== null) results.push(m[1].trim());\n  while ((m = re2.exec(str)) !== null) results.push(m[1].trim());\n  return results;\n}\n\n// Parse laws\nconst lawBlocks = lawXml.split(/<law[^>]*>/).slice(1);\nconst laws = lawBlocks.slice(0, 5).map(b => {\n  const name = extract(b, '법령명한글')[0] || '';\n  const mst = extract(b, '법령일련번호')[0] || '';\n  const lawType = extract(b, '법령구분명')[0] || '';\n  const dept = extract(b, '소관부처명')[0] || '';\n  return name ? { name, mst, type: lawType, dept } : null;\n}).filter(Boolean);\n\n// Parse precedents\nconst precBlocks = precXml.split(/<prec[^>]*>/).slice(1);\nconst precs = precBlocks.slice(0, 3).map(b => {\n  const name = extract(b, '사건명')[0] || '';\n  const id = extract(b, '판례일련번호')[0] || '';\n  const court = extract(b, '법원명')[0] || '';\n  const date = extract(b, '선고일자')[0] || '';\n  return name ? { name, id, court, date } : null;\n}).filter(Boolean);\n\nlet text = '법령 조회 결과 (' + query + ')\\n\\n';\n\nif (laws.length > 0) {\n  text += '=== 관련 법령 (' + laws.length + '건) ===\\n';\n  laws.forEach((l, i) => {\n    text += (i+1) + '. ' + l.name + ' [' + l.type + '] (MST: ' + l.mst + ')\\n';\n  });\n  text += '\\n';\n}\n\nif (precs.length > 0) {\n  text += '=== 관련 판례 (' + precs.length + '건) ===\\n';\n  precs.forEach((p, i) => {\n    text += (i+1) + '. ' + p.name + ' (' + p.court + ', ' + p.date + ')\\n';\n  });\n  text += '\\n';\n}\n\nif (laws.length === 0 && precs.length === 0) {\n  text += '검색 결과가 없습니다.\\n';\n}\n\ntext += '\\n출처: 법제처 Open API (law.go.kr)';\n\nreturn [{ json: { success: true, query, laws, precedents: precs, text } }];"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000004",
      "name": "Parse Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000005",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Law Search", "type": "main", "index": 0 }]
      ]
    },
    "Law Search": {
      "main": [
        [{ "node": "Precedent Search", "type": "main", "index": 0 }]
      ]
    },
    "Precedent Search": {
      "main": [
        [{ "node": "Parse Results", "type": "main", "index": 0 }]
      ]
    },
    "Parse Results": {
      "main": [
        [{ "node": "Respond", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
