n8n-automation/workflows/automation/google-calendar-todo.json
{
  "name": "[F2] 구글 캘린더 → Flora 할 일 등록",
  "nodes": [
    {
      "parameters": {
        "calendarId": {
          "__rl": true,
          "value": "primary",
          "mode": "list",
          "cachedResultName": "기본 캘린더"
        },
        "triggerOn": "eventCreated",
        "options": {}
      },
      "id": "f2f77259-8cc7-4bd4-b689-4adfce5ecaf9",
      "name": "구글 캘린더 트리거",
      "type": "n8n-nodes-base.googleCalendarTrigger",
      "typeVersion": 1,
      "position": [0, 300],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "2THGRlKzCGwCVNhe",
          "name": "Google Calendar account"
        }
      },
      "webhookId": "f2-gcal-webhook-001"
    },
    {
      "parameters": {
        "jsCode": "const event = $json;\nconst summary = (event.summary || '').trim();\nconst description = (event.description || '').trim();\nconst location = (event.location || '').trim();\nconst startInfo = event.start || {};\nconst days = ['일', '월', '화', '수', '목', '금', '토'];\n\nfunction pad(value) {\n  return String(value).padStart(2, '0');\n}\n\nfunction formatLabel(date, includeTime) {\n  const base = `${date.getFullYear()}년 ${date.getMonth() + 1}월 ${date.getDate()}일(${days[date.getDay()]})`;\n  if (!includeTime) return base;\n  return `${base} ${pad(date.getHours())}:${pad(date.getMinutes())}`;\n}\n\nlet dueAt = null;\nlet dateLabel = '';\nif (startInfo.dateTime) {\n  const parsed = new Date(startInfo.dateTime);\n  dueAt = startInfo.dateTime;\n  dateLabel = Number.isNaN(parsed.getTime()) ? startInfo.dateTime : formatLabel(parsed, true);\n} else if (startInfo.date) {\n  const parsed = new Date(`${startInfo.date}T09:00:00+09:00`);\n  dueAt = `${startInfo.date}T09:00:00+09:00`;\n  dateLabel = formatLabel(parsed, false);\n} else {\n  const now = new Date();\n  dueAt = `${now.getFullYear()}-${pad(now.getMonth() + 1)}-${pad(now.getDate())}T09:00:00+09:00`;\n  dateLabel = formatLabel(now, false);\n}\n\nlet relatedProject = null;\nlet title = summary || '제목 없는 일정';\nconst separatorIndex = summary.indexOf(' - ');\nif (separatorIndex !== -1) {\n  relatedProject = summary.substring(0, separatorIndex).trim() || null;\n  title = summary.substring(separatorIndex + 3).trim() || title;\n}\n\nconst sourceMessageId = event.id || `${title}:${dueAt}`;\nconst sourceParts = [summary || title, `@${dateLabel}`];\nif (location) sourceParts.push(`#장소 ${location}`);\nif (description) sourceParts.push(`#메모 ${description}`);\n\nreturn [{\n  json: {\n    title,\n    relatedProject,\n    dueAt,\n    dateLabel,\n    sourceMessageId,\n    calendarEventId: event.id || null,\n    location,\n    sourceText: sourceParts.join(' ')\n  }\n}];"
      },
      "id": "8c3f6881-af85-4d46-80f6-2ef72bdde0c8",
      "name": "이벤트 파싱",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://flora-todo-mvp:3000/api/automation/tasks",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-flora-automation-key", "value": "={{ $env.ADMIN_API_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ title: $json.title, sourceChannel: 'google-calendar', sourceMessageId: $json.sourceMessageId, sourceText: $json.sourceText, status: 'todo', priority: 'p3', category: 'calendar', dueAt: $json.dueAt, relatedProject: $json.relatedProject || undefined, detailsMerge: { importedFrom: 'google-calendar', calendarEventId: $json.calendarEventId, location: $json.location || undefined, calendarSync: { eventId: $json.calendarEventId, origin: 'google-calendar', importedAt: new Date().toISOString() } } }) }}"
      },
      "id": "12b1e246-f6b1-4118-b5c1-3caef3b6df33",
      "name": "Flora task upsert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "chatId": "=7713811206",
        "text": "={{ (() => { const parsed = $('이벤트 파싱').first().json; const created = $json.task || {}; let msg = '📅 구글 캘린더 → Flora 등록 완료\\n━━━━━━━━━━━━━━━'; msg += '\\n📋 ' + parsed.title; if (parsed.relatedProject) msg += '\\n📁 ' + parsed.relatedProject; msg += '\\n🗓 ' + parsed.dateLabel; if (created.id) msg += '\\n🆔 ' + created.id; return msg; })() }}",
        "additionalFields": {}
      },
      "id": "fda6ec7d-e90d-4a28-95fd-fc896c71cd6a",
      "name": "텔레그램 알림",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [660, 300],
      "credentials": {
        "telegramApi": {
          "id": "eS5YwFGpbJht6uCB",
          "name": "PRESSCO21-Telegram-Bot"
        }
      }
    }
  ],
  "connections": {
    "구글 캘린더 트리거": {
      "main": [[{ "node": "이벤트 파싱", "type": "main", "index": 0 }]]
    },
    "이벤트 파싱": {
      "main": [[{ "node": "Flora task upsert", "type": "main", "index": 0 }]]
    },
    "Flora task upsert": {
      "main": [[{ "node": "텔레그램 알림", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Seoul"
  },
  "tags": [{ "name": "업무자동화" }]
}
