n8n-automation/workflows/automation/morning-system-health.json
{
  "id": "DSIqF4w42WNUghWs",
  "name": "INFRA: 아침 시스템 건강 리포트",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "msh-0001-4000-8000-000000000001",
      "name": "매일 09시",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.N8N_BASE_URL || 'http://localhost:5678' }}/api/v1/workflows",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "active", "value": "true" },
            { "name": "limit", "value": "100" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-N8N-API-KEY", "value": "={{ $env.N8N_API_KEY }}" }
          ]
        },
        "options": {
          "response": { "response": { "responseFormat": "json" } }
        }
      },
      "id": "msh-0001-4000-8000-000000000004",
      "name": "n8n WF 현황",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, -120]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.N8N_BASE_URL || 'http://localhost:5678' }}/api/v1/executions",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "limit", "value": "100" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-N8N-API-KEY", "value": "={{ $env.N8N_API_KEY }}" }
          ]
        },
        "options": {
          "response": { "response": { "responseFormat": "json" } }
        }
      },
      "id": "msh-0001-4000-8000-000000000005",
      "name": "24h 실행 현황",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 120]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://img.pressco21.com/",
        "options": {
          "timeout": 10000,
          "response": { "response": { "responseFormat": "text" } }
        }
      },
      "id": "msh-0001-4000-8000-000000000006",
      "name": "img 체크",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 360],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://hub.pressco21.com/",
        "options": {
          "timeout": 10000,
          "response": { "response": { "responseFormat": "text" } }
        }
      },
      "id": "msh-0001-4000-8000-000000000007",
      "name": "hub 체크",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 600],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const wfData = $('n8n WF 현황').first().json?.data || [];\nconst execData = $('24h 실행 현황').first().json?.data || [];\nconst imgOk = !$('img 체크').first().json?.error;\nconst hubOk = !$('hub 체크').first().json?.error;\n\nconst today = new Date().toLocaleDateString('ko-KR', { timeZone: 'Asia/Seoul', month: '2-digit', day: '2-digit' });\nconst issues = [];\n\nconst activeWfs = wfData.length;\nconst now = Date.now();\nconst oneDayAgo = now - 24 * 60 * 60 * 1000;\nconst recentExecs = execData.filter(e => new Date(e.startedAt).getTime() > oneDayAgo);\nconst totalExecs = recentExecs.length;\nconst errorExecs = recentExecs.filter(e => e.status === 'error').length;\nif (errorExecs > 0) issues.push('n8n 24h 에러 ' + errorExecs + '건');\n\nif (!imgOk) issues.push('img.pressco21.com 응답 없음');\nif (!hubOk) issues.push('hub.pressco21.com 응답 없음');\n\nconst n8nIcon = errorExecs > 0 ? '\\u26a0\\ufe0f' : '\\u2705';\n\nlet report = '\\ud83d\\udcca PRESSCO21 아침 건강 리포트 (' + today + ')\\n\\n';\nreport += '\\u2699\\ufe0f n8n: ' + n8nIcon + ' ' + activeWfs + '개 활성 / 24h ' + totalExecs + '건 / 에러 ' + errorExecs + '건\\n';\nreport += '\\ud83c\\udf10 서비스: img ' + (imgOk ? '\\u2705' : '\\u274c') + ' / hub ' + (hubOk ? '\\u2705' : '\\u274c') + '\\n';\n\nif (issues.length > 0) {\n  report += '\\n\\u26a0\\ufe0f 이슈 (' + issues.length + '건):\\n';\n  issues.forEach(function(i) { report += '  \\u2022 ' + i + '\\n'; });\n} else {\n  report += '\\n\\u2705 이슈 없음';\n}\n\nreturn [{ json: { report } }];"
      },
      "id": "msh-0001-4000-8000-000000000008",
      "name": "리포트 생성",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 120]
    },
    {
      "parameters": {
        "chatId": "7713811206",
        "text": "={{ $json.report }}",
        "additionalFields": {}
      },
      "id": "msh-0001-4000-8000-000000000009",
      "name": "텔레그램 발송",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [760, 120],
      "credentials": {
        "telegramApi": { "id": "RdFu3nsFuuO5NCff", "name": "Telegram Makeshop Bot" }
      }
    }
  ],
  "connections": {
    "매일 09시": {
      "main": [[
        { "node": "n8n WF 현황", "type": "main", "index": 0 },
        { "node": "24h 실행 현황", "type": "main", "index": 0 },
        { "node": "img 체크", "type": "main", "index": 0 },
        { "node": "hub 체크", "type": "main", "index": 0 }
      ]]
    },
    "n8n WF 현황": { "main": [[{ "node": "리포트 생성", "type": "main", "index": 0 }]] },
    "리포트 생성": { "main": [[{ "node": "텔레그램 발송", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
