n8n-automation/workflows/automation/rfm-action-campaign.json
{
  "name": "RFM-ACTION: 세그먼트별 자동 캠페인",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 * * 2"
            }
          ]
        }
      },
      "id": "rfm-act-0001-4000-8000-000000000001",
      "name": "매주 화요일 09시",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://nocodb.pressco21.com/api/v2/tables/' + $env.NOCODB_TABLE_CUSTOMER_SEGMENTS + '/records' }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "500"
            },
            {
              "name": "fields",
              "value": "user_id,user_name,segment,order_count,total_spent,recency_days,updated_at"
            },
            {
              "name": "where",
              "value": "(segment,in,이탈위험,신규고객,VIP,휴면고객)"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "={{ $env.NOCODB_TOKEN }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "rfm-act-0001-4000-8000-000000000002",
      "name": "NocoDB 세그먼트 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://nocodb.pressco21.com/api/v2/tables/' + $env.NOCODB_TABLE_CAMPAIGN_LOG + '/records' }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "1000"
            },
            {
              "name": "fields",
              "value": "user_id,segment,sent_at"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "={{ $env.NOCODB_TOKEN }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "rfm-act-0001-4000-8000-000000000003",
      "name": "NocoDB 7일내 발송기록",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://foreverlove.co.kr/list/open_api.html",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "mode",
              "value": "search"
            },
            {
              "name": "type",
              "value": "user"
            },
            {
              "name": "searchType",
              "value": "login"
            },
            {
              "name": "limit",
              "value": "500"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Shopkey",
              "value": "={{ $env.MAKESHOP_SHOPKEY }}"
            },
            {
              "name": "Licensekey",
              "value": "={{ $env.MAKESHOP_LICENSEKEY }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "rfm-act-0001-4000-8000-000000000004",
      "name": "MakeShop 회원정보 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// RFM-ACTION: 세그먼트별 발송 대상 필터링 + 메시지 생성\n// 입력: 세그먼트 목록, 7일내 발송기록, 회원 연락처\n\nconst segData = $('NocoDB 세그먼트 조회').first().json;\nconst logData = $('NocoDB 7일내 발송기록').first().json;\nconst memberData = $('MakeShop 회원정보 조회').first().json;\n\n// 배열 변환 유틸\nfunction toArray(data) {\n  if (Array.isArray(data)) return data;\n  if (data && typeof data === 'object') return Object.values(data);\n  return [];\n}\n\nconst segments = toArray(segData.list || []);\nconst recentLogs = toArray(logData.list || []);\nconst members = toArray(memberData.list || []);\n\n// 회원 연락처 맵 (user_id -> phone)\nconst phoneMap = {};\nfor (const m of members) {\n  const uid = m.id || m.userid;\n  const phone = (m.cellphone || m.phone || '').replace(/-/g, '').trim();\n  if (uid && phone && phone.length >= 10) {\n    phoneMap[uid] = phone;\n  }\n}\n\n// 7일 이내 발송된 user_id+segment 조합 Set (중복 방지)\nconst sentSet = new Set();\nfor (const log of recentLogs) {\n  if (log.user_id && log.segment) {\n    sentSet.add(log.user_id + '::' + log.segment);\n  }\n}\n\n// 세그먼트별 메시지 템플릿\nconst templates = {\n  '이탈위험': function(name) {\n    return '[프레스코21] ' + name + '님, 오랜만이에요!\\n'\n      + '요즘 새로운 재료들이 많이 들어왔어요.\\n'\n      + '다시 한번 둘러보시겠어요?\\n'\n      + '> foreverlove.co.kr';\n  },\n  '신규고객': function(name) {\n    return '[프레스코21] ' + name + '님, 첫 주문 감사합니다!\\n'\n      + '이 재료와 같이 쓰면 더 예쁜 작품을 만들 수 있어요.\\n'\n      + '> foreverlove.co.kr';\n  },\n  'VIP': function(name) {\n    return '[프레스코21] ' + name + '님, 항상 감사합니다.\\n'\n      + '이번 주 신상품을 먼저 알려드려요!\\n'\n      + '> foreverlove.co.kr';\n  },\n  '휴면고객': function(name) {\n    return '[프레스코21] ' + name + '님, 꽃 공예가 그리우시죠?\\n'\n      + '돌아오시면 반갑겠습니다.\\n'\n      + '> foreverlove.co.kr';\n  }\n};\n\n// 세그먼트별 최대 발송 수 (주당)\nconst maxPerSegment = {\n  '이탈위험': 100,\n  '신규고객': 100,\n  'VIP': 100,\n  '휴면고객': 100\n};\n\n// 세그먼트별 카운터\nconst segCounter = {};\nconst results = [];\n\nfor (const seg of segments) {\n  const uid = seg.user_id;\n  const segName = seg.segment;\n  if (!uid || !segName) continue;\n\n  // 대상 세그먼트만\n  if (!templates[segName]) continue;\n\n  // 세그먼트별 최대 발송 수 체크\n  segCounter[segName] = (segCounter[segName] || 0);\n  if (segCounter[segName] >= (maxPerSegment[segName] || 100)) continue;\n\n  // 7일 이내 같은 세그먼트 캠페인 이미 발송?\n  const key = uid + '::' + segName;\n  if (sentSet.has(key)) continue;\n\n  // 연락처 존재 여부\n  const phone = phoneMap[uid];\n  if (!phone) continue;\n\n  // 메시지 생성\n  const custName = seg.user_name || '고객';\n  const msg = templates[segName](custName);\n\n  results.push({\n    json: {\n      user_id: uid,\n      user_name: custName,\n      segment: segName,\n      phone: phone,\n      message: msg,\n      order_count: seg.order_count || 0,\n      total_spent: seg.total_spent || 0,\n      recency_days: seg.recency_days || 0\n    }\n  });\n\n  segCounter[segName]++;\n}\n\n// 통계\nconst stats = {\n  total: results.length,\n  bySegment: segCounter,\n  skippedNoPhone: segments.filter(s => !phoneMap[s.user_id] && templates[s.segment]).length,\n  skippedDuplicate: segments.filter(s => sentSet.has(s.user_id + '::' + s.segment) && templates[s.segment]).length\n};\n\nif (results.length === 0) {\n  return [{ json: { empty: true, message: 'RFM 캠페인 발송 대상 없음', stats: stats } }];\n}\n\n// 첫 아이템에 stats 삽입 (집계용)\nresults[0].json._stats = stats;\n\nreturn results;"
      },
      "id": "rfm-act-0001-4000-8000-000000000005",
      "name": "세그먼트별 발송대상 필터",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-not-empty",
              "leftValue": "={{ $json.empty }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notTrue"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "rfm-act-0001-4000-8000-000000000006",
      "name": "대상 있는지 체크",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1200,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 50,
        "options": {}
      },
      "id": "rfm-act-0001-4000-8000-000000000007",
      "name": "50건씩 배치",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1040,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apis.aligo.in/send/",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $env.ALIGO_API_KEY }}"
            },
            {
              "name": "user_id",
              "value": "={{ $env.ALIGO_USER_ID }}"
            },
            {
              "name": "sender",
              "value": "={{ $env.ALIGO_SENDER_PHONE }}"
            },
            {
              "name": "receiver",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "msg",
              "value": "={{ $json.message }}"
            },
            {
              "name": "testmode_yn",
              "value": "Y"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "rfm-act-0001-4000-8000-000000000008",
      "name": "알리고 SMS 발송",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1280,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://nocodb.pressco21.com/api/v2/tables/' + $env.NOCODB_TABLE_CAMPAIGN_LOG + '/records' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "={{ $env.NOCODB_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  user_id: $json.user_id,\n  user_name: $json.user_name,\n  segment: $json.segment,\n  phone: $json.phone,\n  channel: 'SMS',\n  status: 'SUCCESS',\n  sent_at: $now.toISO()\n}) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "rfm-act-0001-4000-8000-000000000009",
      "name": "NocoDB 발송기록 저장",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        200
      ]
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "seconds"
      },
      "id": "rfm-act-0001-4000-8000-000000000010",
      "name": "Wait 1초",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1760,
        200
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// RFM 캠페인 발송 결과 집계\nconst items = $input.all();\nconst segCount = {};\nlet total = 0;\n\nfor (const item of items) {\n  const seg = item.json.segment;\n  if (!seg) continue;\n  segCount[seg] = (segCount[seg] || 0) + 1;\n  total++;\n}\n\nconst now = new Date();\nconst kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\nconst timeStr = kst.toISOString().replace('T', ' ').substring(0, 19) + ' KST';\n\nlet msg = '<b>RFM-ACTION 캠페인 발송 완료</b>\\n';\nmsg += '\\n';\nmsg += 'SMS ' + total + '건 발송 (테스트 모드)\\n\\n';\n\nconst segOrder = ['이탈위험', '신규고객', 'VIP', '휴면고객'];\nconst emojiMap = { '이탈위험': '\\u26a0\\ufe0f', '신규고객': '\\ud83c\\udd95', 'VIP': '\\ud83d\\udc51', '휴면고객': '\\ud83d\\ude34' };\n\nfor (const seg of segOrder) {\n  const cnt = segCount[seg] || 0;\n  if (cnt === 0) continue;\n  msg += (emojiMap[seg] || '') + ' ' + seg + ': ' + cnt + '건\\n';\n}\n\nmsg += '\\n' + timeStr;\nmsg += '\\n\\n(testmode_yn=Y, 실제 발송 없음)';\n\nreturn [{ json: { message: msg, total: total, bySegment: segCount } }];"
      },
      "id": "rfm-act-0001-4000-8000-000000000011",
      "name": "발송결과 집계",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        460
      ]
    },
    {
      "parameters": {
        "chatId": "7713811206",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "rfm-act-0001-4000-8000-000000000012",
      "name": "텔레그램 결과 알림",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1520,
        460
      ],
      "credentials": {
        "telegramApi": {
          "id": "RdFu3nsFuuO5NCff",
          "name": "Telegram Makeshop Bot"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// 대상 없음 — 텔레그램 메시지 생성\nconst data = $input.first().json;\nconst stats = data.stats || {};\n\nconst now = new Date();\nconst kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\nconst timeStr = kst.toISOString().replace('T', ' ').substring(0, 19) + ' KST';\n\nlet msg = '<b>RFM-ACTION 캠페인</b>\\n\\n';\nmsg += 'SMS 발송 대상 없음\\n\\n';\nif (stats.skippedNoPhone) msg += '- 연락처 없음: ' + stats.skippedNoPhone + '명\\n';\nif (stats.skippedDuplicate) msg += '- 7일내 중복: ' + stats.skippedDuplicate + '명\\n';\nmsg += '\\n' + timeStr;\n\nreturn [{ json: { message: msg } }];"
      },
      "id": "rfm-act-0001-4000-8000-000000000013",
      "name": "대상없음 메시지",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        460
      ]
    },
    {
      "parameters": {
        "chatId": "7713811206",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "rfm-act-0001-4000-8000-000000000014",
      "name": "텔레그램 대상없음",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1280,
        560
      ],
      "credentials": {
        "telegramApi": {
          "id": "RdFu3nsFuuO5NCff",
          "name": "Telegram Makeshop Bot"
        }
      }
    }
  ],
  "connections": {
    "매주 화요일 09시": {
      "main": [
        [
          {
            "node": "NocoDB 세그먼트 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB 세그먼트 조회": {
      "main": [
        [
          {
            "node": "NocoDB 7일내 발송기록",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB 7일내 발송기록": {
      "main": [
        [
          {
            "node": "MakeShop 회원정보 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MakeShop 회원정보 조회": {
      "main": [
        [
          {
            "node": "세그먼트별 발송대상 필터",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "세그먼트별 발송대상 필터": {
      "main": [
        [
          {
            "node": "대상 있는지 체크",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "대상 있는지 체크": {
      "main": [
        [
          {
            "node": "50건씩 배치",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "대상없음 메시지",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "50건씩 배치": {
      "main": [
        [
          {
            "node": "알리고 SMS 발송",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "발송결과 집계",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "알리고 SMS 발송": {
      "main": [
        [
          {
            "node": "NocoDB 발송기록 저장",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB 발송기록 저장": {
      "main": [
        [
          {
            "node": "Wait 1초",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 1초": {
      "main": [
        [
          {
            "node": "50건씩 배치",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "발송결과 집계": {
      "main": [
        [
          {
            "node": "텔레그램 결과 알림",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "대상없음 메시지": {
      "main": [
        [
          {
            "node": "텔레그램 대상없음",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "RFM"
    },
    {
      "name": "캠페인"
    },
    {
      "name": "알리고"
    }
  ]
}