n8n-automation/workflows/automation/rfm-action-campaign.json
{
  "name": "RFM-ACTION: 세그먼트별 자동 캠페인",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 * * 2"
            }
          ]
        }
      },
      "id": "rfm-act-0001-4000-8000-000000000001",
      "name": "매주 화요일 09시",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://nocodb.pressco21.com/api/v2/tables/' + $env.NOCODB_TABLE_CUSTOMER_SEGMENTS + '/records' }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "500"
            },
            {
              "name": "fields",
              "value": "user_id,user_name,segment,order_count,total_spent,recency_days,updated_at"
            },
            {
              "name": "where",
              "value": "(segment,in,이탈위험,신규고객,VIP,휴면고객)"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "={{ $env.NOCODB_TOKEN }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "rfm-act-0001-4000-8000-000000000002",
      "name": "NocoDB 세그먼트 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://nocodb.pressco21.com/api/v2/tables/' + $env.NOCODB_TABLE_CAMPAIGN_LOG + '/records' }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "1000"
            },
            {
              "name": "fields",
              "value": "user_id,segment,sent_at"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "={{ $env.NOCODB_TOKEN }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "rfm-act-0001-4000-8000-000000000003",
      "name": "NocoDB 7일내 발송기록",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// 대상 세그먼트 필터링 (전화번호 조회 전)\nconst segData = $('NocoDB 세그먼트 조회').first().json;\nconst logData = $('NocoDB 7일내 발송기록').first().json;\n\nfunction toArray(data) {\n  if (Array.isArray(data)) return data;\n  if (data && typeof data === 'object') return Object.values(data);\n  return [];\n}\n\nconst segments = toArray(segData.list || []);\nconst recentLogs = toArray(logData.list || []);\n\nconst now = Date.now();\nconst sevenDaysAgo = now - 7 * 24 * 60 * 60 * 1000;\nconst sentSet = new Set();\nfor (const log of recentLogs) {\n  const sentTime = new Date(log.sent_at || 0).getTime();\n  if (sentTime > sevenDaysAgo && log.user_id && log.segment) {\n    sentSet.add(log.user_id + '::' + log.segment);\n  }\n}\n\nconst targetSegments = ['이탈위험', '신규고객', 'VIP', '휴면고객'];\nconst maxPerSegment = 100;\nconst segCounter = {};\nconst results = [];\n\nfor (const seg of segments) {\n  const uid = seg.user_id;\n  const segName = seg.segment;\n  if (!uid || !segName || !targetSegments.includes(segName)) continue;\n\n  segCounter[segName] = (segCounter[segName] || 0);\n  if (segCounter[segName] >= maxPerSegment) continue;\n  if (sentSet.has(uid + '::' + segName)) continue;\n\n  results.push({\n    json: {\n      user_id: uid,\n      user_name: seg.user_name || '',\n      segment: segName,\n      order_count: seg.order_count || 0,\n      total_spent: seg.total_spent || 0,\n      recency_days: seg.recency_days || 0\n    }\n  });\n  segCounter[segName]++;\n}\n\nif (results.length === 0) {\n  return [{ json: { empty: true, message: '대상 없음: ' + JSON.stringify(segCounter) } }];\n}\n\nreturn results;"
      },
      "id": "rfm-act-0001-4000-8000-000000000004",
      "name": "세그먼트 필터",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-has-uid",
              "leftValue": "={{ $json.user_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "rfm-act-0001-4000-8000-000000000006",
      "name": "대상 있는지 체크",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1200,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://foreverlove.co.kr/list/open_api.html",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "mode",
              "value": "search"
            },
            {
              "name": "type",
              "value": "user"
            },
            {
              "name": "searchType",
              "value": "login"
            },
            {
              "name": "keyword",
              "value": "={{ $json.user_id }}"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Shopkey",
              "value": "={{ $env.MAKESHOP_SHOPKEY }}"
            },
            {
              "name": "Licensekey",
              "value": "={{ $env.MAKESHOP_LICENSEKEY }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "rfm-act-0001-4000-8000-000000000010",
      "name": "MakeShop 회원 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        200
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// MakeShop 응답 + 세그먼트 데이터 조합 → 메시지 생성\nconst mkResponses = $input.all();\nconst segItems = $('대상 있는지 체크').all();\n\nconst messages = {\n  '이탈위험': (name) => '[프레스코21] ' + name + '님, 오랜만이에요!\\n요즘 새로운 재료들이 많이 들어왔어요.\\n다시 한번 둘러보시겠어요?\\n> foreverlove.co.kr',\n  '신규고객': (name) => '[프레스코21] ' + name + '님, 첫 주문 감사합니다!\\n이 재료와 같이 쓰면 더 예쁜 작품을 만들 수 있어요.\\n> foreverlove.co.kr',\n  'VIP': (name) => '[프레스코21] ' + name + '님, 항상 감사합니다.\\n이번 주 신상품을 먼저 알려드려요!\\n> foreverlove.co.kr',\n  '휴면고객': (name) => '[프레스코21] ' + name + '님, 꽃 공예가 그리우시죠?\\n돌아오시면 반갑겠습니다.\\n> foreverlove.co.kr'\n};\n\nconst results = [];\nlet skippedNoPhone = 0;\n\nfor (let i = 0; i < mkResponses.length; i++) {\n  const mkResp = mkResponses[i].json;\n  const seg = segItems[i] ? segItems[i].json : {};\n\n  // MakeShop 응답에서 회원 정보 추출\n  const memberList = mkResp.list || [];\n  const member = memberList[0];\n\n  if (!member || !member.mobile) {\n    skippedNoPhone++;\n    continue;\n  }\n\n  const phone = (member.mobile || '').replace(/-/g, '').trim();\n  if (phone.length < 10) {\n    skippedNoPhone++;\n    continue;\n  }\n\n  const custName = member.hname || seg.user_name || '고객';\n  const segName = seg.segment || '?';\n  const msg = messages[segName] ? messages[segName](custName) : '';\n  if (!msg) continue;\n\n  results.push({\n    json: {\n      user_id: seg.user_id,\n      user_name: custName,\n      segment: segName,\n      phone: phone,\n      message: msg,\n      order_count: seg.order_count || 0,\n      total_spent: seg.total_spent || 0\n    }\n  });\n}\n\nif (results.length === 0) {\n  return [{ json: { empty: true, message: 'SMS 발송 대상 없음 (전화번호 없음: ' + skippedNoPhone + '명)' } }];\n}\n\nreturn results;"
      },
      "id": "rfm-act-0001-4000-8000-000000000011",
      "name": "메시지 생성",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-has-phone",
              "leftValue": "={{ $json.phone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "rfm-act-0001-4000-8000-000000000012",
      "name": "전화번호 있음?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1680,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apis.aligo.in/send/",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $env.ALIGO_API_KEY }}"
            },
            {
              "name": "user_id",
              "value": "={{ $env.ALIGO_USER_ID }}"
            },
            {
              "name": "sender",
              "value": "={{ $env.ALIGO_SENDER_PHONE }}"
            },
            {
              "name": "receiver",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "msg",
              "value": "={{ $json.message }}"
            },
            {
              "name": "testmode_yn",
              "value": "Y"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "rfm-act-0001-4000-8000-000000000008",
      "name": "알리고 SMS 발송",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1280,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://nocodb.pressco21.com/api/v2/tables/' + $env.NOCODB_TABLE_CAMPAIGN_LOG + '/records' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "={{ $env.NOCODB_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  user_id: $json.user_id,\n  user_name: $json.user_name,\n  segment: $json.segment,\n  phone: $json.phone,\n  channel: 'SMS',\n  status: 'SUCCESS',\n  sent_at: $now.toISO()\n}) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "rfm-act-0001-4000-8000-000000000009",
      "name": "NocoDB 발송기록 저장",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        200
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// RFM 캠페인 발송 결과 집계\nconst items = $input.all();\nconst segCount = {};\nlet total = 0;\n\nfor (const item of items) {\n  const seg = item.json.segment;\n  if (!seg) continue;\n  segCount[seg] = (segCount[seg] || 0) + 1;\n  total++;\n}\n\nconst now = new Date();\nconst kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\nconst timeStr = kst.toISOString().replace('T', ' ').substring(0, 19) + ' KST';\n\nlet msg = '<b>RFM-ACTION 캠페인 발송 완료</b>\\n';\nmsg += '\\n';\nmsg += 'SMS ' + total + '건 발송 (테스트 모드)\\n\\n';\n\nconst segOrder = ['이탈위험', '신규고객', 'VIP', '휴면고객'];\nconst emojiMap = { '이탈위험': '\\u26a0\\ufe0f', '신규고객': '\\ud83c\\udd95', 'VIP': '\\ud83d\\udc51', '휴면고객': '\\ud83d\\ude34' };\n\nfor (const seg of segOrder) {\n  const cnt = segCount[seg] || 0;\n  if (cnt === 0) continue;\n  msg += (emojiMap[seg] || '') + ' ' + seg + ': ' + cnt + '건\\n';\n}\n\nmsg += '\\n' + timeStr;\nmsg += '\\n\\n(testmode_yn=Y, 실제 발송 없음)';\n\nreturn [{ json: { message: msg, total: total, bySegment: segCount } }];"
      },
      "id": "rfm-act-0001-4000-8000-000000000011",
      "name": "발송결과 집계",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        460
      ]
    },
    {
      "parameters": {
        "chatId": "7713811206",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "rfm-act-0001-4000-8000-000000000012",
      "name": "텔레그램 결과 알림",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1520,
        460
      ],
      "credentials": {
        "telegramApi": {
          "id": "RdFu3nsFuuO5NCff",
          "name": "Telegram Makeshop Bot"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// 대상 없음 — 텔레그램 메시지 생성\nconst data = $input.first().json;\nconst stats = data.stats || {};\n\nconst now = new Date();\nconst kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\nconst timeStr = kst.toISOString().replace('T', ' ').substring(0, 19) + ' KST';\n\nlet msg = '<b>RFM-ACTION 캠페인</b>\\n\\n';\nmsg += 'SMS 발송 대상 없음\\n\\n';\nif (stats.skippedNoPhone) msg += '- 연락처 없음: ' + stats.skippedNoPhone + '명\\n';\nif (stats.skippedDuplicate) msg += '- 7일내 중복: ' + stats.skippedDuplicate + '명\\n';\nmsg += '\\n' + timeStr;\n\nreturn [{ json: { message: msg } }];"
      },
      "id": "rfm-act-0001-4000-8000-000000000013",
      "name": "대상없음 메시지",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        460
      ]
    },
    {
      "parameters": {
        "chatId": "7713811206",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "rfm-act-0001-4000-8000-000000000014",
      "name": "텔레그램 대상없음",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1280,
        560
      ],
      "credentials": {
        "telegramApi": {
          "id": "RdFu3nsFuuO5NCff",
          "name": "Telegram Makeshop Bot"
        }
      }
    }
  ],
  "connections": {
    "매주 화요일 09시": {
      "main": [
        [
          {
            "node": "NocoDB 세그먼트 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB 세그먼트 조회": {
      "main": [
        [
          {
            "node": "NocoDB 7일내 발송기록",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB 7일내 발송기록": {
      "main": [
        [
          {
            "node": "세그먼트 필터",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "세그먼트 필터": {
      "main": [
        [
          {
            "node": "대상 있는지 체크",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "대상 있는지 체크": {
      "main": [
        [
          {
            "node": "MakeShop 회원 조회",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "대상없음 메시지",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MakeShop 회원 조회": {
      "main": [
        [
          {
            "node": "메시지 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "메시지 생성": {
      "main": [
        [
          {
            "node": "전화번호 있음?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "전화번호 있음?": {
      "main": [
        [
          {
            "node": "알리고 SMS 발송",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "알리고 SMS 발송": {
      "main": [
        [
          {
            "node": "NocoDB 발송기록 저장",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB 발송기록 저장": {
      "main": [
        [
          {
            "node": "발송결과 집계",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "발송결과 집계": {
      "main": [
        [
          {
            "node": "텔레그램 결과 알림",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "대상없음 메시지": {
      "main": [
        [
          {
            "node": "텔레그램 대상없음",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "RFM"
    },
    {
      "name": "캠페인"
    },
    {
      "name": "알리고"
    }
  ]
}