n8n-automation/workflows/automation/stock-alert.json
{
  "name": "STOCK-ALERT: 품절 상태 변동 감지",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 23 * * *"
            }
          ]
        }
      },
      "id": "sa-0001-0001-4000-8000-000000000001",
      "name": "매일 08:00 KST",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://foreverlove.co.kr/list/open_api.html",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "mode", "value": "search" },
            { "name": "type", "value": "product" },
            { "name": "display", "value": "Y" },
            { "name": "limit", "value": "500" },
            { "name": "page", "value": "1" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Shopkey", "value": "={{ $env.MAKESHOP_SHOPKEY }}" },
            { "name": "Licensekey", "value": "={{ $env.MAKESHOP_LICENSEKEY }}" }
          ]
        },
        "options": {
          "timeout": 30000,
          "response": { "response": { "responseFormat": "json" } }
        }
      },
      "id": "sa-0001-0001-4000-8000-000000000002",
      "name": "MakeShop 상품 조회 p1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [260, 100],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://foreverlove.co.kr/list/open_api.html",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "mode", "value": "search" },
            { "name": "type", "value": "product" },
            { "name": "display", "value": "Y" },
            { "name": "limit", "value": "500" },
            { "name": "page", "value": "2" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Shopkey", "value": "={{ $env.MAKESHOP_SHOPKEY }}" },
            { "name": "Licensekey", "value": "={{ $env.MAKESHOP_LICENSEKEY }}" }
          ]
        },
        "options": {
          "timeout": 30000,
          "response": { "response": { "responseFormat": "json" } }
        }
      },
      "id": "sa-0001-0001-4000-8000-000000000010",
      "name": "MakeShop 상품 조회 p2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [260, 250],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://foreverlove.co.kr/list/open_api.html",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "mode", "value": "search" },
            { "name": "type", "value": "product" },
            { "name": "display", "value": "Y" },
            { "name": "limit", "value": "500" },
            { "name": "page", "value": "3" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Shopkey", "value": "={{ $env.MAKESHOP_SHOPKEY }}" },
            { "name": "Licensekey", "value": "={{ $env.MAKESHOP_LICENSEKEY }}" }
          ]
        },
        "options": {
          "timeout": 30000,
          "response": { "response": { "responseFormat": "json" } }
        }
      },
      "id": "sa-0001-0001-4000-8000-000000000011",
      "name": "MakeShop 상품 조회 p3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [260, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://foreverlove.co.kr/list/open_api.html",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "mode", "value": "search" },
            { "name": "type", "value": "product" },
            { "name": "display", "value": "Y" },
            { "name": "limit", "value": "500" },
            { "name": "page", "value": "4" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Shopkey", "value": "={{ $env.MAKESHOP_SHOPKEY }}" },
            { "name": "Licensekey", "value": "={{ $env.MAKESHOP_LICENSEKEY }}" }
          ]
        },
        "options": {
          "timeout": 30000,
          "response": { "response": { "responseFormat": "json" } }
        }
      },
      "id": "sa-0001-0001-4000-8000-000000000012",
      "name": "MakeShop 상품 조회 p4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [260, 550],
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// STOCK-ALERT v3: sto_state_code 기반 품절 변동 감지\n// MakeShop API의 options.basic[].sto_state_code = SOLDOUT|STOP 으로 판별\n// staticData에 이전 품절 목록 저장, 변동분만 알림\n\nconst staticData = $getWorkflowStaticData('global');\n\n// --- 4페이지 데이터 병합 ---\nvar allProducts = [];\nvar pageNodes = ['MakeShop 상품 조회 p1','MakeShop 상품 조회 p2','MakeShop 상품 조회 p3','MakeShop 상품 조회 p4'];\nfor (var pi = 0; pi < pageNodes.length; pi++) {\n  try {\n    var resp = $(pageNodes[pi]).first().json;\n    if (resp.return_code === '0000') {\n      var raw = resp.list || resp.datas || {};\n      var items = Array.isArray(raw) ? raw : Object.values(raw);\n      allProducts = allProducts.concat(items);\n    }\n  } catch(e) { /* 페이지 없으면 무시 */ }\n}\n\nif (allProducts.length < 10) {\n  return [{ json: {\n    hasAlert: true, isError: true,\n    message: '\\u26a0\\ufe0f <b>STOCK-ALERT</b> \\uc0c1\\ud488 \\uc870\\ud68c \\uc2e4\\ud328 (' + allProducts.length + '\\uac1c)'\n  } }];\n}\n\n// --- sto_state_code 기반 품절 판별 ---\nvar currentSoldOutMap = {};\nvar totalCount = allProducts.length;\n\nfor (var i = 0; i < allProducts.length; i++) {\n  var p = allProducts[i];\n  var uid = String(p.uid || '');\n  var name = p.product_name || '';\n  \n  // 개인결제건 제외\n  if (name.indexOf('\\uac1c\\uc778\\uacb0\\uc81c') >= 0) continue;\n  \n  var options = p.options || {};\n  var basic = options.basic || [];\n  var isSoldOut = false;\n  \n  for (var bi = 0; bi < basic.length; bi++) {\n    var state = basic[bi].sto_state_code || '';\n    if (state === 'SOLDOUT' || state === 'STOP') {\n      isSoldOut = true;\n      break;\n    }\n  }\n  \n  if (isSoldOut) {\n    currentSoldOutMap[uid] = name;\n  }\n}\n\nvar currentUids = Object.keys(currentSoldOutMap);\n\n// --- 이전 품절 목록 ---\nvar prevSoldOutMap = staticData.soldOutMap || {};\nvar prevUids = Object.keys(prevSoldOutMap);\nvar isFirstRun = (prevUids.length === 0 && !staticData.initialized);\n\n// --- 변동 감지 ---\nvar newSoldOut = [];\nvar restored = [];\n\nfor (var ni = 0; ni < currentUids.length; ni++) {\n  if (!prevSoldOutMap[currentUids[ni]]) {\n    newSoldOut.push({ uid: currentUids[ni], name: currentSoldOutMap[currentUids[ni]] });\n  }\n}\nfor (var ri = 0; ri < prevUids.length; ri++) {\n  if (!currentSoldOutMap[prevUids[ri]]) {\n    restored.push({ uid: prevUids[ri], name: prevSoldOutMap[prevUids[ri]] });\n  }\n}\n\n// --- staticData 갱신 ---\nstaticData.soldOutMap = currentSoldOutMap;\nstaticData.lastRun = new Date().toISOString();\nstaticData.initialized = true;\n\n// 첫 실행: 기준점만 설정\nif (isFirstRun) {\n  return [{ json: {\n    hasAlert: false, isFirstRun: true,\n    totalProducts: totalCount, totalSoldOut: currentUids.length\n  } }];\n}\n\n// 변동 없으면 종료\nif (newSoldOut.length === 0 && restored.length === 0) {\n  return [{ json: {\n    hasAlert: false, hasChanges: false,\n    totalProducts: totalCount, totalSoldOut: currentUids.length\n  } }];\n}\n\n// --- 텔레그램 메시지 ---\nvar now = new Date();\nvar kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\nvar dateStr = String(kst.getMonth() + 1).padStart(2, '0') + '/' + String(kst.getDate()).padStart(2, '0');\nvar trunc = function(s, n) { return s.length > n ? s.slice(0, n) + '..' : s; };\n\nvar msg = '\\ud83d\\udce6 <b>\\ud488\\uc808 \\uc0c1\\ud0dc \\ubcc0\\ub3d9</b> (' + dateStr + ')\\n';\nmsg += '\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\n\\n';\n\nif (newSoldOut.length > 0) {\n  msg += '\\ud83d\\udd34 <b>\\uc2e0\\uaddc \\ud488\\uc808</b> ' + newSoldOut.length + '\\uac74\\n';\n  for (var si = 0; si < Math.min(newSoldOut.length, 15); si++) {\n    msg += '  \\u2022 ' + trunc(newSoldOut[si].name, 30) + '\\n';\n  }\n  if (newSoldOut.length > 15) msg += '  ... \\uc678 ' + (newSoldOut.length - 15) + '\\uac74\\n';\n  msg += '\\n';\n}\n\nif (restored.length > 0) {\n  msg += '\\ud83d\\udfe2 <b>\\ud488\\uc808 \\ud574\\uc81c</b> ' + restored.length + '\\uac74\\n';\n  for (var xi = 0; xi < Math.min(restored.length, 10); xi++) {\n    msg += '  \\u2022 ' + trunc(restored[xi].name, 30) + '\\n';\n  }\n  if (restored.length > 10) msg += '  ... \\uc678 ' + (restored.length - 10) + '\\uac74\\n';\n  msg += '\\n';\n}\n\nmsg += '\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\n';\nmsg += '\\uc804\\uccb4 ' + totalCount + '\\uac1c / \\ud488\\uc808 ' + currentUids.length + '\\uac1c\\n';\nmsg += '\\ud83e\\udd16 n8n STOCK-ALERT v3';\n\nreturn [{ json: {\n  hasAlert: true, hasChanges: true, isError: false,\n  message: msg, totalProducts: totalCount,\n  totalSoldOut: currentUids.length,\n  newCount: newSoldOut.length, restoredCount: restored.length\n} }];"
      },
      "id": "sa-0001-0001-4000-8000-000000000003",
      "name": "품절 변동 분석",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "cond-has-alert",
              "leftValue": "={{ $json.hasAlert }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals", "singleValue": true }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "sa-0001-0001-4000-8000-000000000004",
      "name": "변동 있음?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [800, 300]
    },
    {
      "parameters": {
        "chatId": "7713811206",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "sa-0001-0001-4000-8000-000000000005",
      "name": "텔레그램 알림",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1040, 200],
      "credentials": {
        "telegramApi": {
          "id": "RdFu3nsFuuO5NCff",
          "name": "Pressco메이크샵봇"
        }
      }
    },
    {
      "parameters": {},
      "id": "sa-0001-0001-4000-8000-000000000099",
      "name": "변동 없음 종료",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1040, 420]
    }
  ],
  "connections": {
    "매일 08:00 KST": {
      "main": [
        [
          { "node": "MakeShop 상품 조회 p1", "type": "main", "index": 0 }
        ]
      ]
    },
    "MakeShop 상품 조회 p1": {
      "main": [
        [
          { "node": "MakeShop 상품 조회 p2", "type": "main", "index": 0 }
        ]
      ]
    },
    "MakeShop 상품 조회 p2": {
      "main": [
        [
          { "node": "MakeShop 상품 조회 p3", "type": "main", "index": 0 }
        ]
      ]
    },
    "MakeShop 상품 조회 p3": {
      "main": [
        [
          { "node": "MakeShop 상품 조회 p4", "type": "main", "index": 0 }
        ]
      ]
    },
    "MakeShop 상품 조회 p4": {
      "main": [
        [
          { "node": "품절 변동 분석", "type": "main", "index": 0 }
        ]
      ]
    },
    "품절 변동 분석": {
      "main": [
        [
          { "node": "변동 있음?", "type": "main", "index": 0 }
        ]
      ]
    },
    "변동 있음?": {
      "main": [
        [
          { "node": "텔레그램 알림", "type": "main", "index": 0 }
        ],
        [
          { "node": "변동 없음 종료", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": { "executionOrder": "v1" }
}
