n8n-automation/workflows/automation/wf-health-monitor.json
{
  "id": "0OFtnB5b4XmT8uqL",
  "name": "INFRA: WF 헬스 모니터",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 * * * *"
            }
          ]
        }
      },
      "id": "hm-0001-0001-4000-8000-000000000001",
      "name": "매시간 정각",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.N8N_BASE_URL || 'http://localhost:5678' }}/api/v1/executions",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "status", "value": "error" },
            { "name": "limit", "value": "20" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-N8N-API-KEY", "value": "={{ $env.N8N_API_KEY }}" }
          ]
        },
        "options": {
          "response": { "response": { "responseFormat": "json" } }
        }
      },
      "id": "hm-0001-0001-4000-8000-000000000002",
      "name": "에러 실행 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.N8N_BASE_URL || 'http://localhost:5678' }}/api/v1/executions",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "status", "value": "success" },
            { "name": "limit", "value": "100" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-N8N-API-KEY", "value": "={{ $env.N8N_API_KEY }}" }
          ]
        },
        "options": {
          "response": { "response": { "responseFormat": "json" } }
        }
      },
      "id": "hm-0001-0001-4000-8000-000000000003",
      "name": "성공 실행 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 240]
    },
    {
      "parameters": {
        "jsCode": "// WF 헬스 모니터 — 주기 대비 3배 초과 시 경고\nconst errorExecs = $input.first().json?.data || [];\nconst successExecs = $('성공 실행 조회').first().json?.data || [];\n\nconst watchList = [\n  { id: 'jaTfiQuY35DjgrxN', name: 'FA-001 강사등급', intervalMin: 5 },\n  { id: 'ovWkhq7E0ZqvjBIZ', name: 'FA-002 강사신청알림', intervalMin: 60 },\n  { id: 'Ks4JvBC06cEj6b8b', name: 'FA-003 반려이메일', intervalMin: 5 },\n  { id: '7MXN1lNCR3b7VcLF', name: 'WF#1 정부지원', intervalMin: 1440 },\n  { id: 'TrE9obAsBMtv5H1W', name: 'IMG-SYNC', intervalMin: 5 },\n  { id: 'EPXKj5wQf5DJ45hc', name: 'S3A-001 주간리포트', intervalMin: 10080 },\n  { id: '5qCeEU6FemDLyaGU', name: 'S3A-002 RFM', intervalMin: 10080 },\n];\n\nconst now = Date.now();\nconst alerts = [];\nconst staleAlerts = [];\n\n// 1) 최근 에러 체크 (1시간 이내)\nconst oneHourAgo = now - 60 * 60 * 1000;\nfor (const exec of errorExecs) {\n  const finishedAt = new Date(exec.stoppedAt || exec.startedAt).getTime();\n  if (finishedAt > oneHourAgo) {\n    const wf = watchList.find(w => w.id === exec.workflowId);\n    const wfName = wf ? wf.name : (exec.workflowData?.name || exec.workflowId);\n    alerts.push(`\\u274c ${wfName}: 실행 에러 (${new Date(exec.stoppedAt).toLocaleString('ko-KR', {timeZone: 'Asia/Seoul'})})`);\n  }\n}\n\n// 2) 주기 대비 3배 초과 (stale) 체크\nfor (const wf of watchList) {\n  const lastSuccess = successExecs.find(e => e.workflowId === wf.id);\n  if (!lastSuccess) {\n    staleAlerts.push(`\\u23f0 ${wf.name}: 최근 성공 기록 없음`);\n    continue;\n  }\n  const lastAt = new Date(lastSuccess.stoppedAt || lastSuccess.startedAt).getTime();\n  const ageMin = (now - lastAt) / 60000;\n  const threshold = wf.intervalMin * 3;\n  if (ageMin > threshold) {\n    const ageHours = Math.round(ageMin / 60);\n    staleAlerts.push(`\\u23f0 ${wf.name}: ${ageHours}시간 전 마지막 성공 (임계: ${Math.round(threshold / 60)}시간)`);\n  }\n}\n\nconst allAlerts = [...alerts, ...staleAlerts];\n\nif (allAlerts.length === 0) {\n  return [{ json: { hasIssues: false, message: '' } }];\n}\n\nconst message = `\\u26a0\\ufe0f WF 헬스 경고\\n\\n${allAlerts.join('\\n')}\\n\\n시각: ${new Date().toLocaleString('ko-KR', {timeZone: 'Asia/Seoul'})}`;\n\nreturn [{ json: { hasIssues: true, message } }];"
      },
      "id": "hm-0001-0001-4000-8000-000000000004",
      "name": "헬스 체크 분석",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-has-issues",
              "leftValue": "={{ $json.hasIssues }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals", "singleValue": true }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "hm-0001-0001-4000-8000-000000000005",
      "name": "이슈 있음?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [720, 0]
    },
    {
      "parameters": {
        "chatId": "7713811206",
        "text": "={{ $json.message }}",
        "additionalFields": { "parse_mode": "HTML" }
      },
      "id": "hm-0001-0001-4000-8000-000000000006",
      "name": "텔레그램 경고",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [960, -60],
      "credentials": {
        "telegramApi": { "id": "RdFu3nsFuuO5NCff", "name": "Telegram Makeshop Bot" }
      }
    }
  ],
  "connections": {
    "매시간 정각": { "main": [[{ "node": "에러 실행 조회", "type": "main", "index": 0 }, { "node": "성공 실행 조회", "type": "main", "index": 0 }]] },
    "에러 실행 조회": { "main": [[{ "node": "헬스 체크 분석", "type": "main", "index": 0 }]] },
    "헬스 체크 분석": { "main": [[{ "node": "이슈 있음?", "type": "main", "index": 0 }]] },
    "이슈 있음?": { "main": [[{ "node": "텔레그램 경고", "type": "main", "index": 0 }], []] }
  },
  "settings": { "executionOrder": "v1" }
}
