n8n-automation/workflows/govt-support/정부지원사업_월간리포트.json
{
  "name": "정부지원사업_월간리포트",
  "nodes": [
    {
      "id": "node-schedule",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 1 1 * *"
            }
          ]
        }
      }
    },
    {
      "id": "node-date-calc",
      "name": "Code_날짜계산",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// KST 기준 지난달 범위 계산\nconst now = new Date();\nconst kstNow = new Date(now.getTime() + 9 * 60 * 60 * 1000);\nconst year = kstNow.getUTCFullYear();\nconst month = kstNow.getUTCMonth(); // 0-indexed: 현재달\n\n// 지난달 첫날 (UTC)\nconst lastMonthStart = new Date(Date.UTC(year, month - 1, 1));\n// 이번달 첫날 (UTC)\nconst thisMonthStart = new Date(Date.UTC(year, month, 1));\n\nconst startStr = lastMonthStart.toISOString().split('T')[0];\nconst endStr = thisMonthStart.toISOString().split('T')[0];\n\n// NocoDB where 필터 (수집일시 기준)\nconst nocodbWhere = `(수집일시,gte,${startStr})~and(수집일시,lt,${endStr})`;\n\nconst reportMonth = `${year}년 ${month}월`;\n\nreturn [{ json: { nocodbWhere, reportMonth, startStr, endStr } }];"
      }
    },
    {
      "id": "node-airtable-query",
      "name": "NocoDB_월간조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [710, 300],
      "parameters": {
        "method": "GET",
        "url": "https://nocodb.pressco21.com/api/v2/tables/m9pvnifrpmwmbvs/records",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "SIxKK9NtvgsQeLnMQcxbi5pNJGF7tJhnrv6LLGFl"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "where",
              "value": "={{ $json.nocodbWhere }}"
            },
            {
              "name": "limit",
              "value": "1000"
            }
          ]
        },
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "node-aggregate",
      "name": "Code_월간집계",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const rawItems = $input.all();\nconst reportMonth = $('Code_날짜계산').first().json.reportMonth;\n\n// NocoDB 리스트 응답 확장\nconst items = [];\nfor (const raw of rawItems) {\n  if (raw.json.list && Array.isArray(raw.json.list)) {\n    for (const record of raw.json.list) {\n      items.push({ json: record });\n    }\n  } else if (!raw.json.error) {\n    items.push(raw);\n  }\n}\n\nif (!items || items.length === 0 || (items.length === 1 && items[0].json.error)) {\n  return [{ json: { reportMonth, totalCount: 0, 긴급검토: 0, 검토권장: 0, 저관련: 0, 신청완료: 0, 미신청: 0, 미검토: 0, 기간만료: 0, 기업마당: 0, kStartup: 0, 보조금24: 0, avgScore: 0 } }];\n}\n\nconst counts = { 긴급검토: 0, 검토권장: 0, 저관련: 0 };\nconst statusCounts = { 신청완료: 0, 미신청: 0, 미검토: 0, 기간만료: 0 };\nconst sourceCounts = { 기업마당: 0, kStartup: 0, 보조금24: 0 };\nlet totalScore = 0, scoreCount = 0;\n\nfor (const item of items) {\n  const f = item.json;\n  const score = Number(f['관련도점수'] || 0);\n  const status = f['상태'] || '';\n  const source = f['출처'] || '';\n\n  // 관련지수 분류\n  if (score >= 70) counts.긴급검토++;\n  else if (score >= 30) counts.검토권장++;\n  else counts.저관련++;\n\n  // 상태 분류\n  if (status === '지원 완료' || status === '작성 완료') statusCounts.신청완료++;\n  else if (status === '기간만료' || status === '탈락') statusCounts.기간만료++;\n  else if (status === '작성 중') statusCounts.미신청++;\n  else statusCounts.미검토++;\n\n  // 수집 소스\n  if (source === '기업마당') sourceCounts.기업마당++;\n  else if (source === 'K-Startup') sourceCounts.kStartup++;\n  else if (source === '보조금24') sourceCounts.보조금24++;\n\n  if (score > 0) { totalScore += score; scoreCount++; }\n}\n\nconst avgScore = scoreCount > 0 ? (totalScore / scoreCount).toFixed(1) : '0';\n\nreturn [{ json: {\n  reportMonth,\n  totalCount: items.length,\n  긴급검토: counts.긴급검토,\n  검토권장: counts.검토권장,\n  저관련: counts.저관련,\n  신청완료: statusCounts.신청완료,\n  미신청: statusCounts.미신청,\n  미검토: statusCounts.미검토,\n  기간만료: statusCounts.기간만료,\n  기업마당: sourceCounts.기업마당,\n  kStartup: sourceCounts.kStartup,\n  보조금24: sourceCounts.보조금24,\n  avgScore\n} }];"
      }
    },
    {
      "id": "node-telegram",
      "name": "Telegram_월간리포트",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1170, 300],
      "parameters": {
        "operation": "sendMessage",
        "chatId": "7713811206",
        "text": "=📊 <b>{{ $json.reportMonth }} 정부지원사업 월간 리포트</b>\n\n📦 총 수집: <b>{{ $json.totalCount }}건</b>\n\n<b>🔍 관련도 분류</b>\n🔥 긴급검토(70점↑): {{ $json.긴급검토 }}건\n🧐 검토권장(30~69): {{ $json.검토권장 }}건\n⚪ 저관련(30점↓): {{ $json.저관련 }}건\n🤖 AI 평균점수: {{ $json.avgScore }}점\n\n<b>📋 처리 현황</b>\n✅ 신청완료: {{ $json.신청완료 }}건\n✏️ 미신청: {{ $json.미신청 }}건\n⏳ 미검토: {{ $json.미검토 }}건\n💀 기간만료: {{ $json.기간만료 }}건\n\n<b>📡 수집 소스</b>\n기업마당: {{ $json.기업마당 }}건 | K-Startup: {{ $json.kStartup }}건 | 보조금24: {{ $json.보조금24 }}건",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot API"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code_날짜계산",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_날짜계산": {
      "main": [
        [
          {
            "node": "NocoDB_월간조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB_월간조회": {
      "main": [
        [
          {
            "node": "Code_월간집계",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_월간집계": {
      "main": [
        [
          {
            "node": "Telegram_월간리포트",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
