n8n-automation/workflows/mobile-app/app-orders-api.json
{
  "name": "[APP] 주문 API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "app/orders",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "webhook-orders",
      "name": "주문 목록 웹훅",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "app-orders"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst headers = input.headers || {};\nconst authHeader = headers.authorization || headers.Authorization || '';\nconst token = authHeader.replace('Bearer ', '');\nconst query = input.query || {};\n\nif (!token) {\n  return [{ json: { success: false, error: '로그인이 필요합니다' } }];\n}\n\ntry {\n  const payload = JSON.parse(Buffer.from(token, 'base64').toString());\n  if (payload.exp && payload.exp < Date.now()) {\n    return [{ json: { success: false, error: '세션이 만료되었습니다' } }];\n  }\n  return [{ json: { userId: payload.userId, limit: query.limit || '20' } }];\n} catch(e) {\n  return [{ json: { success: false, error: '유효하지 않은 토큰입니다' } }];\n}"
      },
      "id": "code-verify-token",
      "name": "토큰 검증",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://foreverlove.co.kr/list/open_api.html",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "mode", "value": "search" },
            { "name": "type", "value": "order" },
            { "name": "id", "value": "={{ $json.userId }}" },
            { "name": "sdate", "value": "={{ new Date(Date.now() - 90*24*60*60*1000).toISOString().slice(0,10).replace(/-/g,'') }}" },
            { "name": "edate", "value": "={{ new Date().toISOString().slice(0,10).replace(/-/g,'') }}" },
            { "name": "limit", "value": "={{ $json.limit }}" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Shopkey", "value": "={{ $env.MAKESHOP_SHOPKEY }}" },
            { "name": "Licensekey", "value": "={{ $env.MAKESHOP_LICENSEKEY }}" }
          ]
        },
        "options": { "timeout": 30000 }
      },
      "id": "http-orders",
      "name": "MakeShop 주문 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nlet data = raw;\nif (typeof raw.data === 'string') { try { data = JSON.parse(raw.data); } catch(e) {} }\nlet orders = [];\nif (data.list && Array.isArray(data.list)) {\n  orders = data.list;\n} else if (data && typeof data === 'object') {\n  orders = Object.values(data).filter(v => typeof v === 'object' && v !== null && (v.ord_no || v.order_no));\n}\n\nconst items = orders.map(o => {\n  let status = 'pending';\n  const state = String(o.ord_state || o.order_status || '');\n  if (state === '2' || state === '3') status = 'confirmed';\n  else if (state === '4') status = 'preparing';\n  else if (state === '5') status = 'shipped';\n  else if (state === '6') status = 'delivered';\n  else if (state === '7' || state === '8') status = 'cancelled';\n\n  const img = o.prd_image || o.product_image || '';\n  return {\n    id: o.ord_no || o.order_no || '',\n    orderNo: o.ord_no || o.order_no || '',\n    date: o.ord_date || o.order_date || '',\n    status,\n    totalPrice: parseInt(o.ord_price || o.order_price || '0'),\n    productName: o.prd_name || o.product_name || '',\n    productImage: img.startsWith('http') ? img : img ? 'https://foreverlove.co.kr' + img : '',\n    trackingNumber: o.inv_no || '',\n    trackingUrl: o.inv_no ? 'https://trace.cjlogistics.com/web/detail.jsp?slipno=' + o.inv_no : '',\n  };\n}).filter(o => o.id);\n\nreturn [{ json: { success: true, data: items, total: items.length } }];"
      },
      "id": "code-parse-orders",
      "name": "주문 파싱",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 300]
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json" },
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        },
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "respond-orders",
      "name": "주문 응답",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1080, 300]
    }
  ],
  "connections": {
    "주문 목록 웹훅": { "main": [[{ "node": "토큰 검증", "type": "main", "index": 0 }]] },
    "토큰 검증": { "main": [[{ "node": "MakeShop 주문 조회", "type": "main", "index": 0 }]] },
    "MakeShop 주문 조회": { "main": [[{ "node": "주문 파싱", "type": "main", "index": 0 }]] },
    "주문 파싱": { "main": [[{ "node": "주문 응답", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
