n8n-automation/workflows/mobile-app/app-auth-api.json
{
  "name": "[APP] 인증 API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "app/auth/login",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "webhook-login",
      "name": "로그인 웹훅",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "app-auth-login"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst body = input.body || {};\nconst userId = body.userId || '';\nconst password = body.password || '';\nif (!userId || !password) {\n  return [{ json: { success: false, error: '아이디와 비밀번호를 입력해주세요' } }];\n}\nreturn [{ json: { userId, password } }];"
      },
      "id": "code-validate-input",
      "name": "입력 검증",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://foreverlove.co.kr/list/open_api.html",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "mode", "value": "search" },
            { "name": "type", "value": "user" },
            { "name": "userid", "value": "={{ $json.userId }}" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Shopkey", "value": "={{ $env.MAKESHOP_SHOPKEY }}" },
            { "name": "Licensekey", "value": "={{ $env.MAKESHOP_LICENSEKEY }}" }
          ]
        },
        "options": { "timeout": 15000 }
      },
      "id": "http-member-check",
      "name": "MakeShop 회원 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nlet data = raw;\nif (typeof raw.data === 'string') { try { data = JSON.parse(raw.data); } catch(e) {} }\nlet members = [];\nif (data.list && Array.isArray(data.list)) {\n  members = data.list;\n} else if (data && typeof data === 'object') {\n  members = Object.values(data).filter(v => typeof v === 'object' && v !== null && (v.userid || v.id));\n}\nif (members.length === 0) {\n  return [{ json: { success: false, error: '존재하지 않는 회원입니다' } }];\n}\nconst m = members[0];\n\nconst payload = JSON.stringify({\n  userId: m.userid || m.id || '',\n  name: m.name || '',\n  email: m.email || '',\n  phone: m.mobile || m.phone || '',\n  grade: m.group_name || '',\n  iat: Date.now(),\n  exp: Date.now() + 7 * 24 * 60 * 60 * 1000\n});\nconst token = Buffer.from(payload).toString('base64');\n\nconst user = {\n  id: m.userid || m.id || '',\n  name: m.name || '',\n  email: m.email || '',\n  phone: m.mobile || m.phone || '',\n  isPartner: (m.group_name || '').includes('강사') || (m.group_no || '') !== '1',\n  partnerGrade: null,\n};\n\nconst gn = (m.group_name || '').toUpperCase();\nif (gn.includes('AMBASSADOR') || gn.includes('앰배서더')) user.partnerGrade = 'AMBASSADOR';\nelse if (gn.includes('ATELIER') || gn.includes('아뜰리에')) user.partnerGrade = 'ATELIER';\nelse if (gn.includes('GARDEN') || gn.includes('가든')) user.partnerGrade = 'GARDEN';\nelse if (gn.includes('BLOOM') || gn.includes('블룸')) user.partnerGrade = 'BLOOM';\n\nreturn [{ json: { success: true, data: { token, user } } }];"
      },
      "id": "code-auth-response",
      "name": "인증 처리",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 300]
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json" },
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        },
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "respond-login",
      "name": "로그인 응답",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1080, 300]
    }
  ],
  "connections": {
    "로그인 웹훅": { "main": [[{ "node": "입력 검증", "type": "main", "index": 0 }]] },
    "입력 검증": { "main": [[{ "node": "MakeShop 회원 조회", "type": "main", "index": 0 }]] },
    "MakeShop 회원 조회": { "main": [[{ "node": "인증 처리", "type": "main", "index": 0 }]] },
    "인증 처리": { "main": [[{ "node": "로그인 응답", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
