파트너클래스/n8n-workflows/WF-01C-affiliation-read.json
{
  "id": "AbazwCdqQ9XdA48G",
  "name": "WF-01C Affiliation Read API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "class-api-affiliation",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wf01-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        300
      ],
      "webhookId": "class-api-affiliation"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "loose"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ ($json.body && $json.body.action) || $json.action || \"\" }}",
                    "rightValue": "getAffiliations",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "getAffiliations"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "loose"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ ($json.body && $json.body.action) || $json.action || \"\" }}",
                    "rightValue": "getSeminars",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "getSeminars"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "loose"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ ($json.body && $json.body.action) || $json.action || \"\" }}",
                    "rightValue": "getContentHub",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "getContentHub"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "wf01-switch",
      "name": "Switch Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://nocodb.pressco21.com/api/v1/db/data/noco/{{ $env.NOCODB_PROJECT_ID }}/m1y7q68q1zlrvv6",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "where",
              "value": "(status,eq,active)"
            },
            {
              "name": "fields",
              "value": "affiliation_code,name,logo_url,discount_rate,target_1,incentive_1,target_2,incentive_2,target_3,incentive_3,contact_name,memo"
            },
            {
              "name": "limit",
              "value": "100"
            },
            {
              "name": "sort",
              "value": "-CreatedAt"
            }
          ]
        },
        "options": {}
      },
      "id": "wf01-nocodb-affiliations",
      "name": "NocoDB Get Affiliations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        820
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "JmXQGe9254wG4qVZ",
          "name": "NocoDB API Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ===================================================\n// WF-01-D: getAffiliations - 협회 목록 응답\n// ===================================================\n\nconst response = $input.first().json;\nconst affiliList = response.list || [];\n\nconst affiliations = affiliList.map(a => ({\n  affiliation_code: a.affiliation_code || '',\n  name: a.name || '',\n  logo_url: a.logo_url || '',\n  discount_rate: Number(a.discount_rate) || 0,\n  incentive_tiers: [\n    { target: Number(a.target_1) || 5000000, incentive: Number(a.incentive_1) || 250000 },\n    { target: Number(a.target_2) || 10000000, incentive: Number(a.incentive_2) || 500000 },\n    { target: Number(a.target_3) || 20000000, incentive: Number(a.incentive_3) || 1200000 }\n  ],\n  contact_name: a.contact_name || '',\n  memo: a.memo || ''\n}));\n\nreturn [{\n  json: {\n    success: true,\n    data: affiliations,\n    total: affiliations.length,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "wf01-format-affiliations",
      "name": "Format Affiliations",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        820
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ (() => { const payload = JSON.parse(JSON.stringify($json)); delete payload._cacheStatus; return payload; })() }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://foreverlove.co.kr"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              }
            ]
          }
        }
      },
      "id": "wf01-respond-affiliations",
      "name": "Respond getAffiliations",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1320,
        820
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===================================================\n// Fallback: 알 수 없는 action 에러 응답\n// ===================================================\n\nconst action = ($input.first().json.body || {}).action || '';\n\nreturn [{\n  json: {\n    success: false,\n    error: {\n      code: 'INVALID_ACTION',\n      message: `알 수 없는 요청입니다: ${action}`\n    },\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "wf01-fallback",
      "name": "Unknown Action Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        660
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://foreverlove.co.kr"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              }
            ]
          }
        }
      },
      "id": "wf01-respond-fallback",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        880,
        660
      ]
    },
    {
      "parameters": {
        "jsCode": "const workflowStaticData = $getWorkflowStaticData('global');\nconst cacheStore = workflowStaticData.presscoCache || {};\nconst entry = cacheStore['getAffiliations_v1'];\n\nif (entry && entry.payload && Number(entry.expires_at || 0) > Date.now()) {\n  return [{ json: Object.assign({ _cacheStatus: 'HIT' }, entry.payload) }];\n}\n\nreturn [{ json: { _cacheStatus: 'MISS' } }];"
      },
      "id": "wf01-affiliations-cache-check",
      "name": "Check Affiliations Cache",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        820
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "loose"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json._cacheStatus }}",
                    "rightValue": "HIT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "cacheHit"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "wf01-affiliations-cache-switch",
      "name": "Switch Affiliations Cache",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        660,
        820
      ]
    },
    {
      "parameters": {
        "jsCode": "const workflowStaticData = $getWorkflowStaticData('global');\nconst payload = $input.first().json;\n\nif (payload && payload.success) {\n  if (!workflowStaticData.presscoCache) {\n    workflowStaticData.presscoCache = {};\n  }\n  workflowStaticData.presscoCache['getAffiliations_v1'] = {\n    payload: JSON.parse(JSON.stringify(payload)),\n    cached_at: new Date().toISOString(),\n    expires_at: Date.now() + 3600000\n  };\n}\n\nreturn [{ json: payload }];"
      },
      "id": "wf01-affiliations-cache-store",
      "name": "Store Affiliations Cache",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        820
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://nocodb.pressco21.com/api/v1/db/data/noco/{{ $env.NOCODB_PROJECT_ID }}/m9gh6baz3vow966",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "seminar_id,affiliation_code,title,description,seminar_date,seminar_time,location,capacity,status,image_url"
            },
            {
              "name": "limit",
              "value": "240"
            },
            {
              "name": "sort",
              "value": "seminar_date,seminar_time"
            }
          ]
        },
        "options": {}
      },
      "id": "wf01c-seminars-get",
      "name": "NocoDB Get Seminars",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        620
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "JmXQGe9254wG4qVZ",
          "name": "PRESSCO21-NocoDB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ===================================================\n// WF-01C: getSeminars - 협회 세미나/이벤트 목록 응답\n// ===================================================\n\nconst requestItem = $('Webhook').first().json || {};\nconst response = $input.first().json;\nconst seminarList = Array.isArray(response.list) ? response.list : [];\nconst body = requestItem.body || {};\nconst year = Number(body.year || 0);\nconst month = Number(body.month || 0);\nconst affiliationCode = String(body.affiliationCode || body.affiliation_code || '').trim();\nconst limit = Math.max(1, Math.min(60, Number(body.limit || 24) || 24));\n\nfunction pad2(value) {\n  return String(value).padStart(2, '0');\n}\n\nfunction toUtcDate(value) {\n  const text = String(value || '').trim();\n  const parts = text.split('-');\n  if (parts.length !== 3) return null;\n  return new Date(Date.UTC(Number(parts[0]), Number(parts[1]) - 1, Number(parts[2])));\n}\n\nfunction getTodayKst() {\n  const now = new Date();\n  const utcTime = now.getTime() + now.getTimezoneOffset() * 60000;\n  return new Date(utcTime + 9 * 60 * 60000);\n}\n\nfunction diffDays(dateA, dateB) {\n  if (!dateA || !dateB) return null;\n  return Math.round((dateA.getTime() - dateB.getTime()) / 86400000);\n}\n\nfunction normalizeStatus(raw) {\n  const upper = String(raw || '').replace(/\\s+/g, ' ').trim().toUpperCase();\n  if (!upper) return 'DRAFT';\n  if (upper === 'ACTIVE' || upper === 'OPEN') return 'ACTIVE';\n  if (upper === 'PAUSED') return 'PAUSED';\n  if (upper === 'CLOSED' || upper === 'COMPLETED') return 'COMPLETED';\n  return upper;\n}\n\nfunction monthLabel(monthNumber) {\n  return monthNumber ? (String(monthNumber) + '월') : '-';\n}\n\nfunction seasonLabel(monthNumber) {\n  if (monthNumber === 2 || monthNumber === 3) return '졸업 시즌';\n  if (monthNumber === 4 || monthNumber === 5) return '가정의 달';\n  if (monthNumber === 5 || monthNumber === 6) return '웨딩 시즌';\n  if (monthNumber === 8 || monthNumber === 9) return '추석 시즌';\n  if (monthNumber === 11 || monthNumber === 12) return '크리스마스 시즌';\n  if (monthNumber === 7) return '방학 시즌';\n  return '정기 세미나';\n}\n\nconst today = toUtcDate(getTodayKst().toISOString().slice(0, 10));\n\nconst rows = seminarList.map((item) => {\n  const date = toUtcDate(item.seminar_date || '');\n  const monthNumber = date ? (date.getUTCMonth() + 1) : 0;\n  return {\n    seminar_id: item.seminar_id || '',\n    affiliation_code: item.affiliation_code || '',\n    title: item.title || '',\n    description: item.description || '',\n    seminar_date: item.seminar_date || '',\n    seminar_time: item.seminar_time || '',\n    location: item.location || '',\n    capacity: Number(item.capacity || 0),\n    status: normalizeStatus(item.status || ''),\n    image_url: item.image_url || '',\n    month: monthNumber,\n    month_label: monthLabel(monthNumber),\n    season_label: seasonLabel(monthNumber),\n    d_day: date ? diffDays(date, today) : null\n  };\n});\n\nlet filtered = rows.filter((item) => item.status === 'ACTIVE');\nif (year > 0) {\n  filtered = filtered.filter((item) => String(item.seminar_date || '').slice(0, 4) === String(year));\n}\nif (month > 0) {\n  filtered = filtered.filter((item) => item.month === month);\n}\nif (affiliationCode) {\n  filtered = filtered.filter((item) => item.affiliation_code === affiliationCode);\n}\n\nfiltered.sort((a, b) => {\n  const dateA = String(a.seminar_date || '') + ' ' + String(a.seminar_time || '');\n  const dateB = String(b.seminar_date || '') + ' ' + String(b.seminar_time || '');\n  return dateA.localeCompare(dateB);\n});\n\nconst limited = filtered.slice(0, limit);\nconst monthsCovered = [];\nconst seenMonths = {};\nlimited.forEach((item) => {\n  if (item.month && !seenMonths[item.month]) {\n    seenMonths[item.month] = true;\n    monthsCovered.push(item.month);\n  }\n});\n\nreturn [{\n  json: {\n    success: true,\n    data: limited,\n    total: filtered.length,\n    summary: {\n      year: year || null,\n      month: month || null,\n      affiliation_code: affiliationCode || '',\n      months_covered: monthsCovered,\n      upcoming_count: limited.filter((item) => item.d_day !== null && item.d_day >= 0).length,\n      due_in_14_days: limited.filter((item) => item.d_day === 14).length\n    },\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "wf01c-seminars-build",
      "name": "Build Seminars Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        620
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://foreverlove.co.kr"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              }
            ]
          }
        }
      },
      "id": "wf01c-seminars-respond",
      "name": "Respond getSeminars",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1380,
        620
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://nocodb.pressco21.com/api/v1/db/data/noco/{{ $env.NOCODB_PROJECT_ID }}/mpvsno4or6asbxk",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "class_id,class_name,category,level,price,duration_min,thumbnail_url,location,region,tags,class_count,avg_rating,partner_code,type,status,kit_enabled"
            },
            {
              "name": "limit",
              "value": "1000"
            },
            {
              "name": "sort",
              "value": "-CreatedAt"
            }
          ]
        },
        "options": {}
      },
      "id": "wf01c-content-classes",
      "name": "NocoDB Get Content Classes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        420
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "JmXQGe9254wG4qVZ",
          "name": "PRESSCO21-NocoDB"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://nocodb.pressco21.com/api/v1/db/data/noco/{{ $env.NOCODB_PROJECT_ID }}/mp8t0yq15cabmj4",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "where",
              "value": "(status,eq,active)"
            },
            {
              "name": "fields",
              "value": "partner_code,partner_name,grade,location,avg_rating,instagram_url,portfolio_url"
            },
            {
              "name": "limit",
              "value": "1000"
            }
          ]
        },
        "options": {}
      },
      "id": "wf01c-content-partners",
      "name": "NocoDB Get Content Partners",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        420
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "JmXQGe9254wG4qVZ",
          "name": "PRESSCO21-NocoDB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\n// ===================================================\n// WF-01C: getContentHub - 콘텐츠 허브 4영역 응답 생성\n// imported affiliation content + classes + partners 조합\n// ===================================================\n\nconst classResponse = $('NocoDB Get Content Classes').first().json;\nconst partnerResponse = $('NocoDB Get Content Partners').first().json;\nconst importedResponse = $('NocoDB Get Imported Content').first().json;\nconst classesList = classResponse.list || [];\nconst partnersList = partnerResponse.list || [];\nconst importedContentList = importedResponse.list || [];\n\nfunction normalizeStatus(raw) {\n  const text = String(raw || '').replace(/\\s+/g, ' ').trim();\n  const upper = text.toUpperCase();\n  if (!text) return 'DRAFT';\n  if (upper === 'ACTIVE' || text.toLowerCase() === 'active') return 'ACTIVE';\n  if (upper === 'PAUSED' || text.toLowerCase() === 'paused') return 'PAUSED';\n  if (upper === 'PENDING_REVIEW' || upper === 'INACTIVE' || text.toLowerCase() === 'pending') return 'PENDING_REVIEW';\n  if (upper === 'REJECTED' || text.toLowerCase() === 'closed') return 'REJECTED';\n  if (upper === 'ARCHIVED') return 'ARCHIVED';\n  return upper;\n}\n\nfunction normalizeLevel(raw) {\n  const text = String(raw || '').replace(/\\s+/g, ' ').trim();\n  const upper = text.toUpperCase();\n  const lower = text.toLowerCase();\n  if (!text) return 'ALL_LEVELS';\n  if (upper === 'BEGINNER' || lower === 'beginner' || lower === 'basic' || text.indexOf('입문') !== -1 || text.indexOf('초급') !== -1) return 'BEGINNER';\n  if (upper === 'INTERMEDIATE' || lower === 'intermediate' || text.indexOf('중급') !== -1) return 'INTERMEDIATE';\n  if (upper === 'ADVANCED' || lower === 'advanced' || text.indexOf('심화') !== -1 || text.indexOf('고급') !== -1) return 'ADVANCED';\n  return 'ALL_LEVELS';\n}\n\nfunction normalizeRegion(raw) {\n  const text = String(raw || '').replace(/\\s+/g, ' ').trim();\n  const upper = text.toUpperCase();\n  if (!text) return 'NATIONWIDE';\n  if (upper === 'SEOUL' || text.indexOf('서울') !== -1) return 'SEOUL';\n  if (upper === 'GYEONGGI' || text.indexOf('경기') !== -1) return 'GYEONGGI';\n  if (upper === 'INCHEON' || text.indexOf('인천') !== -1) return 'INCHEON';\n  if (upper === 'BUSAN' || text.indexOf('부산') !== -1) return 'BUSAN';\n  if (upper === 'ONLINE' || text.indexOf('온라인') !== -1) return 'ONLINE';\n  return upper || 'NATIONWIDE';\n}\n\nfunction getRegionLabel(code) {\n  const labels = { SEOUL: '서울', GYEONGGI: '경기', INCHEON: '인천', BUSAN: '부산', ONLINE: '온라인', NATIONWIDE: '전국' };\n  return labels[code] || code || '전국';\n}\n\nfunction getLevelLabel(code) {\n  const labels = { BEGINNER: '입문', INTERMEDIATE: '중급', ADVANCED: '심화', ALL_LEVELS: '누구나' };\n  return labels[code] || '누구나';\n}\n\nfunction getTypeLabel(raw) {\n  const text = String(raw || '').trim();\n  if (!text) return '원데이';\n  if (text.toUpperCase() === 'ONLINE' || text.indexOf('온라인') !== -1) return '온라인';\n  return text;\n}\n\nfunction normalizeGrade(raw) {\n  const upper = String(raw || 'BLOOM').toUpperCase();\n  if (upper === 'SILVER') return 'BLOOM';\n  if (upper === 'GOLD') return 'GARDEN';\n  if (upper === 'PLATINUM') return 'ATELIER';\n  return upper || 'BLOOM';\n}\n\nfunction normalizeContentStatus(raw) {\n  const upper = String(raw || '').replace(/\\s+/g, ' ').trim().toUpperCase();\n  if (!upper) return 'DRAFT';\n  if (upper === 'ACTIVE' || upper === 'PUBLISHED') return 'PUBLISHED';\n  if (upper === 'ARCHIVED') return 'ARCHIVED';\n  return upper;\n}\n\nfunction normalizeContentType(rawType, title, bodyText) {\n  const direct = String(rawType || '').replace(/\\s+/g, ' ').trim().toUpperCase();\n  const text = (String(title || '') + ' ' + String(bodyText || '')).toLowerCase();\n  if (direct === 'NOTICE' || direct === 'EVENT' || direct === 'GUIDE' || direct === 'NEWS') {\n    return direct;\n  }\n  if (text.indexOf('세미나') !== -1 || text.indexOf('모집') !== -1 || text.indexOf('신청') !== -1 || text.indexOf('라이브') !== -1 || text.indexOf('웨비나') !== -1 || text.indexOf('workshop') !== -1) {\n    return 'EVENT';\n  }\n  if (text.indexOf('가이드') !== -1 || text.indexOf('팁') !== -1 || text.indexOf('노하우') !== -1 || text.indexOf('튜토리얼') !== -1 || text.indexOf('준비물') !== -1 || text.indexOf('how to') !== -1) {\n    return 'GUIDE';\n  }\n  if (text.indexOf('공지') !== -1 || text.indexOf('안내') !== -1 || text.indexOf('변경') !== -1 || text.indexOf('휴무') !== -1 || text.indexOf('마감') !== -1 || text.indexOf('배송') !== -1) {\n    return 'NOTICE';\n  }\n  return 'NEWS';\n}\n\nfunction stripHtml(value) {\n  return String(value || '')\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n    .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/&nbsp;/gi, ' ')\n    .replace(/&amp;/gi, '&')\n    .replace(/&lt;/gi, '<')\n    .replace(/&gt;/gi, '>')\n    .replace(/&quot;/gi, '\"')\n    .replace(/&#39;/gi, \"'\")\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction truncateText(value, maxLen) {\n  const text = String(value || '').trim();\n  if (!text) return '';\n  if (text.length <= maxLen) return text;\n  return text.substring(0, Math.max(0, maxLen - 1)).trim() + '…';\n}\n\nfunction parsePublishTime(value) {\n  const timestamp = Date.parse(String(value || ''));\n  return isNaN(timestamp) ? 0 : timestamp;\n}\n\nfunction topCategory(classes) {\n  const counts = {};\n  let best = '';\n  let bestCount = 0;\n  classes.forEach((item) => {\n    const category = String(item.category || '').trim() || '꽃 공예';\n    counts[category] = (counts[category] || 0) + 1;\n    if (counts[category] > bestCount) {\n      best = category;\n      bestCount = counts[category];\n    }\n  });\n  return best || '꽃 공예';\n}\n\nfunction splitChecklist(text) {\n  const cleaned = stripHtml(text);\n  if (!cleaned) return [];\n  return cleaned\n    .split(/[\\.\\!\\?\\n]/)\n    .map((item) => item.replace(/\\s+/g, ' ').trim())\n    .filter(Boolean)\n    .slice(0, 3)\n    .map((item) => truncateText(item, 42));\n}\n\nfunction buildGuideChecklist(item, levelLabel) {\n  const list = [];\n  const duration = Number(item && item.duration_min || 0);\n  list.push((levelLabel || '입문') + ' 난이도에서 시작하기 좋은 클래스');\n  if (duration > 0) {\n    list.push('예상 수업 시간 ' + duration + '분');\n  }\n  if (Number(item && item.kit_enabled || 0) === 1) {\n    list.push('재료 연동 상품 확인 가능');\n  } else {\n    list.push('상세 페이지에서 준비물 안내 확인');\n  }\n  list.push(getRegionLabel(item && item.regionCode || 'NATIONWIDE') + '에서 예약 가능한 클래스');\n  return list;\n}\n\nconst activeClasses = classesList\n  .map((item) => ({\n    class_id: item.class_id || '',\n    class_name: item.class_name || '',\n    category: String(item.category || '').trim() || '꽃 공예',\n    levelCode: normalizeLevel(item.level || ''),\n    levelLabel: getLevelLabel(normalizeLevel(item.level || '')),\n    price: Number(item.price || 0),\n    duration_min: Number(item.duration_min || 0),\n    thumbnail_url: item.thumbnail_url || '',\n    location: item.location || '',\n    regionCode: normalizeRegion(item.region || item.location || ''),\n    regionLabel: getRegionLabel(normalizeRegion(item.region || item.location || '')),\n    tags: item.tags || '',\n    class_count: Number(item.class_count || 0),\n    avg_rating: Number(item.avg_rating || 0),\n    partner_code: item.partner_code || '',\n    typeLabel: getTypeLabel(item.type || ''),\n    status: normalizeStatus(item.status || ''),\n    kit_enabled: Number(item.kit_enabled || 0)\n  }))\n  .filter((item) => item.status === 'ACTIVE');\n\nconst partnerMap = {};\npartnersList.forEach((item) => {\n  partnerMap[item.partner_code] = {\n    partner_code: item.partner_code || '',\n    partner_name: item.partner_name || '',\n    grade: normalizeGrade(item.grade || 'BLOOM'),\n    location: item.location || '',\n    avg_rating: Number(item.avg_rating || 0),\n    instagram_url: item.instagram_url || '',\n    portfolio_url: item.portfolio_url || ''\n  };\n});\n\nconst partnerClassesMap = {};\nactiveClasses.forEach((item) => {\n  if (!partnerClassesMap[item.partner_code]) partnerClassesMap[item.partner_code] = [];\n  partnerClassesMap[item.partner_code].push(item);\n});\n\nconst availableCategories = Array.from(new Set(activeClasses.map((item) => item.category).filter(Boolean)));\n\nfunction detectCategoryFromText(text) {\n  const lowered = String(text || '').toLowerCase();\n  let i = 0;\n  for (i = 0; i < availableCategories.length; i += 1) {\n    if (lowered.indexOf(String(availableCategories[i]).toLowerCase()) !== -1) {\n      return availableCategories[i];\n    }\n  }\n  if (lowered.indexOf('압화') !== -1 || lowered.indexOf('드라이') !== -1 || lowered.indexOf('프리저브') !== -1) return '압화';\n  if (lowered.indexOf('레진') !== -1) return '레진';\n  if (lowered.indexOf('캔들') !== -1) return '캔들';\n  if (lowered.indexOf('부케') !== -1 || lowered.indexOf('꽃다발') !== -1) return '부케';\n  return availableCategories[0] || '꽃 공예';\n}\n\nfunction pickRecommendedClass(category, preferredLevel) {\n  let list = activeClasses.slice();\n  if (category) {\n    const matched = list.filter((item) => item.category === category);\n    if (matched.length) list = matched;\n  }\n  if (preferredLevel) {\n    const byLevel = list.filter((item) => item.levelCode === preferredLevel);\n    if (byLevel.length) list = byLevel;\n  }\n  list.sort((a, b) => {\n    if (b.avg_rating !== a.avg_rating) return b.avg_rating - a.avg_rating;\n    if (b.class_count !== a.class_count) return b.class_count - a.class_count;\n    return a.price - b.price;\n  });\n  return list[0] || activeClasses[0] || null;\n}\n\nconst importedContent = importedContentList\n  .map((item) => {\n    const bodyText = stripHtml(item.body || '');\n    const publishDate = item.publish_date || '';\n    return {\n      affiliation_code: item.affiliation_code || '',\n      contentType: normalizeContentType(item.content_type || '', item.title || '', bodyText),\n      title: item.title || '',\n      bodyText: bodyText,\n      image_url: item.image_url || '',\n      publishDate: publishDate,\n      publishTime: parsePublishTime(publishDate),\n      status: normalizeContentStatus(item.status || ''),\n      category: detectCategoryFromText((item.title || '') + ' ' + bodyText)\n    };\n  })\n  .filter((item) => item.status === 'PUBLISHED')\n  .sort((a, b) => b.publishTime - a.publishTime);\n\nconst summary = {\n  total_classes: activeClasses.length,\n  total_partners: Object.keys(partnerClassesMap).length,\n  total_beginner_classes: activeClasses.filter((item) => item.levelCode === 'BEGINNER').length,\n  total_regions: Array.from(new Set(activeClasses.map((item) => item.regionCode).filter(Boolean))).length,\n  imported_content_count: importedContent.length\n};\n\nconst highlights = activeClasses\n  .slice()\n  .sort((a, b) => {\n    if (b.avg_rating !== a.avg_rating) return b.avg_rating - a.avg_rating;\n    if (b.class_count !== a.class_count) return b.class_count - a.class_count;\n    return a.price - b.price;\n  })\n  .slice(0, 4)\n  .map((item) => ({\n    class_id: item.class_id,\n    title: item.class_name,\n    category: item.category,\n    partner_name: (partnerMap[item.partner_code] || {}).partner_name || '',\n    region_label: item.regionLabel,\n    price: item.price,\n    avg_rating: item.avg_rating,\n    type_label: item.typeLabel,\n    level_label: item.levelLabel,\n    thumbnail_url: item.thumbnail_url,\n    highlight_copy: item.regionLabel + '에서 예약 가능한 ' + item.category + ' 추천 클래스'\n  }));\n\nconst partnerStories = partnersList\n  .map((partner) => {\n    const related = partnerClassesMap[partner.partner_code] || [];\n    const beginnerCount = related.filter((item) => item.levelCode === 'BEGINNER').length;\n    const mainCategory = topCategory(related);\n    const regionLabel = getRegionLabel(normalizeRegion(partner.location || (related[0] && related[0].regionCode) || ''));\n    let gradeCopy = '첫 수업부터 신뢰를 쌓는 파트너';\n    if (normalizeGrade(partner.grade || '') === 'AMBASSADOR') gradeCopy = '협업과 멘토링까지 확장하는 대표 파트너';\n    else if (normalizeGrade(partner.grade || '') === 'ATELIER') gradeCopy = '콘텐츠 허브 인터뷰 대상 파트너';\n    else if (normalizeGrade(partner.grade || '') === 'GARDEN') gradeCopy = '재수강이 쌓이는 성장 파트너';\n    return {\n      partner_code: partner.partner_code || '',\n      partner_name: partner.partner_name || '',\n      grade: normalizeGrade(partner.grade || 'BLOOM'),\n      region_label: regionLabel,\n      class_count: related.length,\n      avg_rating: Number(partner.avg_rating || 0),\n      featured_category: mainCategory,\n      headline: regionLabel + '에서 만나는 ' + (partner.partner_name || '파트너'),\n      quote: (partner.partner_name || '파트너') + ' 파트너는 ' + mainCategory + ' 중심으로 수강생이 다시 찾는 수업 흐름을 만들고 있습니다.',\n      focus_points: [\n        gradeCopy,\n        beginnerCount > 0 ? '입문 클래스 ' + beginnerCount + '개 운영' : '중급 이상 클래스 운영',\n        partner.instagram_url ? '인스타그램 포트폴리오 확인 가능' : 'PRESSCO21 허브 안에서 작품 맥락 노출'\n      ],\n      search_keyword: partner.partner_name || ''\n    };\n  })\n  .filter((item) => item.class_count > 0)\n  .sort((a, b) => {\n    if (b.class_count !== a.class_count) return b.class_count - a.class_count;\n    return b.avg_rating - a.avg_rating;\n  })\n  .slice(0, 4);\n\nconst categoryBuckets = {};\nactiveClasses.forEach((item) => {\n  if (!categoryBuckets[item.category]) categoryBuckets[item.category] = [];\n  categoryBuckets[item.category].push(item);\n});\n\nconst fallbackTrends = Object.keys(categoryBuckets)\n  .map((category) => {\n    const items = categoryBuckets[category];\n    const regionList = Array.from(new Set(items.map((item) => item.regionLabel))).slice(0, 3);\n    return {\n      title: category + ' 트렌드',\n      eyebrow: items.length + '개 클래스가 쌓인 주제',\n      description: category + ' 카테고리의 활성 클래스가 ' + items.length + '개 있고, ' + regionList.join(', ') + ' 중심으로 탐색됩니다.',\n      category: category,\n      class_count: items.length,\n      chips: regionList.length ? regionList : ['전국']\n    };\n  })\n  .sort((a, b) => b.class_count - a.class_count)\n  .slice(0, 4);\n\nconst fallbackGuides = activeClasses\n  .filter((item) => item.levelCode === 'BEGINNER')\n  .slice()\n  .sort((a, b) => {\n    if (b.avg_rating !== a.avg_rating) return b.avg_rating - a.avg_rating;\n    return a.price - b.price;\n  })\n  .slice(0, 4)\n  .map((item) => ({\n    class_id: item.class_id,\n    title: item.class_name,\n    category: item.category,\n    partner_name: (partnerMap[item.partner_code] || {}).partner_name || '',\n    region_label: item.regionLabel,\n    price: item.price,\n    level_label: item.levelLabel,\n    checklist: buildGuideChecklist(item, item.levelLabel)\n  }));\n\nconst editorialTrends = importedContent\n  .filter((item) => item.contentType !== 'GUIDE')\n  .slice(0, 4)\n  .map((item) => {\n    const recommended = pickRecommendedClass(item.category, '');\n    return {\n      title: item.title,\n      eyebrow: item.contentType === 'EVENT' ? '새로 들어온 이벤트' : item.contentType === 'NOTICE' ? '협회 공지' : '새 콘텐츠',\n      description: truncateText(item.bodyText || item.title, 110),\n      category: item.category,\n      class_count: recommended ? 1 : 0,\n      chips: [item.affiliation_code || 'PRESSCO21', item.contentType, recommended ? recommended.regionLabel : '전국'].filter(Boolean)\n    };\n  });\n\nconst editorialGuides = importedContent\n  .filter((item) => item.contentType === 'GUIDE')\n  .slice(0, 4)\n  .map((item) => {\n    const recommended = pickRecommendedClass(item.category, 'BEGINNER');\n    const checklist = splitChecklist(item.bodyText);\n    return {\n      class_id: recommended ? recommended.class_id : '',\n      title: item.title,\n      category: item.category,\n      partner_name: recommended ? ((partnerMap[recommended.partner_code] || {}).partner_name || '') : '',\n      region_label: recommended ? recommended.regionLabel : '전국',\n      price: recommended ? recommended.price : 0,\n      level_label: '가이드',\n      checklist: checklist.length ? checklist : buildGuideChecklist(recommended || { regionCode: 'NATIONWIDE', duration_min: 0, kit_enabled: 0 }, recommended ? recommended.levelLabel : '입문')\n    };\n  });\n\nreturn [{\n  json: {\n    success: true,\n    data: {\n      summary: summary,\n      highlights: highlights,\n      partner_stories: partnerStories,\n      trends: editorialTrends.length ? editorialTrends : fallbackTrends,\n      guides: editorialGuides.length ? editorialGuides : fallbackGuides,\n      featured_message: importedContent[0] ? truncateText(importedContent[0].title + ' · ' + (importedContent[0].bodyText || ''), 90) : (highlights[0] ? highlights[0].highlight_copy : '전국 파트너 클래스와 콘텐츠를 한 허브에서 탐색하세요.'),\n      imported_content_preview: importedContent.slice(0, 4).map((item) => ({\n        title: item.title,\n        content_type: item.contentType,\n        publish_date: item.publishDate,\n        category: item.category\n      })),\n      updated_at: new Date().toISOString()\n    },\n    timestamp: new Date().toISOString()\n  }\n}];\n"
      },
      "id": "wf01c-content-build",
      "name": "Build Content Hub Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1380,
        420
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://nocodb.pressco21.com/api/v1/db/data/noco/{{ $env.NOCODB_PROJECT_ID }}/mit4xyrzn4s81b9",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "affiliation_code,content_type,title,body,image_url,publish_date,status"
            },
            {
              "name": "limit",
              "value": "100"
            }
          ]
        },
        "options": {}
      },
      "id": "wf01c-content-imported",
      "name": "NocoDB Get Imported Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1260,
        540
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "JmXQGe9254wG4qVZ",
          "name": "PRESSCO21-NocoDB"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://foreverlove.co.kr"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              }
            ]
          }
        }
      },
      "id": "wf01c-content-respond",
      "name": "Respond getContentHub",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1620,
        420
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Action": {
      "main": [
        [
          {
            "node": "Check Affiliations Cache",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NocoDB Get Seminars",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NocoDB Get Content Classes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unknown Action Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB Get Affiliations": {
      "main": [
        [
          {
            "node": "Format Affiliations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Affiliations": {
      "main": [
        [
          {
            "node": "Store Affiliations Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unknown Action Error": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Affiliations Cache": {
      "main": [
        [
          {
            "node": "Switch Affiliations Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Affiliations Cache": {
      "main": [
        [
          {
            "node": "Respond getAffiliations",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NocoDB Get Affiliations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Affiliations Cache": {
      "main": [
        [
          {
            "node": "Respond getAffiliations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB Get Seminars": {
      "main": [
        [
          {
            "node": "Build Seminars Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Seminars Response": {
      "main": [
        [
          {
            "node": "Respond getSeminars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB Get Content Classes": {
      "main": [
        [
          {
            "node": "NocoDB Get Content Partners",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB Get Content Partners": {
      "main": [
        [
          {
            "node": "NocoDB Get Imported Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB Get Imported Content": {
      "main": [
        [
          {
            "node": "Build Content Hub Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Content Hub Response": {
      "main": [
        [
          {
            "node": "Respond getContentHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "pinData": {}
}
