파트너클래스/n8n-workflows/WF-01-class-api.json
{
  "id": "WabRAcHmcCdOpPzJ",
  "name": "WF-01 Class API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "class-api",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wf01-router-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        320
      ],
      "webhookId": "class-api"
    },
    {
      "parameters": {
        "jsCode": "// ===================================================\n// WF-01 Router: action -> 하위 워크플로우 라우팅 정보 구성\n// ===================================================\n\nconst input = $input.first().json;\nconst body = input.body || input || {};\nconst action = String(body.action || '').trim();\n\nconst classReadActions = new Set(['getClasses', 'getClassDetail', 'getCategories']);\nconst scheduleReadActions = new Set(['getSchedules', 'getRemainingSeats']);\nconst affiliationReadActions = new Set(['getAffiliations', 'getSeminars', 'getAffiliationDetail', 'getVocabulary', 'getContentHub']);\n\nlet routeGroup = 'invalid';\nif (classReadActions.has(action)) {\n  routeGroup = 'classRead';\n} else if (scheduleReadActions.has(action)) {\n  routeGroup = 'scheduleRead';\n} else if (affiliationReadActions.has(action)) {\n  routeGroup = 'affiliationRead';\n}\n\nreturn [{\n  json: {\n    _action: action,\n    _routeGroup: routeGroup,\n    _forwardBody: body\n  }\n}];"
      },
      "id": "wf01-router-parse",
      "name": "Parse Route Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        320
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "loose"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json._routeGroup }}",
                    "rightValue": "classRead",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "classRead"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "loose"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json._routeGroup }}",
                    "rightValue": "scheduleRead",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "scheduleRead"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "loose"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json._routeGroup }}",
                    "rightValue": "affiliationRead",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "affiliationRead"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "wf01-router-switch",
      "name": "Switch Route Group",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        700,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.pressco21.com/webhook/class-api-read",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json._forwardBody) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "wf01-router-call-class",
      "name": "Call WF-01A Class Read",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        980,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.pressco21.com/webhook/class-api-schedule",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json._forwardBody) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "wf01-router-call-schedule",
      "name": "Call WF-01B Schedule Read",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        980,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.pressco21.com/webhook/class-api-affiliation",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json._forwardBody) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "wf01-router-call-affiliation",
      "name": "Call WF-01C Affiliation Read",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        980,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===================================================\n// Router downstream 응답 포맷 정리\n// ===================================================\n\nconst response = $input.first().json || {};\nlet body = response.body;\nconst statusCode = Number(response.statusCode || 200);\n\nif (typeof body === 'string') {\n  try {\n    body = JSON.parse(body);\n  } catch (error) {\n    body = {\n      success: false,\n      _status: 502,\n      error: {\n        code: 'DOWNSTREAM_RESPONSE_PARSE_FAILED',\n        message: '하위 워크플로우 응답을 해석하지 못했습니다.'\n      },\n      timestamp: new Date().toISOString()\n    };\n  }\n}\n\nif (!body || typeof body !== 'object') {\n  body = {\n    success: false,\n    _status: statusCode || 502,\n    error: {\n      code: 'EMPTY_DOWNSTREAM_RESPONSE',\n      message: '하위 워크플로우 응답이 비어 있습니다.'\n    },\n    timestamp: new Date().toISOString()\n  };\n}\n\nif (typeof body._status === 'undefined') {\n  body._status = statusCode || 200;\n}\n\nreturn [{ json: body }];"
      },
      "id": "wf01-router-unwrap",
      "name": "Unwrap Routed Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1240,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===================================================\n// Router fallback: 지원하지 않는 action\n// ===================================================\n\nconst action = String($input.first().json._action || '').trim();\n\nreturn [{\n  json: {\n    success: false,\n    _status: 400,\n    error: {\n      code: 'INVALID_ACTION',\n      message: action ? `알 수 없는 요청입니다: ${action}` : '지원하지 않는 action입니다.'\n    },\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "wf01-router-invalid",
      "name": "Unknown Action Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        700
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ (() => { const payload = JSON.parse(JSON.stringify($json)); delete payload._status; return payload; })() }}",
        "options": {
          "responseCode": "={{ $json._status || 200 }}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://foreverlove.co.kr"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              }
            ]
          }
        }
      },
      "id": "wf01-router-respond-success",
      "name": "Respond Routed Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1480,
        320
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ (() => { const payload = JSON.parse(JSON.stringify($json)); delete payload._status; return payload; })() }}",
        "options": {
          "responseCode": "={{ $json._status || 400 }}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://foreverlove.co.kr"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              }
            ]
          }
        }
      },
      "id": "wf01-router-respond-error",
      "name": "Respond Routed Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1240,
        700
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Route Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Route Request": {
      "main": [
        [
          {
            "node": "Switch Route Group",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Route Group": {
      "main": [
        [
          {
            "node": "Call WF-01A Class Read",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call WF-01B Schedule Read",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call WF-01C Affiliation Read",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unknown Action Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call WF-01A Class Read": {
      "main": [
        [
          {
            "node": "Unwrap Routed Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call WF-01B Schedule Read": {
      "main": [
        [
          {
            "node": "Unwrap Routed Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call WF-01C Affiliation Read": {
      "main": [
        [
          {
            "node": "Unwrap Routed Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unwrap Routed Response": {
      "main": [
        [
          {
            "node": "Respond Routed Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unknown Action Error": {
      "main": [
        [
          {
            "node": "Respond Routed Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "pinData": {}
}
