파트너클래스/n8n-workflows/WF-16-class-register.json
{
  "id": "I4zkrUK036YEiUHe",
  "name": "WF-16 Class Register",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "class-register",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wf16-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        400
      ],
      "webhookId": "class-register"
    },
    {
      "parameters": {
        "jsCode": "// ===================================================\n// WF-16 Step 1: POST 본문 파싱 + 입력값 검증\n// 필수: member_id, title, category, type, difficulty, max_students, price, duration, description\n// 선택: schedule_desc, curriculum, image_url, materials, location, contact_instagram, contact_phone, contact_kakao\n// ===================================================\n\nconst input = $input.first().json;\nconst body = input.body || input;\n\nfunction escapeHtml(str) {\n  if (!str) return '';\n  return String(str)\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\\\"/g, '&quot;')\n    .replace(/'/g, '&#39;');\n}\n\nfunction sanitizeText(str, maxLen) {\n  if (!str) return '';\n  maxLen = maxLen || 500;\n  return String(str)\n    .replace(/[\\u0000-\\b\\u000b\\f\\u000e-\\u001f]/g, '')\n    .trim()\n    .substring(0, maxLen);\n}\n\nfunction sanitizeUrl(url) {\n  if (!url) return '';\n  const trimmed = String(url).trim();\n  if (!trimmed) return '';\n  const lower = trimmed.toLowerCase();\n  if (lower.startsWith('http://') || lower.startsWith('https://')) {\n    return trimmed.substring(0, 2048);\n  }\n  if (!lower.includes('://') && !lower.includes(':')) {\n    return ('https://' + trimmed).substring(0, 2048);\n  }\n  return '';\n}\n\nfunction extractBrandUid(raw) {\n  const text = String(raw || '').replace(/\\s+/g, '').trim();\n  const match = text.match(/[?&]branduid=([^&#]+)/i);\n  if (match && match[1]) return decodeURIComponent(match[1]);\n  if (/^[A-Za-z0-9_-]{4,64}$/.test(text)) return text;\n  return '';\n}\n\nfunction normalizeKitProductUrl(raw) {\n  const text = sanitizeText(raw, 2048);\n  if (!text) return '';\n  const brandUid = extractBrandUid(text);\n  if (brandUid) {\n    return '/shop/shopdetail.html?branduid=' + encodeURIComponent(brandUid);\n  }\n  const lower = text.toLowerCase();\n  if (lower.startsWith('http://') || lower.startsWith('https://') || text.indexOf('/shop/') === 0) {\n    return text.substring(0, 2048);\n  }\n  return '';\n}\n\nfunction normalizeDifficulty(raw) {\n  const text = sanitizeText(raw, 30);\n  const upper = text.toUpperCase();\n  const lower = text.toLowerCase();\n  if (!text) return '';\n  if (upper === 'BEGINNER' || lower === 'beginner' || lower === 'basic' || text.includes('입문') || text.includes('초급')) return 'BEGINNER';\n  if (upper === 'INTERMEDIATE' || lower === 'intermediate' || text.includes('중급')) return 'INTERMEDIATE';\n  if (upper === 'ADVANCED' || lower === 'advanced' || lower === 'expert' || text.includes('심화') || text.includes('고급')) return 'ADVANCED';\n  if (upper === 'ALL_LEVELS' || text.includes('전체')) return 'ALL_LEVELS';\n  return upper;\n}\n\nfunction difficultyLabel(code) {\n  return { BEGINNER: '입문', INTERMEDIATE: '중급', ADVANCED: '심화', ALL_LEVELS: '전체' }[code] || code;\n}\n\nfunction normalizeRegion(location, classType) {\n  const text = sanitizeText(location, 200);\n  const type = sanitizeText(classType, 50);\n  const upper = text.toUpperCase();\n  if (type.includes('온라인') || text.includes('온라인') || upper === 'ONLINE' || upper.includes('ONLINE')) return 'ONLINE';\n  if (!text) return '';\n  const primary = text.split(' ')[0];\n  const map = {\n    '서울': 'SEOUL','경기': 'GYEONGGI','경기도': 'GYEONGGI','인천': 'INCHEON','부산': 'BUSAN','대구': 'DAEGU','대전': 'DAEJEON','광주': 'GWANGJU','울산': 'ULSAN','세종': 'SEJONG','강원': 'GANGWON','강원도': 'GANGWON','충북': 'CHUNGBUK','충청북도': 'CHUNGBUK','충남': 'CHUNGNAM','충청남도': 'CHUNGNAM','전북': 'JEONBUK','전라북도': 'JEONBUK','전남': 'JEONNAM','전라남도': 'JEONNAM','경북': 'GYEONGBUK','경상북도': 'GYEONGBUK','경남': 'GYEONGNAM','경상남도': 'GYEONGNAM','제주': 'JEJU','제주도': 'JEJU'\n  };\n  return map[text] || map[primary] || upper;\n}\n\nfunction buildInvalidResponse(code, message) {\n  return [{ json: { _valid: false, _errorResponse: { success: false, error: { code, message }, timestamp: new Date().toISOString() } } }];\n}\n\nconst memberId = sanitizeText(body.member_id, 100);\nconst title = sanitizeText(body.title, 100);\nconst category = sanitizeText(body.category, 50);\nconst type = sanitizeText(body.type, 50);\nconst difficulty = normalizeDifficulty(body.difficulty);\nconst maxStudents = parseInt(body.max_students, 10) || 0;\nconst price = parseInt(body.price, 10) || 0;\nconst duration = sanitizeText(body.duration, 50);\nconst description = sanitizeText(body.description, 2000);\nconst location = sanitizeText(body.location, 200);\nconst region = normalizeRegion(location, type);\n\nconst missingFields = [];\nif (!memberId) missingFields.push('member_id');\nif (!title) missingFields.push('title');\nif (!category) missingFields.push('category');\nif (!type) missingFields.push('type');\nif (!difficulty) missingFields.push('difficulty');\nif (!maxStudents || maxStudents < 1 || maxStudents > 50) missingFields.push('max_students (1~50)');\nif (!price || price < 1000) missingFields.push('price (min 1000)');\nif (!duration) missingFields.push('duration');\nif (!description) missingFields.push('description');\n\nif (missingFields.length > 0) {\n  return buildInvalidResponse('MISSING_PARAMS', missingFields.join(', ') + ' 파라미터가 필요합니다.');\n}\n\nconst validCategories = ['압화', '레진', '캔들', '석고', '비즈', '기타'];\nconst validTypes = ['원데이', '정기', '온라인'];\nconst validDifficulties = ['BEGINNER', 'INTERMEDIATE', 'ADVANCED', 'ALL_LEVELS'];\n\nif (!validCategories.includes(category)) {\n  return buildInvalidResponse('INVALID_PARAMS', '유효하지 않은 카테고리입니다: ' + category);\n}\nif (!validTypes.includes(type)) {\n  return buildInvalidResponse('INVALID_PARAMS', '유효하지 않은 강의 형태입니다: ' + type);\n}\nif (!validDifficulties.includes(difficulty)) {\n  return buildInvalidResponse('INVALID_PARAMS', '유효하지 않은 난이도입니다: ' + difficulty);\n}\n\nconst scheduleDesc = sanitizeText(body.schedule_desc, 1000);\nconst curriculum = sanitizeText(body.curriculum, 2000);\nconst imageUrl = sanitizeUrl(body.image_url);\nconst materials = sanitizeText(body.materials, 1000);\nconst contactInstagram = sanitizeUrl(body.contact_instagram);\nconst contactPhone = sanitizeText(body.contact_phone, 20);\nconst contactKakao = sanitizeUrl(body.contact_kakao);\n\nconst schedules = Array.isArray(body.schedules) ? body.schedules.filter((s) => s && s.schedule_date && s.schedule_time).slice(0, 20).map((s) => ({\n  schedule_date: sanitizeText(s.schedule_date, 10),\n  schedule_time: sanitizeText(s.schedule_time, 5),\n  capacity: Math.min(Math.max(parseInt(s.capacity, 10) || 6, 1), 50)\n})) : [];\n\nconst kitEnabled = Number(body.kit_enabled) === 1 ? 1 : 0;\nconst kitItems = Array.isArray(body.kit_items) ? body.kit_items.slice(0, 20).map((k) => ({\n  name: sanitizeText(k && k.name, 100),\n  product_url: normalizeKitProductUrl(k && (k.product_url || k.product_code || '')),\n  quantity: Math.min(Math.max(parseInt(k && k.quantity, 10) || 1, 1), 99),\n  price: Math.max(parseInt(k && k.price, 10) || 0, 0)\n})).filter((k) => k.name || k.product_url) : [];\nconst kitBundleBrandUid = extractBrandUid(body.kit_bundle_branduid || body.kitBundleBranduid || '');\n\nif (kitEnabled === 1) {\n  if (kitItems.length === 0) {\n    return buildInvalidResponse('INVALID_PARAMS', '재료키트 자동 배송을 사용하려면 최소 1개 이상의 키트 항목이 필요합니다.');\n  }\n  for (const item of kitItems) {\n    if (!item.name) {\n      return buildInvalidResponse('INVALID_PARAMS', '키트 항목명은 비워둘 수 없습니다.');\n    }\n    if (!item.product_url) {\n      return buildInvalidResponse('INVALID_PARAMS', '키트 항목에는 자사몰 상품 링크 또는 branduid가 필요합니다.');\n    }\n  }\n}\n\nreturn [{\n  json: {\n    _valid: true,\n    memberId,\n    title,\n    category,\n    type,\n    difficulty,\n    difficultyLabel: difficultyLabel(difficulty),\n    region,\n    maxStudents,\n    price,\n    duration,\n    description,\n    scheduleDesc,\n    curriculum,\n    imageUrl,\n    materials,\n    location,\n    contactInstagram,\n    contactPhone,\n    contactKakao,\n    schedules,\n    kitEnabled,\n    kitItems,\n    kitBundleBrandUid,\n    _safe: {\n      title: escapeHtml(title),\n      memberId: escapeHtml(memberId),\n      category: escapeHtml(category),\n      type: escapeHtml(type)\n    }\n  }\n}];"
      },
      "id": "wf16-validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        400
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "loose"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ String($json._valid) }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "valid"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "wf16-if-valid",
      "name": "IF Input Valid",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        660,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json._errorResponse }}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://foreverlove.co.kr"
              }
            ]
          }
        }
      },
      "id": "wf16-respond-validation-error",
      "name": "Respond Validation Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        880,
        560
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://nocodb.pressco21.com/api/v1/db/data/noco/{{ $env.NOCODB_PROJECT_ID }}/mp8t0yq15cabmj4",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "where",
              "value": "=(member_id,eq,{{ $json.memberId }})~and(status,eq,active)"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "wf16-nocodb-check-partner",
      "name": "NocoDB Check Active Partner",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "JmXQGe9254wG4qVZ",
          "name": "NocoDB API Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ===================================================\n// WF-16 Step 2: 활성 파트너 확인\n// tbl_Partners에 status=active인 파트너가 있어야 강의 등록 가능\n// ===================================================\n\nconst response = $input.first().json;\nconst partnerList = response.list || [];\nconst validData = $('Validate Input').first().json;\n\nif (partnerList.length === 0) {\n  return [{\n    json: {\n      _isPartner: false,\n      _errorResponse: {\n        success: false,\n        error: {\n          code: 'NOT_PARTNER',\n          message: '활성 파트너만 강의를 등록할 수 있습니다.'\n        },\n        timestamp: new Date().toISOString()\n      }\n    }\n  }];\n}\n\nconst partner = partnerList[0];\nreturn [{\n  json: {\n    _isPartner: true,\n    _partnerCode: partner.partner_code || '',\n    _partnerName: partner.partner_name || partner.applicant_name || validData.memberId,\n    ...validData\n  }\n}];"
      },
      "id": "wf16-check-partner-result",
      "name": "Check Partner Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "loose"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ String($json._isPartner) }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "partner"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "wf16-if-is-partner",
      "name": "IF Is Active Partner",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1320,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json._errorResponse }}",
        "options": {
          "responseCode": 403,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://foreverlove.co.kr"
              }
            ]
          }
        }
      },
      "id": "wf16-respond-not-partner",
      "name": "Respond Not Partner",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1540,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===================================================\n// WF-16 Step 3: class_id 생성 (CL_YYYYMM_XXX)\n// ===================================================\n\nconst prevData = $input.first().json;\nconst now = new Date();\n\n// === class_id 생성: CL_YYYYMM_XXX ===\nconst pad = (n) => String(n).padStart(2, '0');\nconst monthStr = String(now.getFullYear()).substring(2) + pad(now.getMonth() + 1);\nconst randomSuffix = String(Math.floor(100 + Math.random() * 900));\nconst classId = 'CL_' + now.getFullYear() + pad(now.getMonth() + 1) + '_' + randomSuffix;\n\nconst createdDate = now.toISOString();\n\nreturn [{\n  json: {\n    ...prevData,\n    _classId: classId,\n    _createdDate: createdDate\n  }\n}];"
      },
      "id": "wf16-generate-id",
      "name": "Generate Class ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://nocodb.pressco21.com/api/v1/db/data/noco/{{ $env.NOCODB_PROJECT_ID }}/mpvsno4or6asbxk",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "class_id",
              "value": "={{ $json._classId }}"
            },
            {
              "name": "partner_code",
              "value": "={{ $json._partnerCode }}"
            },
            {
              "name": "class_name",
              "value": "={{ $json.title }}"
            },
            {
              "name": "category",
              "value": "={{ $json.category }}"
            },
            {
              "name": "type",
              "value": "={{ $json.type }}"
            },
            {
              "name": "level",
              "value": "={{ ({ BEGINNER: 'beginner', INTERMEDIATE: 'intermediate', ADVANCED: 'advanced', ALL_LEVELS: 'beginner' }[$json.difficulty] || String($json.difficulty || '').toLowerCase()) }}"
            },
            {
              "name": "max_students",
              "value": "={{ $json.maxStudents }}"
            },
            {
              "name": "price",
              "value": "={{ $json.price }}"
            },
            {
              "name": "description",
              "value": "={{ $json.description }}"
            },
            {
              "name": "curriculum_json",
              "value": "={{ $json.curriculum }}"
            },
            {
              "name": "image_urls",
              "value": "={{ $json.imageUrl }}"
            },
            {
              "name": "materials_included",
              "value": "={{ $json.materials }}"
            },
            {
              "name": "location",
              "value": "={{ $json.location }}"
            },
            {
              "name": "contact_instagram",
              "value": "={{ $json.contactInstagram }}"
            },
            {
              "name": "contact_phone",
              "value": "={{ $json.contactPhone }}"
            },
            {
              "name": "contact_kakao",
              "value": "={{ $json.contactKakao }}"
            },
            {
              "name": "kit_enabled",
              "value": "={{ $json.kitEnabled }}"
            },
            {
              "name": "kit_items",
              "value": "={{ JSON.stringify($json.kitItems) }}"
            },
            {
              "name": "kit_bundle_branduid",
              "value": "={{ $json.kitBundleBrandUid || \"\" }}"
            },
            {
              "name": "status",
              "value": "INACTIVE"
            }
          ]
        },
        "options": {}
      },
      "id": "wf16-nocodb-create-class",
      "name": "NocoDB Create Class",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "JmXQGe9254wG4qVZ",
          "name": "NocoDB API Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ===================================================\n// WF-16 Step 4: NocoDB 레코드 생성 결과 확인\n// ===================================================\n\nconst createResult = $input.first().json;\nconst prevData = $('Generate Class ID').first().json;\n\nconst recordCreated = !!createResult.Id || !!createResult.id;\n\nif (!recordCreated) {\n  return [{\n    json: {\n      _success: false,\n      _errorResponse: {\n        success: false,\n        error: {\n          code: 'CLASS_CREATE_FAILED',\n          message: '강의 등록 저장에 실패했습니다. 잠시 후 다시 시도해 주세요.'\n        },\n        timestamp: new Date().toISOString()\n      },\n      _telegramError: '강의 등록 저장 실패: ' + prevData.title + ' by ' + prevData._partnerName + ' (' + prevData.memberId + ')'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    _success: true,\n    ...prevData,\n    _nocodbRecordId: createResult.Id || createResult.id\n  }\n}];"
      },
      "id": "wf16-check-create-result",
      "name": "Check Create Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        200
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "loose"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ String($json._success) }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "created"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "wf16-if-created",
      "name": "IF Created OK",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2200,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===================================================\n// WF-16 Step 5a: 텔레그램 관리자 알림 메시지 구성\n// ===================================================\n\nconst data = $input.first().json;\nconst priceFormatted = Number(data.price).toLocaleString('ko-KR');\nconst lines = [\n  '[강의 등록 신청] 새 강의가 등록되었습니다',\n  '',\n  '강의명: ' + data.title,\n  '파트너: ' + data._partnerName + ' (' + data._partnerCode + ')',\n  '카테고리: ' + data.category,\n  '형태: ' + data.type,\n  '난이도: ' + (data.difficultyLabel || data.difficulty),\n  '지역코드: ' + (data.region || '-'),\n  '수강료: ' + priceFormatted + '원',\n  '최대 인원: ' + data.maxStudents + '명',\n  '소요시간: ' + data.duration,\n  '강의 ID: ' + data._classId\n];\n\nif (data.location) {\n  lines.push('장소: ' + data.location);\n}\n\nlines.push('');\nlines.push('-> NocoDB tbl_Classes에서 검토 후 status를 ACTIVE로 변경해주세요.');\n\nreturn [{\n  json: {\n    ...data,\n    _telegramMessage: lines.join('\\n')\n  }\n}];"
      },
      "id": "wf16-build-telegram-msg",
      "name": "Build Telegram Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2420,
        100
      ]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json._telegramMessage }}",
        "additionalFields": {}
      },
      "id": "wf16-telegram-notify",
      "name": "Telegram New Class",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2640,
        100
      ],
      "credentials": {
        "telegramApi": {
          "id": "eS5YwFGpbJht6uCB",
          "name": "PRESSCO21 Telegram Bot"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ===================================================\n// WF-16 Step 5b: 성공 응답 구성\n// ===================================================\n\nconst data = $('Check Create Result').first().json;\n\nreturn [{\n  json: {\n    success: true,\n    data: {\n      class_id: data._classId,\n      status: 'PENDING_REVIEW',\n      message: '강의 등록이 접수되었습니다. 관리자 검수 후 플랫폼에 노출됩니다.'\n    },\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "wf16-build-success-response",
      "name": "Build Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2420,
        260
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://foreverlove.co.kr"
              }
            ]
          }
        }
      },
      "id": "wf16-respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2640,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===================================================\n// WF-16: 레코드 생성 실패 시 에러 텔레그램 알림\n// ===================================================\n\nconst data = $input.first().json;\n\nconst message = '[강의 등록 실패] 저장 오류\\n\\n'\n  + (data._telegramError || '알 수 없는 오류');\n\nreturn [{\n  json: {\n    ...data,\n    _errorTelegramMessage: message\n  }\n}];"
      },
      "id": "wf16-build-error-telegram",
      "name": "Build Error Telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2420,
        420
      ]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json._errorTelegramMessage }}",
        "additionalFields": {}
      },
      "id": "wf16-telegram-error",
      "name": "Telegram Error Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2640,
        420
      ],
      "credentials": {
        "telegramApi": {
          "id": "eS5YwFGpbJht6uCB",
          "name": "PRESSCO21 Telegram Bot"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ===================================================\n// WF-16 Step 5c: tbl_Schedules 초기 일정 저장\n// 프론트에서 전송된 schedules[] 배열을 tbl_Schedules에 저장\n// ===================================================\n\nconst https = require('https');\nconst data = $input.first().json;\nconst schedules = data.schedules || [];\n\nif (schedules.length === 0) {\n  return [{ json: { _schedulesCreated: 0 } }];\n}\n\nfunction nocoRequest(method, path, body) {\n  return new Promise((resolve, reject) => {\n    const options = {\n      hostname: 'nocodb.pressco21.com',\n      path: '/api/v1/db/data/noco/' + $env.NOCODB_PROJECT_ID + path,\n      method: method,\n      headers: {\n        'xc-token': $env.NOCODB_API_TOKEN,\n        'Content-Type': 'application/json'\n      }\n    };\n    const req = https.request(options, (res) => {\n      let d = '';\n      res.on('data', c => d += c);\n      res.on('end', () => {\n        try { resolve(JSON.parse(d)); } catch(e) { resolve(d); }\n      });\n    });\n    req.on('error', reject);\n    if (body) req.write(JSON.stringify(body));\n    req.end();\n  });\n}\n\nconst classId = data._classId;\nconst pad = (n) => String(n).padStart(2, '0');\nlet created = 0;\n\nfor (const s of schedules) {\n  try {\n    const dateStr = (s.schedule_date || '').replace(/-/g, '');\n    const rand = String(Math.floor(100000 + Math.random() * 900000));\n    const scheduleId = 'SCH_' + dateStr + '_' + rand;\n\n    await nocoRequest('POST', '/mschd3d81ad88fb', {\n      schedule_id: scheduleId,\n      class_id: classId,\n      schedule_date: s.schedule_date,\n      schedule_time: s.schedule_time,\n      capacity: s.capacity || 6,\n      booked_count: 0,\n      status: 'active'\n    });\n    created++;\n  } catch(e) {\n    // 개별 일정 저장 실패해도 나머지 계속 진행\n  }\n}\n\nreturn [{ json: { _schedulesCreated: created } }];"
      },
      "id": "wf16-create-schedules",
      "name": "Create Initial Schedules",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2420,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json._errorResponse }}",
        "options": {
          "responseCode": 500,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://foreverlove.co.kr"
              }
            ]
          }
        }
      },
      "id": "wf16-respond-create-error",
      "name": "Respond Create Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2860,
        420
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "IF Input Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Input Valid": {
      "main": [
        [
          {
            "node": "NocoDB Check Active Partner",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB Check Active Partner": {
      "main": [
        [
          {
            "node": "Check Partner Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Partner Result": {
      "main": [
        [
          {
            "node": "IF Is Active Partner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Is Active Partner": {
      "main": [
        [
          {
            "node": "Generate Class ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Not Partner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Class ID": {
      "main": [
        [
          {
            "node": "NocoDB Create Class",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB Create Class": {
      "main": [
        [
          {
            "node": "Check Create Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Create Result": {
      "main": [
        [
          {
            "node": "IF Created OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Created OK": {
      "main": [
        [
          {
            "node": "Build Telegram Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Success Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Initial Schedules",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Error Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Telegram Message": {
      "main": [
        [
          {
            "node": "Telegram New Class",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Success Response": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Error Telegram": {
      "main": [
        [
          {
            "node": "Telegram Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Error Alert": {
      "main": [
        [
          {
            "node": "Respond Create Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "PRESSCO21"
    },
    {
      "name": "Class Register"
    },
    {
      "name": "Phase 3"
    },
    {
      "name": "Task 293"
    }
  ],
  "pinData": {}
}
