파트너클래스/n8n-workflows/WF-ADMIN-admin-api.json
{
  "name": "WF-ADMIN Admin API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "admin-api",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wfadmin-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        400
      ],
      "webhookId": "admin-api"
    },
    {
      "parameters": {
        "jsCode": "// ===================================================\n// WF-ADMIN Step 1: Bearer 토큰 인증 + action 파싱\n// 인증 실패시 _action을 '_unauthorized'로 설정하여\n// Switch에서 403 응답으로 라우팅\n// ===================================================\n\nconst input = $input.first().json;\nconst headers = input.headers || {};\nconst body = input.body || {};\n\n// Authorization 헤더에서 Bearer 토큰 추출\nconst authHeader = headers.authorization || headers.Authorization || '';\nlet token = '';\nif (typeof authHeader === 'string' && authHeader.startsWith('Bearer ')) {\n  token = authHeader.substring(7).trim();\n}\n\n// 환경변수의 ADMIN_API_TOKEN과 비교\nconst expectedToken = $env.ADMIN_API_TOKEN || '';\nconst isValid = token.length > 0 && expectedToken.length > 0 && token === expectedToken;\n\n// 인증 실패시 _action을 _unauthorized로 설정\nconst action = isValid ? (body.action || '').trim() : '_unauthorized';\n\n// params 추출\nconst params = { ...body };\ndelete params.action;\n\nreturn [{\n  json: {\n    _valid: isValid ? 'YES' : 'NO',\n    _action: action,\n    _params: params,\n    _body: body\n  }\n}];"
      },
      "id": "wfadmin-validate-auth",
      "name": "Validate Auth & Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json._valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "wfadmin-if-valid",
      "name": "IF Auth Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        660,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: { code: 'UNAUTHORIZED', message: '인증에 실패했습니다. 유효한 Bearer 토큰이 필요합니다.' }, timestamp: new Date().toISOString() } }}",
        "options": {
          "responseCode": 403,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://foreverlove.co.kr"
              }
            ]
          }
        }
      },
      "id": "wfadmin-respond-403",
      "name": "Respond 403 Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        880,
        560
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "loose"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json._action }}",
                    "rightValue": "getApplications",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "getApplications"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "loose"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json._action }}",
                    "rightValue": "approveApplication",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "approveApplication"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "loose"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json._action }}",
                    "rightValue": "rejectApplication",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "rejectApplication"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "loose"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json._action }}",
                    "rightValue": "getPendingClasses",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "getPendingClasses"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "loose"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json._action }}",
                    "rightValue": "approveClass",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "approveClass"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "loose"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json._action }}",
                    "rightValue": "rejectClass",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "rejectClass"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "loose"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json._action }}",
                    "rightValue": "getSettlements",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "getSettlements"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "loose"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json._action }}",
                    "rightValue": "completeSettlement",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "completeSettlement"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "loose"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json._action }}",
                    "rightValue": "_unauthorized",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "_unauthorized"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "loose"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json._action }}",
                    "rightValue": "getAffilStats",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "getAffilStats"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "wfadmin-switch",
      "name": "Switch Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        880,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===================================================\n// case 0: getApplications - 파라미터 파싱\n// pending 상태의 파트너 신청 목록 조회\n// ===================================================\n\nconst params = $input.first().json._params || {};\nconst limit = Math.min(Math.max(parseInt(params.limit) || 50, 1), 200);\nconst offset = Math.max(parseInt(params.offset) || 0, 0);\n\nreturn [{\n  json: {\n    limit,\n    offset\n  }\n}];"
      },
      "id": "wfadmin-parse-get-applications",
      "name": "Parse getApplications",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        -200
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://nocodb.pressco21.com/api/v1/db/data/noco/{{ $env.NOCODB_PROJECT_ID }}/mkciwqtnqdn8m9c",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "where",
              "value": "(status,eq,PENDING)"
            },
            {
              "name": "sort",
              "value": "-CreatedAt"
            },
            {
              "name": "limit",
              "value": "={{ $json.limit }}"
            },
            {
              "name": "offset",
              "value": "={{ $json.offset }}"
            }
          ]
        },
        "options": {}
      },
      "id": "wfadmin-nocodb-get-applications",
      "name": "NocoDB Get Applications",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        -200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "JmXQGe9254wG4qVZ",
          "name": "NocoDB API Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ===================================================\n// getApplications 응답 포맷\n// ===================================================\n\nconst response = $input.first().json;\nconst applications = response.list || [];\nconst pageInfo = response.pageInfo || {};\n\nreturn [{\n  json: {\n    success: true,\n    data: {\n      applications: applications,\n      total: pageInfo.totalRows || applications.length\n    },\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "wfadmin-format-get-applications",
      "name": "Format getApplications",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        -200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://foreverlove.co.kr"
              }
            ]
          }
        }
      },
      "id": "wfadmin-respond-get-applications",
      "name": "Respond getApplications",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1760,
        -200
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===================================================\n// case 1: approveApplication - 파라미터 검증\n// WF-08 (partner-approve) 내부 호출\n// ===================================================\n\nconst params = $input.first().json._params || {};\n\nconst applicationId = (params.application_id || '').toString().trim();\nconst memberId = (params.member_id || '').toString().trim();\nconst reviewerNote = (params.reviewer_note || '').toString().trim();\n\nif (!applicationId || !memberId) {\n  return [{\n    json: {\n      _error: true,\n      success: false,\n      error: {\n        code: 'MISSING_PARAMS',\n        message: 'application_id, member_id 파라미터가 필요합니다.'\n      },\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    _error: false,\n    applicationId,\n    memberId,\n    reviewerNote\n  }\n}];"
      },
      "id": "wfadmin-parse-approve-application",
      "name": "Parse approveApplication",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        -40
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json._error }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "wfadmin-if-approve-app-valid",
      "name": "IF ApproveApp Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1320,
        -40
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.pressco21.com/webhook/partner-approve",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.ADMIN_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ application_id: $json.applicationId, member_id: $json.memberId, reviewer_note: $json.reviewerNote }) }}",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "wfadmin-http-approve-application",
      "name": "HTTP Call WF-08 Approve",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        -80
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===================================================\n// approveApplication 응답 포맷 (WF-08 응답 전달)\n// WF-08이 4xx/5xx를 반환해도 관리자 UI가 JSON 에러를 읽을 수 있게 정규화\n// ===================================================\n\nconst response = $input.first().json || {};\nconst statusCode = Number(response.statusCode || 200);\nconst body = response.body || {};\n\nif (statusCode >= 200 && statusCode < 300 && body && body.success !== false) {\n  return [{\n    json: {\n      success: true,\n      data: body.data || body,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    success: false,\n    error: (body && body.error) || {\n      code: 'WF08_ERROR',\n      message: '파트너 승인 워크플로우 호출에 실패했습니다.'\n    },\n    data: body && body.data ? body.data : null,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "wfadmin-format-approve-application",
      "name": "Format approveApplication",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        -80
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://foreverlove.co.kr"
              }
            ]
          }
        }
      },
      "id": "wfadmin-respond-approve-application",
      "name": "Respond approveApplication",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1980,
        -80
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://foreverlove.co.kr"
              }
            ]
          }
        }
      },
      "id": "wfadmin-respond-approve-app-error",
      "name": "Respond ApproveApp Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1540,
        20
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===================================================\n// case 2: rejectApplication - 파라미터 검증\n// tbl_Applications 상태를 rejected로 변경\n// ===================================================\n\nconst params = $input.first().json._params || {};\n\nconst rowId = (params.row_id || '').toString().trim();\nconst rejectReason = (params.reject_reason || '').toString().trim();\n\nif (!rowId) {\n  return [{\n    json: {\n      _error: true,\n      success: false,\n      error: {\n        code: 'MISSING_PARAMS',\n        message: 'row_id 파라미터가 필요합니다.'\n      },\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    _error: false,\n    rowId,\n    rejectReason\n  }\n}];"
      },
      "id": "wfadmin-parse-reject-application",
      "name": "Parse rejectApplication",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json._error }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "wfadmin-if-reject-app-valid",
      "name": "IF RejectApp Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1320,
        120
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://nocodb.pressco21.com/api/v1/db/data/noco/{{ $env.NOCODB_PROJECT_ID }}/mkciwqtnqdn8m9c/{{ $json.rowId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'REJECTED', reject_reason: $json.rejectReason, reviewed_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "wfadmin-nocodb-reject-application",
      "name": "NocoDB Reject Application",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        80
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "JmXQGe9254wG4qVZ",
          "name": "NocoDB API Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ===================================================\n// rejectApplication 응답 포맷\n// ===================================================\n\nreturn [{\n  json: {\n    success: true,\n    data: {\n      status: 'rejected'\n    },\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "wfadmin-format-reject-application",
      "name": "Format rejectApplication",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        80
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://foreverlove.co.kr"
              }
            ]
          }
        }
      },
      "id": "wfadmin-respond-reject-application",
      "name": "Respond rejectApplication",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1980,
        80
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://foreverlove.co.kr"
              }
            ]
          }
        }
      },
      "id": "wfadmin-respond-reject-app-error",
      "name": "Respond RejectApp Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1540,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===================================================\n// case 3: getPendingClasses - 파라미터 파싱\n// 상태별 클래스 목록 + 파트너 이름 조인\n// ===================================================\n\nconst params = $input.first().json._params || {};\nconst limit = Math.min(Math.max(parseInt(params.limit) || 50, 1), 200);\nconst offset = Math.max(parseInt(params.offset) || 0, 0);\nconst allowedStatuses = { INACTIVE: true, active: true, closed: true };\nconst status = allowedStatuses[params.status] ? params.status : 'INACTIVE';\n\nreturn [{\n  json: {\n    limit,\n    offset,\n    status\n  }\n}];"
      },
      "id": "wfadmin-parse-get-pending-classes",
      "name": "Parse getPendingClasses",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        280
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://nocodb.pressco21.com/api/v1/db/data/noco/{{ $env.NOCODB_PROJECT_ID }}/mpvsno4or6asbxk",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "where",
              "value": "={{ '(status,eq,' + $json.status + ')' }}"
            },
            {
              "name": "sort",
              "value": "-created_date"
            },
            {
              "name": "limit",
              "value": "={{ $json.limit }}"
            },
            {
              "name": "offset",
              "value": "={{ $json.offset }}"
            }
          ]
        },
        "options": {}
      },
      "id": "wfadmin-nocodb-get-pending-classes",
      "name": "NocoDB Get Pending Classes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        240
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "JmXQGe9254wG4qVZ",
          "name": "NocoDB API Token"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://nocodb.pressco21.com/api/v1/db/data/noco/{{ $env.NOCODB_PROJECT_ID }}/mp8t0yq15cabmj4",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "where",
              "value": "(status,eq,active)"
            },
            {
              "name": "fields",
              "value": "partner_code,partner_name"
            },
            {
              "name": "limit",
              "value": "1000"
            }
          ]
        },
        "options": {}
      },
      "id": "wfadmin-nocodb-get-partners-for-classes",
      "name": "NocoDB Get Partners (Classes Join)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        380
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "JmXQGe9254wG4qVZ",
          "name": "NocoDB API Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ===================================================\n// getPendingClasses 응답 포맷\n// inactive 클래스 + 파트너 이름 조인\n// ===================================================\n\nconst classesResponse = $('NocoDB Get Pending Classes').first().json;\nconst partnersResponse = $('NocoDB Get Partners (Classes Join)').first().json;\n\nconst classesList = classesResponse.list || [];\nconst partnersList = partnersResponse.list || [];\nconst classPageInfo = classesResponse.pageInfo || {};\n\n// partner_code -> partner_name 맵\nconst partnerMap = {};\nfor (const p of partnersList) {\n  if (p.partner_code) {\n    partnerMap[p.partner_code] = p.partner_name || '';\n  }\n}\n\n// 클래스 목록에 파트너 이름 조인\nconst classes = classesList.map(c => {\n  // partner_code 추출 (Links 필드 또는 문자열)\n  let partnerCode = '';\n  if (Array.isArray(c.partner_code) && c.partner_code.length > 0) {\n    partnerCode = c.partner_code[0].partner_code || c.partner_code[0].Title || '';\n  } else if (typeof c.partner_code === 'string') {\n    partnerCode = c.partner_code;\n  }\n\n  return {\n    Id: c.Id || c.id,\n    class_id: c.class_id || '',\n    class_name: c.class_name || '',\n    category: c.category || '',\n    level: c.level || '',\n    price: Number(c.price) || 0,\n    type: c.type || '',\n    location: c.location || '',\n    partner_code: partnerCode,\n    partner_name: partnerMap[partnerCode] || '',\n    status: c.status || '',\n    created_date: c.created_date || ''\n  };\n});\n\nreturn [{\n  json: {\n    success: true,\n    data: {\n      classes: classes,\n      total: classPageInfo.totalRows || classes.length\n    },\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "wfadmin-format-get-pending-classes",
      "name": "Format getPendingClasses",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://foreverlove.co.kr"
              }
            ]
          }
        }
      },
      "id": "wfadmin-respond-get-pending-classes",
      "name": "Respond getPendingClasses",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1760,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===================================================\n// case 4: approveClass - 파라미터 검증\n// tbl_Classes 상태를 active로 변경 (NocoDB 웹훅이 WF-17 트리거)\n// ===================================================\n\nconst params = $input.first().json._params || {};\n\nconst rowId = (params.row_id || '').toString().trim();\n\nif (!rowId) {\n  return [{\n    json: {\n      _error: true,\n      success: false,\n      error: {\n        code: 'MISSING_PARAMS',\n        message: 'row_id 파라미터가 필요합니다.'\n      },\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    _error: false,\n    rowId\n  }\n}];"
      },
      "id": "wfadmin-parse-approve-class",
      "name": "Parse approveClass",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        460
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json._error }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "wfadmin-if-approve-class-valid",
      "name": "IF ApproveClass Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1320,
        460
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://nocodb.pressco21.com/api/v1/db/data/noco/{{ $env.NOCODB_PROJECT_ID }}/mpvsno4or6asbxk/{{ $json.rowId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'active', approved_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "wfadmin-nocodb-approve-class",
      "name": "NocoDB Approve Class",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        420
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "JmXQGe9254wG4qVZ",
          "name": "NocoDB API Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ===================================================\n// approveClass 응답 포맷\n// ===================================================\n\nreturn [{\n  json: {\n    success: true,\n    data: {\n      status: 'active'\n    },\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "wfadmin-format-approve-class",
      "name": "Format approveClass",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        420
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://foreverlove.co.kr"
              }
            ]
          }
        }
      },
      "id": "wfadmin-respond-approve-class",
      "name": "Respond approveClass",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1980,
        420
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://foreverlove.co.kr"
              }
            ]
          }
        }
      },
      "id": "wfadmin-respond-approve-class-error",
      "name": "Respond ApproveClass Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1540,
        520
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===================================================\n// case 5: rejectClass - 파라미터 검증\n// tbl_Classes 상태를 closed로 변경\n// ===================================================\n\nconst params = $input.first().json._params || {};\n\nconst rowId = (params.row_id || '').toString().trim();\nconst rejectReason = (params.reject_reason || '').toString().trim();\n\nif (!rowId) {\n  return [{\n    json: {\n      _error: true,\n      success: false,\n      error: {\n        code: 'MISSING_PARAMS',\n        message: 'row_id 파라미터가 필요합니다.'\n      },\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    _error: false,\n    rowId,\n    rejectReason\n  }\n}];"
      },
      "id": "wfadmin-parse-reject-class",
      "name": "Parse rejectClass",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        620
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json._error }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "wfadmin-if-reject-class-valid",
      "name": "IF RejectClass Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1320,
        620
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://nocodb.pressco21.com/api/v1/db/data/noco/{{ $env.NOCODB_PROJECT_ID }}/mpvsno4or6asbxk/{{ $json.rowId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'closed', reject_reason: $json.rejectReason, rejected_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "wfadmin-nocodb-reject-class",
      "name": "NocoDB Reject Class",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        580
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "JmXQGe9254wG4qVZ",
          "name": "NocoDB API Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ===================================================\n// rejectClass 응답 포맷\n// ===================================================\n\nreturn [{\n  json: {\n    success: true,\n    data: {\n      status: 'closed'\n    },\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "wfadmin-format-reject-class",
      "name": "Format rejectClass",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        580
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://foreverlove.co.kr"
              }
            ]
          }
        }
      },
      "id": "wfadmin-respond-reject-class",
      "name": "Respond rejectClass",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1980,
        580
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://foreverlove.co.kr"
              }
            ]
          }
        }
      },
      "id": "wfadmin-respond-reject-class-error",
      "name": "Respond RejectClass Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1540,
        680
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===================================================\n// case 6: getSettlements - 파라미터 파싱\n// PENDING 상태의 정산 목록 조회 + 월별 필터 + 집계\n// ===================================================\n\nconst params = $input.first().json._params || {};\nconst limit = Math.min(Math.max(parseInt(params.limit) || 50, 1), 200);\nconst offset = Math.max(parseInt(params.offset) || 0, 0);\nconst month = (params.month || '').toString().trim(); // YYYY-MM 형식\n\n// where 조건 구성\nlet whereParts = ['(status,eq,PENDING_SETTLEMENT)'];\nif (month && /^\\d{4}-\\d{2}$/.test(month)) {\n  whereParts.push('(settlement_month,eq,' + month + ')');\n}\nconst where = whereParts.join('~and');\n\nreturn [{\n  json: {\n    where,\n    limit,\n    offset\n  }\n}];"
      },
      "id": "wfadmin-parse-get-settlements",
      "name": "Parse getSettlements",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        780
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://nocodb.pressco21.com/api/v1/db/data/noco/{{ $env.NOCODB_PROJECT_ID }}/mcoddguv4d3s3ne",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "where",
              "value": "={{ $json.where }}"
            },
            {
              "name": "sort",
              "value": "-CreatedAt"
            },
            {
              "name": "limit",
              "value": "={{ $json.limit }}"
            },
            {
              "name": "offset",
              "value": "={{ $json.offset }}"
            }
          ]
        },
        "options": {}
      },
      "id": "wfadmin-nocodb-get-settlements",
      "name": "NocoDB Get Settlements",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        780
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "JmXQGe9254wG4qVZ",
          "name": "NocoDB API Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ===================================================\n// getSettlements 응답 포맷 + 집계 계산\n// ===================================================\n\nconst response = $input.first().json;\nconst settlements = response.list || [];\nconst pageInfo = response.pageInfo || {};\n\n// 집계 계산\nlet totalOrderAmount = 0;\nlet totalCommission = 0;\nlet totalPartnerAmount = 0;\n\nconst formattedSettlements = settlements.map(s => {\n  const orderAmount = Number(s.order_amount) || 0;\n  const commissionAmount = Number(s.commission_amount) || 0;\n  const partnerAmount = orderAmount - commissionAmount;\n\n  totalOrderAmount += orderAmount;\n  totalCommission += commissionAmount;\n  totalPartnerAmount += partnerAmount;\n\n  return {\n    Id: s.Id || s.id,\n    settlement_id: s.settlement_id || '',\n    order_id: s.order_id || '',\n    partner_code: s.partner_code || '',\n    class_id: s.class_id || '',\n    order_amount: orderAmount,\n    commission_amount: commissionAmount,\n    partner_amount: partnerAmount,\n    settlement_month: s.settlement_month || '',\n    status: s.status || '',\n    CreatedAt: s.CreatedAt || ''\n  };\n});\n\nreturn [{\n  json: {\n    success: true,\n    data: {\n      settlements: formattedSettlements,\n      total: pageInfo.totalRows || formattedSettlements.length,\n      summary: {\n        total_order_amount: totalOrderAmount,\n        total_commission: totalCommission,\n        total_partner_amount: totalPartnerAmount\n      }\n    },\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "wfadmin-format-get-settlements",
      "name": "Format getSettlements",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        780
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://foreverlove.co.kr"
              }
            ]
          }
        }
      },
      "id": "wfadmin-respond-get-settlements",
      "name": "Respond getSettlements",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1760,
        780
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===================================================\n// case 7: completeSettlement - 파라미터 검증\n// 여러 정산 건을 일괄 COMPLETED로 변경\n// ===================================================\n\nconst params = $input.first().json._params || {};\n\n// settlement_ids: 배열 또는 쉼표 구분 문자열\nlet settlementIds = [];\nif (Array.isArray(params.settlement_ids)) {\n  settlementIds = params.settlement_ids.map(id => String(id).trim()).filter(id => id.length > 0);\n} else if (typeof params.settlement_ids === 'string') {\n  settlementIds = params.settlement_ids.split(',').map(id => id.trim()).filter(id => id.length > 0);\n}\n\nif (settlementIds.length === 0) {\n  return [{\n    json: {\n      _error: true,\n      success: false,\n      error: {\n        code: 'MISSING_PARAMS',\n        message: 'settlement_ids 파라미터가 필요합니다. (배열 또는 쉼표 구분 문자열)'\n      },\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    _error: false,\n    settlementIds\n  }\n}];"
      },
      "id": "wfadmin-parse-complete-settlement",
      "name": "Parse completeSettlement",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        940
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json._error }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "wfadmin-if-complete-settlement-valid",
      "name": "IF CompleteSettlement Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1320,
        940
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://nocodb.pressco21.com/api/v1/db/data/noco/{{ $env.NOCODB_PROJECT_ID }}/mcoddguv4d3s3ne",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "where",
              "value": "=(status,eq,PENDING_SETTLEMENT)"
            },
            {
              "name": "limit",
              "value": "1000"
            }
          ]
        },
        "options": {}
      },
      "id": "wfadmin-nocodb-get-settlements-for-complete",
      "name": "NocoDB Get Settlements for Complete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        900
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "JmXQGe9254wG4qVZ",
          "name": "NocoDB API Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ===================================================\n// completeSettlement: settlement_id -> NocoDB row Id 매핑\n// settlement_ids로 요청된 건들의 NocoDB row Id를 찾아서\n// 일괄 업데이트용 데이터 구성\n// ===================================================\n\nconst response = $input.first().json;\nconst allSettlements = response.list || [];\nconst requestedIds = $('Parse completeSettlement').first().json.settlementIds;\n\n// settlement_id -> NocoDB row 매핑\nconst settlementMap = {};\nfor (const s of allSettlements) {\n  const sid = s.settlement_id || '';\n  if (sid) {\n    settlementMap[sid] = {\n      rowId: s.Id || s.id,\n      orderAmount: Number(s.order_amount) || 0,\n      commissionAmount: Number(s.commission_amount) || 0\n    };\n  }\n}\n\n// 요청된 ID 중 유효한 것들만 필터\nconst validItems = [];\nconst notFoundIds = [];\nfor (const sid of requestedIds) {\n  if (settlementMap[sid]) {\n    validItems.push({\n      settlementId: sid,\n      rowId: settlementMap[sid].rowId,\n      orderAmount: settlementMap[sid].orderAmount,\n      commissionAmount: settlementMap[sid].commissionAmount\n    });\n  } else {\n    notFoundIds.push(sid);\n  }\n}\n\nif (validItems.length === 0) {\n  return [{\n    json: {\n      _hasItems: false,\n      _response: {\n        success: false,\n        error: {\n          code: 'NOT_FOUND',\n          message: '유효한 PENDING 상태의 정산 건을 찾을 수 없습니다.'\n        },\n        timestamp: new Date().toISOString()\n      }\n    }\n  }];\n}\n\n// 각 항목을 SplitInBatches로 보내기 위해 배열로 리턴\nconst paidAt = new Date().toISOString();\nlet totalPaid = 0;\nfor (const item of validItems) {\n  totalPaid += (item.orderAmount - item.commissionAmount);\n}\n\nreturn [{\n  json: {\n    _hasItems: true,\n    _validItems: validItems,\n    _paidAt: paidAt,\n    _completedCount: validItems.length,\n    _totalPaid: totalPaid,\n    _notFoundIds: notFoundIds\n  }\n}];"
      },
      "id": "wfadmin-map-settlement-ids",
      "name": "Map Settlement IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        900
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json._hasItems }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "wfadmin-if-has-items",
      "name": "IF Has Settlement Items",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1980,
        900
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===================================================\n// completeSettlement: 각 정산 건을 개별 아이템으로 분할\n// SplitInBatches 대신 Code에서 배열로 리턴\n// ===================================================\n\nconst data = $input.first().json;\nconst items = data._validItems;\nconst paidAt = data._paidAt;\n\nreturn items.map(item => ({\n  json: {\n    rowId: item.rowId,\n    settlementId: item.settlementId,\n    paidAt: paidAt,\n    _completedCount: data._completedCount,\n    _totalPaid: data._totalPaid,\n    _notFoundIds: data._notFoundIds\n  }\n}));"
      },
      "id": "wfadmin-split-settlements",
      "name": "Split Settlement Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        860
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://nocodb.pressco21.com/api/v1/db/data/noco/{{ $env.NOCODB_PROJECT_ID }}/mcoddguv4d3s3ne/{{ $json.rowId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'COMPLETED', paid_at: $json.paidAt }) }}",
        "options": {}
      },
      "id": "wfadmin-nocodb-patch-settlement",
      "name": "NocoDB PATCH Settlement",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2420,
        860
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "JmXQGe9254wG4qVZ",
          "name": "NocoDB API Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ===================================================\n// completeSettlement: 최종 응답 구성\n// 모든 PATCH 완료 후 집계 결과 리턴\n// ===================================================\n\n// 첫 번째 아이템에서 집계 정보 가져옴\nconst firstItem = $('Split Settlement Items').first().json;\n\nreturn [{\n  json: {\n    success: true,\n    data: {\n      completed_count: firstItem._completedCount,\n      total_paid: firstItem._totalPaid,\n      not_found_ids: firstItem._notFoundIds\n    },\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "wfadmin-format-complete-settlement",
      "name": "Format completeSettlement",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        860
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://foreverlove.co.kr"
              }
            ]
          }
        }
      },
      "id": "wfadmin-respond-complete-settlement",
      "name": "Respond completeSettlement",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2860,
        860
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json._response || $json }}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://foreverlove.co.kr"
              }
            ]
          }
        }
      },
      "id": "wfadmin-respond-complete-settlement-error",
      "name": "Respond CompleteSettlement Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2200,
        980
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://foreverlove.co.kr"
              }
            ]
          }
        }
      },
      "id": "wfadmin-respond-complete-settlement-param-error",
      "name": "Respond CompleteSettlement Param Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1540,
        1000
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===================================================\n// Fallback: 알 수 없는 action 에러 응답\n// ===================================================\n\nconst action = $input.first().json._action || '';\n\nreturn [{\n  json: {\n    success: false,\n    error: {\n      code: 'INVALID_ACTION',\n      message: '알 수 없는 요청입니다: ' + action\n    },\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "wfadmin-fallback",
      "name": "Unknown Action Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        1100
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://foreverlove.co.kr"
              }
            ]
          }
        }
      },
      "id": "wfadmin-respond-fallback",
      "name": "Respond Fallback Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1320,
        1100
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://nocodb.pressco21.com/api/v1/db/data/noco/{{ $env.NOCODB_PROJECT_ID }}/mdyqit8fhsm7zqu",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "50"
            },
            {
              "name": "sort",
              "value": "-year,-month"
            }
          ]
        },
        "options": {}
      },
      "id": "wfadmin-nocodb-affilstats",
      "name": "NocoDB Get Affil Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        1100
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "JmXQGe9254wG4qVZ",
          "name": "NocoDB API Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// getAffilStats: 월간 집계 데이터 응답\nconst response = $input.first().json;\nconst list = response.list || [];\n\nconst stats = list.map(s => ({\n  affiliation_code: s.affiliation_code || '',\n  year: Number(s.year) || 0,\n  month: Number(s.month) || 0,\n  total_amount: Number(s.total_amount) || 0,\n  member_count: Number(s.member_count) || 0,\n  cumulative_amount: Number(s.cumulative_amount) || 0,\n  incentive_level: Number(s.incentive_level) || 0,\n  incentive_amount: Number(s.incentive_amount) || 0,\n  incentive_paid: s.incentive_paid ? true : false\n}));\n\nreturn [{ json: { success: true, data: stats, total: stats.length, timestamp: new Date().toISOString() } }];"
      },
      "id": "wfadmin-format-affilstats",
      "name": "Format Affil Stats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        1100
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://foreverlove.co.kr"
              }
            ]
          }
        }
      },
      "id": "wfadmin-respond-affilstats",
      "name": "Respond getAffilStats",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1540,
        1100
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Auth & Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Auth & Parse": {
      "main": [
        [
          {
            "node": "Switch Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Action": {
      "main": [
        [
          {
            "node": "Parse getApplications",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse approveApplication",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse rejectApplication",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse getPendingClasses",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse approveClass",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse rejectClass",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse getSettlements",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse completeSettlement",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 403 Unauthorized",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NocoDB Get Affil Stats",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unknown Action Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse getApplications": {
      "main": [
        [
          {
            "node": "NocoDB Get Applications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB Get Applications": {
      "main": [
        [
          {
            "node": "Format getApplications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format getApplications": {
      "main": [
        [
          {
            "node": "Respond getApplications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse approveApplication": {
      "main": [
        [
          {
            "node": "IF ApproveApp Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF ApproveApp Valid": {
      "main": [
        [
          {
            "node": "HTTP Call WF-08 Approve",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond ApproveApp Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Call WF-08 Approve": {
      "main": [
        [
          {
            "node": "Format approveApplication",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format approveApplication": {
      "main": [
        [
          {
            "node": "Respond approveApplication",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse rejectApplication": {
      "main": [
        [
          {
            "node": "IF RejectApp Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF RejectApp Valid": {
      "main": [
        [
          {
            "node": "NocoDB Reject Application",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond RejectApp Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB Reject Application": {
      "main": [
        [
          {
            "node": "Format rejectApplication",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format rejectApplication": {
      "main": [
        [
          {
            "node": "Respond rejectApplication",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse getPendingClasses": {
      "main": [
        [
          {
            "node": "NocoDB Get Pending Classes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB Get Pending Classes": {
      "main": [
        [
          {
            "node": "NocoDB Get Partners (Classes Join)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB Get Partners (Classes Join)": {
      "main": [
        [
          {
            "node": "Format getPendingClasses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format getPendingClasses": {
      "main": [
        [
          {
            "node": "Respond getPendingClasses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse approveClass": {
      "main": [
        [
          {
            "node": "IF ApproveClass Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF ApproveClass Valid": {
      "main": [
        [
          {
            "node": "NocoDB Approve Class",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond ApproveClass Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB Approve Class": {
      "main": [
        [
          {
            "node": "Format approveClass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format approveClass": {
      "main": [
        [
          {
            "node": "Respond approveClass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse rejectClass": {
      "main": [
        [
          {
            "node": "IF RejectClass Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF RejectClass Valid": {
      "main": [
        [
          {
            "node": "NocoDB Reject Class",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond RejectClass Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB Reject Class": {
      "main": [
        [
          {
            "node": "Format rejectClass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format rejectClass": {
      "main": [
        [
          {
            "node": "Respond rejectClass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse getSettlements": {
      "main": [
        [
          {
            "node": "NocoDB Get Settlements",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB Get Settlements": {
      "main": [
        [
          {
            "node": "Format getSettlements",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format getSettlements": {
      "main": [
        [
          {
            "node": "Respond getSettlements",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse completeSettlement": {
      "main": [
        [
          {
            "node": "IF CompleteSettlement Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF CompleteSettlement Valid": {
      "main": [
        [
          {
            "node": "NocoDB Get Settlements for Complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond CompleteSettlement Param Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB Get Settlements for Complete": {
      "main": [
        [
          {
            "node": "Map Settlement IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Settlement IDs": {
      "main": [
        [
          {
            "node": "IF Has Settlement Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Has Settlement Items": {
      "main": [
        [
          {
            "node": "Split Settlement Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond CompleteSettlement Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Settlement Items": {
      "main": [
        [
          {
            "node": "NocoDB PATCH Settlement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB PATCH Settlement": {
      "main": [
        [
          {
            "node": "Format completeSettlement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format completeSettlement": {
      "main": [
        [
          {
            "node": "Respond completeSettlement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unknown Action Error": {
      "main": [
        [
          {
            "node": "Respond Fallback Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB Get Affil Stats": {
      "main": [
        [
          {
            "node": "Format Affil Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Affil Stats": {
      "main": [
        [
          {
            "node": "Respond getAffilStats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "PRESSCO21"
    },
    {
      "name": "Admin API"
    },
    {
      "name": "Phase 4"
    }
  ],
  "pinData": {}
}
