n8n-automation/_tools/central-error-handler.json
{
  "name": "⚠️ 중앙 에러 핸들러",
  "nodes": [
    {
      "parameters": {},
      "id": "error-trigger-node",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// 에러 정보를 텔레그램 메시지로 포맷\nconst data = $input.first().json;\n\nconst wfName = data.workflow?.name || '알 수 없음';\nconst wfId = data.workflow?.id || '';\nconst execId = data.execution?.id || '';\nconst lastNode = data.execution?.lastNodeExecuted || '알 수 없음';\nconst errorMsg = data.execution?.error?.message || '에러 메시지 없음';\nconst errorStack = data.execution?.error?.stack || '';\n\n// KST 시간 (UTC+9)\nconst now = new Date();\nconst kstOffset = 9 * 60 * 60 * 1000;\nconst kst = new Date(now.getTime() + kstOffset);\nconst timeStr = kst.toISOString().replace('T', ' ').substring(0, 19) + ' KST';\n\n// 실행 로그 URL\nconst logUrl = wfId && execId\n  ? `https://n8n.pressco21.com/workflow/${wfId}/executions/${execId}`\n  : 'URL 없음';\n\n// 에러 메시지 요약 (너무 길면 자름)\nconst shortError = errorMsg.length > 200 ? errorMsg.substring(0, 200) + '...' : errorMsg;\n\nconst message = `🚨 [n8n 자동화 오류]\\n\\n워크플로우: ${wfName}\\n오류 노드: ${lastNode}\\n오류 내용: ${shortError}\\n발생 시간: ${timeStr}\\n실행 로그: ${logUrl}`;\n\nreturn [{ json: { message, wfName, wfId, execId, lastNode, errorMsg } }];"
      },
      "id": "format-error-node",
      "name": "에러 메시지 포맷",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "chatId": "-5154731145",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "telegram-notify-node",
      "name": "텔레그램 알림",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [750, 300],
      "credentials": {
        "telegramApi": {
          "id": "RdFu3nsFuuO5NCff",
          "name": "Pressco21 Makeshop Bot"
        }
      }
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "에러 메시지 포맷",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "에러 메시지 포맷": {
      "main": [
        [
          {
            "node": "텔레그램 알림",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "pressco21"
  },
  "pinData": {}
}
